[2021-11-30 19:41] zssherman commented on #1022
@kmuehlbauer The environment i used was:
```conda create -n cylp_test -c conda-forge python=3.6 numpy netCDF4 coin-or-cbc scipy matplotlib cython gcc_linux-64 gxx_linux-64```
with a development install of pyart and github install of the python 3 branch of cylp

[2021-12-01 09:42] tanelv commented on #1022
Thanks @zssherman for the Python 3.6 reference. I also managed to get CyLP installed in Python 3.6 and my script now runs as it should. These are the steps I took (I removed the old environment before that)
[code]

[2021-12-02 10:09] kmuehlbauer opened #1023 "ODIM reader silently overwrites moment fields"
The default moment mapping of the ODIM reader is

https://github.com/ARM-DOE/pyart/blob/e6a312bdb1bab09388952a72a5d634853022c42b/pyart/aux_io/odim_h5.py#L21-L38

If a file contains "DBZH" and "DBZV" then both get mapped to `reflectivity`:

https://github.com/ARM-DOE/pyart/blob/e6a312bdb1bab09388952a72a5d634853022c42b/pyart/aux_io/odim_h5.py#L108-L113

This will in consequence overwrite the first (

[2021-12-02 10:27] kmuehlbauer commented on #1022
@zssherman Just FYI, I've recreated the Python 3.6 environment as suggested. It worked. I've created other environments for Python 3.7 /3.8 and 3.9. It looked promising first, but now nothing works, even the Python 3.6 environment doesn't work. I have to restart from scratch.

I've found those interesting issues over at CyLP, which might be connected:

- https://github.com/coin-or/CyLP/issues/93
-

[2021-12-09 20:21] zssherman commented on #1022
@kmuehlbauer Sorry for the late response, was on vacation. And makes sense, yeah that is helpful, thanks for finding those! Trying to think how to go about this next because it almost seems like a memory leak issue.

[2021-12-14 23:43] zssherman commented on #1023
@kmuehlbauer Thanks for catching this! I'm check to see if this occurs in other readers as well. I think proposed solution 1 would work. I'm wondering why the original code, when it was added, didn't include separation with reflectivity_horizontal or reflectivity_vertical, If it was maybe just overlooked or something else. I'll look into this more, because one of these moments returned can't be co

[2021-12-15 06:57] kmuehlbauer commented on #1023
@zssherman Does that mean we could just use

`total_power_horizontal` / `total_power_vertical`
`reflectivity_horizontal` / `reflectivity_vertical`
`velocity_horizontal` / `velocity_vertical`
`spectrum_width_horizontal` / `spectrum_width_vertical`

and so on in the fieldnames mapping? Or is there more involved? Just asking because that looks like an easy fix.

[2021-12-15 16:34] zssherman commented on #1023
@kmuehlbauer I'm hoping it should be an easy fix and just needs the renaming. I'm checking to see if those names are standard or should be fine to use. And if there is more to it possibly.

[2021-12-16 17:26] #1013 closed

[2021-12-16 17:26] #1016 closed

[2021-12-16 17:27] #972 closed

[2022-01-02 06:44] asiyats opened #1028 "Example data link is broken again"
The link provided in README.md is no longer working, page not found, please update the new link

The files used in these examples are available for download_.

.. _download: https://engineering.arm.gov/~jhelmus/pyart_example_data/

@zssherman @jjhelmus

[2022-01-02 16:36] zssherman commented on #1028
Thanks @asiyats for the heads up, I'll take a look and go about finding a more permanent location.

[2022-01-06 21:02] zssherman commented on #1028
Data link has been restored and the example data is accessible again. Leaving this issue open until we work on a more permanent location for the data.

[2022-01-25 07:25] mo-sun-jin commented on #884
[http://chuvaproject.cptec.inpe.br/portal/pdf/relatorios/a2anexo3a7.pdf]

![K-16](https://user-images.githubusercontent.com/98376939/150929949-8f325baa-b8c6-4e73-819b-cd4cc4eecb10.png)

The coefficient values ​​appear to be referenced from the linked site papers.

The title of the final thesis is as in the image. There are also differences in the coefficient values ​​in the paper.

[2022-02-02 18:06] zssherman commented on #884
Thank @mo-sun-jin for the heads up, I'll take a look at the paper!

[2022-02-02 18:45] rcjackson commented on #884
We should modify the values and perhaps send out an email in pyart-users about this correction.

[2022-02-02 19:40] zssherman commented on #884
Seems the defaults are a reference to:
Ryzhkov et al. Potential Utilization of Specific Attenuation for Rainfall
Estimation, Mitigation of Partial Beam Blockage, and Radar Networking,
JAOT, 2014, 31, 599-619.

With discussion with rcjackson the values change between midlatitude vs tropical which could explain the difference in the Chuva campaign and the paper mentioned in Py-ART's references

[2022-02-03 21:29] scollis commented on #884
Are they hardset in the method? Can we make them keyword parameters? This is always going to be a challenge in Py-ART. Thank you for bringing this up Mo-Sun-Jin  From: Zach Sherman ***@***.***>Date: Wednesday, February 2, 2022 at 1:40 PMTo: ARM-DOE/pyart ***@***.***>Cc: Scott ***@***.***>, Mention ***@***.***>Subject: Re: [ARM-DOE/pyart] About the paramters of ZPHI attenuation correction (#884)See

[2022-02-03 21:33] zssherman commented on #884
@scollis Users can set the coefficients, those values are defaults that are used if not specified.

[2022-02-03 21:38] scollis commented on #884
Cool. Just catching up2nd Bobby’s suggestion  From: Zach Sherman ***@***.***>Date: Thursday, February 3, 2022 at 3:33 PMTo: ARM-DOE/pyart ***@***.***>Cc: Scott ***@***.***>, Mention ***@***.***>Subject: Re: [ARM-DOE/pyart] About the paramters of ZPHI attenuation correction ***@***.*** Users can set the coefficients, those values are defaults that are used if not specified.—Reply to this email dire

[2022-02-16 01:03] zssherman commented on #1023
Closing

[2022-02-16 01:03] #1023 closed

[2022-02-17 17:06] zssherman commented on #1022
As a side note, we will be having assistance on this soon and will most likely do an overhaul of the kdp processing code.

[2022-02-20 09:40] Jillinger commented on #869
I have followed the suggestions from [this link](https://scikit-learn.org/stable/developers/advanced_installation.html#install-bleeding-edge), and I am still getting problems installing the module.

I am using python 3.7.3 in a conda environment, with all dependencies installed.

[code]
Are there any other suggestions I could try?

[2022-02-20 16:34] zssherman commented on #869
@Jillinger I'm honestly not sure. If trying all the options above didn't work i'm honestly out of ideas with this one. If you are trying to install for scikit learn, I would ping their issue board on their installation method for scikit learn. Make sure you have an up to date visual studios and python with the path. Are any other packages working in that environment?

[2022-02-20 19:40] Jillinger commented on #869
Yes, all packages installed nicely, to my surprise, since I had trouble installing a few, like osmium.
I was trying to install pyrosm, which requires some dependencies I am having trouble with, but yes, my Visual Studio is up to date, as well as the Build Tools, and I set my portable Python in the Path. Everything works to my satisfaction... except the above mentioned error.
I tried every suggesti

[2022-02-21 21:43] Jillinger commented on #869
A question.
I just stumbled on [this](https://wiki.python.org/moin/WindowsCompilers#Microsoft_Visual_C.2B-.2B-_14.2_standalone:_Build_Tools_for_Visual_Studio_2019_.28x86.2C_x64.2C_ARM.2C_ARM64.29), and I realize I am missing MSVC v142 - VS 2019 C++ x64/x86 build tools. I am installing that now.
What I want to know is, do I need to install the Windows 10 SDK in Build Tool, if it's already installed

[2022-02-22 11:55] Jillinger commented on #869
@zssherman I think I found a way around the problem - creating wheels.

[code]

[2022-02-22 21:17] mgrover1 opened #1035 "Overhaul CI"
Transition from Travis/current packaging to Github Actions
- [x] Environment Build
- [x] Build PyART
- [ ] Run Tests
- [x] Build Docs

[2022-02-23 00:08] jaypotnis opened #1036 "References for qpe related functions in pyart.retrieve"
Hello,
I am using the qpe techniques under pyart.retrieve to estimate rain rate. I needed to research on the Quantitative Precipitation Estimation techniques used by pyart like est_rain_rate_kdp, est_rain_rate_z, est_rain_rate_z_poly, est_rain_rate_kdp.
Do these techniques have references to any published scientific papers?

[2022-02-23 00:22] zssherman commented on #1036
Hi @jaypotnis, thanks for the heads up, I'm checking into this now. Seems to be added awhile back so trying to contact the original code authors on this.

[2022-02-23 08:56] Vforcell opened #1037 "Remove numpy import in setup.py"
When installing pyart in a brand new virtual env, errors appear when installing it along with other requirements (with pip).

The reason is that pyart needs `numpy` installed prior to its installation. We can see that `numpy` is required within the `setup.py` file 2 times :
`from numpy.distutils.misc_util import Configuration` (line 147)

[2022-02-23 09:03] Vforcell commented on #951
@kracwarlock @zssherman The same problem is persisting for me. Do you have any update on that issue ?

[2022-02-24 18:34] zssherman commented on #1036
@jaypotnis I reached out to the author.

For these rain rates:
The coefficients were taken from the paper https://rmets.onlinelibrary.wiley.com/doi/full/10.1002/qj.1934

As well as based on the report:
https://www.researchgate.net/publication/239575335_Operational_Use_of_Radar_for_Precipitation_Measurements_in_Switzerland

I will update the documentation as such to reflect this.

I can provide mor

[2022-02-28 14:37] mgrover1 opened #1041 "Determine Better Method of Dealing with Test Data"
Currently, the data are hosted on an ANL server, requiring users to download the data manually, move the data to the necessary directories, then build the docs. It would be useful to use a tool such as [Pooch](https://www.fatiando.org/pooch/latest/index.html) to help with this process, making it possible to build the example docs on Github Actions instead of running locally, then adding that to th

[2022-02-28 17:59] mgrover1 commented on #1041
For now, I created a demo repo [here](https://github.com/mgrover1/pyart-data-demo) to test this out - once it is ready, Ill submit a PR

[2022-02-28 20:34] mgrover1 commented on #1041
Alrighty... [the prototype](https://github.com/mgrover1/pyart-data-demo) works 👍 with the syntax

[code]

This will make building the docs _much_ easier, especially the example gallery.

One of the remaining questions is whether this should be its own package (ex. `pyart_datasets`) or a module within PyART...

@scollis @AdamTheisen @rcjackson @zssherman what are your thoughts here?

[2022-03-01 17:07] zssherman commented on #1041
@mgrover1 Sweet, I think this will be much better. Think jjhelmus link is going to be removed. We're going to use https://adc.arm.gov/pyart/example_data/ instead, as a heads up. I think for the actually code itself is pooch a python native package or does it have to be installed as a dependency? Trying to think if it's the later how to go about that to avoid increasing the dependency count.

[2022-03-01 17:25] mgrover1 commented on #1041
@zssherman Sounds good!

Pooch **does** need to installed as a dependency, but this is where we could think about whether we want this to be a _module_ within PyART, or create a separate package... I put some pros/cons to these approaches in [this afternoon's meeting notes](https://hackmd.io/eXMjluMdRMOEscaleNWYmQ)

[2022-03-01 18:19] dopplershift commented on #1041
Just wanted to add that Pooch is pure Python and has been pretty stable. MetPy has had 0 problems depending on it.

[2022-03-01 18:28] zssherman commented on #1041
@dopplershift Sweet sounds good! Yeah then I'm all for it being added. We can discuss more on the call today, but I have an idea of where to put it within pyart @mgrover1

[2022-03-01 19:15] zssherman opened #1042 "Improving references of methods in Py-ART"
Mentioned by users as well as digging through the code from years ago. Looking into adding better reference to journals etc to methods. Working on qpe methods at the moment.

[2022-03-01 20:31] mgrover1 commented on #1042
Let's put a checklist together for this!

[2022-03-01 20:31] zssherman commented on #1036
@jaypotnis zpoly and z are based on:
Doelling, I. G., J. Joss, and J. Riedl, Systematic variations of Z-R relationships from drop size distributions measured in Northern Germany during seven years, Atmos. Res., 48, 635–649, 1998

as well as:
Joss, J., Sch¨adler, B., Galli, G.,
Cavalli, R., Boscacci, M.,
Held, E., Della Bruna, G.,
Kappenberger, G., Nespor, V.
and Spiess, R.
1998 Operational use of

[2022-03-02 22:44] #1041 closed

[2022-03-04 15:36] scollis opened #1052 "FIX: (ENH) Fix landing page for https://arm-doe.github.io/pyart/"
The very first image we see on https://arm-doe.github.io/pyart/ is using the Jet Colormap. We need to fix this

[2022-03-04 15:40] zssherman commented on #1052
Ah yep good catch!

[2022-03-04 16:22] sobitp59 commented on #1052
@zssherman can you please elaborate what needs to be fixed

[2022-03-04 16:26] zssherman commented on #1052
Hi @sobitp59, overtime we have moved all jet colormaps to the HomeyerRainbow colormap for reflectivity and more as it is Color Vision Deficiency friendly. Seems we missed one of our examples with the switch over.

[2022-03-04 17:41] mgrover1 commented on #1052
Good point @scollis - now that docs are building properly we can go ahead and make that change 😁

[2022-03-04 19:01] mgrover1 opened #1054 "Images not showing up for examples"
After merging #1053 , the docs build includes the examples, but the plots aren't rendered... for example:

![Screen Shot 2022-03-04 at 1 01 11 PM](https://user-images.githubusercontent.com/26660300/156825514-8150f78b-4b76-495f-a5f4-4fd2c5096f35.png)

It appears to be a path issue, looking into this.

[2022-03-04 20:25] mgrover1 commented on #1035
The last step here is actually running the tests for PyART!

[2022-03-04 20:39] #1054 closed

[2022-03-04 22:30] #1015 closed, assigned to nobody

[2022-03-08 04:32] jaypotnis commented on #1036
Thanks Zach. This helps a lot.

[2022-03-08 16:05] mgrover1 commented on #1052
Coming back to this - @sobitp59 I think the best steps forward would be the following:
- Fork this repo
- Go through one of the examples (for example, one from [plot ppi](https://arm-doe.github.io/pyart/examples/plotting/plot_ppi_mdv.html#sphx-glr-examples-plotting-plot-ppi-mdv-py))
- Save that image
- Reference that image in [index rst file](https://github.com/ARM-DOE/pyart/blob/main/doc/source/i

[2022-03-08 18:30] mgrover1 commented on #1042
@zssherman are there any remaining references that need to be added?

[2022-03-08 18:37] jrobrien91 commented on #1042
I can keep a list of missing/needed references as I go through PyART getting more familiar with the package.

[2022-03-08 18:46] mgrover1 commented on #1042
@jrobrien91 could you share that list here? That would be super helpful!!

[2022-03-08 19:11] zssherman commented on #1042
@mgrover1 I'm not sure, alot of the older code I need to still go through. I opened this to kinda address them as they popped up as well.

[2022-03-09 21:25] #666 closed

[2022-03-09 21:25] #1035 closed

[2022-03-09 22:56] #270 closed

[2022-03-09 22:59] mgrover1 commented on #641
Now that we have this module/in a permanent location, we can close!

[2022-03-09 23:00] #641 closed

[2022-03-09 23:02] zssherman commented on #689
Closing for now.

[2022-03-09 23:02] #689 closed

[2022-03-09 23:12] mgrover1 opened #1062 "Fix the GridMapDisplay example with multiple subplots"
Fix this example https://arm-doe.github.io/pyart/examples/plotting/plot_three_panel_gridmapdisplay.html

[2022-03-10 00:06] #1062 closed

[2022-03-10 20:09] mgrover1 commented on #1028
@zssherman can we close this now that we have the example hosted in a permanent location?

[2022-03-10 20:54] zssherman commented on #1028
@mgrover1 One last thing, in the docs for the downloadable data the link is still https://engineering.arm.gov/~jhelmus/pyart_example_data/

There might be still one spot to change in the docs and we should be good.

[2022-03-10 21:01] zssherman commented on #1028
The link seen here:
https://arm-doe.github.io/pyart/examples/index.html

[2022-03-10 21:31] #1028 closed

[2022-03-11 15:42] zssherman commented on #830
Fixed in #924 closing.

[2022-03-11 15:42] #830 closed

[2022-03-11 15:44] zssherman commented on #813
Adding in #984 closing.

[2022-03-11 15:44] #813 closed

[2022-03-11 15:55] #343 closed

[2022-03-11 15:57] #737 closed

[2022-03-11 16:04] zssherman commented on #869
Leaving this open as a reference for other users who might be running into similar issues.

[2022-03-11 16:06] #814 closed

[2022-03-11 16:17] zssherman commented on #1036
Added references to the code, closing for now in favor of #1042

[2022-03-11 16:17] #1036 closed

[2022-03-14 21:19] mgrover1 opened #1073 "Increase Test Coverage"
Currently, we are at 73% code coverage... we should increase that value by adding more unit tests! Here is a checklist of modules that need tests:
- [ ] Retrieve (<50%)

[2022-03-14 21:28] zssherman commented on #759
closing in favor of #823

[2022-03-14 21:28] #759 closed

[2022-03-14 21:28] zssherman commented on #951
Closing in favor of #823

[2022-03-14 21:28] #951 closed

[2022-03-14 21:29] zssherman commented on #823
This would also solve issues with requirement file installs. Will be trying to tackle this soon.

[2022-03-16 19:28] mgrover1 commented on #823
FYI, looking at the [Cython docs](https://cython.readthedocs.io/en/latest/src/quickstart/build.html), here is the recommended snippet to use in the `setup.py` file using setuptools, where we insert a list of all `.pyx` files.

[code]

[2022-03-18 14:27] wxwolff opened #1078 "pyart.io.read_cradial issue on a Mac (Big Sur 11.6.5)"
Hi,

I recently encounter an issue reading Cfradial files on my Mac. It used to work, but now gets a MaskError.  I can run on Linux with lots of warnings, but no errors.

Pyart: 1.11.8
Numpy: 1.21.2
Found 54 files to process.
File Type:  cf
Unzipping CF file...
Processing:  NPOL1_2018_0320_075650.cf
---------------------------------------------------------------------------
MaskError

[2022-03-18 14:43] zssherman commented on #1078
@wxwolff Seems the metadata is storing a mask value instead of possibly a string. I think I might have a work around for that. Do you have a file I can test on?

[2022-03-18 14:50] wxwolff commented on #1078
Hi Zach,

Thanks for the really quick response. I do have a file, but it’s too big for email so I have posted it on our web site.  Try this link:

https://gpm-gv.gsfc.nasa.gov/Data/NPOL1_2022_0102_151855.cf.gz

Dave

_____________________________________
David B. Wolff, Chief Code 610.W
GPM Deputy Project Scientist for GV
NASA Wallops Flight Facility
34200 Fulton Street
Building N159, Room E220
Wa

[2022-03-18 15:10] zssherman commented on #1078
Ah you said mac is not working but linux is however. Gotcha so its probably os related

[2022-03-18 15:21] wxwolff commented on #1078
Yes, it is a mac issue, but from what I can tell, at its root, it’s a numpy issue.

Davids-Mac-Pro.local> python --version
Python 3.8.12
Davids-Mac-Pro.local> python
Python 3.8.12 | packaged by conda-forge | (default, Jan 30 2022, 23:33:09)
[Clang 11.1.0 ] on darwin
Type "help", "copyright", "credits" or "license" for more information.

## You are using the Python ARM Radar Toolkit (Py-ART), an op

[2022-03-18 15:24] zssherman commented on #1078
@wxwolff Yeah, I'm confused on why it works for linux but not mac. I do have a possible fix which Ill be doing a PR here shortly. Are you locally installing pyart or is it conda installed?

[2022-03-18 15:26] wxwolff commented on #1078
Conda.

_____________________________________
David B. Wolff, Chief Code 610.W
GPM Deputy Project Scientist for GV
NASA Wallops Flight Facility
34200 Fulton Street
Building N159, Room E220
Wallops Island, VA 23337
Ph: 757-824-1515; Cell: 443-262-1146

From: Zach Sherman ***@***.***>
Reply-To: ARM-DOE/pyart ***@***.***>
Date: Friday, March 18, 2022 at 11:24 AM
To: ARM-DOE/pyart ***@***.***>
Cc: "Wo

[2022-03-18 15:28] zssherman commented on #1078
Trying to find a way to test this real quick, sadly i'm on a linux system. But in theory the PR #1080 should fix it as it will flatten and retrieve the volume number before using int on it.

[2022-03-18 15:59] mgrover1 commented on #1078
@wxwolff which package/function is this? What are you using for unzipping in python?

[code]

[2022-03-18 16:03] mgrover1 commented on #1078
After unzipping the file from the command line, I was able to read in the file with the following setup:
* macOS Monterey 12.2.1
* Numpy: 1.21.2

[2022-03-18 19:18] wxwolff commented on #1078
#1080 resolved my issue!  Thanks Zach!!

[2022-03-18 19:18] #1078 closed

[2022-03-21 19:25] jrobrien91 opened #1082 "ENH: Include routine for MWACR vertical pointing radar"
Include a routine for incorporating the marine W-band ARM Cloud Radar (MWACR). MWACR instrument information (and data) can be found here: https://www.arm.gov/capabilities/instruments/mwacr

As the MWACR NetCDF files do not fully conform to the CF/Radial convention, nor the KAZR NetCDF file format, a MWACR specific routine is desired.

[2022-03-21 19:58] scollis commented on #1082
Great stuff Joe!

-sent from a mobile device-

[2022-03-21 20:06] mgrover1 opened #1083 "BUG: Running into issues with `RadarDisplay.plot_vpt` time axis"
When setting `time_axis_flag` = True within `plot_vpt`, Matplotlib runs into error stating:

[code]

@zssherman mentioned that he had fixed this issue in another plotting view (#1025), which provides some hints on how to fix this issue..

[2022-03-22 15:16] scollis opened #1086 "ENH: Modify the sythetic RHI code to better deal with SAILS"
SAILS, where a NEXRAD goes back to revisit a lower elevation, makes the elevation array in a sythetic RHI non-monotonic. This messes up plotting in matplotlib. We need to add an option to pyart.util.cross_section_ppi to "sort" the elevations.

[2022-03-28 13:43] mgrover1 commented on #1022
So it looks like Google has an [`or-tools`](https://developers.google.com/optimization/install) package that has the ability to access the same linear program solvers we use in `cylp`.

For example, check out this walkthrough of a [mixed-integer programming problem](https://developers.google.com/optimization/mip/mip_example)... here is a list of the solvers available:
  - CLP_LINEAR_PROGRAMMING or

[2022-03-28 13:52] kmuehlbauer commented on #1022
@mgrover1 That's available from within conda-forge (`ortools-python`), too.

[2022-03-28 13:57] mgrover1 commented on #1022
Awesome - yeah, it looks like they have a [Simplex](https://developers.google.com/optimization/lp/lp_advanced#families_of_lp_algorithms) option, which is what is currently used...

[2022-03-28 14:15] scollis commented on #1022
Very excited to see this happening  From: Max Grover ***@***.***>Date: Monday, March 28, 2022 at 8:44 AMTo: ARM-DOE/pyart ***@***.***>Cc: Subscribed ***@***.***>Subject: Re: [ARM-DOE/pyart] Error when using CyLP (Issue #1022)So it looks like Google has an or-tools package that has the ability to access the same linear program solvers we use in cylp.For example, check out this walkthrough of a mixe

[2022-03-28 14:24] tkralphs commented on #1022
There is no shortage of Python interfaces to MIP solvers. @mkoeppe recently compiled a nice list of all the options, which it would probably be useful to have somewhere other than a ticket in Sage, but here it is:

https://trac.sagemath.org/ticket/26511#comment:56

I believe `or-tools` uses file I/O to pass instances to a stand-alone Cbc solver and also uses pure Python to build the model, so it's

[2022-03-28 16:36] mgrover1 commented on #1022
Using the new build files, I am still seeing the following when running our example using `CyLP`

Processing Code:
[code]

Error:

[code]

[2022-03-28 17:10] mgrover1 commented on #1022
@tkralphs we are running into the same issue described in https://github.com/coin-or/CyLP/issues/138 I believe...

[2022-03-28 18:06] tkralphs commented on #1022
OK, thanks, I will try to find some time to build a version of CyLP and Cbc with debugging symbols, so that I can see exactly where this error is occurring.

[2022-03-28 19:02] mgrover1 commented on #1022
It looks like printing the array returned by CyLP works:

``python
print(solution)
[[ 2.34766422  2.43061544  3.18696968 ... 34.95957546 34.96160985
  34.96285309]
 [ 0.66390759  0.88923667  1.24627207 ... 27.49033571 27.46688439
  27.41206319]
 [ 0.90856286  1.30960192  1.81392097 ... 32.86643274 32.86900836
  32.87058235]
 ...
 [ 2.57844951  3.69059878  5.08611731 ... 38.15538187 38.06359823
  3

[2022-04-01 18:49] scollis opened #1095 "pyart.util.join_radar not tiling the text in sweep mode (and perhaps others correctly)"
On making a radar from 8 sweeps the array for sweep_mode is shape (192,) rather than (8,32)

[2022-04-05 19:37] mgrover1 commented on #1022
@tkralphs following up - have you had a chance to look at the build error here?

[2022-04-06 18:12] #823 closed

[2022-04-12 15:35] sobitp59 commented on #1052
@mgrover1 sorry I will not be able to do this, my exams are going on

[2022-04-12 18:32] mgrover1 opened #1102 "Add additional default argument to pcolormesh with alpha values"
Currently, when using `plot_ppi_map` or any of the plotting functions with an `alpha` value, there are artifacts in the plot.

For example:

![nexrad-plotting-issue](https://user-images.githubusercontent.com/26660300/163029679-0183bcec-3cb7-488d-b878-12ebd971bda4.jpeg)

We need to pass `edgecolors='face' ` to the pcolormesh calls to change the behavior.

We should also consider allowing users to p

[2022-04-12 19:11] mgrover1 commented on #670
Coming back to this thread - we should like this to Discussion #1047

[2022-04-12 20:31] mgrover1 opened #1105 "Fix contributors guide - references to Travis/appveyor"
The last section of our contributors guide currently mentions Travis/appveyor, as well as `master` branch - we need to update these.

[2022-04-12 22:15] #1105 closed

[2022-04-14 22:29] #1102 closed

[2022-04-16 21:42] jaypotnis opened #1114 "BUG: NEXRAD Level3 DPR product reading"
I am doing project on Quantitative Precipitation Estimation using WSR 88D Radar. I am comparing NEXRAD L3 Digital Precipitation Rate with actual Rain Rate from TRMM GV Rain Gauges.

Looks like the data being read in the below snippet does not scale the rain rate data correctly.
https://github.com/ARM-DOE/pyart/blob/a68bed26f6380eecbf1042c94bd4da0b60fb2da7/pyart/io/nexrad_level3.py#L297-L300

The w

[2022-04-18 14:13] mgrover1 commented on #1114
Thank you @jaypotnis for pointing this out. We will look into implementing a solution to this, or you are welcome to submit a pull request (PR) with the fix if you are interested. Happy to help with this process!

[2022-04-18 20:33] dopplershift commented on #1114
I'm confused, why isn't it expected? In the XDR product, the unit are encoded:
[code]
So it seems to me that needing to multiply by 25.4 to get mm/hr is correct?

[2022-04-18 20:38] mgrover1 commented on #1114
The units pyart returns are wrong - it is supposed to inches/hour.

Also, I think I found the issue... we are assuming the data is an 8 bit integer

https://github.com/ARM-DOE/pyart/blob/main/pyart/io/nexrad_level3.py#L219

but according to the Level3 documentation, this field is a 16 bit integer
<img width="1169" alt="Screen Shot 2022-04-14 at 3 57 07 PM" src="https://user-images.githubuserconten

[2022-04-18 22:04] mgrover1 commented on #1114
Alrighty - I tested this out on one of the TRACER cases (a field campaign coordinated by ARM), which includes disdrometers/other ground precipitation measurements.

The laser disdrometer (ld), located near the airport, measured a maximum precipitation rate of 95 mm/hr, which corresponds to 3.7 inches/hour.

<img width="1458" alt="Screen Shot 2022-04-18 at 4 22 43 PM" src="https://user-images.githu

[2022-04-18 22:09] mgrover1 commented on #1114
Keeping this open for now - here is the figure from the previous method (before the merged PR)
<img width="506" alt="Screen Shot 2022-04-18 at 5 01 47 PM" src="https://user-images.githubusercontent.com/26660300/163885434-70a0fbfb-82f0-4f7f-bce0-ddb93cfc84bc.png">

@dopplershift / @jaypotnis does this look like it's solved this issue?

[2022-04-19 00:05] dopplershift commented on #1114
It certainly looks more sensible to me.

And no prob @mgrover1, taking a look at this has led me to fix a different bug in MetPy's own support for this product.

[2022-04-19 00:12] #1114 closed

[2022-04-19 00:38] jaypotnis commented on #1114
The rain rate certainly looks better now. Thanks for a quick resolution on this @mgrover1

[2022-04-22 20:33] rcjackson opened #1142 "Ensure monotonically increasing time when writing cf/Radial files"
When doing this latest run of CMAC2.0 I noticed that when the cf/Radial files were written that the time was not always monotonically increasing. I wonder if it is worth putting in a check for this when we write cf/Radial files and then sort the data accordingly if it is not.

[2022-05-02 15:36] zssherman commented on #1142
@rcjackson With the discovered argument in the sigmet reader, can we close this or do we want to change the code to be more transparent for this?

[2022-05-05 19:36] zssherman opened #1155 "Possible issue with docgen"
Noticed the release info for API reference in the docs is 0.0.0 and changelog only up to 1.12 is showing. Might be a version referencing issue in the docgen that might need to be fix.

[2022-05-06 18:29] zssherman opened #1156 "Ring in MDV files used in examples"
Notice that a a few of the mdv example plots have a high DBZ ring at the furthest gates that create a high DBZ circle. Might need to determine if this is the files or the code itself.

[2022-05-09 14:56] mgrover1 opened #1157 "DOC: Put together a blog post pairing SPC reports w/ NEXRAD data"
Russ put together a great example of an animation of SPC reports and NEXRAD data - this would make a GREAT blog post

[Link to thread on twitter](https://twitter.com/russ_schumacher/status/1522645682812690432)

[Link to example notebook on Github](https://github.com/russ-schumacher/ats641_spring2022/blob/master/example_notebooks/pyart_nexrad_maps_reports.ipynb)

[2022-05-09 16:57] mgrover1 commented on #1157
Note - it would be great to read from data on Google Cloud Storage, especially since they have the Level 3 archive there... https://console.cloud.google.com/storage/browser/gcp-public-data-nexrad-l3;tab=objects?prefix=&forceOnObjectsSortingFiltering=false

[2022-05-10 20:15] #1142 closed

[2022-05-20 16:16] mgrover1 commented on #1156
I took a closer look at some of this behavior - it looks like this could be more a data file issue... here is a plot of single ray

<img width="492" alt="Screen Shot 2022-05-20 at 11 13 49 AM" src="https://user-images.githubusercontent.com/26660300/169569874-fbe2ce74-5975-4456-8a58-64fe4e81c097.png">

Notice how the last few gates have **very** high values, but taking taking a closer look at the d

[2022-05-24 23:15] mgrover1 opened #1159 "FIX: Fix RSL Issue with Github"
Currently, when running the tests, the RSL library path is not being set properly and tests are not running, leading a gap in code coverage

[2022-05-25 22:00] chudlerk opened #1161 "importing pyart causes "DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.""
Whenever I `import pyart` I get the following slew of warnings:

[code]

I am running the latest version of pyart on Python 3.9.12. I am using Anaconda on a Windows machine for my package managing. I have tried removing and reinstalling the pyart package.

Thanks!

Let me know if you need any more information of if this issue should be posted elsewhere.

[2022-05-25 22:12] zssherman commented on #1161
Thanks for the heads up @chudlerk , the warnings are interesting, what are your versions for setuptools and xarray? Trying to narrow down the possible cause. Wondering too, if how we are pinning numpy if maybe an older distutils is being pulled as well.

[2022-05-25 22:42] chudlerk commented on #1161
xarray: 0.20.1
setuptools: 61.2.0

[2022-05-25 22:52] zssherman commented on #1161
Gotcha, what python version are you using? From what i've looked up, seems in python 3.10 disutils is phased out so any dependencies that still use it will throw the warning, might be a possible cause. So possibly might be xarray might need to update. Another option is xarray is at 0.21 and setuptools 62.3.2, so might be a depreciation warning there as well. I'll keep digging, see if I can find a

[2022-05-25 22:54] chudlerk commented on #1161
I saw that too, but I'm only using Python 3.9.12 so I'm not sure if that's the issue

[2022-05-25 22:55] zssherman commented on #1161
Ah gotcha.... hmm... yeah i'll keep digging and see what I can find.

[2022-05-31 05:59] srbrodzik opened #1162 "pyart import problem"
I'm trying to run some borrowed code in python2 on a Debian 11 system that has python-arm-pyart 1.11.2-1 installed.  I normally use python3 & tried with this code but ran into too many things that needed changing.   I'm getting this string of errors when I try to import pyart

In [111]: import pyart

## You are using the Python ARM Radar Toolkit (Py-ART), an open source
## library for working with

[2022-05-31 19:01] mgrover1 commented on #1162
Thanks for the question @srbrodzik - Py-ART does not support Python 2, as indicated in the changelogs (https://arm-doe.github.io/pyart/changelog.html#pyart-v1-11-0).

[2022-05-31 19:09] mgrover1 commented on #1161
@chudlerk it looks like this issue was resolved in the January release (v0.21.1) of Xarray, indicated on their changelog (https://docs.xarray.dev/en/stable/whats-new.html#v0-21-1-31-january-2022). Can you try updating Xarray to at least 0.21.1 and see if that solves the issue?

[2022-06-01 09:15] srbrodzik opened #1165 "plotting rhi's created with over the top scanning mode"
I'm running python3 on a debian 11 system to create plots from SPOL cfradial RHI sector files at various azimuths.  They all plot nicely except for the one scan sequence of 2 rhi's at 101 and 281 deg.  They are created by scanning the radar up at one azimuth and then over the top into the other azimuth.  When I plot the data, only one of the azimuth angles plots correctly.  The other one produces

[2022-06-01 16:16] chudlerk commented on #1161
^That solved the issue. Had to update through the conga-forge channel to get the latest version installed. I also had to update paramiko to get rid of one of the warnings.

[2022-06-01 16:34] mgrover1 commented on #1161
Great! We will need to pin to at least that xarray version. Thanks or asking!

[2022-06-02 14:53] mgrover1 commented on #1165
@srbrodzik - I had a chance to look at this today. Here are some thoughts!

First, I noticed that we need to manually set the scan mode (assuming these are RHIs), although it sounds like there is a bit of a custom scan strategy here?

[code]

I was able to reproduce the issue here, using the data sent over. Here is a plot at each of the azimuths, using this block of code:

[code]

Focusing on just

[2022-06-02 15:07] mgrover1 commented on #1165
Also, here is a plot of the second RHI zoomed out a bit - there appears to be something picked up by the radar, but I am not exactly sure what it is...
![Screen Shot 2022-06-02 at 10 05 30 AM](https://user-images.githubusercontent.com/26660300/171660751-d5ff9cb1-1c0e-487d-8a26-d6f4d27a0d77.png)

[2022-06-02 15:18] srbrodzik commented on #1165
Thanks Max.

Let me try your code tomorrow (it's Thursday night around 11pm here right
now) and I'll let you know what I get.  I'm not sure why your code shows
data at 101 deg and mine doesn't.  Would love to talk it over Friday night
my time, Friday morning your time.  We'd have to talk via Signal or
WhatsApp since I currently have a Taiwan phone number. Or we could always
use Zoom.  I've set up

[2022-06-02 15:27] srbrodzik commented on #1165
Thanks for the help.  I'll check the sweep index in my code when I get to
the Ops Center.  I hope it's not something that stupid:-)

On Thu, Jun 2, 2022 at 11:24 PM Max Grover ***@***.***> wrote:

[2022-06-03 06:45] srbrodzik commented on #1165
Hi Max,

OK, your snippet of code worked for me so I added things from my code to it
until I discovered the problem.  I was putting in xlim = (0,150) but for
this particular angle in this particular scanning sequence, I needed to set
xlim = (-150,0).

Guess we don't need to chat about this tonight.  Thanks for your
willingness to help me figure this out.  I really appreciate it.

I'm sure I'll be

[2022-06-03 10:24] srbrodzik commented on #1165
I found another data oddness.  If you need me to submit this formally via
github, I'll do that.  If not, here's the story.

We're collecting a different kind of rhi volume that has 12 widely-spaced
azimuths that range from 0 to 360.  They all plot up nicely except the 270
deg azimuth scan which has some artifacts above the radar.  I used your
code snippet to do the plotting and added a couple thin

[2022-06-03 14:15] #1165 closed, assigned to nobody

[2022-06-07 01:16] #1161 closed

[2022-06-08 14:52] mgrover1 opened #1168 "Artifacts Above RHI Plot"
I found another data oddness.  If you need me to submit this formally via
github, I'll do that.  If not, here's the story.

We're collecting a different kind of rhi volume that has 12 widely-spaced
azimuths that range from 0 to 360.  They all plot up nicely except the 270
deg azimuth scan which has some artifacts above the radar.  I used your
code snippet to do the plotting and added a couple thin

[2022-06-10 16:28] #1086 closed

[2022-06-10 16:31] #941 closed

[2022-06-11 00:14] dopplerchase opened #1172 "Old NEXRAD "missing" lat lon"
I was playing around with some old NEXRAD data (Sept 27 1998 from KBUF; 4 inch hail day) and I noticed that these old files have their latitude and longitude a bit messed up. It seems to be centered on the radar location

![image](https://user-images.githubusercontent.com/22037322/173164544-6735e23d-04eb-4bd1-b61f-7b93d9ea3fa7.png)

Reproduce the issue here:

https://colab.research.google.com/driv

[2022-06-11 13:27] mgrover1 commented on #1172
Great question @dopplerchase - we currently do not make any assumptions about reading the lat/lon from the filename, but you can pass the station id into the [`pyart.io.read_nexrad_archive`](https://github.com/ARM-DOE/pyart/blob/main/pyart/io/nexrad_archive.py#L19) function, as `station="KBUF"`. We have functions that are able to index the name of the radar, and use the lats and lons of the radar

[2022-06-11 17:52] mgrover1 commented on #1172
The IO line would look something like this:

[code]

We could consider trying to extract the path from the filename, checking to see if it is in our database of sites:

[code]

Or something like that...

[2022-06-21 22:45] #1159 closed

[2022-06-22 07:10] mole-bai commented on #1022
I have the same problem as you, but after following your steps to install CYLP, it reports an error when running the test code:

Processing Code:
[https://github.com/coin-or/CyLP#modeling-example](url)

Error:
`undefined symbol:_ZN17CoinIndexedVectorD2Ev`
![image](https://user-images.githubusercontent.com/56954628/174964223-800a1db3-ce20-42f9-bc02-eaae6d0037ed.png)

In addition to using pip instal

[2022-06-22 19:42] mgrover1 opened #1182 "Bug: When using .to_xarray() with pyart.Grid object with nradars > 1, dataset only includes 1 radar"

[2022-06-23 13:00] mgrover1 commented on #1022
@mole-bai - we are working on replacing the CyLP solver in Py-ART. You can use one of the other solvers (`LP_solver = "pyglpk"` or `LP_solver = "cvxopt"`)

We apologize that we are not able to support solving this CyLP issue.

[2022-06-23 20:52] #1052 closed

[2022-06-23 22:33] wxbinge opened #1186 "Compressed data ended before the end-of-stream marker was reached"
This error is easily resolved by redownloading the radar data, but I'm running this particular script operationally, so when this error occurs, the script exits and I would miss the cycle.

I was wondering is there a way to bypass this error?

I am pulling the radar data from the TGFTP server.

Traceback (most recent call last):
  File "/wfs/radar/pyscripts/national_composite_archival.py", line 18

[2022-06-23 22:51] zssherman commented on #1186
@wxbinge Hmm would maybe a try and except, catch the error and rerun the download on the file or are you using pyarts nexrad reader to download the file?

[2022-06-24 00:23] wxbinge commented on #1186
I don't know why 'try and except' didn't cross my mind, but you're right. That will work to bypass the error. I'm using bash to download the radar files, so I'm going to need to do something creative to see if I can invoke a download from within the python script if the error arises.

[2022-06-24 13:56] mgrover1 commented on #1186
@wxbinge that error occurs when the file is not completely downloaded.

See the stack overflow discussion [here](https://stackoverflow.com/questions/40877781/eoferror-compressed-file-ended-before-the-end-of-stream-marker-was-reached-mn)

You will need to add logic within your script to check to see if the file is completely downloaded yet, or consider streaming the data from Amazon Web Services (A

[2022-06-29 16:27] lauratomkins opened #1189 "Error getting datetime from NEXRAD level2 radar object with latest release"
I created a new environment today and had issues with some code I have previously written due to some datetime problems. The new environment I created was using python=3.8 and arm_pyart=1.12.5 installed via conda-forge. I'm not sure if it's related to this fix #1185

Here is example code that produces the error
[code]
And this is the error that it produces
[code]

I was able to replicate on anothe

[2022-06-29 17:15] lauratomkins commented on #1189
Ah okay, thanks for the response

[2022-06-29 17:15] #1189 closed

[2022-07-05 21:19] mgrover1 opened #1193 "ADD: Add link to cookbooks on the Py-ART Docs"
Make sure we link to the radar cookbooks (https://cookbooks.projectpythia.org/radar-cookbook) on the docs

[2022-07-05 21:21] mgrover1 opened #1194 "ENH: Enable dependably for CI environment"
Use dependabot to check for package releases + check to see if upstream updates are breaking our CI

[2022-07-06 21:29] mgrover1 commented on #1004
@zssherman can we close this via #1014 ?

[2022-07-06 21:36] zssherman commented on #1004
Yep closing!

[2022-07-06 21:36] #1004 closed

[2022-07-08 17:28] #1193 closed

[2022-07-14 06:16] raffyjef opened #1202 "No normalized coherent power in my radar field"
Hi, I just want to ask if how can I use the functions with ncp if my radar file do not have it in its field. I can use the gatefilter function but not the others. My radar file is in .uf format. Thank you

[2022-07-14 15:59] zssherman commented on #1202
Hi @raffyjef, what other functions are you trying to use? Talking to Scott Collis, you could make a ncp field of ones to get you going. To do that, can do:
[code]

[2022-07-15 01:21] raffyjef commented on #1202
I am trying to perform attenuation correction using pyart.correct.calculate_attenuation. It did work. Thank you for this!

[2022-07-15 03:52] #1202 closed

[2022-07-15 05:52] raffyjef opened #1203 "LP Phase Processing Fatal Python Error Aborted"
Hi! I am trying to use the LP Phase Processing function and I always encounter this message on the console saying Fatal Python Error Aborted. Do you happen to know what is causing this? Here is what the console flashes:

runfile('/home/jeff/.config/spyder-py3/Phase processing', wdir='/home/jeff/.config/spyder-py3')

## You are using the Python ARM Radar Toolkit (Py-ART), an open source
## library

[2022-07-15 23:30] raffyjef commented on #1203
I assume it uses pyglpk as solver since I did not specify any solver in using the function. Here is my whole code. Thank you

#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Fri Jul 15 13:32:13 2022

@author: jeff
"""

import numpy as np
import matplotlib.pyplot as plt
import pyart

# perform LP phase processing

filename = 'Copy of TAG201808110830db.uf'
radar = pyart.io.read_uf(file

[2022-07-16 23:51] raffyjef commented on #1203
Hi! I think you right that its a solver's problem. I tried using this:

phidp, kdp = pyart.correct.phase_proc_lp(radar, 0.0, debug=True, LP_solver='pyglpk')

And it worked!

[2022-07-17 00:06] raffyjef commented on #1203
Thanks for pointing out!

[2022-07-19 21:01] mgrover1 opened #1212 "BUG: Update the release guide"
The old release guide mentions distutils specific steps, we need to update to our setuptools workflow

[2022-07-23 06:53] softieeeeee opened #1217 "PyArt does not display any map when using "RadarDisplay""
So I'm following the [tutorial](https://nexradaws.readthedocs.io/en/latest/Tutorial.html) and when I get to this part and run it (along with the other code):
![image](https://user-images.githubusercontent.com/98503938/180593924-3cf4842f-76b2-4071-b6ea-b02870c5bff8.png)
No map is generated or anything (there is no errors either, and I have all the dependencies).

What I expect to get:
![image](http

[2022-07-24 19:53] zssherman commented on #1217
@softieeeeee Hmmm I know notebooks can be tricky with plots showing. Can you try plt.show() at the end of your code or
[code]
in your import cell.

[2022-07-25 01:37] softieeeeee commented on #1217
Using `%matplotlib inline` just errors out with 'invalid syntax'.
![image](https://user-images.githubusercontent.com/98503938/180675952-e52d3a55-d3c9-468b-8d5d-19d54d713b5e.png)

And, there is no such function named 'show()'.
![image](https://user-images.githubusercontent.com/98503938/180676896-9d8b6aa9-80d6-43b2-9e88-c1d4e7c9adca.png)

[2022-07-25 01:43] zssherman commented on #1217
Can't tell, is that calling plt.show()? I would try maybe
[code]

[2022-07-25 01:45] softieeeeee commented on #1217
I'm on Windows 10 64-bit (editing the file in VSCode). Maybe that is likely the reason it doesn't work.

[2022-07-25 12:51] mgrover1 commented on #1217
@softieeeeee - can you try printing `results`?

[code]

That way we can ensure that the files are downloaded, and stored locally.

If that works, then make sure to add the figure to the plotting line:

[code]

Give that a try and let us know if that solves this issue.

[2022-07-26 18:09] #1212 closed

[2022-07-27 13:27] mgrover1 opened #1224 "ENH: Support Apple Silicon Chips (ex. M1, M1 Pro)"
With more users getting new apple machines with the M1, M1 Pro, and M2 chips, it would be great if Py-ART had build wheels for these machines.

[2022-08-03 13:43] wolfidan opened #1229 "Question regarding embellish key in plot_grid"
Dear Py-ART team,

In the [plot_grid](https://github.com/ARM-DOE/pyart/blob/main/pyart/graph/gridmapdisplay.py) function, there is an embellish key.

It's specified that

embellish : bool
            True by default. Set to False to supress drawinf of coastlines
            etc... Use for speedup when specifying shapefiles.
            Note that lat lon labels only work with certain projections.

[2022-08-03 15:27] zssherman commented on #1229
Hmmm, I'm wondering too if they can be separated, embellish for coastlines etc, gridlines for the ticks etc. Having the gridlines included seems useful, but if there is any reason to not include, might be better to have a switch for them.

[2022-08-04 04:31] nguy commented on #1021
It's been a long time since I looked at this code. Maybe @dstex knows how this is done?

FYI, the airborned specific variables are stored in the [radar object](https://github.com/ARM-DOE/pyart/blob/main/pyart/core/radar.py#L695-L709) and if memory serves me correctly, this either cfradial defined OR NOAA P-3 specific.

If it's a NOAA P-3 sigmet file, it looks like you might need to modify [this fu

[2022-08-04 07:31] wolfidan commented on #1229
Thanks @zssherman, we could also imagine having two switches, one could be _embellish_ to specify whether to plot the additional coastlines, countries, etc and could be _display_georef_ (for example) which would trigger the display of the gridlines and the coordinates.

[2022-08-04 18:05] dstex commented on #1021
This is something that is/was considered in the ongoing development of HawkEdit (the forthcoming solo replacement). They note the applicable corrections needed in these [meeting notes](https://github.com/NCAR/lrose-HawkEdit/blob/54b142e42eb3c01bc81df489a9ea0c4fab21ec06/meeting_notes/20220118.md).

As far as I can tell, the aircraft motion variables are included in both the P-3 sigmet files and the

[2022-08-16 19:15] mgrover1 opened #1238 "Remove TRMM_RSL examples"
TRMM_RSL is becoming a headache to use in examples/install properly. Let's move towards replacing examples using the TRMM_RSL reader, and modifying the dealiasing example to use the region based dealiasing algorithm. The following examples need to be updated:
- [ ] plot_ppi_sigmet.py
- [ ] plot_rhi_two_panel.py
- [ ] plot_rhi_two_panel
- [ ] plot_rhi_sigmet
- [ ]  plot_dealias

In addition to modi

[2022-08-16 22:59] #1238 closed

[2022-08-17 20:36] mvanlierwalq opened #1242 "RSL install fails on Apple silicon"
RSL code is a bit out-of-date and fails compiling with the modern gcc that ships with Apple silicon computers. I get the following sort of error message:

`wsr88d_to_radar.c:456:11: error: implicit declaration of function 'wsr88d_remove_sails_sweep' is invalid in C99 [-Werror,-Wimplicit-function-declaration]
          wsr88d_remove_sails_sweep(radar);
          ^
1 error generated.
make[1]: *** [w

[2022-08-17 20:37] #1242 closed

[2022-08-17 21:07] srbrodzik opened #1245 "plot_ppi_map with lat/lon"
I have some code that I've been using successfully on a Debian 10 machine running pyart v1.11.2.  I've tried running it on a Debian 11 machine running pyart v1.12.5 and I get plots but no lat/lon information.  See my code and two attached images.  Can you explain what I might be missing?

`import os
import sys
import matplotlib.pyplot as plt
import pyart
import numpy as np
from datetime import dat

[2022-08-18 14:57] mgrover1 commented on #1245
@srbrodzik can you add `embellish = True` to see if that solves the issue?

[2022-08-18 21:46] srbrodzik commented on #1245
I'm not familiar with that command or how to use it and couldn't find anything about it on the web, so I put it after the display and fig command and before the individual plots are defined, like this:

    display = pyart.graph.RadarMapDisplay(subset)
    fig = plt.figure(figsize=(12, 4.5))
    fig.tight_layout()
    fig.suptitle('SPOL Rain Rates '+start_str+' UTC PPI '+str(angle)+' deg', fontsiz

[2022-08-18 22:22] mgrover1 commented on #1245
Could you add it in the plot_ppi_map? Ex. Plot_ppi_map(embellish=True)

[2022-08-19 12:31] mgrover1 commented on #1245
[code]

[2022-08-19 21:52] srbrodzik commented on #1245
That doesn't result in any change.

I've attached my input file for you.
 cfrad.20220607_042450.162_to_20220607_043052.36...
<https://drive.google.com/file/d/1akTKyeLQT4npB68vJGLa_5I0Xg_0veyO/view?usp=drive_web>
Stacy

On Fri, Aug 19, 2022 at 5:31 AM Max Grover ***@***.***> wrote:

[2022-08-20 14:23] mgrover1 commented on #1245
I tried troubleshooting with version 1.12.5, and was not able to reproduce the error

[code]
<img width="1140" alt="Screen Shot 2022-08-20 at 9 16 47 AM" src="https://user-images.githubusercontent.com/26660300/185750791-282a9e70-e535-41f7-8c38-557aabf4c164.png">

There is one way to override the grid labels, by adding

[code]

When you create the plots. I added a revised code snippet similar to ab

[2022-08-22 21:50] srbrodzik commented on #1245
Thanks for the feedback Max.  Unfortunately, that didn't fix my problem.
Could it be that a newer version of another package is required?

Stacy

On Sat, Aug 20, 2022 at 7:23 AM Max Grover ***@***.***> wrote:

[2022-08-23 02:29] mgrover1 commented on #1245
@srbrodzik can you run `conda list` and post the output here?

[2022-08-23 18:50] srbrodzik commented on #1245
I'm not using anaconda.  I'm working on a Debian 11 system and have
attached a 'dpkg -l' listing.  PyArt is not listed due to how github
downloads interact with our package management system.  But I can assure
you that the version is as I've told you.

I'm starting to think this is a matplotlib problem and not a pyart
problem.  I had similar problems with axis labelling in some skewt plotting
code

[2022-08-23 18:51] mgrover1 commented on #1245
Ahh okay - I am not seeing the dpkg list...

Can you try updating matplotlib to a recent version? That might fix it or is at least worth a try.

[2022-08-23 19:09] srbrodzik commented on #1245
Already using this:

ii  python3-matplotlib                            3.3.4-1
                 amd64        Python based plotting system in a style
similar to Matlab (Python 3)

Will try 3.5.3 and see what happens.

Stacy

On Tue, Aug 23, 2022 at 11:51 AM Max Grover ***@***.***>
wrote:

[2022-08-24 00:55] mgrover1 commented on #1245
Okay! Let me know how that goes... fingers crossed that fixes it!

[2022-08-24 12:14] wxwolff opened #1249 "NASA no longer supporting RSL"
FYI, NASA no longer supports RSL as we have moved to PyART for all of our data processing.

[2022-08-24 13:41] mgrover1 opened #1250 "Replace RSL Functionality"
Since there are a variety of issues with the RSL package, and it is no longer supported by NASA (see #1249 ), we should work to replace the functionality in Py-ART including:
- [x] FourDD Dealiasing
- [x] Sigmet Reader

[2022-08-29 23:34] srbrodzik commented on #1245
We installed the latest version of matplotlib from the git site which dpkg
-l identifies as v3.6.0:

ii  python3-matplotlib
                           3.6.0~dev3106+g07af522369-1                amd64
       Python plotting package

Not sure how that happened since I thought 3.5.3 was the most recent
version.

Bottom line, it makes things worse.  Now I don't even get plots without
lat/lon markings

[2022-08-30 06:14] kmuehlbauer commented on #1245
Welcome to dependency hell, @srbrodzik. This was fixed in cartopy here: https://github.com/SciTools/cartopy/pull/2054

But I do not know if this is already in their latest release.

[2022-08-30 06:16] kmuehlbauer commented on #1245
Ok, looks like we have to wait for the next cartopy release: https://github.com/SciTools/cartopy/pull/2054#issuecomment-1221418391

[2022-08-30 10:23] mgrover1 commented on #1245
Yeah - @srbrodzik for some reason your environment has the new experimental version of matplotlib, which causes some serious carroty (geo-plotting) issues... It looks like the maintainers of Cartopy are prioritizing getting a release out to fix this **very** soon.

One thing you could try right now to fix this is to specify

[code]

or

[code]

[2022-08-30 19:11] srbrodzik commented on #1245
Thanks everyone.  Will try the slightly older version of matplotlib (3.5.2)
and keeping check on the new cartopy release.

Stacy

On Tue, Aug 30, 2022 at 3:23 AM Max Grover ***@***.***> wrote:

[2022-08-30 20:52] srbrodzik commented on #1245
OK, installed python3-matplotlib v3.5.2 and plots still don't show lat and
lon values on axes.  Here's what I have installed on my Debian 11 machine:

updraft:brodzik:99>dpkg -l | grep matplot
ii  python-matplotlib-data                        3.5.2-2
                                   all          Python based plotting
system (data package)
ii  python-mpltoolkits.basemap-data               1.2.2+d

[2022-08-30 23:47] jrobrien91 opened #1254 "ENH: Inclusion of terrain within RHI and synthetic RHI scans"
In Discussion #1253 , user Ted-Whittock included a sample figure showcasing RHI scans from a mobile radar positioned along a mountain ridge.

Inclusion of digital terrain models for RHI and synthetic RHI scans would be beneficial for SAIL and ARM DQ office.

AWS Open Data appears to have multiple open source datasets that we can benefit from:
https://registry.opendata.aws/tag/elevation/

[2022-08-31 08:05] scollis opened #1255 "Plotting negative elevation angles for RHI scans"
### Discussed in https://github.com/ARM-DOE/pyart/discussions/1253

<div type='discussions-op-text'>

<sup>Originally posted by **Ted-Whittock** August 31, 2022</sup>
Hello,

I have a bunch of RHI files from a mobile radar that was positioned along a mountain ridge, and so we have negative elevation angles to capture the precipitation over the surrounding lower terrain. (Iink to sample data: https

[2022-08-31 08:06] scollis commented on #1255
@jfigui @wolfidan have you looked at negative RHI angles in PyRad?

[2022-08-31 21:28] westzhicanchen opened #1256 "Missing parameters in NEXRAD level II data"
Hi everyone,

I'm using PyART to analyze NEXRAD level II data but I couldn't find some parameters that I need. Could anyone pitch in here on how to find the value of these parameters? This issue seems consistent since I dug into multiple data and none of them have those parameters.

The parameters missing are **_instrument_parameters_** and **_radar_parameters_**. They are defined in CF/Radial dat

[2022-08-31 22:29] zssherman commented on #1256
@westzhicanchen Thanks for the heads up, I'll take a look. Instrument parameters should populate, so i'll see if something is going wrong in the reader using those example files. I believe for radar_parameters, it seems those are being combined into instrument parameters for other readers:
https://github.com/ARM-DOE/pyart/blob/f923551e1fd8de72c8db6c76e6bc9913bf635644/pyart/io/uf.py#L248
not seeing

[2022-09-01 07:44] mgrover1 commented on #1256
While the core data model in Py-ART is based on CfRadial, not all of the files we read are CfRadial and follow this convention (ex. NEXRAD's data format). The NEXRAD data format is a collection of individual messages, which we parse in the reader written in Py-ART, extracting what instrument parameters are available (ex. nyquist velocity).

Taking a look at the NEXRAD data documentation, I do not

[2022-09-01 07:51] mgrover1 commented on #1245
I will try to recreate this environment - thanks for sharing which packages you used.

[2022-09-02 00:45] srbrodzik commented on #1245
Thanks for all your help with this.

Stacy

On Thu, Sep 1, 2022 at 12:51 AM Max Grover ***@***.***> wrote:

[2022-09-02 16:50] westzhicanchen commented on #1256
Hi everyone,

Thank you all for the quick and detailed response. Any chance you would recommend some person/link that I might find useful when reaching out to the data provider NOAA and asking about this?

[2022-09-06 06:55] jfigui commented on #1255
Hi @scollis,

We do have negative angles at MeteoSwiss but I never really paid attention. @wolfidan, can you have a quick look to that?

[2022-09-12 09:55] lsxlv opened #1257 "Hello,does pyart have the function of mapping two radars' Composite Reflectivity?"

[2022-09-12 14:48] zssherman commented on #1257
@lsxlv Hello! We are currently in the process of getting a composite reflectivity function within Py-ART, once that's in. I believe if you have both radars with the generated composite field, you should be able to map both radars to the map_radars_to_grid function to map them both.

[2022-09-12 19:04] wolfidan commented on #1255
@scollis
Sorry for the delay, I'm currently in vacation, I will take a look on thursday though,
Cheers

[2022-09-12 20:15] mgrover1 commented on #1256
You can find the contact us section on the NCEI website, where they listed this email [ncei.info@noaa.gov](mailto:ncei.info@noaa.gov)

[2022-09-13 04:58] jfigui commented on #1255
Thanks a lot!

[2022-09-13 05:09] lsxlv commented on #1257
@zssherman Thanks for answer! I have drawn the base reflectivity mosaic of the two radars with 'map_to_grid' function. This function is really good.
You mean that if I can draw the composite  reflectivity of two radars on Cartesian coordinate  seperately, then I can use 'map_to_grid' function to map these two composite  reflectivity together ？

[2022-09-13 18:30] mgrover1 commented on #1257
@lsxlv you can pass multiple radars to the `pyart.map.grid_from_radars` function, for example:

[code]

see the docs here[grid_from_radars docs](https://arm-doe.github.io/pyart/API/generated/pyart.map.grid_from_radars.html#pyart.map.grid_from_radars)

We use this workflow one of the examples [grid from radars example](https://arm-doe.github.io/pyart/examples/mapping/plot_map_two_radars_to_grid.htm

[2022-09-14 15:42] mgrover1 opened #1260 "ENH: Add a new example showing hydrometeor classification and QPE functionality"
At the recent ERAD tutorials, there were some great new tutorials put together by the meteoswiss/meteofrance team (@wolfidan @jfigui )

[Sample notebook](https://openradarscience.org/erad2022/notebooks/pyart/exercice1_swiss_thunderstorm.html)

It would be nice to have a concise example of this in our examples gallery!

[2022-09-14 21:55] mgrover1 commented on #1255
@Ted-Whittock I took a look at your sample file, and noticed that within the data quality parameters (antenna transition), they flag the negative elevation angles... by default, we filter out these transitions in the `plot_rhi` function, but you can change this behavior by setting

[code]

for example, I used the following snippet

[code]

which resulted in the following image
![Screen Shot 2022-0

[2022-09-15 16:37] EWolffWX opened #1262 "Function for storm-relative velocity"
Hi all,

I've been working to analyze some mobile radar data obtained during an event with fast storm motions and was looking for a way to subtract this out to better identify areas of rotation. From a discussion on Twitter, Dr. Tanamachi pointed my to [https://github.com/NCAR/lrose-core/blob/master/codebase/libs/Solo/src/Solo/RemoveSurface.cc](this function) within the python interface for Solo.

[2022-09-21 18:27] neutrinoceros opened #1266 "Publish wheels on PyPI ?"
Hi, I know this is a stretch, but would it be possible to start publishing some wheels on PyPI ?
I am aware that binaries are available on conda, I'm asking because amr-pyart get installed on yt's CI and costs about 2min to build on each job.

I am not familiar with pyart, is there a technical reason why wheel installs cannot be supported ?

[2022-09-21 18:33] mgrover1 commented on #1266
Yeah - we can consider publishing individual wheels on PyPI! The main limitation has been the trmm_rsl package, which is a C package that is not available within Python.

[2022-09-21 18:43] mgrover1 commented on #1266
We would also need a wheel for each cython version/OS (ex. `arm_pyart-1.12.7.post18-cp310-cp310-macosx_11_0_arm64.whl`)

[2022-09-21 20:52] mgrover1 commented on #1266
@neutrinoceros we have started a PR moving toward this, any feedback or help there would be greatly appreciated!

[2022-09-21 20:54] neutrinoceros commented on #1266
I will take a look tomorrow, thank you very much for putting it together so quickly !

[2022-09-22 14:25] nkay28 opened #1268 "AttributeError: <''> object has no attribute '_autoscaleXon'"
I have received this error with multiple objects, while trying to plot reflectivity from s3 bucket object. I think it is originating from the radar variable or the plot_ppi_map itself.
1) `AttributeError: 'GeoAxes' object has no attribute '_autoscaleXon'`
2) `AttributeError: 'GeoAxesSubplot' object has no attribute '_autoscaleXon'`

I tried to make sure its not on my end but not a 100% sure.

Here

[2022-09-22 14:35] mgrover1 commented on #1268
@nkay28 - can you run `conda list` to check which versions of packages you are running?

[2022-09-22 14:49] mgrover1 commented on #1268
Alright - I tracked down the issue here.

@nkay28 - you will need to use the latest version of cartopy (0.21.0) to use the latest version of matplotlib (3.6.0)

See the discussion here https://github.com/SciTools/cartopy/pull/2054

There were some attributes removed in the new version of matplotlib, which cartopy uses, which causes some issues here. Let's move this to a discussion, so other users

[2022-09-22 14:50] mgrover1 commented on #1245
@srbrodzik - I tracked down the issue. You will need to update your version of cartopy to use the new version of matplotlib

see this discussion https://github.com/SciTools/cartopy/pull/2054

[2022-09-22 19:23] chudlerk opened #1272 "Issue with gate lat/lon calculation and radar location when reading Level 2 radar file"
Hello,

I am reading in the following radar file from the amazon sever:
[https://noaa-nexrad-level2.s3.amazonaws.com/2009/10/14/KDAX/KDAX20091014_091934_V03.gz](url)

When trying to plot the radar data on a map, I'm noticing some weird results for the latitude and longitude values returned with `get_gate_lat_lon_alt`:

[code]

After doing some digging, I think it has to do with the fact that the r

[2022-09-22 19:40] srbrodzik commented on #1245
I'll take a look and let you know how it goes.

Thanks for the follow up.

Stacy

On Thu, Sep 22, 2022 at 7:50 AM Max Grover ***@***.***> wrote:

[2022-09-23 12:58] mgrover1 commented on #1272
@chudlerk which version of Py-ART are you using?

I tried the following which appeared to work (with the latest version Py-ART 1.13.0):

[code]

Or, reading directly from Amazon:

[code]

[2022-09-23 16:24] chudlerk commented on #1272
Whoops, I pasted the wrong URL in my question. I've updated it with one that doesn't work. I'm having trouble installing 1.13.0 with anaconda, but it doesn't work on 1.12.2

[2022-09-23 16:26] mgrover1 commented on #1272
What sort of conda installation issues are you running into?

[2022-09-23 16:41] mgrover1 commented on #1272
@chudlerk - the older NEXRAD data is missing the required metadata (message 31). See this discussion https://github.com/ARM-DOE/pyart/discussions/1174 where we mention the ability to manually specify which station the radar data is from, which fixes this issue.

[code]

[2022-09-23 17:07] mgrover1 opened #1274 "ENH: Add a Grid to Radar function which would enable interpolation to a radar object"
We should be able to take some gridded or model field and simulate a radar (given azimuth, range, elevation, etc.).

We should be able to use a profile, or gridded data.

[2022-09-26 14:56] #551 closed

[2022-09-26 15:07] #1224 closed

[2022-09-26 15:07] #1266 closed

[2022-09-26 20:48] mgrover1 commented on #1095
Closed via #1218

[2022-09-26 20:48] #1095 closed

[2022-09-26 20:48] #1073 closed

[2022-09-26 20:55] zssherman commented on #1266
@neutrinoceros We closed the issue, but just pinging, it looks like the build wheels are now available on PyPI!

[2022-09-26 20:59] mgrover1 commented on #1266
Thanks for all your help here @neutrinoceros !

[2022-09-26 21:18] neutrinoceros commented on #1266
Yup I saw that, thank you very much for being so reactive on this ! We are already seeing the result as a net ~2min gain on all CI jobs at yt, that will easily save hours of CPU time a week !

[2022-09-29 15:24] mgrover1 commented on #1245
@srbrodzik any updates here? Did this solve the issue?

[2022-09-29 18:49] srbrodzik commented on #1245
I've asked our sys admin to install the updated packages but they're not
available yet.  I will resubmit the request.

I'll let you know what happens as soon as I can.  Thanks for following up
with me.

Stacy

On Thu, Sep 29, 2022 at 8:24 AM Max Grover ***@***.***> wrote:

[2022-10-03 15:09] mgrover1 opened #1282 "Add a plot with our colormap options"
We should add a section to our docs detailing the different colormap options, with images of those colormaps (similar to matplotlib's, example below)

![image](https://user-images.githubusercontent.com/26660300/193612000-0f2a1758-2d6e-429f-a7e6-5eb0dc266fee.png)

[2022-10-03 15:11] mgrover1 opened #1283 "DOC: Add an example showing how to modify the colorbar"
It would be helpful to have an example that shows how to extract the matplotlib colorbar from the display so the user can modify the size, font, etc.

We show how to do this in the [SAIL example](https://arm-development.github.io/sail-xprecip-radar/radar-precip/plot-method-description-figure.html), but this should be in our main documentation.

[2022-10-04 14:43] mgrover1 commented on #1260
@wolfidan following up here - would this be something you would be interested in working together on?

[2022-10-11 09:20] wolfidan commented on #1260
Hi @mgrover1 , sorry for the delay, Yes I will try to add this in the examples gallery as soon as possible

[2022-10-11 13:44] mgrover1 commented on #1260
I think splitting these up, and then adding a more detailed blog post bringing these together... I see the blog post section as more full-workflow focused

[2022-10-12 20:10] srbrodzik commented on #1245
Hey Max,

Sorry it took so long to get back.

The bad news is that the problem isn't fixed.  I've attached the two
versions of the image -- one using a Debian10 system and the other the
upgraded Debian11 system.

This is what is installed on the Debian10 system:

shear:~# apt list --installed | grep matplotlib
python-matplotlib-data/unknown,now 3.3.3-1 all [installed,automatic]
python-matplotlib/n

[2022-10-20 03:26] mvanlierwalq opened #1293 "radardisplay does not recognize c-sapr "sector" plot type"
tryping to plot the csapr file houcsapr2cfrS2.a1.20220617.190001.nc, display.plot throws an error owing to unknown plot type "sector" : `ValueError: unknown scan_type sector`
can this be added to pyart?

[2022-10-20 15:42] mgrover1 commented on #1293
Yeah... currently "sector" is not one of these options, but we can consider adding it! Treating it the same as a PPI... which I think would be the right assumption @mvanlierwalq

[2022-10-20 15:48] zssherman commented on #1293
Yeah agreed, it should be a simple fix

[2022-10-20 18:25] mvanlierwalq commented on #1293
@zssherman thanks! will have to wait until tonight or tomorrow, having trouble connecting to my computer. will let you know.

[2022-10-21 11:10] jfigui opened #1297 "ENH: Add keyword add_lines in method plot_grid in gridmapdisplay"
On occasion you would like to have the grid lines but not the coast maps in the plot. Separating the two would be useful (see https://github.com/MeteoSwiss/pyart/blob/dev/pyart/graph/gridmapdisplay.py)

[2022-10-21 15:01] mgrover1 commented on #1297
I think this is also related to #1229 ...

[2022-10-21 15:16] mgrover1 commented on #1297
Would you be interested in submitting a PR similar to the enhancement you added to the meteoswiss fork? @jfigui

[2022-10-21 17:40] mgrover1 opened #1298 "Add documentation on how to write a blog post"
We are missing docs on how to write a blog post - we should add this, as well as a template notebook

[2022-10-21 17:48] zssherman commented on #1298
Agreed!

[2022-10-25 14:22] jfigui commented on #1297
@mgrover1 ,
Yes, I can do that. I will try to find a slot to do it in the next two weeks. Pin me again if you see that nothing has happened by then :)

[2022-10-28 13:05] swatelet opened #1305 "Issue with echo_class.py"
Hi all,

I noticed that the line 157 (if 'frequency' in radar.instrument_parameters:) of echo_class.py generates this error when instrument_parameters of a radar object is set to None:

"TypeError: argument of type 'NoneType' is not iterable"

I would suggest to add a check of None on line 157, what do you think?

Cheers,
Sylvain

[2022-10-28 13:28] mgrover1 commented on #1305
Hi @swatelet - thanks for catching this. I think that sounds like a reasonable solution. Would you be interested in implementing that fix?

[2022-10-28 13:34] mgrover1 commented on #1293
@mvanlierwalq any updates here? Did the fix work?

[2022-10-28 14:27] swatelet commented on #1305
Thanks but unfortunately I have no time for that right now, but feel free to do it.

[2022-10-28 16:08] zssherman commented on #1305
I'll take a crack at this shortly.

[2022-10-28 16:47] mgrover1 commented on #1305
Closed by #1306

[2022-10-28 18:19] #1305 closed

[2022-11-01 15:47] mgrover1 opened #1310 "Closember!"
We are participating in #closember this month, which means we are working to close out some of our issues!

Looking for a good way to participate? Check out the list of standing issues here:
- [x] #1297
- [x] #1260
- [x] #1157
- [ ] #1083
- [x] #1283
- [x] #850

As well as any issues tagged [good first issue](https://github.com/ARM-DOE/pyart/labels/good%20first%20issue)

[2022-11-03 15:57] #1297 closed

[2022-11-03 18:25] zssherman commented on #423
Will be in favor of region dealiaser as we phase out trmm_rsl, closing.

[2022-11-03 18:25] #423 closed

[2022-11-03 18:28] #943 closed

[2022-11-03 18:31] zssherman commented on #566
Added in #1005 closing

[2022-11-03 18:31] #566 closed

[2022-11-03 18:34] zssherman commented on #858
This is being tackled in xradar, discussion can be moved here:

[2022-11-03 18:34] #858 closed

[2022-11-03 18:44] #685 closed

[2022-11-03 18:47] #476 closed

[2022-11-07 17:04] mgrover1 commented on #125
@scollis @ScottGiangrande has this been "fixed" with some of the more recent KDP calculations in Py-ART? Or with the addition of the gatefilter argument?

[2022-11-07 17:07] #129 closed

[2022-11-07 17:07] #176 closed, assigned to nobody

[2022-11-07 17:09] mgrover1 commented on #242
Merging with #670

[2022-11-07 17:09] #242 closed

[2022-11-07 17:11] mgrover1 commented on #252
Merging with #670

[2022-11-07 17:11] #252 closed

[2022-11-07 17:14] mgrover1 commented on #356
Merging with #670

[2022-11-07 17:15] #356 closed

[2022-11-07 17:16] zssherman commented on #428
gatefilter exists for zhiphi and philinear, still needs top be added to attenuation function

[2022-11-07 17:17] mgrover1 commented on #435
Merging with #670

[2022-11-07 17:17] #435 closed

[2022-11-07 17:18] zssherman commented on #1293
fixed in #1294 can be reopened if need be.

[2022-11-07 17:18] #1293 closed

[2022-11-07 17:20] mgrover1 commented on #681
Merged with #670

[2022-11-07 17:20] #681 closed

[2022-11-07 17:22] mgrover1 commented on #815
Closed by #1272

[2022-11-07 17:22] #815 closed

[2022-11-08 14:49] #1260 closed

[2022-11-08 15:01] ScottGiangrande commented on #125
AFAIK, no. Here is trying to summarize 8+ years in a few paragraphs.

At least at the time of [Reimel et al. 2021](https://journals.ametsoc.org/view/journals/atot/38/3/JTECH-D-20-0060.1.xml), there were still issues with (1) 'when' the methods were applied (aka, if the total phidp along the radial is too low, you should not perform certain calculations and default to Z, ZDR-based ideas more reliab

[2022-11-08 19:29] zssherman commented on #850
Completed in #1319 , closing.

[2022-11-08 19:29] #850 closed

[2022-11-08 19:53] mgrover1 commented on #850
@bdolan44 this is now available in the latest release of Py-ART

[2022-11-08 20:03] zssherman commented on #763
Working on this now

[2022-11-08 20:14] mgrover1 opened #1320 "Add a `ChaseSpectral` colormap"
Based on discussion on Twitter [see discussion here](https://twitter.com/samgardner_4/status/1590040476169621505?s=20&t=UjYMOjuu_0S4MqlrNrYj6Q), it would be great to have a Spectral colormap, with added colors on the high end of spectrum (common when visualizing reflectivity, where higher values indicate colors corresponding to hail)

Example image
![image](https://user-images.githubusercontent.co

[2022-11-08 20:22] dopplerchase commented on #1320
<img width="636" alt="Screen Shot 2022-11-08 at 2 16 04 PM" src="https://user-images.githubusercontent.com/22037322/200667420-bf173046-5fc6-469a-bee6-42787b846001.png">

some initial thoughts out loud

[2022-11-08 20:23] mgrover1 commented on #1320
Good points @dopplerchase

[2022-11-08 20:28] wx4stg commented on #1320
so the way I've been doing this:

https://github.com/wx4stg/hdwx-adrad/blob/a9686fcae87d4e2d2cb12fb941135442cd799841/plotADRAD.py#L49

I think the grey scale is a good idea, the "going back up in lightness" could be done by reversing the pink part...

[2022-11-08 20:34] wx4stg commented on #1320
[code]

This produces the following:
![image](https://user-images.githubusercontent.com/83480577/200669645-1e553428-88c0-40d5-8379-7f7207122476.png)
![image](https://user-images.githubusercontent.com/83480577/200669693-3ecfb82b-9d0a-4cca-af32-556b083ad0f5.png)

[2022-11-08 20:38] mgrover1 commented on #1320
I like this... you have three sections like @dopplerchase mentioned. It's a bit more clear here.

[2022-11-08 20:42] wx4stg commented on #1320
[code]

using 0->1 for the spec_r part makes the lightness match. it makes the break softer but I think this is probably worth the trade-off

![image](https://user-images.githubusercontent.com/83480577/200670653-c92fc740-dbc0-44b4-a0ce-3645158ce8d1.png)

![image](https://user-images.githubusercontent.com/83480577/200670673-2e56dd21-6c31-49d9-abe2-fb0f1406ef04.png)

as for grayscale less than 10 dB

[2022-11-08 20:55] bdolan44 commented on #850
Fantastic! I was just thinking about this functionality again recently. Thanks!

[2022-11-08 20:59] wx4stg commented on #1320
alright, last suggestion, then I'll let the experts talk haha. For the lowfilter colormap...
[code]
![image](https://user-images.githubusercontent.com/83480577/200674041-7bdde765-a003-411e-bc02-9a642c188522.png)
![image](https://user-images.githubusercontent.com/83480577/200674092-caa6121c-1013-459c-bcfa-8ce4683d8700.png)
![image](https://user-images.githubusercontent.com/83480577/200674114-a18571

[2022-11-08 22:41] jthielen commented on #1320
Seeing this in my notifications, I got [nerd sniped](https://xkcd.com/356/) and came up with a spectral colormap based on @dopplerchase's annotations, similar to @wx4stg but with fading to black on the low end and tweaking lightness in CIELab space to be piecewise linear. Here's a sample figure of it:

![image](https://user-images.githubusercontent.com/3460034/200691182-18d21156-51b7-4ffe-8544-000

[2022-11-09 12:04] dopplerchase commented on #1320
@jthielen great work! Can you post the code for this? I think it is time we play around with it and see how it looks on all weather (e.g., tropical cyclone, midlatitude cyclone etc.). It might be the case where we need 2 colormaps, one for the cold season and one for the warm season.

Adding to the discussion:

We should do our best to practice good communication with colors (e.g., https://www.nat

[2022-11-09 14:47] mgrover1 opened #1321 "Seeing this in my notifications, I got [nerd sniped](https://xkcd.com/356/) and came up with a spectral colormap based on @dopplerchase's annotations, similar to @wx4stg but with fading to black on the low end and tweaking lightness in CIELab space to be piecewise linear. Here's a sample figure of it:"
Seeing this in my notifications, I got [nerd sniped](https://xkcd.com/356/) and came up with a spectral colormap based on @dopplerchase's annotations, similar to @wx4stg but with fading to black on the low end and tweaking lightness in CIELab space to be piecewise linear. Here's a sample figure of it:

@jthielen Thank you so much for putting this comparison together! I noticed in that first image

[2022-11-09 14:48] mgrover1 commented on #1320
@jthielen Thank you so much for putting this comparison together! I noticed in that first image that the lowest part of the scale is not showing up... do we need that part?

[2022-11-09 16:09] mgrover1 commented on #904
Closed with #1297 , @allenea this is available with the most recent Py-ART release

[2022-11-09 16:09] #904 closed

[2022-11-09 16:26] jthielen commented on #1320
Sure thing! I cleaned it up a little bit (including making the control parameters very clear), and put it up here: https://nbviewer.org/urls/dl.dropbox.com/s/nvnav3m9x5w8xf1/spectral_reflectivity_cm.ipynb. Note that I have a mode-dependent random image selection for the preview. The choices are (similar to Gallus et al. 2008):

- "BE": bow echo
- "NS": linear with negligble stratiform
- "PS": line

[2022-11-09 17:28] mgrover1 commented on #1320
Great! Thanks @jthielen - is someone interested in moving this over to PR land?  @jthielen @wx4stg @dopplerchase

[2022-11-09 20:04] #428 closed

[2022-11-09 20:30] wx4stg commented on #1320
I would love to but yesterday I realized I have no idea how the colormap formatting in py-ART works... if someone else does it I'll definitely be learning something new haha.

[2022-11-10 01:15] jthielen commented on #1320
PR created here: https://github.com/ARM-DOE/pyart/pull/1325. I switched back to -10 rather than -20 as minimum...subjectively thought it looked better. Also, came up with a related colormap that is simply divergent in lightness (rather than multiple local extrema) while I was fiddling around with parameters, so included that one as well.

[2022-11-10 13:11] gabrielcassol commented on #597
Has this CAPPI product already been added to pyart?

[2022-11-10 15:23] zssherman commented on #597
@gabrielcassol Hello! At the moment, it has not, still on our list for an addition before the next big release.

[2022-11-10 17:56] syedhamidali commented on #597
@gabrielcassol I would suggest having a look at this, https://github.com/syedhamidali/CAPPI-NETCDF/blob/main/simple_cappi.ipynb

You can make the data gridded, then plot it at whatever height you want. Here I have plotted Max-CAPPI in this example.

[2022-11-16 19:19] mgrover1 commented on #1320
Closed with #1325

[2022-11-16 19:19] #1320 closed

[2022-11-16 20:59] #1283 closed

[2022-11-21 15:06] aladinor opened #1328 "wrong gate_size when reading IRIS/Sigmet files (?)"
Hi everyone,

Following up [issue#51](https://github.com/openradar/xradar/issues/51) I tried to read an iris file `xradar` and I got a dimension error because of the bin size. Metadata under `xradar` gives us 300 m (30000cm) in bin size. However, when reading the same file using `pyart` the bin size turns out to be 299.0 m.

After a revision @kmuehlbauer suggested that there might be an issue when

[2022-11-21 15:25] kmuehlbauer commented on #1328
I think the problematic lines are:

https://github.com/ARM-DOE/pyart/blob/679e18650b205d7e2bfb87a503770058eff3786e/pyart/io/sigmet.py#L281-L283

[2022-11-21 16:22] mgrover1 commented on #1328
@kmuehlbauer / @aladinor good catch! Thanks for filing this issue.

[2022-11-22 15:17] mgrover1 commented on #1042
# Py-ART Reference Checklist

Here is a list of modules and associated references that are added or still need to be added

## pyart.retrieve
- [ ] calculate_snr_from_reflectivity

[2022-11-22 15:26] #1249 closed

[2022-11-22 15:31] mgrover1 commented on #998
Hey @joshua-wx - any interest in adding this to Py-ART? Following up here :)

[2022-11-22 15:49] mgrover1 opened #1333 "NEXRAD Non-Reflectivity Values"
Building on the discussion here - https://openradar.discourse.group/t/reflectivity-and-velocity-resolution-from-aws/97

The main question is whether we are parsing NEXRAD Level 2 files with the proper digital resolution.

Reflectivity should be at 8 bit resolution (every 0.5 dBZ), but other fields such as radial velocity and spectrum width should be higher? With differences in values on the order

[2022-11-22 18:52] dopplershift commented on #1333
So different fields within the Level2 data do have different precisions and amounts of bits actually used. That information is in [this ICD](https://www.roc.noaa.gov/wsr88d/WSR88D/PublicDocs/ICDs/2620002V.pdf) (which seems to be 404-ing on their site at the moment):

<img width="1083" alt="image" src="https://user-images.githubusercontent.com/221526/203395696-50a7070f-490d-4da1-9552-83fab92ce1c2.p

[2022-11-22 19:27] mgrover1 commented on #1333
Thanks @dopplershift !! I spent quite a bit of time trying to track down that table...

And since that is the case with the different bit percisions, then Py-ART gets this right too (since we follow the same approach y'all did)

Thanks for the quick response here. I am going to repost this on the Open Radar discourse as well to respond to Brenda's discussion.

[2022-11-23 19:25] #1157 closed, assigned to nobody

[2022-11-24 13:47] tsbiscaro opened #1336 "Error with gamic file having different bin numbers depending on elevation"
I am reading a GAMIC file with 600 gates in the first 5 elevations and 800 in the last 3. This results in an error as below:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/tbiscaro/anaconda3/envs/radar/lib/python3.8/site-packages/pyart/aux_io/gamic_hdf5.py", line 204, in read_gamic
    field_dic['data'] = gfile.moment_data(group, 'float32')
  File "/home/tb

[2022-11-24 18:02] kmuehlbauer commented on #1336
@tsbiscaro You might not get an answer today  🦃 .

So the reader would need to get the max bin number and use this for the creation of the array.

But this only works if the range resolution  is same in all sweeps.

If you only want to have a look at the data you might consider trying out

https://docs.openradarscience.org/projects/xradar/en/latest/

[2022-11-24 20:57] kmuehlbauer commented on #1336
@tsbiscaro You might try the solution proposed in #1337. It's not as geeky as the PR number suggests, though.

[2022-11-24 21:19] tsbiscaro commented on #1336
Thank you! Didn't know about xradar, I will take a look at it.

[2022-11-26 02:03] zssherman commented on #1336
Fixed in #1337, closing

[2022-11-26 02:03] #1336 closed