[2016-01-18 22:26] jjhelmus commented on #448
The following script will print out the reflectivity of the nearest radar gate and the interpolated reflectivity to a given location specified in the script.  I believe this can be adapted for your use @candidobugarin.

[code]

A similar thread on this topic was recently posted to the email list.

[2016-01-18 22:47] candidobugarin commented on #448
Hello! Thanks for the reply , but over time they expected their response I
looked at your list in gmail and found the answer to the problem I had.
Thanks a lot for your help . I am sending him a link for you to see what I
did with the data. I made the DBZ column for each latitude and longitude
for each city in the state of Rio de Janeiro and found the highest rainfall
for each city and shown on a

[2016-01-19 16:28] jjhelmus commented on #448
Glad that you found a solution to your problem.  Your example looks very interesting. I as well as others Py-ART mailing list would be very interesting is seeing how this was accomplished if you are willing to share the code.

I'm going to close this issue as you seem to have solved your initial question.  If you are interested in contributing to Py-ART, I would encourage you to post to the mailin

[2016-01-19 16:28] #448 closed

[2016-01-19 17:00] jjhelmus commented on #451
Closed by PR #453

[2016-01-19 17:00] #451 closed

[2016-01-22 00:06] nguy opened #458 "radar.info output"
I tried to save the output to a text file and received the following error below. Is this an issue because I'm using python 2.x and not 3?

guy:20130520 $ python
Python 2.7.11 |Anaconda 2.1.0 (x86_64)| (default, Dec  6 2015, 18:57:58)
[GCC 4.2.1 (Apple Inc. build 5577)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
Anaconda is brought to you by Continuum Analytic

[2016-01-22 05:52] jjhelmus commented on #458
The out parameter to the `Radar.info` function is a file-like object (anything with a `write` method), probably the best example is a file opened for writing.  So you need to do the following:

[code]

This is a bit more work that providing a file name but provides additional functionality (printing info on multiple radars to a single file, logging, dumping to a gzip file, standard error, etc).

W

[2016-01-22 19:54] nguy commented on #458
Thanks, I misunderstood the useage there. Works for me now.
I'd say any enhancement is really low priority and entirely up to you. If you do decide to change, please let me know so I can test with ARTView.

[2016-01-22 20:14] jjhelmus commented on #458
Good to hear, Python filenames vs file object are confusing, I've been flustered more than once with the difference.

I'm going to hold off adding support for providing a filename to to info method because the same result can be achieved with one additional line if you use a context manager:

[code]

[2016-01-22 20:14] #458 closed

[2016-01-26 17:14] josephhardinee opened #461 "AWR XSACR VPT files plot incorrectly."
Just a heads up, the plot_vpt function exhibits some weird behavior on the AWR XSACR VPT files.
File was in read in with pyart.read, and plotted with display.plot_vpt. This causes only about 35 rays to be plotted, although sweep start index, sweep end index, nrays, and ngates all appear fine. I put the file at
/home/hardin/awr_ingest/awrxsacrvptM1.a1.20160121.084234.nc
on the DMF. It wasn't immedi

[2016-01-26 17:23] jjhelmus commented on #461
There are only 32 rays in that volume where the antenna_transition variable indicates that the radar was not transitioning between sweeps.  If you plot using with `filter_transitions=False` all 700+ rays will be included in the plot.  The default is to filter these transitions.

Should be noted that transition filtering does not work if the `time_axis_flag` is to True.

[2016-01-26 17:27] jjhelmus opened #462 "ENH: Read RAPIC files"
Py-ART could support reading of RAPIC files.

Currently the suggestion is to use [Radx](https://www.ral.ucar.edu/projects/titan/docs/radial_formats/radx.html) to read and convert these files to Cf/Radial NetCDF files which can be read in by Py-ART using `pyart.io.read`.

Sometimes multiple volumes are combined into a single files.  These files can be split using the following:

[code]

[2016-01-26 17:34] josephhardinee commented on #461
Okay thanks, I didn't think to check that. Closing the issue.

[2016-01-26 17:34] #461 closed

[2016-01-28 22:16] jjhelmus commented on #390
Once PR #463 is merged this will be possible using the `get_field` and `get_gate_x_y_z` method of the **Radar** class.  For example to plot a PPI:

[code]

[2016-01-29 18:10] scollis commented on #450
Ping @Rumpkie : How goes it?

[2016-01-29 21:42] Rumpkie commented on #450
It is going well; I have a clean simple version of the plot_grid_three_panel.py.  It has the one grid plot and base map with code comments.  I am working on a brief instructional paragraph now for the documentation.

[2016-01-29 22:34] joshuass commented on #462
Just a note: The rapic format at the BOM is planned to be made redundant sometime in the future and replaced with ohimh5. We now have an excellent in house utility for converting streamed rapic data to odimh5 and all new science projects are using this format. The latest radar monitoring/archive project (rain fields) also uses the odimh5 format.

[2016-01-29 22:38] joshuass commented on #450
Sorry, been away on holidays! Here is an example of the plotting capability I was suggesting...
![rhi_20141211134128_az242_2](https://cloud.githubusercontent.com/assets/16043083/12690058/f854c60e-c734-11e5-9564-e3be0179087a.png)
It's a true RHI from CP2 showing colour shaded Doppler velocity and unfilled contoured reflectivity in 5dBZ steps from 35dBZ. I've produced similar plots for radar PPIs an

[2016-01-29 22:59] scollis commented on #450
Excellent. So not even overlaying from another source.. juts a contour of one moment over a colormesh from another..
Could you share the CP2 file?

[2016-01-29 23:01] scollis commented on #462
@joshuass : Does BoM plan to opensource. We have 10 years of legacy data from Berrimah and other radars.

[2016-02-02 16:22] jjhelmus commented on #418
Connecting the default colormaps and luminosity limits to the plotting function is implemented in PR#464.

[2016-02-02 17:58] #418 closed

[2016-02-02 21:18] jjhelmus commented on #390
With PR #468 merged it is possible to create categorical or non-linear colorbars by specifying the **norm** keyword.  For example:

[code]

![figure_1-1](https://cloud.githubusercontent.com/assets/1050278/12764564/2920b3b4-c9c0-11e5-9c5d-e583e58731f5.png)

[2016-02-03 07:05] gamaanderson commented on #418
Thank you for tackling this @jjhelmus!

[2016-02-03 19:06] nguy commented on #390
This is great! I just implemented something similar in AWOT using a 'discrete_cmap_levels' keyword.

[2016-02-03 20:57] #294 closed

[2016-02-03 20:57] #431 closed

[2016-02-03 21:22] jjhelmus opened #474 "Display method for plotting locations of azimuth angles"
As suggested by @nguy on the Py-ART mailing list a method for plotting a line along a particular azimuthal angle on top of a plot of a PPI would make a good addition to Py-ART.

[2016-02-03 21:31] gamaanderson commented on #474
ideally such a line should not be a strait line, but slightly curved depending on the map projection.

[2016-02-03 21:32] jjhelmus commented on #131
Currently no instrumental parameters are extracted from ODIM files, so the `instrument_parameters` attribute of the returned **Radar** instance is set to `None`.  The 'how' group of the file contains a number of instrument parameters which should be included.

[2016-02-03 21:36] jjhelmus commented on #474
Agreed, although only on maps.  I think the line should be straight when generated with **RadarDisplay**. Would transforming the Cartesian coordinates of the line into Geographic (latitude and longitude) points would results in a curved line.

[2016-02-03 23:46] nguy commented on #474
I think a straigh line is the way to go with **RadarDisplay**. The code in ```pyart.util.xsect.cross_section_ppi``` should do a lot of the work for this, right? The Cartesian and geographic (fed back into the basemap instance) should be able to be used for the line if I'm thinking of this correctly.

[2016-02-04 01:39] joshuass commented on #462
Yes. I spoke to the dev today and he'll put in a request with management to release the conversion utility as open source and host it on github. We should get an answer quite quickly too. I'll let you know!

[2016-02-04 02:00] joshuass commented on #450
Here are a couple of mdv rhi files from CP2 during my field campaign
https://dl.dropboxusercontent.com/u/2037428/pyart_rhi_testing/034142.mdv
https://dl.dropboxusercontent.com/u/2037428/pyart_rhi_testing/034215.mdv

[2016-02-04 04:33] scollis commented on #450
Thanks @joshuass. @Rumpkie Could you please download and try to start reproducing the example @joshuass produced. When you get stuck talk to @jjhelmus

[2016-02-04 15:12] Rumpkie commented on #450
Sounds good @scollis, I will get started on that today.

[2016-02-04 15:36] jjhelmus commented on #474
The `antenna_to_cartesian` function will work for the **RadarDisplay** for plotting on maps the best solution is probably to also transforms these to geographic coordinate, I have to think about this a bit more.

[2016-02-04 15:37] jjhelmus commented on #474
Unless I'm not understanding the use of this function, I don't think `pyart.util.xsect.cross_section_ppi` will be of use here.

[2016-02-04 16:28] nguy commented on #364
Can this be closed, or are there some conversation pieces that need to be kept alive?

[2016-02-04 16:29] nguy commented on #474
Not the function, I was just floating through some of the code. I was also thinking of having the ability to select a line for cross-sectioning, like can be done [here](http://nmq.ou.edu/applications/qvs_3d_tools_main.html) in the future, which is why I was rummaging through that particular code.

Not sure if this would be a Py-ART or ARTview thing though.

[2016-02-04 16:30] nguy commented on #474
I should say the GUI part would obviously be ARTview, but where do we put the code under the hood?

[2016-02-04 16:34] jjhelmus commented on #364
Yes, closing.  If improved VPT plotting is desired a new issue should be opened on that topic.

[2016-02-04 16:34] #364 closed

[2016-02-04 16:47] jjhelmus opened #476 "Methods for finding the indices of nearest gate/point"
Adding methods to the **Radar** and **Grid** class for finding the indices of the nearest gates or grid point to a set of coordinates would be useful.  Accepting coordinate in either Cartesian (x, y, z) or Geographic (Longitude, Latitude, Altitude) would be recommended, with the height coordinate being optional.  Additionally being able to limit the search to a specific sweep or z-level would be g

[2016-02-04 16:47] jjhelmus commented on #474
Scott and I were talking a few days ago about adding methods to the **Radar** and **Grid** class which return the indices for the nearest gate or point to a set of coordinates (either x, y, z or longitude, latitude and altitude).  I think with methods like this, lookup of the data would be quite straightforward.  I opened an issue (#476) for this feature.

[2016-02-04 16:54] jjhelmus commented on #462
Really exciting news @joshuass, will be hoping that this can get release.

In either case it sounds like adding RAPIC support to Py-ART is a low priority.  I want to keep this PR open but I'll tag to indicate that it will not be a development priority

[2016-02-04 17:01] nguy commented on #476
I've been toying with something that is [similar](https://github.com/nguy/AWOT/blob/master/awot/util/matcher.py) where a flight track is matched to for example a ground-based radar. There are a couple of methods developed by @tjlang and George Duffy that I ported and modified. The index retrieval is in the code. There are two nearest neihbor and a KDTree method.

I don't know if these are helpful,

[2016-02-04 18:45] gamaanderson commented on #476
+1 for this. We have implemented something similar in artview and would love to use an pyart version.

Something that we could also use is a version of this in the display class, that take as argument the map coordinates (that is from ax), but i don't know if that make much sense in pyart or if we would use it in artview (we may want to maintain control over this kind of calculation)

[2016-02-04 20:01] jjhelmus commented on #375
Sphinx 1.3.5 is available as a conda package and does not suffer from the original bug that caused the issue with the docs.  Unfortunately the method of styling we are using for the pages is not supported so this will need to be fixed.

[2016-02-04 20:46] swnesbitt opened #478 "depreciation warnings in python 3.5"
Just passing along

[code]

[2016-02-05 00:03] joshuass commented on #462
I can confirm the utility source code will be up on an Australian BOM github account within a week :smile: . I've tested it on 18 years worth of radar data and across a majority of the network with no issues, it's very fast too (written in C++). The only limitation is that it cannot process RHI RAPIC data, but only research radars collect RHIs and this data is available in mdv.

[2016-02-05 00:59] jjhelmus commented on #478
Looks to be an issue with scipy (or rather the vendorized version of decorators which is included in scipy).  This was  addressed in scipy/scipy#5473 and should be fixed in scipy v0.17.0.  Hopefully conda packages for 0.17.0 will be release soon.

[2016-02-05 01:00] jjhelmus commented on #478
Thanks for the report, by-the-way, always good to hear from you @swnesbitt .

[2016-02-05 22:03] #386 closed

[2016-02-05 22:19] jjhelmus commented on #478
Upgrading to SciPy 0.17.0 removed one of the DeprecationWarnings but there is still one being emitted by `from .ball_tree import BallTree`, specifically [line 272 in pyart/map/ball_tree.pyx](https://github.com/ARM-DOE/pyart/blob/master/pyart/map/ball_tree.pyx#L272).

That code is originally from sklearn, and they have a fix which involves a lot of additional baggage.  I'm tempted to remove the ent

[2016-02-08 22:25] jjhelmus commented on #428
Was this closed on purpose?  I do not believe this issue has been fixed.

[2016-02-08 23:45] Rumpkie commented on #450
I'm getting close to @joshuass's example:

![figure_1](https://cloud.githubusercontent.com/assets/11509667/12903183/593cadb2-ce8b-11e5-83ce-41ce198bb1d0.png)

with the contour lines level set to 8 it gets a lot closer to the figure.
![figure_2](https://cloud.githubusercontent.com/assets/11509667/12903195/72ef6f88-ce8b-11e5-8ee3-af004eee7634.png)

Here are the contours over their data.
![figure_ref

[2016-02-09 00:21] joshuass commented on #450
Great work, looks pretty much ready to go! I forgot to mention I used a smoothing filter, but that's something anyone can add on.

[2016-02-09 00:31] scollis commented on #450
Very nice.. We need some labeling or some coloring and a legend for the lines.. Great progress

[2016-02-09 05:38] habipyesilyurt commented on #428
Sorry!

[2016-02-09 16:25] Rumpkie commented on #450
How about this?
![figure_4](https://cloud.githubusercontent.com/assets/11509667/12922470/49efd14a-cf17-11e5-8afa-c80eea7bab2d.png)

[2016-02-09 19:26] Rumpkie commented on #450
Here is what I have if anybody wants to play with it so far.
[code]

[2016-02-10 03:37] joshuass commented on #462
An update from the BOM radar dev, Mark Curtis. Link to the rapic_to_odim converter source on github is below too!

Hi Josh,

Our convenience libraries for working with rapic and ODIM format files (including our rapic to ODIM converter) are now open sourced under the Apache 2.0 license and available on GitHub.  They live at the following location:

[http://github.com/bom-radar](http://github.com/bo

[2016-02-10 03:42] joshuass commented on #450
Looks perfect! I've saved this script for my own future reference but it would be great to include as part of the py-art tutorial. Feel free to include the mdv I provided in the tutorial too.

It'll be a fantastic tool for integrating the analysis of dual pol moments too!

[2016-02-10 17:21] jjhelmus commented on #450
Looking really good @Rumpkie.  Just two suggestions:

* scipy.ndimage is typically imported as ndimage.

* Use the **Radar** methods to retrieve the field data and gate locations rather then slicing the data and worrying about getting start and end correct.  The following will work:

[code]

These methods were recent additions to Py-ART so you may need to update you repository.

* The ylabel could

[2016-02-10 17:52] jjhelmus commented on #462
Awesome, glad to see this available for the community.  Thanks for your work on getting this out @joshuass!

[2016-02-10 20:16] swnesbitt opened #483 "support for cartopy for mapping"
I am increasingly favoring Cartopy as a mapping package over Basemap.  I find it to be much higher performance, has more meteorological community backing, and has lots of built in GIS capabilities, as well as integration with web mapping services like google and NASA.

From an architecture standpoint, I am wondering what the best way to implement this would be.  It would be nice to be able to sele

[2016-02-10 20:29] scollis commented on #483
Completely concur. and yes. I do think having a backend keyword would be the best way to implement this. To start with Matplotlib will be the default but if cartopy becomes more fully featured it can eventually switch. An error should be raised if the requisite package does not exist. ie cartopy will not be a compulsory dependency for Py-ART

[2016-02-10 20:36] jjhelmus commented on #483
:+1: Having support for plotting on maps with Cartopy would be great.

In terms for implementation, if I was going to work on this I would begin by creating a separate class which uses Cartopy for mapping say **RadarMapDisplayCartopy**.  Get that working first and then try to merge the two classes with the backend being an optional argument.  I think this approach would be a bit easier than trying

[2016-02-11 04:21] joshuass opened #484 "ODIMH5 PPI orientiation bug"
Hi,

Just an easy fix bug. The new version of py-ART (1.6) shows PPIs rotated 90 degrees anticlockwise. I had no issues in v1.5 with the same datasets.

[Link to ODIMH5 file](https://www.dropbox.com/s/s7dygcipt5ti15o/201512152330Kurnell.h5?dl=0)

[Link to ipynb file](https://github.com/uq-crg/rapic_to_pyart/blob/master/Kurnell_tor_20151215.ipynb)

Cheers,
J

[2016-02-11 21:46] jjhelmus commented on #484
@joshuass can you elaborate a bit on the bug you are seeing?  When I plot the seventh tilt from the linked ODIM file I get the same results with Py-ART 1.5.0, 1.6.0 and the currently master:

## Py-ART 1.5.0:
![figure_150](https://cloud.githubusercontent.com/assets/1050278/12991800/9487bcf2-d0d6-11e5-8358-465c0dfbe4c8.png)

## Py-ART 1.6.0:
![figure_160](https://cloud.githubusercontent.com/assets/

[2016-02-12 00:50] joshuass commented on #484
Hi @jjhelmus

I've done some more investigation and found the source of this issue

@scollis  ipynb of the event used odim_h5 data generated by an older converter where the dataset#/data#/where/a1gate variable was always set to 0. The data is oriented correctly in this case.
notebook: https://github.com/scollis/notebooks/blob/master/Kurnell.ipynb
old odim file: https://www.dropbox.com/s/i5afnrlbdo

[2016-02-12 01:09] joshuass commented on #484
Found this issue in the py-ART code.
https://github.com/ARM-DOE/pyart/blob/master/pyart/aux_io/odim_h5.py#L218

the a1gate isn't used to orientate the data in odimh5 files according to the specifications, the northward most ray is always the first row.

See section 5.1 of...
http://www.eumetnet.eu/sites/default/files/OPERA2014_O4_ODIM_H5-v2.2.pdf

[2016-02-12 19:43] jjhelmus commented on #484
Agreed.  There are a number of improvements and bugs that need to be fixed in Py-ART's odim h5 reader, #445.  If you want to take a shot at fixing the code up a bit @joshuass feel free. I have it on my to-do list but I can't give a timeline as to when I will get to it.

[2016-02-16 15:28] jjhelmus commented on #375
Removing `Wontfix` label, adding `Defect`.  Sphinx 1.3.5 can be used to build the docs but a new styling of the pages is needed.  Trying out some of the [builtin themes for Sphinx](http://www.sphinx-doc.org/en/stable/theming.html#builtin-themes) would be a good start.  I tried a few but the spacing on the examples page were a bit off and may need some tweaking.

[2016-02-16 19:37] #375 closed

[2016-02-17 20:59] nphoban opened #487 "writing cfradial changes attributes to strings, matlab cannot read this"
I am attempting to read in a cfradial file, dealias the velocities, and output a new cfradial file with the added dealiased velocity field. Along the way, the attributes of the existing data become changed to a "string" format. This string format is not compatible with matlab and I need it to be. The added dealiased velocity field is outputted correctly, but all the other fields are changed. I hav

[2016-02-17 23:20] jjhelmus commented on #487
@nphoban Can you provide a bit more details on this issue?  I can't see from the screenshots posted what variables are changing.

One though is that by default the `pyart.io.write_cfradial` function creates netCDF4 version 4 files which may not be able to be read in Matlab.  If you set the **format** parameter to 'NETCDF3_CLASSIC' then the function will create a netCDF version 3 files.

[2016-02-17 23:32] scollis commented on #487
Is it that it is now writing strings rather than an array of Chars?

[2016-02-18 00:23] joshuass commented on #484
I'll have a go at this small bug @jjhelmus , but I'm afraid my python skills are a little lacking to review the entire ODIM reader. Once I finish my PhD in a few months I'll have plenty of time to perfect these skills and contribute more.

Also, you'll be interested to hear we've started building a complete volumetric archive of Australia radar data in odim for open access to researchers. I've int

[2016-02-18 00:40] Rumpkie commented on #450
@scollis , here is what I have so far.

![figure_6](https://cloud.githubusercontent.com/assets/11509667/13129908/d16abcae-d5a5-11e5-9a0c-2c052db1651b.png)

[2016-02-18 00:53] scollis commented on #450
Very nice.. Question is how do we make the significant contour lines stand out.. @joshuass @josephhardinee @jjhelmus ? There is a nice region of big drops around the core.. And an area of negative ZDR aloft with vertically aligned ice..

[2016-02-18 01:33] Rumpkie commented on #450
I wouldn't, I would leave the contour lines we have(perhaps remove a few steps to simplify it),
Filter the data to isolate large rain drops into a binary grid and add contours from with text labels.
Repeat that process for one that isolates vertically aligned ice.

The question is if matplotlib can handle multiple contour designations.... I think it one of the examples it does, I'll go digging tom

[2016-02-18 07:20] joshuass commented on #450
I've seen bolder contours in larger steps (say 1.5dB in this case). That
might be worth trying. Otherwise it looks amazing. Looking forward to
trying it on Doppler scanning lidar data too.

On 18 February 2016 at 11:33, Cory Weber <notifications@github.com> wrote:

[2016-02-18 15:28] nphoban commented on #487
@jjhelmus Matlab can read netCDF4 and I have also tried writing netCDF3 using 'NETCDF3_CLASSIC' and that did not fix the problem.

In the images, if you look below the float variables you will see the word string is now added in front of most of the variables attributes. It appears the actual data in the variables is fine, but the attributes have changed to a format that matlab cannot read. Except

[2016-02-18 15:37] swnesbitt commented on #450
ahh, NPOL was down during this time period (2142-2321)...

[2016-02-18 15:39] jjhelmus commented on #487
I understand the issue now, thanks for clarifying.  I was looking at the wrong information in the images, sorry about that.  I'm not sure what exactly is causing this but I will look into it and get back when I have an answer.

[2016-02-18 21:21] jjhelmus commented on #487
From the testing I've done, this conversion of text/byte attribute to string attributes seems to be caused by a recent update to the netcdf4-python library.  You may be able to work around this issue by installing an older version of netcdf4 which does not write out string attributes.  Version 1.1.1 should work and can be installed using `conda install netcdf4==1.1.1` if you are using Python.

I'v

[2016-02-18 22:10] jjhelmus commented on #487
xarray seems to be discussing how to deal with the same issue, pydata/xarray#681

[2016-02-18 23:31] Rumpkie commented on #450
I spent a bit more time on cleaning it up... I'm not sure if this is what @scollis had in mind but:

![figure_7](https://cloud.githubusercontent.com/assets/11509667/13161719/315cd998-d665-11e5-9823-f4a22e4369cd.png)

[2016-02-19 02:54] josephhardinee commented on #450
The contours look nice now, but the reflectivity appears fairly washed out.

[2016-02-19 14:30] scollis commented on #450
Agree @Rumpkie .. No Alpha..

[2016-02-19 17:29] josephhardinee commented on #450
Though I will say that the contours are looking quite nice.

[2016-02-20 00:08] Rumpkie commented on #450
@scollis, so without the partial transparency, the lines are much less visually striking, some get lost altogether, the text gets harder to read, and of-course the example looses the valuable code and explanation about how to do the alpha blending.

![figure_18](https://cloud.githubusercontent.com/assets/11509667/13191960/5ef6bc16-d72d-11e5-815e-177e108f18a9.png)

Furthermore, if you look at 75% a

[2016-02-22 14:33] jjhelmus commented on #487
I'm still working with the netcdf4-python developers on a good solution to this issue.  For the time being my suggestion would be to use an older version of the netcdf4-python library if you need to create NetCDF file with Py-ART that can be read in Matlab.

[2016-02-22 14:36] jjhelmus commented on #484
@joshuass I'm excited to head about the creation of an Australian radar archive, would be a great resource for the community.  Let me or Scott know if you need any materials to introduce or show off Py-ART.

I'm traveling this week and may have a some time on the plane or in the evening to improve Py-ART ODIM support.  I'll keep this issue updated with any progress.

[2016-02-22 14:41] nphoban commented on #487
Thank you for your help.

On Mon, Feb 22, 2016 at 9:33 AM, Jonathan J. Helmus <
notifications@github.com> wrote:

[2016-02-23 00:21] joshuass commented on #484
Cheers! It would be great to host a few notebooks of select cases (Scott already has enough written) with some specific documentation for odim files. Not much really. I've given it a start here [link](https://github.com/uq-crg/rapic_to_pyart/wiki/Using-rapic_to_odim) , but happy to move everything onto a DOE page. I'll raise it as a request once the archive is finished.

[2016-02-26 21:49] Rumpkie commented on #366
I'm going to take a stab at this so can you assign #366 to me.
-C

[2016-02-26 21:55] Rumpkie commented on #366
Thanks.

[2016-03-02 00:38] Rumpkie opened #492 "3d visualization of radar data using a GIS viewer."
A useful new feature for rendering radar data onto a map would be to create pyart io output that would be compatible with GIS toolkits like the webgl virtual planet Cesiumjs from http://cesiumjs.org/
Here is a netCDF grid http://cesiumjs.org/demos/GridViz.html example:
![image](https://cloud.githubusercontent.com/assets/11509667/13446809/2de4b2b0-dfdc-11e5-95c1-ed392d50d468.png)

another example…

[2016-03-02 18:25] jjhelmus commented on #492
This would be interesting, although I think would require a decent amount of work.  I know there has been some work to output geo-referenced raster images of radar fields using Py-ART for GIS but I don't think GeoJSON has been suggested before.

[2016-03-04 23:13] Rumpkie commented on #366
@jjhelmus, Did you have notebooks with some of these already created that I could draw from?

[2016-03-04 23:32] jjhelmus commented on #366
I think a few examples can be found in the notebooks from the [2015 AMS](https://github.com/openradar/AMS-Short-Course-on-Open-Source-Radar-Software) and [2015 ARM/ASR meeting](https://github.com/ARM-DOE/notebooks/tree/master/ASR_PI_2015) course materials.  I know that both have examples of the region based dealiasing algorithm.

[2016-03-07 18:30] jjhelmus opened #496 "CyLP and CVXOPT unit tests skipped on Travis CI"
Currently Travis CI is skipping unit tests which depend on cylp or cvxopt, this should be fixed.  For example [this build](https://travis-ci.org/ARM-DOE/pyart/jobs/114306856).

[2016-03-07 19:49] jjhelmus commented on #496
The issue with CyLP and CVXOPT is that both packages have Python extensions that link to liblapack and libblas which depend on libgfortran.  The symbols provided by the conda libgfortran libraries are not sufficient for the lapack and blas libraries installed on the system.  Force removing this package results in the system libgfortran library being used.

A more preferable solution to this would

[2016-03-07 19:55] scollis commented on #496
Sounds reasonable

Jonathan J. Helmus wrote:

[2016-03-07 20:00] #496 closed

[2016-03-10 20:51] jacaicedob opened #499 "Can't read old (2012) NEXRAD files"
I get the following error when I try to read the .gz file:
"ValueError: Gzip file cannot be read compressed, uncompress and try again"

I unzipped the file and got the following error:
"TypeError: Unknown or unsupported file format: UNKNOWN"

The files I am trying to open can be found here:
http://www.ncdc.noaa.gov/nexradinv/bdp-download.jsp?id=KJAX&yyyy=2012&mm=07&dd=17&product=AAL2

Specifically

[2016-03-10 20:54] scollis commented on #499
I thought @jjhelmus fixed this.. You can use http://www.eol.ucar.edu/software/radx to do a convert to CF-Radial for now.. I had to do this for a project based out of Maine as well.
here is my param file
[scollis@blogin1 ~]$ more /homes/scollis/radxconvert_oldnexrad.params
set_output_fields = TRUE;

///////////// output_fields ///////////////////////////
//
// Output field details.
// Set the detai

[2016-03-10 21:15] jacaicedob commented on #499
@scollis I have never used Radx before. What parameters do you pass to RadxConvert?

I tried running it as follows:
./RadxConvert -params radxconvert_oldnexrad.params file_to_convert

and it gives me a lot of ">>> TDRP_WARNING <<< - struct parameter 'output_fields'
" warnings and halts.

[2016-03-10 21:19] scollis commented on #499
Warnings are ok.
here is how I run it:
~/radxbin/bin/RadxConvert -params
/homes/scollis/radxconvert_oldnexrad.params -f
/lcrc/group/earthscience/radar/stage/www1.ncdc.noaa.gov/pub/has/HAS010695119/KGYX200612*

jacaicedob wrote:

[2016-03-10 21:27] jacaicedob commented on #499
@jjhelmus you may be right. I am getting a lot of "File format not recognized:" errors with RadxConvert even on the 40 MB ones.

[2016-03-10 21:59] swnesbitt commented on #499
They are also reported as corrupt on the UNIDATA THREDDS server:

[code]

[2016-03-10 22:19] jacaicedob commented on #499
Thanks to all of you for your input.

[2016-03-10 22:19] #499 closed

[2016-03-12 19:32] candidobugarin opened #500 "Unknown or unsupported file format"
Hello.

I'm trying to open a file from a band C radar But when I try to open the file, python return a message " TypeError : unknown file format or unsupported : UNKNOWN ." you can open the file? the file extension is ".volume".
Thanks

[2016-03-13 15:12] swnesbitt commented on #500
Can you post the file for download?  Which radar is this from?

[2016-03-13 15:17] candidobugarin commented on #500
This is the link to the file.
https://drive.google.com/file/d/0B17oNKCpatJSQmkxOU9JMjRxT00/view
It is a radar Band-C located in Rio de Janeiro

[2016-03-13 18:51] swnesbitt commented on #500
I tried reading it with Radx, RSL, and Py-ART with no luck.  I also tried to read it as a GIS shapefile, but there needs to be other files with it to (i.e., shx).  I would contact the data provider to get some more information. There is some radar information in the binary file (`SWEEP`).

[code]

[2016-03-13 18:56] scollis commented on #500
So is the file off the radar? Where did you get the file from? Who provided it? Without this info we are shooting in the dark

-sent from a mobile device-

[2016-03-13 19:24] jjhelmus commented on #500
@candidobugarin If you can provide additional details on where this file came from we may be able to figure out a method of reading it but it does not look as if Py-ART supports the file format directly..

[2016-03-13 20:15] candidobugarin commented on #500
I also have little information about the file. Who gave me the file was one of the people working with radar. From what I understand , is a radar band C used for televisions in the US. Your software can not convert the volume netcdf or hdf5 . The only way to get the data is through this file or a png image. Tomorrow I can tell the person who gave me the file and get more information for you.

[2016-03-13 22:06] swnesbitt commented on #500
@candidobugarin OK, it would be good to know which radar you are looking at.  The Sumaré radar page on the [WMO radar database](http://wrd.mgm.gov.tr/db/radar-details.aspx?l=en&r=2975) says it was manufactured by ADC.  I tried to google their radar format without any luck, perhaps the radar itself has software to export the data to netCDF?  We would need to know how this binary data is structured

[2016-03-15 16:01] jjhelmus commented on #500
@candidobugarin Any additional information about this file?  Without something to work from I do not think we can guess the format of this file.

[2016-03-16 15:06] jjhelmus commented on #389
I found a [fork of pyglpk](https://github.com/bradfordboyle/pyglpk) which supports newer versions of the GLPK library and in the v0.4-dev branch supports Python 3!  Using this and CyLP with my PR applied I was able to get all the Py-ART unit tests to pass in Python 3.5 on my Linux machine.  I believe the same should be possible on OS X.

The tests emit a few warnings including #478 which I want to

[2016-03-16 15:13] scollis commented on #389
Fantastic!

Jonathan J. Helmus wrote:

[2016-03-16 17:45] jjhelmus opened #503 "Documentation cannot be build with Python 3"
The Py-ART documentation cannot be build with Python 3.  This should be fixed.

[2016-03-16 18:41] #478 closed

[2016-03-17 15:42] jjhelmus opened #505 "Conda packages for various open source radar packages"
This issue is not precisely Py-ART related but I wanted to keep a check list of all the open source weather radar packages that I want to create conda packages for on [conda-forge](https://conda-forge.github.io/).
## Py-ART and dependencies
- [x] Py-ART
- [x] TRMM RSL
- [x] CyLP (and a version which supports Python 3?)
- [x] CBC
- [ ] cvxopt (with GLPK support)
- [ ] GLPK (may need multiple versio

[2016-03-17 17:09] jjhelmus commented on #390
Updated list to indicate that field specific colormaps and luminosity limits were added by PR #464

[2016-03-17 17:22] #503 closed

[2016-03-20 20:54] kirknorth opened #509 "Should corrected radial velocity inherit _FillValue?"
If a `GateFilter` is used in the `dealias_region_based` or `dealias_unwrap_phase` algorithms, the returned field dictionary will (1) not contain `_FillValue` metadata and (2) the `fill_value` of the data array will be set to `np.ma.default_fill_value`. In my opinion the returned field dictionary should inherit this information from the input velocity field.

[2016-03-23 20:56] jjhelmus commented on #500
Since the original poster has not gotten back to us I'm going to close this for the time being.

@candidobugarin If you are still having issue and can provide additional details feel free to re-open this issue.

[2016-03-23 20:56] #500 closed

[2016-03-23 21:12] jjhelmus commented on #509
Agreed, the `_FillValue` entry in the field dictionary and the **MaskedArray** `fill_value` attribute should be inherited from the input velocity field.  I'll put a PR together that fixes this for both algorithms.

I should also warn that trying to keep the dictionary entry and the `fill_value` attribute synced can be very difficult and in Py-ART we have not tried very hard to keep the in sync.  F

[2016-03-23 21:16] jjhelmus commented on #509
Also, in instances where the two properties disagree I would consider the `_FillValue` dictionary entry to be the correct value.

[2016-03-23 21:57] #509 closed

[2016-03-24 20:33] kirknorth commented on #509
@jjhelmus yes I find it somewhat annoying that certain operations (e.g, `np.ma.sqrt`) on a masked array can change its `fill_value` attribute without warning. I would assume this issue has been brought up to the NumPy community, currently there are over 1,000 issues opened on its GitHub repo :stuck_out_tongue_closed_eyes:

[2016-03-24 20:35] scollis commented on #509
Come to SciPy @knorth ! Give a lightning talk and let your voice be heard

Kirk North wrote:

[2016-03-24 20:44] tjlang commented on #505
Let me know if I can help with any of the packages I am responsible for.

FYI, I think CSU_RadarTools is not Windows-compatible because it has a Fortran component to speed up the KDP processing, although there is a slower, non-Fortran branch available on its GitHub.

[2016-03-25 00:27] candidobugarin commented on #500
Hello.

Sorry I am late. They sent me today the radar software manual. The radar in question is the Sumaré Radar, operated by the City of Rio de Janeiro . The link to manual is: https://drive.google.com/file/d/0B17oNKCpatJSTDVIenZMX2ZoZW8/view

Thanks

[2016-03-28 18:08] jjhelmus commented on #500
Unfortunately, Py-ART does not support reading files from ADC DOPRAD radars and I am not familiar with any software which is able to covert these files into a format that Py-ART does support.

[2016-03-29 15:53] jjhelmus commented on #505
@tjlang My focus right now is trying to get the GLPK related packages up but I'll give you a shout when I am ready to package up your packages.  If you could tag a release in each of them that would help a lot as it would give a target to point conda build at.

[2016-03-30 21:55] tjlang commented on #505
@jjhelmus OK, will work on a release tag. Probably won't happen until late April, however.

[2016-04-01 20:31] jjhelmus commented on #509
This has actually been fixed in NumPy 1.11.0

[code]

NumPy 1.11.0
[code]

Old broken behavior in NumPy 1.10.4
[code]

Now I'm sure there are still more issues with fill_value but at least things are improving!

[2016-04-05 22:58] kirknorth opened #515 "Add additional test to KDP processing module"
As discussed in PR #508 it would be a good exercise to test the veracity of `kdp_maesaka` to noisy differential phase profiles in the form of an additional test. @jjhelmus you can assign this issue to me if you would like; I'll submit a PR within the next 5-7 days.

[2016-04-06 15:37] jjhelmus commented on #515
Assigned.  If you plan to use random data to generate noise be sure to seed the random number generator to get reproducible results between runs.

[2016-04-06 15:44] kirknorth commented on #515
:+1:

[2016-04-06 18:02] mvanlierwalq opened #516 "min_radius in grid_mapper.py"
Hi folks, the code where min_radius is used in ROI calculation in grid_mapper right now reads
`        r = (z_factor * (zg - zg_off) +
             xy_factor * np.sqrt((xg - xg_off)**2 + (yg - yg_off)**2) +
             min_radius)`

Should it not read
`r = np.maximum(min_radius, z_factor * (zg - zg_off) +
             xy_factor * np.sqrt((xg - xg_off)**2 + (yg - yg_off)**2) `
?

[2016-04-09 16:16] gamaanderson opened #517 "Map / Topography"
Hello

what is the current approach to adding an user specific map to a plot?
I'm particular interested in adding topography data (assuming the user has that data) similar to the **plot etopo5 topography** in [basemap examples](http://matplotlib.org/basemap/users/examples.html). That kind of map may the helpful in case of big ground clutters or Anomalous propagation.

[2016-04-11 20:44] jjhelmus commented on #517
The **RadarMapDisplay** and **GridMapDisplay** classes both store the last map plotted in the `basemap` attribute.  It should be possible to use this attribute to add additional plot elements or layers.  For example the `plot_line_xy` method of the **RadarMapDisplay** class uses this attribute to add a line to the plot.  I can work up an example if desired.

[2016-04-12 05:43] gamaanderson commented on #517
is the basemap attribute public?

[2016-04-12 12:07] scollis commented on #517
Yep.
Both grid and radar displays make it available at .basemap

-sent from a mobile device-

[2016-04-12 13:09] hhuangmeso commented on #389
@jjhelmus Would you please make a pyglpk/cylp package which could be easily installed on OSX and linux for python 3 on anaconda cloud? That'll help a lot for us to move to python3. Thank you!

[2016-04-12 14:15] jjhelmus commented on #517
Yes, the basemap attribute is in the public API,  It is documented in the User Guide's section on the [**RadarMapDisplay** class](http://arm-doe.github.io/pyart-docs-travis/user_reference/generated/pyart.graph.RadarMapDisplay.html#pyart.graph.RadarMapDisplay)

[2016-04-12 14:35] gamaanderson commented on #517
Ok, I will see if this works for me and close this issue when i'm sure I have no more questions.

[2016-04-12 14:43] hhuangmeso commented on #389
I found cvxopt/cvxopt_glpk packages https://anaconda.org/omnia/cvxopt/https://anaconda.org/mlgill/cvxopt_glpk which seem working well in my OSX. The accuracy of the results is still under test. By the way, linprog has been added to scipy since 0.15, which would benefit the portability of pyart.

[2016-04-12 14:47] scollis commented on #389
Very interesting! Will definitely need to check out linprog

Dr Scott Collis
Purveyor of lofty observations (Atmospheric Scientist)
Environmental Science Division
Argonne National Laboratory
Mb: +1 630 235 8025
Of: +1 630 252 0550
Become a Py-ART user today! http://arm-doe.github.io/pyart/ <http://arm-doe.github.io/pyart/>

[2016-04-12 17:50] kirknorth commented on #515
Since this test turned out to be more difficult to decipher than originally intended (which isn't a bad thing), I'll share my work flow here. I'm basically creating a fake radar with a PSIDP profile that produces constant KDP of 2 deg/km and adding random noise with a defined standard deviation (scale).

[code]

The boundary conditions turned out to be poorly defined using the default settings whe

[2016-04-12 17:57] kirknorth commented on #515
Note that for `Clpf=1.0` and `Clpf=1.0e6', the mean retrieved KDP is 1.98 deg/km and 2.01 deg/km, respectively.

[2016-04-12 18:00] scollis commented on #515
aka an insignificant difference..

Dr Scott Collis
Purveyor of lofty observations (Atmospheric Scientist)
Environmental Science Division
Argonne National Laboratory
Mb: +1 630 235 8025
Of: +1 630 252 0550
Become a Py-ART user today! http://arm-doe.github.io/pyart/ <http://arm-doe.github.io/pyart/>

[2016-04-12 18:19] kirknorth commented on #515
Except when you look at the actual profiles of KDP. The standard deviations are indicative of this: 2.57 deg/km (`Clpf=1.0e0`) versus 0.47 deg/km (`Clpf=1.0e6`).

[2016-04-12 18:20] scollis commented on #515
Ahh.. right.

Then you need better tests of goodness :)

Dr Scott Collis
Purveyor of lofty observations (Atmospheric Scientist)
Environmental Science Division
Argonne National Laboratory
Mb: +1 630 235 8025
Of: +1 630 252 0550
Become a Py-ART user today! http://arm-doe.github.io/pyart/ <http://arm-doe.github.io/pyart/>

[2016-04-12 18:41] kirknorth commented on #515
I'm wondering if my noisy PSIDP profile is realistic. This stems from `make_empty_ppi_radar()` bounding maximum range to 1 km. In my fake radar I have 101 range gates meaning range resolution is very high at 10 m. Are phase jumps of as much as +/- 2 deg realistic within 10 m?

[2016-04-12 21:36] jjhelmus commented on #515
I need to look into what all the parameters are doing in the actual algorithm before I can give an informed opinion.

One easy thing to try repeating the analysis with a reduced amount of noise added to the signal, say standard deviations of 0.3, 0.1, 0.03 and 0.01?  The extreme low end should retrieve the original 4 degrees/km unless something is very wrong.

[2016-04-12 21:38] jjhelmus commented on #516
Good catch, yes the minimum should be an alternative to the calculated ROI but added to the calculation.  I'll submit a fix tomorrow.

[2016-04-13 19:56] #516 closed

[2016-04-13 21:27] jjhelmus commented on #389
I'm been working on this but creating portable packages for pyglpk, cylp and cvxopt with glpk support is turning out to be more of a channel that I had expected.  Part of this is that there is not release of cylp and PyGLPK which supports Python 3 so I need to build against a fork.  The other difficult is that cvxopt and cylp both require linking to BLAS/LAPACK which is a bit difficult to do in co

[2016-04-14 18:40] scollis commented on #483
We discussed this at the NCAR SEA.. Our discussion was prompted by MetPy support for Cartopy and station plots..
One issue is that Cartopy is not yet in the main channel of Conda. While we have some dependencies that are not in conda they are very optional and in direct support to ARM programs (eg CyLP).

I will contact the Cartopy leads and check on their plans and if they intend to get a Conda p

[2016-04-14 18:42] scollis opened #520 "Add gatefilter to LP phase processing method"
Add the use of the gate filter which will override the use of moment/measurement based thresholds.

[2016-04-14 18:45] jjhelmus commented on #483
There are a number of cartopy conda packages on Anaconda.org, including the ones in the [conda-forge](https://anaconda.org/conda-forge/cartopy) channel which are likely the "best".  The concern is that cartopy is not in the default channel nor installed in the anaconda meta-package.  Both of these are managed by Continuum and getting cartopy included in either would have to have a change on their

[2016-04-14 18:48] scollis commented on #483
So,
would a conda install from the jjhelmus channel resolve dependancies outside of the default channel?

the key test is “will this update make Py-ART harder to install?”

Dr Scott Collis
Purveyor of lofty observations (Atmospheric Scientist)
Environmental Science Division
Argonne National Laboratory
Mb: +1 630 235 8025
Of: +1 630 252 0550
Become a Py-ART user today! http://arm-doe.github.io/pyar

[2016-04-14 18:51] jjhelmus commented on #483
`conda install -c jjhelmus pyart` will search the `jjhelmus` channel and the default channels for package resolution (as well as any other channels that are in a user's .condarc file).  Currently it is not possible to specify a specific channel/package combination, rather the dependency resolver chooses the source for each package from the specified channels.

[2016-04-26 07:20] bhick001 opened #525 "Unable to read in hdf5 file"
Hello, Im trying to read in some hdf5 data obtained from the Berlin DWD C-band radar.  Pyart doesn't seem to be able to read in the file, yet both h5py and wradlib can. I have tried gamin_hdf5, and posted the error message below at the end after my code.

If it helps I have shared the data (found below)
https://drive.google.com/file/d/0B_MbpV247W0xQ3BCeWtSTXdJdHc/view?usp=sharing

Thanks for any a

[2016-04-26 08:06] kmuehlbauer commented on #525
@bhick001

You might try the `pyart.aux_io.read_odim_h5` reader. IIRC the DWD-data goes with ODIM_H5 standard.

[2016-04-26 08:08] kmuehlbauer commented on #525
The `gamic` reader doesn't work with this data, because it builds on a slightly different data layout within the hdf5.

[2016-04-26 10:06] bhick001 commented on #525
@kmuehlbauer

Well it was as simple as that. Worked great. thanks

[2016-04-26 10:06] #525 closed

[2016-04-28 01:50] joshuass commented on #450
I've spent some time extending this functionality to PPI plots for my phd. It works very well!
https://github.com/joshuass/notebooks/blob/master/pyart/CP2_20141127_obspaper.ipynb

[2016-05-04 17:23] jjhelmus opened #526 "test_write_ppi_arm_time_vars unit tests depends on locale setting"
The test_write_ppi_arm_time_vars unit test in `test_cfradial.py` depends on the currently locale setting producing the string `May` for the 5th month in 2011.  This condition is not meet for many locales (for example de_DE) and results in the unit test failing.  Only the non-locale depending portions of the base_time.string attribute should be tested.

[2016-05-09 15:42] #526 closed

[2016-05-10 23:46] joshuass opened #530 "grid_from_radars issue with odim data"
Hi pyART team,

The regridding function grid_from_radars is producing a strange spiral pattern for odimh5 files, see the following [notebook](https://github.com/uq-crg/rapic_to_pyart/blob/master/20151126_MtIsa_dust_storm.ipynb))
[odimh5 file](https://www.dropbox.com/s/k3w39pzwbm8hius/201511261318Mnt_Isa.h5?dl=0)

CAPPI image of the scan:
![idr75_20151126_1318_128](https://cloud.githubusercontent.c

[2016-05-11 00:20] joshuass commented on #530
I had a quick attempt at plotting RHIs from the Mt Isa dataset and it looks like the problem may reside in the odimh5 reader (same with #484 and #445). Volume derived RHI scans look very odd, it appears the read has mixed up the azimuth and elevation coordinates of the radar gates!
See the following [notebook](https://github.com/uq-crg/rapic_to_pyart/blob/master/20151126_MtIsa_dust_storm2.ipynb)

[2016-05-11 00:39] jjhelmus commented on #530
@joshuass Could you repost the link to the original notebook and the sample file.  The first seems to be a link to localhost and send second is 404 for me.

[2016-05-11 00:42] jjhelmus commented on #530
PR #524 added support for reading ODIM H5 containing RHIs but it was really a stab in the dark.  I have yet to find a ODIM H5 ELEV file that is close enough to the standards to test against.

[2016-05-11 05:17] joshuass commented on #530
Sorry about that, I've fixed the links. The odimh5 file above contains VOL object.
Great to hear you've added RHI support, I'll test it soon.

[2016-05-11 13:18] jjhelmus commented on #530
Looking at the individual sweeps in the file it looks like each sweep successive sweep is rotated ~45 degree.  Let me dig into this more it a bit to see if the issue is in the file or in how Py-ART is reading it in.

[2016-05-11 15:58] jjhelmus commented on #530
Okay, so in ODIM H5 files when a sweep's azimuth angles are not explicitly given in the `startazA` and `stopazA` attributes then as per section 5.1 of the standards doc (version 2.2) the polar data should be ordered starting at 0 degrees and proceed clockwise.  The **index** of the first ray collected in time is given by the `a1gate` attribute in the dataset's where group.  I had misread the meani

[2016-05-11 17:32] jjhelmus commented on #530
With the fixes in PR #531 the gridding seems to be reasonable.

[code]

![figure1](https://cloud.githubusercontent.com/assets/1050278/15190221/5784060a-1774-11e6-931a-4aef4303509c.png)
![figure2](https://cloud.githubusercontent.com/assets/1050278/15190224/58d1c1be-1774-11e6-9f90-7bf4d138ab68.png)

[2016-05-11 17:37] #530 closed

[2016-05-11 17:39] jjhelmus commented on #530
@joshuass Feel free to re-open this issue if the fix does not work for you.

[2016-05-12 04:04] joshuass commented on #530
Hi Jonathan,

It's working perfectly now. Thanks for the fix!
https://github.com/uq-crg/rapic_to_pyart/blob/master/20151126_MtIsa_dust_storm_nointerp.ipynb

Cheers,
Joshua

On 12 May 2016 at 03:39, Jonathan J. Helmus <notifications@github.com>
wrote:

[2016-05-17 20:09] swnesbitt opened #533 "pyart.io.write_grid depreciated?"
Was doing some gridding today for the first time in awhile - and tried to use `pyart.io.write_grid` and discovered that the output from both `pyart.map.map_gates_to_grid` and `pyart.map.map_to_grid` is simply a dictionary with the field(s) requested and a key named `ROI`.

The `write_grid` function seems to expect more metadata:
[code]

Is this expected?  Was thinking of writing a function that us

[2016-05-17 20:18] jjhelmus commented on #533
Use [`pyart.map.grid_from_radars`](http://arm-doe.github.io/pyart-docs-travis/user_reference/generated/pyart.map.grid_from_radars.html) which returns a Grid instance.  This output can be written to a file using `pyart.io.write_grid`.  `pyart.map.map_gates_to_grid` and `pyart.map.map_to_grid` are lower level functions which really should not be directly used.  They are called by `grid_from_radars`

[2016-05-17 20:31] swnesbitt commented on #533
Ahh, duh.  I see if I call `gridding_algo = map_gates_to_grid` I can use your optimized gridding code.

Thanks!

P.S. Hey @stechma2 - if you add this keyword to the PECAN multi-radar code it will make Angelica much more productive. :)

[2016-05-17 20:32] scollis commented on #533
#winning

Dr Scott Collis
Purveyor of lofty observations (Atmospheric Scientist)
Environmental Science Division
Argonne National Laboratory
Mb: +1 630 235 8025
Of: +1 630 252 0550
Become a Py-ART user today! http://arm-doe.github.io/pyart/ <http://arm-doe.github.io/pyart/>

[2016-05-17 20:36] #533 closed

[2016-05-18 06:18] kmuehlbauer opened #534 "BUG: pyart.aux_io.read_gamic()"
As reported in [pyart-mailinglist](https://groups.google.com/d/msg/pyart-users/BtsRwN3CB-4/deu0mfLHDAAJ) there is some problem with the `read_gamic`-function. It seems, that the reader is trying to get some keys which are not within the files or have slightly other names (az_speed vs. azimuth_speed).

I tried with the provided file:

[code]
and with one of ours:

[code]
@jjhelmus I see two problem

[2016-05-18 06:45] kmuehlbauer commented on #534
Forgot to add, I used latest `arm_pyart` package from `conda-forge` channel on linux.

[2016-05-19 04:03] tjlang commented on #345
I've got a bead on some code that will address the 2D despeckling issue. It uses ndimage.label and accounts for the periodic boundary issue in 360 PPIs, which is easier to solve than you might think. Basically, append a sweep to itself, label objects, relabel the objects along the right edge of the first sweep copy with adjacent values on the left edge, then remove the duplicate sweep. Here is an

[2016-05-19 08:25] kmuehlbauer commented on #534
I've opened a PR here #535 which covers the problem of the naming of `pulse_width` within different gamic flavours.

@jjhelmus Do you think that it is appropriate to do this also for the `az_speed` vs 'azimuth_speed` or do you have any other ideas?

For the BonnXPol gamic files the user would have to give the pulse_width, while reading. Could we utilize the config-file?

[2016-05-19 10:11] kmuehlbauer commented on #534
I found one more difference of the BonnXPol data. The `nyquist_velocity` data is missing from the `scanX/how/extended` group. Or can it be derived from the doppler_moment instead, if this is really needed for the radar object.

There is also some naming issues with the moments. I have `UH` instead of `UZ` and `ZH` instead of `Zh`. Can I add them to the `gamic_field_mapping`?

[2016-05-19 11:21] kmuehlbauer commented on #534
I've added everything to read the file given via mailing list and also  for the BoXPol data. It will need a little cleanup.

[2016-05-19 14:18] jjhelmus commented on #345
Those results look really good @tjlang, I'm excited to see this get added to Py-ART.  Are you planning on supporting RHI scans also?

[2016-05-19 14:28] scollis commented on #345
+1 to @jjhelmus very funny we were just discussing this with respect to mesh gridding in our research group yesterday!

Dr Scott Collis
Purveyor of lofty observations (Atmospheric Scientist)
Environmental Science Division
Argonne National Laboratory
Mb: +1 630 235 8025
Of: +1 630 252 0550
Become a Py-ART user today! http://arm-doe.github.io/pyart/ <http://arm-doe.github.io/pyart/>

[2016-05-19 15:09] gamaanderson commented on #345
@CesarBeneti you may be interested in this. This despeckling looks really good. We will also be working in adding this to [artview](https://github.com/nguy/artview).

[2016-05-19 16:16] CesarBeneti commented on #345
Hi Anderson,
I will have a look on that. Thanks for info.
Regards

Cesar Beneti
Diretor Executivo
SIMEPAR - Sistema Meteorológico do Paraná
Curitiba - PR
Tel: (41) 3320-2002

"Antes de imprimir pense em sua responsabilidade e compromisso com o MEIO
AMBIENTE"

On Thu, May 19, 2016 at 12:09 PM, Anderson <notifications@github.com> wrote:

[2016-05-19 19:54] tjlang commented on #345
Yes, @jjhelmus, RHIs should be supported. The 360 PPI adjustments are only called under certain circumstances. Without those, the 2D labeling is very similar to what you might do naively without any consideration for periodic boundaries, plus it operates on a sweep-by-sweep basis.

[2016-05-20 14:27] jjhelmus commented on #534
I believe the immediate issue has been closed by #535.  Can this be closed or should it remain open to track other gamic issues?

[2016-05-20 15:02] kmuehlbauer commented on #534
I'm settled now. Closing. Thanks!

[2016-05-20 15:30] nguy commented on #345
This is great! @tjlang this looks similar to the RadStats program from back in the day at CSU. A step toward TITAN capabilities @scollis ?

The despeckling would be a great addition for ARTview as well, I know it's been inquired about more than once if we plan to give a SOLO alternative.

[2016-05-20 19:05] stechma2 opened #537 "netCDF4/write_grid bug?"
I am working with a radar meshing script to create composites from multiple radar volumes. This script last worked around May of 2015. With no changes made to the code, the script now fails to work with more than one radar site. The only thing that has changed since then (that I am aware of) is that various packages have been upgraded to their latest versions (i.e., pyart, netcdf4, etc...). The co

[2016-05-20 19:21] scollis commented on #537
Dan,
Just checking that the file you tried to write to has been removed .

-sent from a mobile device-

[2016-05-20 19:53] stechma2 commented on #537
@scollis Thank you for suggesting I check this, but I have for sure been removing the previous netcdf file before each new run.

[2016-05-22 01:29] jjhelmus commented on #537
@stechma2 Py-ART version 1.6.0 changed a few things in the **Grid** class and it turn the layout of how the **Grid** instanced are written to files changed a bit too.  I'm guessing there is still a bug or two lurking  in that code that is causing the issue you are seeing.  I'm about to leave on vacation so will not be able to track this down until I return but I will be sure to include this on the

[2016-05-22 02:08] stechma2 commented on #537
@jjhelmus Thank you in advance for looking into this. I should have tried this before, but I just rolled back to Py-ART version 1.5.0 and the code works as expected now. I will use this version for meshing until you are back from vacation and have had a chance to look into things. Enjoy your vacation!

[2016-05-24 15:45] scollis commented on #345
So, what can we do to help? If you need help documenting etc let us know.. I need some code like this :)

[2016-05-24 15:49] tjlang commented on #345
Give me to the end of this week to put together a PR. I need to look into how best to merge this within the `GateFilter` approach that Py-ART uses.

[2016-05-24 17:54] scollis commented on #345
Perhaps have it return a gatefilter object.. Or if it just creates a field with binary values it is very easy to create a gatefilter from that

[2016-05-24 18:27] nguy commented on #345
I like the idea of *despeckle.py* housing the different despeckling routines and returning a GateFilter object. The trick may be merging the GateFilter object with existing? But this might be done already internally, I don't recall.

[2016-05-25 20:54] tjlang commented on #345
Despeckling addressed by this PR: https://github.com/ARM-DOE/pyart/pull/538

[2016-05-26 16:26] nguy commented on #127
To revisit this topic. Do the [following lines](https://github.com/ARM-DOE/pyart/blob/master/pyart/util/radar_utils.py#L153-157) make sense? It in essence concatenates the azimuth dimension, but not the range dimension. I think this might fail for different location radars, only working for the same radar that uses the same scan strategy.

[2016-05-31 17:46] scollis commented on #537
@Rumpkie is going to have a quick look at it to see if he can fix it before @jjhelmus get back from PyCon

[2016-06-02 15:11] gavi commented on #537
I am able to reproduce the same issue when trying to write a grid with multiple radars. Single radar works fine.

Using pyart 1.7.0

[2016-06-02 15:12] scollis commented on #537
Thanks Gavi.. This helps knowing that it is only an issue for multi-radar.. likely an issue with Metadata.. @rumpkie check this out.. I hope to have time next week and @jjhelmus will be back on board

Dr Scott Collis
Purveyor of lofty observations (Atmospheric Scientist)
Environmental Science Division
Argonne National Laboratory
Mb: +1 630 235 8025
Of: +1 630 252 0550
Become a Py-ART user today! h

[2016-06-03 01:22] gavi commented on #537
Looks like its failing in
`def _create_ncvar(dic, dataset, name, dimensions):
`
in `cfradial.py`
when name is `radar_name` and `dic` looks like

`{'long_name': 'Name of radar used to make the grid', 'data': array(['', ''],
      dtype='|S1')}`

[2016-06-03 02:28] scollis commented on #537
Thanks.. I can fix this

-sent from a mobile device-

[2016-06-03 13:20] scollis commented on #537
Ok! I am narrowing in on this.. Issue seems to be when radar.metadata['instrument_name']['data'] is a zero length string
So when I do a multi-grid of n radar from nexrad you get a zero length n-tuple of names

QUICK FIX for anyone stuck.. say you have three radars
grid.radar_name = {'data': np.array(['a', 'b', 'b'], dtype='|S1'), 'long_name': 'Name of radar used to make the grid'}
pyart.io.write_g

[2016-06-03 17:16] gavi commented on #537
@scollis Thanks! It good for now. Will wait for permanent fix once @jjhelmus is back.

[2016-06-07 19:12] jjhelmus commented on #537
I have a one line fix for this which I will submit shortly.  The root of the issue is that trying to write a (2, ) array into a (2, 0) shaped array will not work.  If logic is added to force the second dimension to be at least one, so the shape of the array is (2, 1) then writing works fine and the empty radar names is retained.

[2016-06-07 19:25] #537 closed

[2016-06-07 19:27] jjhelmus commented on #537
@stechma2 @gavi I believe this issue is fixed by the change made in PR #542.  If you are still having seeing this behavior even with these change feed free to reopen this issue.

Thanks for bringing this to our attention!

[2016-06-07 21:40] jjhelmus commented on #127
I think those lines are reasonable but the subtraction of -9999 from an array of zeros does not guarentee masking of elements outside of the two radars.  Creating a fully masked array initially would likely be a better solution:

[code]

[2016-06-08 03:13] stechma2 commented on #537
Thanks for the fix! Tested it a few hours ago and all seems to be good now. Will reopen if anything seems amiss.

[2016-06-08 03:40] nguy commented on #127
I agree that is more robust.
How about [these lines](https://github.com/ARM-DOE/pyart/blob/master/pyart/util/radar_utils.py#L135-138) that do not concatenate the range. I don't follow the logic behind taking the greater length array?

[2016-06-08 14:20] gavi commented on #537
Thank you. I tested also and seems to be fixed.

[2016-06-08 18:52] jjhelmus commented on #127
Those lines assume that the gate spacing and first gate of each radar are identical (see the comment at the beginning of the function).  Then the range data with the greatest length is the best solution for the combined radar.  If one of the radars has fewer gates than the other then gates beyond that point should be masked in the field data.

CfRadial version 1.4 will introduce a specification fo

[2016-06-09 01:56] joshuass commented on #445
Can confirm RHI and PPI odimh5 files are working fine are working perfectly with the new odim reader. You can close this issue and #484 . Thanks for getting it to this point! :+1:

[2016-06-09 14:46] nguy commented on #127
I see that note now, totally missed it. Yeah, I recall this conversation at the recent NetCDF meeting.
I like the idea in #242 and will post there later after fully reading through. I've run into issues when processing multiple radar files and I need to think about how each method would affect future RadarCollection (yep, still thinking about this) operations.

Do you want to make the changes you

[2016-06-10 03:15] joshuass opened #545 "pyART support for odim AZIM objects (sector PPIs)"
Hi,

Thanks for the huge effort on getting odim PPI and RHI scans to work under pyART. There is just one more thing remaining, sector PPIs.

Here is an example [file](https://www.dropbox.com/s/795unyd66qnnr3t/uq-xpol_sppi_20151104_074159.h5?dl=0). I've done lots more work to make our files compliant to odimh5. I don't think there are any issues now.

Sector PPIs are referred to as AZIM objects the

[2016-06-13 17:35] jjhelmus commented on #445
Thanks for the conformation @joshuass, closing.

[2016-06-13 17:35] #445 closed

[2016-06-13 17:36] #484 closed

[2016-06-13 18:13] jjhelmus commented on #545
Support for AZIM objects was a minor change so I went ahead and added it.  Really basic example

[code]
![figure_1](https://cloud.githubusercontent.com/assets/1050278/16018125/a1a1408c-3168-11e6-98e6-1eb7844cf295.png)

[2016-06-13 18:17] scollis commented on #545
Fantastic work @jjhelmus and thanks for the data and help @joshuass

[2016-06-13 18:28] #545 closed

[2016-06-13 23:07] joshuass commented on #545
Brilliant, thanks @jjhelmus . It's great to have full support for odim now :tada: I can get to work on writing some pyART tutorials for a third year meteorology course at UQ next semester :book:

[2016-06-16 16:12] jjhelmus commented on #127
I started a [branch](https://github.com/jjhelmus/pyart/tree/sweep_class) to implement some of the ideas in #242.  Still a work in progress and will likely be rebased before merging but if you are interested you can check it out.

I would prefer to wait until CfRadial 1.4 comes out with the option two dimensional range variable before making updates to the `join_radar` function.  Once that option i

[2016-06-22 19:46] gamaanderson commented on #517
It worked, I'm closing this issue.

[2016-06-22 19:46] #517 closed

[2016-06-23 16:27] jjhelmus commented on #127
Jordi Figueras i Ventura sent me some update for the `join_radar` function which I modified and included in PR #547.  This also implements some of the changes mentioned in this issue, although addition work will likely still be needed.

[2016-06-30 19:03] jjhelmus opened #550 "Cannot read UF files where number of fields changes between rays"
When the number (or order) of the fields changes between rays in a UF files, Py-ART cannot read these files correctly as the `get_field_data` method of the **UFFile** class assumes that the number of order of the fields is identical between all rays, see [lines 184-189 in the uffile.py modules] (https://github.com/ARM-DOE/pyart/blob/master/pyart/io/uffile.py#L184-L189).

Thanks to Dustin Conrad fo

[2016-06-30 19:50] jjhelmus opened #551 "Support for NEXRAD Level 3 product 176, Digital Instantaneous Precipitation Rate (DPR)"
Py-ART cannot read NEXRAD Level 3 Digital Instantaneous Precipitation Rate (DPR) files (product 176).  They are stored as the `Generic Radial Product Format` which is not supported by the nexrad_level3.py module.

This product stores data in Generic Data Package packets (packet code 28) which is defined in Figure 3-15c on page 3-132 of "INTERFACE CONTROL DOCUMENT FOR THE RPG TO CLASS 1 USER" RPG B

[2016-06-30 20:06] dopplershift commented on #551
There was some weirdness in the ICD too--MetPy has a working implementation: https://github.com/metpy/MetPy/blob/master/metpy/io/nexrad.py#L2082

[2016-06-30 20:10] jjhelmus commented on #551
@dopplershift Funny I was just look at that code :smile:

[2016-06-30 20:11] dopplershift commented on #551
Let me know if you find any issues with it--bugs, docs, whatnot.

[2016-06-30 20:13] jjhelmus commented on #551
Adding support for the product is now a high priority but when I get to it I let me know if I find anything.

[2016-07-02 16:24] jzbontar opened #552 ""unknown compression record" for some NEXRAD files"
Hi,

I'm getting "unknown compression record" errors when reading some NEXRAD level 2 archive files, for example [KDIX19960521_185016.gz](https://noaa-nexrad-level2.s3.amazonaws.com/1996/05/21/KDIX/KDIX19960521_185016.gz). Here is the code to reproduce the bug:

    import pyart
    radar = pyart.io.read('KDIX19960521_185016.gz')

I have traced the problem down to the elif statement in [io/nexrad_

[2016-07-05 19:03] jjhelmus commented on #552
@jzbontar Thanks for reporting this.  From some research I've done it looks like the 12-byte `compression_header` that Py-ART reads from NEXRAD level 2 files used to hold the Channel Terminal Manager (CTM).  This is typically zeroed out in newer NEXRAD files but older files may still contain CTM data.  You fix is exactly what we need, I'll

Why `b'\t\x80'`?
Some digging suggests that the CTM conta

[2016-07-05 19:59] #552 closed

[2016-07-26 17:32] jjhelmus opened #556 "cylindrical equidistant projection not support by MapDisplay classes"
The basemap package cannot perform [Geographic (lon/lat) to Map Projection (x/y) coordinate transformations](http://matplotlib.org/basemap/api/basemap_api.html#mpl_toolkits.basemap.Basemap) on cylindrical equidistant projections.  Therefore this projection cannot be used to plot radar moments on a map.  An error should be added to the **MapDisplay** classes warning users when this projection is us

[2016-07-26 23:19] chudlerk opened #557 "Displaying radar data with Basemap arcgis background"
I am attempting to display radar data over shaded relief imagery created by the arcgisimage function within Basemap, as demonstrated [here](http://basemaptutorial.readthedocs.io/en/latest/backgrounds.html)

I tried first creating the Basemap, then created a RadarMapDisplay object and set the basemap to the one I just created, but this just leaves me with a blank white background.

`m = Basemap(llc

[2016-07-28 14:22] jjhelmus commented on #557
The line `m = Basemap(llcrnrlon=119.46,llcrnrlat=21.62,urcrnrlon=121.406,urcrnrlat=23.43, projection='merc', resolution = 'i', epsg=4269)` creates a cylindrical equidistant projection.  Unfortunately the basemap package does not provide a method for performing geographic to map projection coordinate transforms for these projections.  Py-ART needs to perform this transforms to be able to plot radar

[2016-07-28 14:22] jjhelmus commented on #557
Closing as this is a repeat of #556

[2016-07-28 20:51] chudlerk commented on #557
It doesn't appear to work even after changing the map projection...

[2016-07-28 21:22] jjhelmus commented on #557
What projections have you tried?  Any projections where the projection attribute is `cyl` will likely not work.  You can check this by adding `print(m.projection)` after the basemap is created.

[2016-07-29 22:42] chudlerk commented on #557
As it turns out, when using the epsg code required for using arcgisimage(), it is that code that defines the projection, not the "projection" argument passed in when creating the Basemap.

Having said that, even after figuring that out, I am still running into problems.

I create the map with
`m = Basemap(llcrnrlon=119.46,llcrnrlat=21.62,urcrnrlon=121.406,urcrnrlat=23.43, resolution = 'i', epsg=38

[2016-08-01 19:24] jjhelmus commented on #557
@chudlerk Try adding the **Basemap** instance to the `plot_ppi_map` method as the basemap argument:

[code]

If that argument is not provided a new map is created.

[2016-08-02 18:09] chudlerk commented on #557
That did the trick. Working as expected now, thanks.

[2016-08-02 18:45] chudlerk commented on #557
Sorry to get off the original topic of the thread, but a quick follow-up question:

I want to cycle through several radar scans, just by plotting one after the other in the same figure, clearing the figure each time. Because creating the shaded relief image takes some time, ideally I would just be able to clear the radar display and replot it at my next time, without getting rid of the basemap bac

[2016-08-03 18:28] #556 closed

[2016-08-03 18:35] jjhelmus commented on #557
Good to hear that the suggestion fixed your issue.

You can clear a plot, or technically the axes, of the last sweep plotted by removing the last item from the axes's `collections` attribute.  For example

[code]

This does not seem to work if you use `plt.show()` to pop up a interactive window. I'm not familiar enough with those aspects of matplotlib to know why.

[2016-08-03 18:35] #557 closed

[2016-08-08 19:50] nguy opened #564 "Airborne plotting broken"
I just realized that the ```AirborneRadarDisplay.plot_sweep_grid``` was inadvertently broken when a combination of things occurred.
First, AirborneRadarDisplay was made a subclass of RadarDisplay, thus some methods are superseded.

Second, LazyLoad _get_x_y_z calculates Cartesian space based upon ```pyart.core.transforms.antenna_vectors_to_cartesian```. For a tail radar such as the NOAA P-3 (for w

[2016-08-08 20:57] jjhelmus commented on #564
@nguy The **AirborneRadarDisplay** is overriding the parent **RadarDisplay** class' `_get_x_y_z` method which performs the necessary logic to prepare and calculate the locations of the gates using ` antenna_to_cartesian` or `antenna_to_cartesian_track_relative`.  From my reading of the file the `get_gate_x_y_z` method of the **Radar** class should never be called.  Are you seeing different behavio

[2016-08-08 21:16] nguy commented on #564
So from within  **AirborneRadarDisplay*** ```_get_x_z``` is actually called now, so I guess that this would then rely upon the **RadarDisplay** class method? Maybe it's as simple as just modifying the call to correct method.

But I wasn't sure if you wanted a non-standard method call like this within a subclass?

[2016-08-08 21:28] jjhelmus commented on #564
`_get_x_z` calls `_get_x_y_z` and discards y.  This should be calling the AirBorneRadarDisplay's `_get_x_y_z` which is what should be overridden and seem to be.  Can you share an example of this not working so I have something more concrete to explore this with?

[2016-08-08 21:38] nguy commented on #564
Well I just put a print statement in each ```_get_x_y_z``` in both **RadarDisplay** and **AirborneRadarDisplay** to see which is used and the **RadarDispaly** is called. So the override appears to not be working.

[2016-08-08 21:39] nguy commented on #564
By the way I'm using ARTview for browsing some data, I can share a file if you need, but I think the test file should act the same.

[2016-08-08 21:39] jjhelmus commented on #564
What test file are you using?

[2016-08-08 21:41] nguy commented on #564
A Sigmet file from the Calwater experiment. I just looked, apparently there are no test files in Py-ART package. I thought we include one a while back.

[2016-08-08 21:48] jjhelmus commented on #564
Using a P3 Sigmet file you send a while ago with the currently master I see that the `_get_x_y_z` method of **AirborneRadarDisplay** is called and not the method of **RadarDisplay** in the following script:

[code]

[2016-08-08 21:48] nguy commented on #564
Shoot, scratch that due to my feeble brain. Careful with copy and paste. It IS calling the correct method. I need to look at this further, something isn't quite in the output plot.

[2016-08-08 21:49] nguy commented on #564
You are right, sorry. I'm going to close this until I find the real issue here. Sorry for the waste of time.

[2016-08-08 21:49] #564 closed

[2016-08-08 21:50] jjhelmus commented on #564
Don't worry about it.

[2016-08-09 15:57] rrniii opened #566 "Reading a file file gridded from Radx"
I have used radx to grid some cfradial files. I would now like to read them in with grid_io.

I had a go at adding a few things into translate between the variable names of the two file types and was successful at a gradx gridded file in but I am still unable to plot the data using display.plot_grid.

I believe the issues is in the setting up of the origin_\* variables and projection dict as the c

[2016-08-09 23:12] nguy commented on #566
@rrniii I'm not super familiar with the Grid side, but from the error message and looking at the [reference manual](http://arm-doe.github.io/pyart/dev/user_reference/index.html) I think you need to create a basemap instance and add it to the **GridMapDisplay** after you create it. The following added to your example code creates a basemap, but I still don't get any output on the plot.

[code]

[2016-08-10 15:58] rrniii commented on #566
Thanks @nguy.  Your suggestion bumped me into the correct direction. I now have a solution that works.  It all came to making my own projParams dictionary from the info in the radx file and getting the correct units.  To plot, I still have to set up a basemap (i.e., it does not plot in one step like a grid made with pyart's internal functions. I think this possibly is due to arrays versus lists ve

[2016-08-10 16:09] nguy commented on #566
Glad it's working @rrniii !

@jjhelmus Is it feasible to provide either a conversion utility for RadX to Py-ART? Or does this exist, the documentation for the radx portion isn't very clear. A related thing I am encountering is to figure out a way to pipe Sigmet files through Radx to apply geolocation corrections for mobile platforms. I can do this in a separate step, and this may be the way to go,

[2016-08-10 16:31] nguy commented on #566
@rrniii I just looked at the examples you provided. How general is the radx_grid routine you used? You might consider submitting this as a pull request so that it becomes part of the base code.

[2016-08-11 16:59] jjhelmus commented on #566
@rrniii Really nice work!  It looks like Py-ART should be capable of reading in grid files created with RadX.  I tracked down an issue in Py-ART's coordinate transform code, #568, which I think was causing the issue with plotting these grids without providing explicit basemap parameters.  With that fix and a few modification to the code you provided, plotting RadX grids using Py-ART can now be don

[2016-08-11 17:04] jjhelmus commented on #566
This is the first for supporting Radx grid files in Py-ART.  Radar files written by Radx should be CfRadial compliant and can be read with `pyart.io.read_cfradial`.  In addition, the [pyart.aux_io.read_radx](http://arm-doe.github.io/pyart-docs-travis/user_reference/generated/pyart.aux_io.read_radx.html) function can be used to pipe Sigmet/Dorade/etc files through Radx and read the result without n

[2016-08-11 22:03] nguy commented on #566
I'll look at how the input command is structured and the possibility of extending the input if needed. Thanks @jjhelmus

[2016-08-12 05:10] godofyoga commented on #109
How can i  get radar system z_offset and phase offset?

[2016-08-12 06:15] josephhardinee commented on #109
Yogesh, you should move this to it's own issue.

[2016-08-12 08:00] godofyoga commented on #109
Thank you

[2016-08-15 17:00] jjhelmus opened #571 "FourDD algorithm segmentation faults with >999 sounding heights"
Preparing the sounding parameter for FourDD dealiasing will cause a segmentation fault when > 999 heights are provided.  This limitation is mentioned in the documentation of the [`dealias_fourdd` function](http://arm-doe.github.io/pyart-docs-travis/user_reference/generated/pyart.correct.dealias_fourdd.html) but it would be better if a this behavior raised an error with a more expressive message.

[2016-08-16 09:36] godofyoga opened #573 "Attenuation correction ZPHI"
I am trying  to plot Attenuation correction plot for X-Band radar data using Z-PHI method .In radar data file  having following fields.
corrected_reflectivity_horizontal = DBZH
reflectivity_horizontal' = UH
norm_coherent_power' = NCPH
copol_coeff' = RHOHV
proc_dp_phase_shift' = PHIDP

import pyart
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np

filename = '/home/yogesh

[2016-08-16 10:22] hhuangmeso commented on #573
Coefficients can be calculated from  T-Matrix simulation using DSD of your region. The bias of reflectivity and system phase is a calibration issue. Briefly, the  system phase  can be detected using vertical pointing scans or following the method similar as used in the function [kdp_maesaka](https://github.com/ARM-DOE/pyart/blob/master/pyart/retrieve/kdp_proc.py). Reflectivity can be calibrated us

[2016-08-17 14:41] #571 closed

[2016-08-17 14:46] jjhelmus commented on #487
I believe this issue has been address in changes to netcdf4-python in the linked issue, closing.

If you are still running into this issue @nphoban or anyone else feel re-open this issue.

[2016-08-17 14:46] #487 closed

[2016-08-17 16:13] scollis commented on #573
@godofyoga : This is not an issue with Py-ART. I think you asked a similar question in the email list.. The Z_offset is intended to be calculated using a disdrometer or nearby radar and is used for offset removal. The offset in dBZ is simply added to the reflectivity before calculations are carried out.. Closing this issue

[2016-08-17 16:13] #573 closed

[2016-08-22 21:25] #240 closed

[2016-08-23 00:49] scollis opened #581 "issue plotting file read from GAMIC HDF5 due to byte instead of string in field unit"
File is a test file from the X-SAPR2 in the Azores
stability-ppi_XSAPR2_20160610160808_00.h5

`my_display = pyart.graph.RadarMapDisplay(ena_radar)
my_display.plot_ppi_map('reflectivity')`
results in
`/Users/scollis/anaconda/envs/pyart35/lib/python3.5/site-packages/pyart/graph/common.py in generate_colorbar_label(standard_name, units)
    115 def generate_colorbar_label(standard_name, units):
    1

[2016-08-23 14:30] jjhelmus commented on #581
Looks like the variable used to populate this entry is not decoded from the byte-string provided by h5py.  Will submit a fix shortly.

[2016-08-23 14:47] #581 closed

[2016-08-25 07:55] jfigui commented on #356
Be aware that in some cases the number of pulses used to compute the spectra may vary slighly from ray to ray (such as if you just collect all the pulses received within a given azimuth span).
Also, if you have multiple PRF the Doppler velocity span will vary.

[2016-08-25 08:47] hhuangmeso commented on #356
@scollis Actually, cfradial v2.0 draft considers the IQ/spectrum data. See this [cfradial 2.0](https://github.com/NCAR/CfRadial/blob/master/docs/CfRadialDoc.v2.0.draft.pdf)

[2016-08-25 14:18] scollis commented on #356
Yep @hhuangmeso in fact the spectra definition may be backported to 1.4. 2.0 uses netCDF groups which we need to think carefully before supporting.

I'll be working with some doppler spectrum as part of some ARM work I am doing in the next few months so this will allow me to think a little more on a data model. It will be heavily based on CF-Radial.. But we also want it to interact well with Pytho

[2016-08-25 14:54] josephhardinee commented on #356
We have already placed a spectra definition into cf radial 1.4 . As Scott mentioned, we will probably hold off on moving to cf radial 2 for at least a few years.

Sent from my iPhone

[2016-08-26 01:07] hhuangmeso commented on #356
Since, the IQ/spectrum data are large, which make it necessary to consider the compression/scaling carefully. I've already implemented the basic part to convert the IQ to the radar variables. While, it's mostly an engineering issue. Some details like clutter detection/elimination are not easy for me. If necessary, I can contribute to this work.

[2016-08-29 15:24] jacaicedob opened #584 "Support for NEXRAD Level 3, p135, Enhanced Echo Tops"
I have been trying to load NEXRAD Level 3 data for enhanced echo tops (product 135) with no luck. I get an error saying that product 0 is not supported (for some reason it is finding the wrong product code from the file). I have loaded the data on the NOAA WCT software and it does recognize it as product 135, which should be supported according to the read_nexrad_level3() source code.

You can acc

[2016-08-29 16:14] jjhelmus commented on #584
@jacaicedob I'm not able to reproduce the " product 0 is not supported " error you mentioned with Py-ART 1.6 or the latest GitHub version. Can you describe your setup and Py-ART install as well as the exact steps you used?  The output of `python -c "import pyart; pyart._debug_info()"` would be a a great help.

I did run into an issue when I tried to read in the field data using `pyart.io.read(file

[2016-08-29 16:17] jjhelmus commented on #584
TypeError bug has been fixed in #585

[2016-08-29 16:23] jacaicedob commented on #584
This is the error I get: "NotImplementedError: Level3 product with code 1 is not supported"

And this is the output of pyart._debug_info():

Py-ART version: 1.6.0

---- Dependencies ----
Python version: 3.5.1
NumPy version: 1.10.4
SciPy version: 0.17.0
matplotlib version: 1.5.1
netCDF4 version: 1.2.2

---- Optional dependencies ----
TRMM RSL version: MISSING
CyLP: MISSING
PyGLPK version: MISSING
C

[2016-08-29 16:24] jacaicedob commented on #584
I use anaconda, how can I apply the fix?

[2016-08-29 16:54] jjhelmus commented on #584
@jacaicedob What operating system are you running?  What line of code are you using exactly which gives this error?

[2016-08-29 17:09] jacaicedob commented on #584
@jjhelmus I am using Linux Mint 17.3. Here is the full error message.
[code]

[2016-08-29 17:14] jjhelmus commented on #584
And this when you try to read the KJAX_SDUS72_EETJAX_201508272205 file?  Can you verify that the file is not corrupt?  The md5 I have for the file is 92f5b7ef8bd99f0b94d122938cb06103.

[2016-08-29 17:30] jacaicedob commented on #584
@jjhelmus Yes, it is that same file. I just downloaded it again, opened it up in NOAA WCT, but got the same error with pyart. The md5 I got for the file is 578ede007787b18f14df0acd6f7a40ee.

[2016-08-29 17:42] scollis commented on #584
Question:
As an echo top product don’t we expect this to be in x/y/z coords? Are we reading in a grid product or a radar object product?

Dr Scott Collis
Purveyor of lofty observations (Atmospheric Scientist)
Environmental Science Division
Argonne National Laboratory
Mb: +1 630 235 8025
Of: +1 630 252 0550
Become a Py-ART user today! http://arm-doe.github.io/pyart/ <http://arm-doe.github.io/pyart/

[2016-08-29 17:56] jjhelmus commented on #584
@jacaicedob Where are you sourcing this file from, the NOAA/NCDC HAS server you mentioned or another source.  The HAS server removed any leading padding and should work (partially) with Py-ART 1.6.0.  Other source may include some leading padding which will require a newer version of Py-ART which includes the fix in #540 or a work around.

You should be able to tell the difference with the command

[2016-08-29 18:02] jacaicedob commented on #584
@jjhelmus I do have an unpadded file. I will try it again once #585 is merged and if I have issues, I'll open another thread. Thanks!

[2016-08-29 18:05] jjhelmus commented on #584
@jacaicedob Sounds good. I just merged #585 so you if you clone the repository and build from source you should get this change.  I'm not certain if this will fix your issue but it is worth a try.

[2016-08-29 20:07] jacaicedob commented on #584
@jjhelmus I installed the latest version from source and was able to read in and plot the data!

For future reference if anyone else finds this thread, the Echo Tops data is in units of kilofeet so I had to convert to km. See below:

[code]

[2016-08-29 20:07] #584 closed

[2016-08-29 20:51] jjhelmus commented on #584
@jacaicedob Great to hear!  I completely missed that the units of the field were kilofeet (what an odd choice of units) thanks for pointing it out.

[2016-08-30 16:52] dopplershift commented on #584
8-bit data going up to 70000ft. Lots of decisions based in 90s era computing.

[2016-09-06 15:47] jjhelmus opened #587 "Document range of elevation and azimuth angles"
As discussed in #555, documentation should be added to the **Radar** class indicating that azimuth angles should be expressed in the range of [0, 360] and elevation angles should preferably be expressed in [-180, 180] but not forbiddin other representations.

[2016-09-09 20:37] jsignell commented on #483
Is this still in the works? I would be happy to take a look at it if other people aren't. @scollis in terms of "will this make it harder to install" maybe it could be that Basemap and Cartopy are just two different options for mapping. So if Cartopy isn't installed the mapping could just fall back to Basemap.

[2016-09-12 13:26] jjhelmus commented on #483
@jsignell This feature been proposed but as far as I know no-one has stepped up to champion the implementation.  A few weeks back I wrote a quick proof of concept Cartopy based **RadarMapDisplayCartopy** class with the idea that it could be a replacement for the basemap based **RadarMapDisplay**.  This lives in the [cartopy_plot branch](https://github.com/jjhelmus/pyart/commits/cartopy_plot) in my

[2016-09-13 04:25] vlouf opened #589 "Problem while reading lassen/rapic files: '_RSL_AVAILABLE' is not defined"
When I try to read a lassen file with pyart I have this error:
`pyart.io.read(inpath + fd)`
NameError: name '_RSL_AVAILABLE' is not defined

TRMM RSL library is installed and linked (through conda-forge). `pyart.io.read(inpath + fd, use_rsl=True)` does not work either. However `pyart.io.read_rsl(inpath + fd)` works perfectly.

`python -c "import pyart; pyart._debug_info()"`

miniconda3/lib/python3

[2016-09-13 14:48] jjhelmus commented on #589
@vlouf Thanks for reporting this.  Looks like the `_RSL_AVAILABLE` variable was mistakenly removed from the `auto_read` module in PR #411, specifically ab839d.  Will have a fix up shortly.

Until then the work around of using the `pyart.io.read_rsl` is your best bet.

[2016-09-13 15:11] #589 closed

[2016-09-14 08:26] meteoswiss-mdr opened #591 "Documentation error in function pyart.map.grid_mapper.grid_from_radars"
Grid limits should be described as:

grid_limits : 3-tuple of 2-tuples
Minimum and maximum grid location (inclusive) in meters for the z, y, x coordinates

the order of y and x should be inversed

[2016-09-14 08:28] meteoswiss-mdr opened #592 "Documenation error in pyart.core.radar.Radar"
ngates (int)  is described as:
 Number of gates (bins) in the volume.

Should be:
Number of gates(bins) in a ray

[2016-09-14 18:09] jjhelmus commented on #591
Good catch @meteoswiss-mdr, fix will be out shortly.

[2016-09-14 18:09] jjhelmus commented on #592
Good catch, fix will be out shortly.

[2016-09-14 18:19] #591 closed

[2016-09-14 18:19] #592 closed

[2016-09-14 22:28] scollis commented on #450
I think we are done with this particular enhancement.. Closing

[2016-09-14 22:28] #450 closed

[2016-09-19 06:06] meteoswiss-mdr opened #597 "Constant Altitude Plan Position Indicator (CAPPI)"
It would be convenient to create a griddisplay class in line with the radardisplay class to be able to plot CAPPIs in km units.

In addition it may be convenient to be able to plot gridmapdisplay and radarmapdisplay in km units.

[2016-09-19 15:12] jjhelmus commented on #597
@meteoswiss-mdr I agree completely with the recommendation. Thanks for submitting this.  Adding labels.

[2016-09-26 14:38] jsignell commented on #483
@jjhelmus I am taking a look at it this week. I'll let you know how it goes.

[2016-09-26 20:24] jsignell commented on #483
@jjhelmus I made some progress with the cartopy implementation. I was trying to replicate the test figure from RadarMapDisplay.plot_ppi which looks like this:

![figure_radarmapdisplay_ppi](https://cloud.githubusercontent.com/assets/4806877/18850344/1fabddfe-8405-11e6-81c4-58825d4d282a.png)

This is the Cartopy version:
![figure_radarmapdisplay_ppi_cartopy](https://cloud.githubusercontent.com/asse

[2016-09-29 15:04] scollis opened #599 "Add ARM funding acknowledgement to import script"
Since Py-ART receives development funding from DoE ARM we need to add an ARM funding acknowledgement to https://github.com/ARM-DOE/pyart/blob/master/pyart/__init__.py#L24

[2016-10-06 14:21] jjhelmus commented on #566
@rrniii Wanted to check on this issue.  I wrote up a function which can read in NetCDF grid files from RadX based on your code.  If you approve I will add it to Py-ART.

[2016-10-06 15:02] mrugna opened #600 "Reading Argentinian H5 files and saving in CfRadial"
Hi everyone,

this is not an actual issue of PyART but an enhancement proposal separated in two parts:

I updated the sinarame_h5 reader to match the odim_h5 reader. It's mostly the same but there are some 'unique' features from the h5 files. I will soon submit a PR with this stuff.

The second thing is something @swnesbitt tried to pull in #480. Writing cfradial from the h5 files is something I f

[2016-10-07 19:36] srbrodzik opened #601 "Trouble converting Rainbow files to Cfradial"
I'm unsuccessfully trying to read some Rainbow format radar data into a radar structure (so that I can output cfradial files).

In [1]: import pyart

## You are using the Python ARM Radar Toolkit (Py-ART), an open source
## library for working with weather radar data.
##
## If you use this software to prepare a publication, please cite:
##
##     JJ Helmus and SM Collis, JORS 2016, doi: 10.5334/jo

[2016-10-12 15:54] jjhelmus commented on #601
The issue here is that the *dtype* parameter was not added the NumPy's `linspace` function [until version 1.9.0](https://docs.scipy.org/doc/numpy/release.html#dtype-parameter-added-to-np-linspace-and-np-logspace).  Upgrading to a newer version of NumPy should fix the issue.

I'll have a fix up shortly which will allow these function to be used with older versions of NumPy which do not have this ne

[2016-10-12 16:05] #601 closed

[2016-10-12 19:08] jjhelmus commented on #483
@jsignell Very nice work on the additional implementation.

It looks like a Lambert Conformal projection is always set as the `proj` attribute.  This really should be projection specified in the `plot_ppi_map` method call.  This might add some difficulty as this attribute is used in a number of other methods and I'm not sure if other projections have similar behavior.

There are a few other change

[2016-10-12 19:11] scollis commented on #483
We may also be able to task @Rumpkie to assist @jsignell in crafting a Pull Request. Since this is an identified need in the draft roadmap and @Rumpkie could use some practice I think it is a good use of time.. He could also task @zssherman as well

[2016-10-12 19:15] jjhelmus commented on #600
@mrugna Looking forward to seeing the updates to the sinarame_h5 reader.

As for a script to help in the reading of h5 files, I don't have a good place to put this but I think the wiki is the best place.  If someone has suggestions for a better place for scripts like this might belong in Py-ART, I'd be glad to hear them.

[2016-10-12 20:52] mrugna commented on #600
Sorry for the delay. Here is the gist for the cfradial writer.

I know the way I handle the errors is awful but I'm still learning those. I would append it to the sinarame_h5 reader because it's tightly related to it, but now you get a better idea of what I'm talking about.

https://gist.github.com/mrugna/c2d0fa8bb9cece86048bcd5ed3499a87

[2016-10-14 02:37] kirknorth opened #606 "Altitude data available from ARM sonde data stream"
I'm working on some VAD code and came across this potential issue. Altitude information is available in ARM sonde data streams, yet heights are computed from pressure measurements in [line 59](https://github.com/ARM-DOE/pyart/blob/master/pyart/io/arm_sonde.py#L59) of `read_arm_sonde`. Just curious why this is.  Here's a plot of the differences between the two for a test file [here](http://www.mete

[2016-10-14 14:51] jjhelmus commented on #600
@mrugna Looking the function in the gist I think adding that to the sinarame_h5 module in Py-ART itself would be fine.  Feel free to submit a PR adding it.

[2016-10-14 14:56] jjhelmus commented on #606
I think the reason why altitude is not being read in is that I did not see that field in the file when I wrote the function.  I was looking for a `height` variable and skipped over the `alt` variable.  I'll submit a PR fixing this shortly.

[2016-10-14 14:58] kirknorth commented on #606
Okay, just making sure it wasn't an altitude correction fix, calibration issue with original data, or anything of that sort. Thanks @jjhelmus.

[2016-10-14 16:00] #606 closed

[2016-10-14 16:05] mrugna commented on #600
Great! I'll submit the PR today and try not to mess the documentation.

[2016-10-14 17:16] scollis commented on #600
Thanks Martin!

-sent from a mobile device-

[2016-10-14 22:58] srbrodzik opened #609 "reading rainbow version 5.43.10 data"
I've been able to read some version 5.34.16 rainbow files but am unable to do so for a more current rainbow version (5.43.10).  Was wondering if support for these files will be included at some future date.  I've attached an example of the newer version.

[2015111700500600dBZ.zip](https://github.com/ARM-DOE/pyart/files/530587/2015111700500600dBZ.zip)

Here's the error I get:

In [25]: file = '/hom

[2016-10-17 15:02] jsignell commented on #483
@jjhelmus yeah I was struggling with how to deal with the projections. I don't see where the `proj` in `RadarMapDisplay` is ever used. I was using the projection in `plot_ppi_map` as a kwarg that could be used to define the desired output projection. And I was using proj to keep track of the original projection of the data.

[2016-10-17 17:16] jjhelmus commented on #609
I think there is a missing indexing in the routine that reads in Rainbow files which supply only a starting angle not a starting and ending angle.  Submitting a fix in a moment.

[2016-10-17 17:23] #600 closed

[2016-10-17 18:34] srbrodzik commented on #609
Thanks Jonathan.  The OLYMPEX folks at NASA and UW will be very happy when
this is fixed.

Stacy

On Mon, Oct 17, 2016 at 10:16 AM, Jonathan J. Helmus <
notifications@github.com> wrote:

[2016-10-18 14:47] swnesbitt commented on #483
This is great, thanks Julia!

On Mon, Oct 17, 2016 at 10:03 AM Julia Signell <notifications@github.com>
wrote:

--
Steve Nesbitt, Associate Professor
Department of Atmospheric Sciences, University of Illinois at
Urbana-Champaign
105 S. Gregory St., MC223, Urbana, IL 61801-3070  USA
voice : +1.217.244.3740  fax : +1.217.244.1752
internet : snesbitt@illinois.edu ;
https://www.atmos.illinois.edu/peop

[2016-10-18 18:52] jsignell commented on #483
I opened a PR for this #612

[2016-10-20 15:20] #609 closed

[2016-10-24 19:13] gamaanderson opened #615 "Python3 bug"
In Python3 in **graph/radardisplay.py** setting `norm` not `None` and  `mask_outside` to `True` causes an error in line 1359:

    data = np.ma.masked_outside(data, v1, v2)
as `v1` and `v2` are `None`, those are resp. `vmax` and `vmin` from `plot_*` functions.

Python 2 seems not to care, but python3 raises following.

      File "/home/gama/.local/lib/python3.4/site-packages/pyart/graph/radardisp

[2016-10-26 15:10] jjhelmus commented on #615
Seeing the same issue on the following minimal example:

[code]

Will need to work out the best solution to this bug.

[2016-10-26 16:08] #615 closed

[2016-11-18 20:09] normbw opened #621 "Error in NEXRADLevel2File __init__()"
In pyart/io/nexrad_level2.py of the current master, line 147:

``elif compression_or_ctm_info in {b'\x00\x00', b'\t\x80'}:``

raises a syntax error on importing pyart, pointing at the sort-of dictionary initialization.  It looks as if this was introduced in v1.7.0, which makes me wonder if I'm missing something obvious...  Was a dictionary intended?

[2016-11-18 20:17] dopplershift commented on #621
That's a set literal...which should be fine in Python >= 2.7. What version of Python are you using?

[2016-11-19 19:46] normbw commented on #621
Ah, that's it.  Python 2.6.6, which the INSTALL.rst indicates is acceptable (2.6.x and newer).  Is mathematical set behavior needed here?  If not, switching to a tuple (obviously) would avoid breaking the compatibility with 2.6.x.

[2016-11-19 19:48] dopplershift commented on #621
I think set is used here because in situations with many items `in` can be quicker on a set. In this case, I see no reason not to use a tuple. Can you make the change and submit a Pull Request?

[2016-11-21 17:25] #621 closed

[2016-11-21 17:33] jjhelmus commented on #621
@normbw Thanks for the fix!

As a heads up the current version of Py-ART does not "officially" support Python 2.6. In fact, Py-ART [version 1.6.0](https://github.com/ARM-DOE/pyart/releases/tag/v1.6.0) was the last release that supported Python 2.7.  Support for Python 2.6 and 3.3 was dropper in [version 1.7.0](https://github.com/ARM-DOE/pyart/releases/tag/v1.7.0).

That said Py-ART may still work

[2016-11-21 19:00] jjhelmus commented on #621
Updated text in `INSTALL.rst` in #623

Also, thanks @dopplershift for fielding this issue.  I was traveling last week and was very glad to see that this got addressed in my absence.

[2016-11-21 19:02] dopplershift commented on #621
No worries--it was a straightforward enough question. 😄

Also, above do you mean 1.6.0 "was the last release that supported Python" **2.6**?

[2016-11-21 19:03] jjhelmus commented on #621
Yup, will edit the comment to fix this.

[2016-11-25 20:33] troyofathens opened #624 "NEXRAD reflectivity map blank"
I'm very new to this module so forgive me if I ended up missing something but I downloaded Level 2 NEXRAD data directly off of NCDC I then downloaded one of the files as is into a directory and copied your example from pyart/examples/plotting/plot_nexrad_reflectivity.py word for word but replaced your filename with the appropriate one that I downloaded. This resulted in a graph appearing with noth

[2016-11-25 20:44] scollis commented on #624
plot_ppi

-sent from a mobile device-

[2016-11-25 20:52] troyofathens commented on #624
not entirely sure what you mean

[2016-11-25 22:12] scollis commented on #624
Don't use .plot use .plot_ppi

-sent from a mobile device-

[2016-11-25 22:20] troyofathens commented on #624
now tried downloading the file differently so now it is in ar2v format according to ncdc same result still is occurring
![image](https://cloud.githubusercontent.com/assets/21369785/20635989/6ef49df8-b333-11e6-825b-fa89db4c802d.png)

[2016-11-25 23:03] troyofathens commented on #624
found a temporary fix but does not look ideal. Using code that would display on a mercator plot like so...
![image](https://cloud.githubusercontent.com/assets/21369785/20636336/3bfe2ac6-b339-11e6-9165-594d0ef18125.png)
resulted in the following...
![image](https://cloud.githubusercontent.com/assets/21369785/20636345/5be62226-b339-11e6-91bd-fc036c8a7e8c.png)

[2016-11-27 02:43] scollis commented on #624
@troyofathens sorry need to use the map method Take  a look here:
https://github.com/scollis/radar_in_the_cloud/blob/master/notebooks/any_nexrad.ipynb

This is my code for reading from Amazon S3..

Key lines:
`base_date = "20161030_143011"
fmt = '%Y%m%d_%H%M%S'

b_d =  datetime.strptime(base_date, fmt)

my_radar = get_radar_from_aws('KENX',b_d ) #replace with reading from your file
max_lat = 45
mi

[2016-11-27 02:44] scollis commented on #624
![dindex](https://cloud.githubusercontent.com/assets/825351/20645122/213b2c44-b419-11e6-8615-7cdcb991653e.png)

[2016-11-28 02:17] jjhelmus commented on #624
@troyofathens Add the `fig = plt.figure(figsize=(6,5))` line to same Jupyter notebook cell where the plotting is done with the **display** object.  Alternatively you can remove all the `plt`, `fig` and `ax` lines/arguments.

Either of the following should work if put them in their own cells:

[code]

[code]

With the `%matplotlib inline` command, figures are rendered at the end of the cell where t

[2016-12-24 22:49] striges opened #628 "Some considerations about map_gates_to_grid on a single radar case."
I compared `map_gates_to_grid` results with some other grid results using the Weather Climate Toolkit, WDSS-II, and Radx. I am doing so as I am trying to porting the 'map_gates_to_grid` method to GPU as this one suits SIMD architecture better than many other interpolation ways. But I think some improvements are needed.

The case I am showing here is KDOX on 10/29/2012 near 0005UTC. The domain size

[2016-12-29 17:44] striges commented on #628
OK. I got some updates here.
1. A hard cut below 0.5(actually, 0) is very easy. We can easily reverse calculate (x, y, z) to (ele, az gate) assuming radar is at (0,0,0) for each grid cell. Then we mask all gates whose elevations are below 0 or above 20 (or whatever reasonable maximum)

For 2 and 3, I simply propose replace RoI function as following: a gate has 2 x beam_width (or 3 x beam_width at

[2016-12-29 17:55] swnesbitt commented on #628
Good stuff - a couple of comments:

1) I would be careful about the lower and upper elevation angle limits -
maybe make these an input parameter to the function?  If one is not using
NEXRAD data there could be a wide variety of scanning strategies (including
negative elevation scans from mountain-top radars, and VCPs from research
radars with interleaved scans with different elevations).  Don't wa

[2016-12-29 18:04] striges commented on #628
I updated pictures in original cases, made it clear to show low values introduced in original methods.
@swnesbitt. Set a parameter is not a problem at all, I'd like to just point out we need a elevation cut, preventing "extrapolating data" using "interpolation". Ring issue, I have been bothered by this so long. I talked with so many folks in AMS, AMS tropical, AMS radar. In Zhang (also with Lak???

[2016-12-29 18:15] striges commented on #628
Sorry I don't have time to create a pull request. Here is my (CUDA) C code to implement them, hoping it will be helpful for another contributor to wrap it.
https://gist.github.com/striges/7888203ea5cd7ce1e19445bfe78c4d87

[2017-01-09 19:09] jjhelmus commented on #624
@troyofathens Did this fix your issue?  Can this be closed?

[2017-01-31 03:42] vlouf opened #629 "'deepcopy' is not defined in pyart.filter"
Hi,

I got this error while using pyart.filters.moment_and_texture_based_gate_filter

[code]

It seems that there is a ```from copy import deepcopy``` missing.

Valentin

[2017-02-02 14:46] jjhelmus commented on #629
@vlouf Good catch, thanks for reporting this.  A fix is in works in #631.

[2017-02-02 15:01] #629 closed

[2017-02-02 17:21] jjhelmus commented on #624
closing, feel free to re-open if this issue remains.

[2017-02-02 17:21] #624 closed

[2017-02-09 14:49] scollis opened #633 "add gatefilter to VPT plot"
Very handy for seeing gatefilter applications. Works for PPI and RHIs.. I may get time to do this by just copying from other.. otherwise this is a placeholder

[2017-02-10 01:06] vlouf commented on #633
Hi Scott,
I was just thinking about that too, also adding gate filter to the add_field method:
radar.add_field('new_field', data_structure, gatefilter=gf)
So that the new field is saved with the gate filter.

[2017-03-01 00:43] vlouf opened #636 "Python 3.6 Incompatibility with pyart.correct.despeckle_field"
While running pyart on python 3.6 I encountered this problem:

[code]

While on python 3.5:

[code]

This problem is solved by changing line 200 of pyart/correct/despeckle.py to:
` i2 = int(np.shape(labels)[0] / 2)`

[2017-03-01 17:08] jjhelmus commented on #636
This is not really an issue with Python 3.6 but rather that indexing using floats is no longer allowed in NumPy 1.12 which is what was likely installed with Python 3.6.  The recommended fix is fine.  Thanks for reporting this and the suggestion @vlouf.

[2017-03-01 17:25] jjhelmus commented on #636
closed by 3d3ab692cdd270a1

[2017-03-01 17:25] #636 closed

[2017-03-13 13:46] Rumpkie opened #641 "Moving Example Data to a permanent location"
We should move the example data from: https://engineering.arm.gov/~jhelmus/pyart_example_data/
to a permanent location.

[2017-03-20 12:24] Rumpkie opened #642 "/images/no_image.png error when running rebuild_examples.sh"
When attempting to rebuild the examples if the user doesn't have the example data in the directory the script errors out with:

`FileNotFoundError: [Errno 2] No such file or directory: 'images/no_image.png'`

The script should either correctly replace the image that wasn't rendered with the no_image.png and let the user know which examples didn't run or error out when it can't find the example fil

[2017-03-20 12:25] scollis commented on #642
Thanks @Rumpkie We can start looking into this later this week

[2017-03-21 04:57] #146 closed

[2017-03-21 18:26] scollis commented on #566
Where are we at on this? I know Brenda Dolan from CSU was interested in this.. @rrniii Did this work? @jjhelmus Did this go in a Pull request some where?

[2017-03-21 18:32] scollis commented on #628
Just "Re-Pinging" Anyone out there available to write up an implementation of this?

[2017-03-21 18:40] scollis opened #643 "Add circular stats texture retrieval.."
This is a place holder.. Test implementations of circular stats using Scipy generic filter are slow.
Consider using Numba's low level callabe as an optional import
https://ilovesymposia.com/2017/03/12/scipys-new-lowlevelcallable-is-a-game-changer/

[2017-03-27 13:20] scollis opened #644 "Various issues with phase processing..."
This is a place holder for myself and @zssherman to look at issues with the phase processing code that has not been visited in a long time..
Number one:
https://github.com/ARM-DOE/pyart/blob/master/pyart/correct/phase_proc.py#L411
doc in the phase processing defaults to -10.. then looks for None..

[2017-04-10 22:16] ucrkarthik opened #646 "ImportError: No module named io"
**Compiled the source code:**
[kvenkatesa@nid00030 pyart]$ python setup.py build
running build
running build_py
running build_ext

**Installed in my home directory:**
[kvenkatesa@nid00030 pyart]$ python setup.py install --user
running install
running bdist_egg
running egg_info
writing pyart.egg-info/PKG-INFO
writing top-level names to pyart.egg-info/top_level.txt
writing dependency_links to pyart.

[2017-04-11 14:03] zssherman commented on #646
Hi ucrkarthik,

From what I'm seeing is that you have the wrong pyart. There seems to be a pyart - Adaptive Radix Tree 0.2.3 from https://github.com/blackwithwhite666/pyart.git that you have, but the pyart I assume you want is the ARM pyart from https://github.com/ARM-DOE/pyart.git.

Try:
[code]
then your:
[code]

[2017-04-11 14:41] zssherman commented on #646
Hi @ucrkarthik ,

From what I'm seeing is that you have the wrong pyart. There seems to be a pyart - Adaptive Radix Tree 0.2.3 from https://github.com/blackwithwhite666/pyart.git that you have, but the pyart I assume you want is the ARM pyart from https://github.com/ARM-DOE/pyart.git.

I would rename or delete the pyart Adapative Radix Tree directory and then try:
[code]
then your:
[code]

[2017-04-11 22:54] nguy commented on #483
Can this issue be closed? Have any problems been reported with using the cartopy mapping?

I need to try this.

[2017-04-11 22:56] scollis commented on #483
I don't want to close it yet.. we have cartopy for ppis.. need it for grid objects

And yes. I am getting happier with it and Metpy compatibility is awesome

-sent from a mobile device-

[2017-05-02 21:09] swnesbitt opened #649 "NEXRAD SAILS sweep selection issues with cfradial from Radx"
All,

Using the devel branch of pyart - having the issue where pyart is able to correctly count and select  sweeps from L2 file from S3 using `read_nexrad_archive`, but when I convert the file using RadxConvert to cfradial, it loads in the entire file, and the elevation data is different, but when counting sweeps with `radar.nsweeps` or using the `radar.get_*` methods, it finds fewer sweeps than I

[2017-05-02 21:11] scollis commented on #649
Thanks @swnesbitt
Hopefully some one can look into this. We are short staffed at the moment so this will be on the back burner for a bit.

[2017-05-02 21:13] scollis commented on #646
@ucrkarthik Is this still an issue?

[2017-05-03 13:47] swnesbitt commented on #649
I think I may have found the solution, this is a Radx issue -- by default it removes the long range and split cuts from NEXRAD data.  By setting the following in a RadxConvert params file, I was able to fix the issue:
[code]

Then run `RadxConvert` as such:

[code]

[2017-05-12 19:52] itsjms commented on #646
I have this same issue.
[code]

Uninstalled from conda and tried installing from source. Still no luck.

[2017-05-12 19:56] ucrkarthik commented on #646
You are using the wrong package.

On May 12, 2017 12:52 PM, "James Strong" <notifications@github.com> wrote:

[2017-05-12 19:56] ucrkarthik commented on #646
Thx for your help. That worked.

On May 2, 2017 2:13 PM, "Scott" <notifications@github.com> wrote:

[2017-05-12 19:57] itsjms commented on #646
How do you rename or delete the pyart Adapative Radix Tree directory then?

[2017-05-12 20:02] itsjms commented on #646
I tried `pip uninstall pyart` with no luck. Still same error.

[2017-05-12 20:21] zssherman commented on #646
@ucrkarthik glad to hear, and @itsjms if you installed pyart the adaptive tree from source using `python setup.py install`, `pip uninstall` will most likely fail because `python setup.py install` causes no metadata to be left behind to be used to determine what files were installed. If you install arm_pyart by using `conda install -c conda-forge arm_pyart` and then import pyart are you still getti

[2017-05-12 21:55] itsjms commented on #646
Yup same error.

[2017-05-12 21:57] itsjms commented on #646
`from pyart import Tree` still works so its deff using the wrong version.

[2017-05-12 22:17] scollis commented on #646
If you Change your conda env does that work
And what is the output of : which python ?

-sent from a mobile device-

[2017-05-12 22:19] zssherman commented on #646
Hmm, I'm curious, because the pyart adaptive tree I don't think is available through conda but the arm_pyart is, I would think that using python that was downloaded with the anaconda package would then take the conda arm_pyart when imported.

[2017-05-12 22:19] zssherman commented on #646
@scollis Ah very good point.

[2017-05-12 22:30] itsjms commented on #646
Which python now gives me `/usr/local/bin/python` I had installed it via `brew`

[2017-05-12 22:35] scollis commented on #646
Oh.. you are not using anaconda then..

so the error is when you type

"from pyart import io" ?

can you:

import pyart

pyart.io.read()

?

Also what is output of pyart.__version__ ?

final question.. if you installed from source did you ensure you changed
dir out of source dir..

On 5/12/17 6:30 PM, James Strong wrote:

[2017-05-12 22:37] itsjms commented on #646
So if I add `export PATH=~/anaconda/bin:$PATH` to my `.bash_profile` `which python` returns `/Users/itsjms/anaconda/bin/python`

[2017-05-12 22:39] itsjms commented on #646
`pyart.io.read()` returns `'module' object has no attribute 'io'` `pyart.__version__ is` '0.2.3'

[2017-05-12 22:45] scollis commented on #646
Oh dear.. that is a very very old version..

we are at 1.8.0 :)

Sorry.. remind me: did you install from source?

if you installed from conda can you

conda update -c conda-forge arm_pyart

**USE WITH CARE**
if that fails you can go in and delete pyart from its location..
eg

print(pyart.__file__)

returns

/Users/scollis/anaconda/envs/houston/lib/python3.5/site-packages/pyart/__init__.py

so I co

[2017-05-12 22:58] itsjms commented on #646
Wonderful. `print(pyart.__file__)` was the golden ticket. At least now I have the wrong package of pyart gone (the one from https://github.com/blackwithwhite666/pyart.git) still have `arm_pyart` installed via anaconda but its not reading it yet...

[2017-05-12 23:00] itsjms commented on #646
I'm now getting `ImportError: No module named pyart` error. Maybe my path settings are wrong...

[2017-05-12 23:01] zssherman commented on #646
It seems that when you open python its using the brew installed python and then uses the pip packages, The usr path you provided seems to be the homebrew path. In the bash rc file as you mentioned earlier, the Homebrew PATH modification line above the Anaconda one. That way, Anaconda's  python, will take precedence, then close and reopen your terminal.

[2017-05-12 23:04] zssherman commented on #646
If you want to keep the homebrew path still and the other pyart is gone, you can also `pip install arm_pyart`.

[2017-05-12 23:10] itsjms commented on #646
`pip install arm_pyart` 👍  having other dependency issues now but pyart is working. If your having this issue it is definitely because you have the wrong version of pyart installed (https://github.com/blackwithwhite666/pyart.git) vs. arm_pyart

[2017-05-12 23:15] zssherman commented on #646
Awesome, yeah once the dependencies are installed, you should be good to go.

[2017-05-19 17:35] nguy commented on #649
This was a conscious decision on Radx part when I spoke with Mike D a while back.

[2017-05-19 17:37] nguy opened #652 "add convenience drop_sweeps function to radar class"
Per conversation on the [mailing list](https://groups.google.com/forum/#!topic/pyart-users/DKH1eYdIPuM), it might be nice to have a convenient way to remove sweeps from a radar volume.

This may also be of interest in Issue #649 ?

[2017-05-23 06:11] vlouf opened #654 "Add support for all radar moments of the ODIM HDF5 format"
Right now in PYART only some ODIM HDF5 field are read, those defined in pyart.aux_io.odim_h5.py:

[code]

An improvement for ODIM HDF5 users would be to support all fields defined by the convention (table 16, page 22): [http://eumetnet.eu/wp-content/uploads/2017/01/OPERA_hdf_description_2014.pdf](url)

[2017-05-23 09:02] tanelv opened #655 "Issues with some Sigmet IRIS file fields"
I found an issue that I think has not been discussed before.
When trying to read IRIS HydroClass (radar.fields['radar_echo_classification']['data']) the data is being 'compressed' to a shorter range (2x shorter than it should be). The matrix itself is the same size as other radar fields, but the further part is just empty (see figures below).

I checked other radar fields and all else seems to be

[2017-05-31 04:47] swnesbitt commented on #649
Ok, makes sense.

[2017-05-31 04:47] #649 closed

[2017-06-07 04:44] vlouf opened #657 "Drop milliseconds from plot titles"
Time with milliseconds is a bit overkill on plot titles, and takes extra space too. I propose these changes to drop milliseconds from plot titles:

`return num2date(times, units, calendar)` by `return num2date(times, units, calendar).replace(microsecond=0)` in functions `generate_radar_time_begin` (l126) and `generate_grid_time_begin` (l137) in `pyart/graph/common.py`

[2017-06-07 07:23] kmuehlbauer commented on #657
We could think about making this more general and introduce a user provided parameter format string to use (eg. `'%Y%m%d%H%M%S'`).

@scollis Is there a mechanism within pyart for user preferences, which can be used to accomplish this?

[2017-06-07 14:20] scollis commented on #657
So the default config is here https://github.com/ARM-DOE/pyart/blob/master/pyart/default_config.py

At the moment the title is set here:
https://github.com/ARM-DOE/pyart/blob/master/pyart/graph/common.py#L228

It is iso format.. I think a PR that modifies this looking at the configuration would be welcome. I would suggest passing a strftime like argument.

At the moment I would suggest the communi

[2017-06-12 18:25] gamaanderson opened #658 "projection origin in mdv read and write"
as pointed out by @TulipaSilva when writing grid to mdv and reading back to grid the projection origin may change
in **pyart/io/mdv_grid.py** line 125 reads:

    d["sensor_lon"] = grid.radar_longitude['data'][0]

while line 320 reads:

        origin_longitude['data'] = np.array(
            [mdv.master_header["sensor_lon"]], dtype='float64')

that means origin_longitude is over written by radar_

[2017-06-12 18:29] scollis commented on #658
Thanks @gamaanderson
I would be happy to see a PR along either of those lines. As far as I know only the Parana folks and @TulipaSilva are using this. The ARM team are all pretty busy on other things so this would need to be a community contribution.

[2017-06-13 19:00] TulipaSilva commented on #658
Thanks @gamaanderson  and @scollis, I'll try this solution.
And, I'll also try to change the code for a PR, as soon as possible.
Thanks a lot.

[2017-06-14 18:17] maahn opened #659 "Cannot open ARM netcdf file: AttributeError: 'numpy.str_' object has no attribute 'decode'"
Hi, I have an issue with reading ARM NSA KaSACR files with pyart 1.8.0, numpy 1.11.3 and python 3.5.3:

    import pyart
    fname = 'nsakasacrhsrhiC1.a1.20111208.212833.nc'
    radar = pyart.io.read(fname)

    ---------------------------------------------------------------------------
    AttributeError                            Traceback (most recent call last)
    <ipython-input-2-cef6d5ffac5

[2017-06-14 18:27] scollis commented on #659
Thank @maahn
This is high priority. I think we have seen this before.
@Rumpkie : Can you work on this.. feel free to use @zssherman

[2017-06-14 18:32] Rumpkie commented on #659
Yes @scollis I have time to look into this. I will get started on that this afternoon or tomorrow.
-Cory

[2017-06-14 21:46] Rumpkie commented on #659
@maahn what version of netcdf4 are you using?

[2017-06-14 22:27] maahn commented on #659
@Rumpkie I'm using 1.2.8, too. Thanks for looking into this. Max

[2017-06-15 04:37] vlouf commented on #659
Hi,

I had this error too after updating my anaconda installation (python 3.6.1 and netcdf4 1.2.8).

I fixed it by changing line 192 in cfradial.py to:

`# first sweep mode determines scan_type
try:
    mode = netCDF4.chartostring(sweep_mode['data'][0])[()].decode('utf-8')
except AttributeError:
    mode = netCDF4.chartostring(sweep_mode['data'][0])[()]`

[2017-06-15 04:46] vlouf commented on #659
It's the pull request #656

[2017-06-16 15:51] zssherman commented on #659
Hi @vlouf, thank you for the pull request. Makes sense why it was failing because its trying to decode something that is already decoded. Cory is going to take a look.

[2017-06-19 21:51] scollis commented on #659
This should be fixed by  #656 Thanks @vlouf

[2017-06-19 21:52] #659 closed

[2017-06-19 21:55] scollis commented on #599
This is done via #602

[2017-06-19 21:55] #599 closed

[2017-06-19 21:58] scollis commented on #644
Fixed by #651

[2017-06-19 21:58] #644 closed

[2017-06-19 22:37] scollis commented on #652
yep.. And fairly easy to do... Sounds like a good student project.. I am going to make this medium priority.

[2017-06-19 22:38] scollis commented on #655
Sorry for not getting back to you.. @zssherman Can you do a quick first check an see what is going on here.. @josephhardinee you would be the expert on this page when it comes to the format (and @jjhelmus ) any ideas? Does IRIS have more than one gate spacing in a file?

[2017-06-19 22:39] scollis commented on #646
Closing.. please reopen if issue persists

[2017-06-19 22:39] #646 closed

[2017-06-20 15:03] scollis commented on #633
Thanks to @zssherman this is closed via #645

[2017-06-20 15:03] #633 closed

[2017-06-20 15:04] scollis commented on #633
Thanks @zssherman Closing

[2017-06-20 20:43] zssherman commented on #655
Hi @scollis, I'll take a look and let you know soon.

[2017-06-20 22:12] josephhardinee commented on #655
@scollis I believe the gate spacing is fixed in a single volume as it's set in the ingest_header, which is only included once based on memory and a quick glance at the docs. There is an option to do variable range bin spacing, but I'm not sure the details of how that's implemented (See the task_range_info structure).

My guess just from glancing at this is that if you compare the values of hydrocl

[2017-06-21 02:05] vlouf commented on #657
Should this be a user prefenrece in the configuration file, or an arguments provided while plotting data, e.g.:

`gr = pyart.graph.RadarDisplay(radar)
gr.plot_ppi("reflectivity", dtime_format="%Y%m%d")
`

[2017-06-21 14:37] jjhelmus commented on #655
@tanelv What version of Py-ART are you using?  Sigmet 1-bytes HCLASS data was not supported until version 1.6.0 or after commit 34468971ba97eb7499e2739ad33bd5ec98d3999e was merged.  Before that you should have seen a warning about the read returning the raw unprocessed data.

[2017-06-21 15:24] zssherman opened #664 "Travis failing"
Travis is failing today for a dummy request #663 and velocity texture pull request #662 even though the test past last night for a pending pull request #648. No new changes since, so possibly a travis issue https://blog.travis-ci.com/ or dependency issue. Appveyor does not fail.

This is a place holder, fix might conclude over time. Waiting to see.

[2017-06-21 16:29] kmuehlbauer commented on #664
@zssherman This is most probably a numpy 1.13 related issue. As `conda` picks up new `numpy 1.13` since some time between yesterday and today, the 💩 hit the fan.

The most bugs introduced through this are easy fixes (eg. indexing stuff, tolerance). But other changes in numpy revealed more problematic issues. I hope there aren't that much problems to resolve.

ping @scollis

[2017-06-21 16:33] kmuehlbauer commented on #664
py34 doesn't fail, because conda-forge dropped support. So there remained an older numpy version.

[2017-06-21 16:43] zssherman commented on #664
@kmuehlbauer Ah so it was a dependency issue. I was wondering why 3.4 was passing but not 2.7, 3.5 and 3.6. Makes sense, yeah hopefully not too many problems to solve as you said. Thank you for the information! It all make sense now. By the way, fantastic use of an emoji

[2017-06-21 17:49] scollis commented on #664
Thanks @kmuehlbauer ! You have saved us a lot of angst.. Amazed a minor version bump created so many issues.. Thank goodness for CI (Ping @jjhelmus !!)

[2017-06-21 17:59] kmuehlbauer commented on #664
@scollis 👍 Yes, at wradlib we are also struggeling with the aftermath of the numpy version change.

But, numpy 1.12 was already complaining with several DeprecationWarnings. However, some issues came out of the blue. I'm thinking about incorporating `numpy` in the build matrix for better handling these cases.

[2017-06-21 19:58] zssherman commented on #664
@kmuehlbauer and @scollis I created two environments, both with a conda install c conda-forge arm_pyart. The only difference between these environments was numpy 1.13 in one and numpy 1.12 in the other.

radar.gate_z['data'] from numpy 1.12 environment
array([[  1.84995461e+01,   2.07109089e+01,   2.29296287e+01, ...,
          1.63470359e+04,   1.63626741e+04,   1.63783196e+04],
       [  1.78883

[2017-06-22 05:44] kmuehlbauer commented on #664
Thanks @zssherman for sharing. I haven't discovered no such change so far. Seems a bit strange.

[2017-06-23 16:07] scollis commented on #664
Fixed (?) by #665

[2017-06-23 16:07] #664 closed

[2017-06-26 11:31] tanelv commented on #655
I was using Py-ART version 1.6.0, that's where the issue was buried. As simple as that. I tested it with a newer version of Py-ART and did not get any compression problems anymore.

Thank you everyone!

[2017-06-26 14:10] scollis commented on #655
Thanks @tanelv . Closing

[2017-06-26 14:10] #655 closed

[2017-06-26 14:12] scollis commented on #131
So we have a basic reader for ODIM HDF5. I think this issue can be closed and new issues can be opened to track improvements or bugs with the current system. If I am mistaken please feel free to re-open

[2017-06-26 14:12] #131 closed

[2017-06-29 10:50] kmuehlbauer opened #666 "Check PEP8 compliance in CI"
While it is wanted that every commit is checked for PEP8 compliance before submitting a PR, we all know that sometimes things slip under the radar.

So I propose to add a PEP8 checker (eg. flake8 or similar) to the CI (travis) to check for PEP8 compliance directly after the install section and before testing section. With this applied every PR is tested and fails if the PEP8 compliance isn't met.

[2017-06-29 12:16] scollis commented on #666
We had exactly this discussion in the office on Tuesday.  Cory will be implementing this into the CI

[2017-06-29 18:35] dopplershift commented on #666
Personally, I recommend `pytest-flake8`, which is a plugin for pytest that will run flake8 on all the files as well as run tests.

[2017-06-29 18:45] scollis commented on #666
Thanks @dopplershift ! Have you implemented for MetPy? @Rumpkie will be doing this with help form @zssherman .. @zssherman  will be at Scipy and is keen to learn!

[2017-06-29 21:49] dopplershift commented on #666
Absolutely. We also have a bunch of flake8 plugins installed to catch various things, like print statements, check for copyright headers, etc. Works well and is easy to setup (and configure in `setup.cfg`):
1. `pip install pytest pytest-flake8 flake8-print flake8-copyright`  or conda
2. `pytest --flake8`
3. PROFIT!

Full list of plugins used are in [here](https://github.com/Unidata/MetPy/blob/mast

[2017-07-07 18:25] Weiming-Hu opened #669 "gridded data doesn't make sense"
Hi there,

**What I'm doing** I have just started exploring the power of `pyart`. I have a radar level II data file, and I would like to extract the gridded data and plot them. For example, I would like to extract data with altitudes of 10000m, 1000m, 100m, and 10m, and data within 0-10000m, 0-1000m, 0-100m, and 0-10m (with this, the output would be a collapsed 2D map from a 3D data cube).

**My c

[2017-07-07 18:46] josephhardinee commented on #669
Weiming,
The gridding uses a region of influence to determine what data points get
included into each CAPPI point. Picture it as a little sphere around each
data point on your new grid that determines what is close enough to be
combined.This is not being changed in yours and so the only thing that
differs is what Z level you're calculating it at.
For your first request if you want a CAPPI at say 1

[2017-07-07 19:38] Weiming-Hu commented on #669
@josephhardinee Thank you! I think I understand now.

For my second case, if I understand it correctly, it will make little difference, only in terms of the output gridded data, between the two methods, `map_gates_to_grid` and `map_to_grid`, because the radius of influence of the grid point/radar data point is relatively small compared to the range of altitudes.

Please correct me if I'm wrong.

T

[2017-07-09 18:14] #669 closed

[2017-07-13 16:20] scollis commented on #666
Thanks @dopplershift . With @Rumpkie leaving Argonne I am assigning to Zach.

[2017-07-13 16:23] scollis commented on #597
So Just checking I understand @meteoswiss-mdr : x and y axes in km instead of lat/lon?

[2017-07-13 16:24] scollis commented on #643
Fixed, thanks to @rcjackson and #662

[2017-07-13 16:24] #643 closed

[2017-07-13 16:25] scollis commented on #628
This is all great info and will be preserved here. We really need a separate repo for cases and studies et al. However, in terms of an issue I am closing this. Thanks all for the good discussion.

[2017-07-13 16:25] #628 closed

[2017-07-13 16:27] scollis commented on #492
I see no obvious path to a solution in the near future. I am closing. If there is interest open a new issue or re-open this.

[2017-07-13 16:27] #492 closed

[2017-07-13 16:31] scollis commented on #389
So @jjhelmus 's PR is still languishing over at CyLP
https://github.com/coin-or/CyLP/pull/28

I stumbled on this:
https://github.com/coin-or/pulp
I wonder if it will help us.

[2017-07-13 16:44] scollis commented on #349
This can be closed now. If there is further work in this area please reopen or start a new issue

[2017-07-13 16:44] #349 closed

[2017-07-13 16:53] scollis commented on #281
I think this conversation is done.. closing

[2017-07-13 16:53] #281 closed

[2017-07-13 18:30] scollis opened #670 "Add some support for X-Array in a staged manner."
Creating a Checklist so we can keep track of this:
- [x] Add an xradar branch to develop/test on
- [x] Add helper functions to convert to an xradar object (#1251 )
- [ ] Move aux_io readers to xradar
- [x] Implement a `radar.to_xradar()` method
- [x] Add a separate xradar object, similar to the radar object, that we can feed metadata + values directly into

[2017-07-13 18:43] tjlang commented on #670
Did someone say cartopy support for grids? Y'all already got that. Here's a plot with multiple NEXRADs mosaicked via Py-ART, visualizing an ISS overpass of thunderstorms near San Antonio, Austin, and College Station (red stars) on 1/2/2017. Base map provided by cartopy and its StamenTerrain tiling. Was like two lines to get the radar on there, using Grid's method to get lat/lons, then a pcolormesh

[2017-07-13 18:55] scollis commented on #670
Yep.. But it is one line if you have it in an xarray container :)
Sweet plot.

[2017-07-14 07:04] meteoswiss-mdr commented on #597
Yes, that is what I meant

Sent from my iPhone

On 13 Jul 2017, at 18:23, Scott <notifications@github.com<mailto:notifications@github.com>> wrote:

So Just checking I understand @meteoswiss-mdr<https://github.com/meteoswiss-mdr> : x and y axes in km instead of lat/lon?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/ARM-DOE/p

[2017-07-14 20:10] scollis opened #671 "texture calc in wrong place."
This is my bad for not catching it on the PR. But texture from @rcjackson is buried in gatefilters. Method should be exposed in pyart.retrieve

Needs to be moved.

[2017-07-25 13:37] scollis commented on #671
Closing via #672

[2017-07-25 13:37] #671 closed

[2017-08-02 01:27] vlouf opened #677 "DeprecationWarning::import imp module with Python 3.6"
The following warning is raised with Python 3.6 while importing pyart:

`pyart/config.py:22: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses`

By following importlib documentation we can change l:78 of config.py from:

`cfile = imp.load_source('metadata_config', filename)`

to:

`cfile = importlib.util.spec_from_file_loca

[2017-08-02 15:52] zssherman commented on #677
Hi Valentin,

There is a open pull request #675 for the imp deprecation from yesterday. I changed a couple of files, and am opened for suggestions as it seems there are a couple of ways to change the way importlib is used to replace imp.

The changes do remove the pyart imp deprecation error, but sadly when importing pyart now, nose throws a deprecation error because the package nose has not been

[2017-08-03 13:28] kenpryor67 opened #678 "Script plot_nexrad_reflectivity.py hangs up upon execution"
Hello All: I'm thrilled to have installed Py-ART on my Linux computer. The installation appears to have been successful. However, when I attempt to execute the script "plot_nexrad_reflectivity.py", the script hangs up with no apparent action (i.e. no image is displayed). No errors appear that indicate a problem with the code or installation. What might I need to do to get the script to execute cor

[2017-08-03 15:28] kenpryor67 commented on #678
This issue is fixed: I installed Py-Art in the Python3.6 environment and now works great, as shown by the attached NEXRAD image.
![klwx_20170801_1801](https://user-images.githubusercontent.com/30535002/28929747-c9183af8-783e-11e7-8d7d-6a6e48f5484a.png)

[2017-08-03 15:44] scollis commented on #678
Great! Thanks @kenpryor67 ! Make sure you keep us updated on how you are using Py-ART.

[2017-08-03 15:44] #678 closed

[2017-08-22 17:40] bdolan44 commented on #517
Can I get an example of how you did this @gamaanderson ? I'd like to add topography to some of my plots in the OLYMPEx region. Thanks!

[2017-08-22 17:43] scollis commented on #517
FYI @gamaanderson will be at #AMSRadar2017

[2017-08-22 17:44] bdolan44 commented on #517
I'm hoping to have some plots using this for #AMSRadar2017. :D

[2017-08-22 20:56] gamaanderson commented on #517
actually only a small plot at low resolution, I did not explored it much,
it was more like a proof of concept

2017-08-22 19:45 GMT+02:00 Brenda Dolan <notifications@github.com>:

[2017-08-22 21:11] tjlang opened #679 "Bug when plotting two or more RadarMapDisplayCartopy.plot_ppi_map axes on same figure"
The following code:
[code]
produces the following basemap plot, as expected:
![image](https://user-images.githubusercontent.com/3036387/29587679-4c15a8c2-8754-11e7-9194-6e99c7455373.png)

However, when doing an analogous plot using RadarMapDisplayCartopy:
[code]
we get the following plot:
![image](https://user-images.githubusercontent.com/3036387/29587761-81dee89c-8754-11e7-9262-663177305561.png)

[2017-08-22 21:22] scollis commented on #679
I think I know.

And it is a bug and a feature. Your axes have no projection so the code
rejects your axes and puts in its own

https://github.com/ARM-DOE/pyart/blob/master/pyart/graph/radarmapdisplay_cartopy.py#L251

try:

projection = cartopy.crs.LambertConformal(
central_longitude=lon_0,
central_latitude=lat_0)
ax1 = plt.axes(projection=projection)

On 8/22/17 4:11 PM, Timothy Lang wrote:

[2017-08-23 13:39] tjlang commented on #679
Thanks! Doing:
[code]
produced:
![image](https://user-images.githubusercontent.com/3036387/29618696-9ed56edc-87de-11e7-84c9-1ea53c3d0581.png)

[2017-08-23 13:39] #679 closed

[2017-08-26 08:15] bugsuse opened #680 "plot longitude or latitude slice given longitude and latitude coordinate pair"
Currently, it seems to just give a longitude and latitude point to plot a slice when i use plot_longitude_slice or plot_latitude_slice. Maybe I ignore some methods.

Given conditions, I want to plot a slice

1) given a longitude and latitude point (such as lon = -90, lat = 36) and a angle to control the slice slope

OR

2) given two longitude and latitude point (such as lon = [-90, -100], lat = [3

[2017-08-28 13:51] nguy opened #681 "Plot sector from PPI"
During the AMS Radar short course, one of the participants asked about the ability to take a PPI scan and plot a sector. This could "_easily_" be done by masking I would think (have to look at the structure a bit), but it could be a nice convenience function to add to the plotting library.

[2017-08-28 14:00] nguy commented on #566
A ping on this topic, it was raised again at the AMS Open software short course.

[2017-08-28 14:04] rrniii commented on #566
Sorry for being lame.

Ill get on this. Glad there is interest.

[2017-08-28 16:08] nguy commented on #566
Being lame is my gig.
Thanks for looking at this again.

[2017-08-28 18:54] swnesbitt opened #682 "Add nearest neighbor and most common in ROI in map_gates_to_grid"
It would be useful to have a nearest neighbor and most common value within the radius of influence in the gridding routines.  I have some idea how to do this in the python implementation (and have tested it, but it is sloooooow), but in the fast c-code code written by @jjhelmus - ummm, yeah.

Use case would be gridding hydrometeor identification from polar data (you don't do HID on gridded data -

[2017-09-04 14:04] scollis opened #684 "Issues with the implementation of the Vulpani technique"
I had a brief discussion with Nitin Bharadwaj, who leads ARM's radar engineering efforts at the Radar Conference.
He had Vulpani with him and it seems we have issues with the way in which the method was implemented. I am opening this issue as a placeholder.

https://github.com/ARM-DOE/pyart/blob/master/pyart/retrieve/kdp_proc.py#L742

[2017-09-04 20:20] meteoswiss-mdr commented on #682
I had exactly the same issue with the hydrometeor ID (and any discrete data actually) and also made a fast hack on the python implementation to use the nearest neighbour but I agree that in C would be faster (and slower to implement :)).

[2017-09-04 20:22] meteoswiss-mdr commented on #680
I implemented an initial prototype on that. Whenever you want I make a pull request.

[2017-09-05 05:50] bugsuse commented on #680
@meteoswiss-mdr Thank you very much!

[2017-09-14 13:18] tjlang opened #685 "Python 3.6 bug in gridding routines"
Gridding routines appear to be broken in Python 3.6. In order to account for mobile radars, Py-ART Radar object allows arrays for radar lat/lon/alt, altho a lot of code heritage assumes scalars for these parameters. It appears that doing a float conversion on the z_disp calculation, or if that is removed, the appending immediately after this calculation raises a TypeError in 3.6 due to this array/

[2017-09-14 13:53] tjlang commented on #685
Looking at this in more detail, it looks like the issue will ultimately come down to fixing the Cython code. If I successfully convert the x/y/z_disp arrays coming out of _find_offsets (by just multiplying by 1.0 to ensure they are floats), I still get hamstrung by the following error.

Also, this is not just a 3.6 issue. This is also cropping up in 2.7. It appears to be related to whether or not

[2017-09-18 23:18] scollis commented on #684
@nitinbharadwaj  gave further feedback and believes the implementation to have issues. @wolfidan any ideas? Did you test the code? I propose we make the method local until someone can do some more testing.

[2017-09-20 18:03] swnesbitt opened #686 "Python 3.6 breaks arm_pyart conda package"
Get a numpy error message on fresh anaconda 3.6 install using the conda-forge pyart package.  4 students in my class had this problem.

[2017-09-20 18:20] scollis commented on #686
Thanks Steve will follow up

-sent from a mobile device-

[2017-09-20 18:41] zssherman commented on #686
Hi @swnesbitt, are you having the issue during the installation process, or when you read a file with pyart.io.read? We ran into a similar issue before with the reading of files with pyart in later installs, if that is the issue.

[2017-09-20 19:19] swnesbitt commented on #686
we were trying to use pyart.io.read, although pyart.io.read_cfradial had
the same issue...

On Wed, Sep 20, 2017 at 1:41 PM Zach Sherman <notifications@github.com>
wrote:

--
Steve Nesbitt, Associate Professor
Department of Atmospheric Sciences, University of Illinois at
Urbana-Champaign
Room 3060 Natural History Building, 1301 West Green Street, MC-104, Urbana,
IL 61801 USA
voice : +1.217.244.374

[2017-09-20 20:09] zssherman commented on #686
Ah gotcha, I think I know what it is. If the error was ''numpy.str_' object has no attribute 'decode'" Valentin had a fix in #656 pretty much it is trying to decode a string already decoded in newer versions. I would try a python setup.py install of the current master of pyart or a pip install git+https://github.com/ARM-DOE/pyart.git. Yeah hopefully soon we will have a new release with conda.

[2017-09-20 20:13] swnesbitt commented on #686
Thanks.  Yes, we were able to install it from source.

[2017-09-20 20:46] scollis commented on #686
We need a new release soon.
Will look at doing that next week

-sent from a mobile device-

[2017-09-29 14:14] meteoswiss-mdr opened #689 "Monitoring of ZDR in snow"
Hi all,

Just to tell you that I implemented the monitoring of ZDR in snow as suggested by M. Dixon during the AMS conference and it looks quite promising.

Whenever you want I can do a pull request.

Greetings from Switzerland,

Jordi

[2017-09-29 22:43] pjmarinescu opened #690 "Code Stalls When Using pyart.correct.dealias_fourdd"
Hello,

I have been using pyart to read in and dealias both NEXRAD Level 2 and CSU-CHILL radar velocity data. I have been using the pyart.correct.dealias_fourdd function. It works great for the NEXRAD data, but the code stalls for the CSU-CHILL data. The CSU-CHILL data I am using is not in the traditional CHL format, but has been converted to uf files (these files are ~30 MB). [I was able to make

[2017-10-13 12:51] scollis opened #691 "Python 3 issue with KAZR ingest"
in line https://github.com/ARM-DOE/pyart/blob/master/pyart/aux_io/arm_vpt.py#L76
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-9-89fa0024cb45> in <module>()
----> 1 radar = pyart.aux_io.read_kazr(all_paths[test_number])

~/anaconda3/envs/cmac_env/lib/python3.6/site-packages/pyar

[2017-10-13 13:36] scollis commented on #691
Fixed by #692

[2017-10-13 13:36] #691 closed

[2017-10-17 19:54] freemansw1 commented on #690
Just to follow up on this- I've been working on debugging this now and have narrowed it down to the while loop in the findRay function of dealias_fourdd.c. It appears that under certain circumstances, the while loop can never find a ray that is sufficiently close, so it gets caught in an infinite loop.

I have been able to somewhat resolve the problem by replacing the relatively complex findRay fu

[2017-10-17 20:09] scollis commented on #690
Hey Sean,
Is this in Py-ART or 4DD itself?

--
Scott Collis

On Oct 17, 2017 at 2:54 PM, Sean Freeman <notifications@github.com> wrote:

Just to follow up on this- I've been working on debugging this now and have
narrowed it down to the while loop in the findRay function of
dealias_fourdd.c. It appears that under certain circumstances, the while
loop can never find a ray that is sufficiently close

[2017-10-17 20:11] freemansw1 commented on #690
It looks like it's in the 4DD C code itself- although in the Py-ART version of it (so the one in pyart/correct/src). I'm not familiar with the original 4DD code though, so this could be from the modifications made to the code to interface with python.

[2017-10-17 21:49] scollis commented on #690
Yep.. I would say put a PR against it.. We can contact the guys from UWash
(who use Py-ART anyway) so they can update 4DD.. CC-ing in Stacey Brodzik.

--
Scott Collis

On Oct 17, 2017 at 3:11 PM, Sean Freeman <notifications@github.com> wrote:

It looks like it's in the 4DD C code itself- although in the Py-ART version
of it (so the one in pyart/correct/src). I'm not familiar with the original
4DD

[2017-10-18 03:48] freemansw1 commented on #690
Okay, I've put a PR on this, #693 . Not entirely sure that my way of fixing it is entirely correct/robust, but at the least, it avoids the infinite loop. It's still odd to me that these files have this problem, but I assume it is some sort of a sector scan issue or something that hasn't yet been encountered.

[2017-10-18 23:37] srbrodzik commented on #690
The original 4DD code was written in C a long ago by one of our grad students.  I have no idea who created the python version but I do know that it exists.  The analysis that freemansw1 did seems reasonable and I have no problem if he implements it.

[2017-10-30 01:09] vlouf opened #694 "Breaks when trying to read an ODIM HDF5 file with missing tilts."
We had a problem at the BOM with some ODIM HDF5 files. Some scan can be missing some data types.

For example, on one of the file, tilt 10 does not contain reflectivity.  The file itself is valid, but the volume scan does not contain all the data it normally would.

This can happen for lots of reasons but the most common one is that the communications line to the radar was running slowly so some o

[2017-10-31 13:36] tanelv opened #695 "PhiDP unfolding issues using phase_proc_lp"
pyart.correct.phase_proc_lp seems to have issues with IRIS RAW files. I am trying to use this function to recalculate KDP values, but as it can not correctly unfold the PhiDP values, it affects the recalculation of KDP as well.
There are no issues in rays with no folding of PhiDP, but in rays where folding occurs it is problematic: it starts with a negative value and the highest value in these ray

[2017-10-31 14:26] scollis commented on #695
Thanks!
Yes. The unwrap code needs a complete rework.. It also needs to take in a
gate filter as an input.. It was written quickly to fix an issue..
However it should matter what file it comes from.. To Py-ART data is data..

I’ll leave it to the community for a little while to take a look before
giving it a crack myself.. But we do know (not just for Py-ART but for our
ARM work) this is something

[2017-11-18 19:31] CSlocumWX commented on #636
While @tjlang's fix works, I believe that this line should be changed so that it is [PEP 238](https://www.python.org/dev/peps/pep-0238/). With version Python 2.2, the integer division operator, '//', was added. Possibly consider changing the line from
`i2 = int(np.shape(labels)[0] / 2)`
to
`i2 = labels.shape[0] // 2`

[2017-11-19 02:21] tjlang commented on #636
Updated https://github.com/ARM-DOE/pyart/pull/674 to address this issue.

[2017-12-04 16:26] meteoswiss-mdr commented on #684
@scollis,

I have checked the code with the original version from Vulpiani (He kindly gave it to me). I can confirm that there was an error in the implementation. I have corrected it and it should be ready to pull. As soon as you tell me I will do so.

[2017-12-04 16:36] scollis commented on #684
Submit a PR at your convenience. I am on travel next week. I hope to dedicate some more time to Py-ART early next year as we cut a new release. Thanks for your work on this @meteoswiss-mdr

[2018-01-16 14:50] hhuangwx opened #696 "The circular reference in Radar Class"
The LazyLoadDict used in the Radar class causes a circular reference, which will make the memory used by the class never collected by the automatic gc system (known as the memory leakage).
![image](https://user-images.githubusercontent.com/11309009/34994685-4f062d8e-fb0f-11e7-9669-c8b9ceb48b94.png)

If you are agree with my opinion that the LazyLoadDict should not utilized, I can help to fix the a

[2018-01-16 15:06] scollis commented on #696
Thanks @hhuangwx ! @zssherman take a look at this

[2018-01-16 15:06] scollis commented on #696
And yes.. a PR would be very welcome..

[2018-01-17 18:00] scollis commented on #696
Ha! Your PR found a bigger issue as well thanks to the CI. Numpy's np.fromstring is depricated.
We need to fix this first. It will not impact CF-Radial.. but it will impact the binary readers.

[2018-01-17 18:05] scollis opened #699 "Replace instances of np.fromstring with np.frombuffer"
This is poorly documented in Numpy but looking here:
https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.fromstring.html

It looks like fromstring will soon no longer fall back to frombuffer. We need to look at changing all our np.fromstring calls to np.frombuffer

[2018-01-17 18:30] scollis opened #701 "Small edit to the contributors guide"
The way we tell people to run unit tests will not work..
We need to tell users to run
`python setup.py build_ext --inplace`

[2018-01-17 18:37] scollis commented on #699
actual message
[code]

[2018-01-17 18:39] scollis commented on #699
@goharkey submitted a PR but it only addresses Nexrad.

We also want to check carefully frombuffer is unpacking correctly

Call me untrusting

[2018-01-17 20:27] dopplershift commented on #699
That's what the tests are for. 😁

[2018-01-17 20:38] scollis commented on #699
Exactly.. my initial explore with mdv format has me hopeful

Sent from my iPad

[2018-01-17 22:46] scollis opened #703 "Fix field test on MDV"
Seems the unit test for testing field data was named test_elevation
https://github.com/ARM-DOE/pyart/blob/master/pyart/io/tests/test_mdv_radar.py#L341

Just need a simple function name change

[2018-01-17 23:10] dopplershift commented on #666
It's usually pretty easy, and looking over your codebase, I don't think you'll have much problem because you're using a lot of the utility functions from numpy. The challenge happens when you move from nose's tools functions (like `assert_equal`) to use pytest's use of bare `assert` functions. You'll have to replace your use of `SkipTest` with something from pytest--I just don't remember what that

[2018-01-17 23:46] scollis commented on #699
@zssherman we missed one
[code]

[2018-01-17 23:56] scollis commented on #699
now of course the big issue is with Basemap @WeatherGod
We'll comment over there but it is throwing all these warnings as well.

[2018-01-17 23:58] zssherman commented on #699
@scollis that is the one that I had to delete the build and do the python setup.py install build-ext -i and redo the nosetests and it got fixed. The one I asked about on slack.

[2018-01-18 00:14] zssherman commented on #666
Ah gotcha, well that is good to hear, and the functions like SkipTest etc, I'll look more in to. Thank you, that information helps alot!

[2018-01-18 01:31] scollis commented on #699
Okay thanks to @zssherman and new contributor @goharkay this is fixed via #700 #702 and #704

[2018-01-18 01:31] #699 closed

[2018-02-05 12:48] meteoswiss-mdr opened #708 "No version of basemap available for python 3.6 in conda"
Hi all,

I think there should be a cautonary note somewhere on that. There is no version of basemap compatible with Python 3.6 in conda:

conda install basemap nose h5py gdal
Fetching package metadata ...........
Solving package specifications: .

UnsatisfiableError: The following specifications were found to be in conflict:
  - basemap
  - gdal
  - python 3.6*
Use "conda info <package>" to see th

[2018-02-05 14:11] scollis commented on #708
Lets look into this. we are managing to test ok in version 3.6 from Conda forge
https://github.com/ARM-DOE/pyart/blob/master/continuous_integration/environment-3.6.yml

gdal has always created issues for me. I wonder if we should deprecate basemap support.. time to sunset Py-ART's usage for sure. I am working on an X-Array bridge for the grid object.. this automagically creates nice cartopy suppor

[2018-02-05 14:24] kmuehlbauer commented on #708
@meteoswiss-mdr Obviously some of your installed packages doesn't match.
I can create a clean environment with:

`conda create -n basemap basemap gdal h5py numpy`

conda list

[code]

[2018-02-06 03:49] dcedgren commented on #551
Just a note that I ran across this issue wanting to bring in DPR Level-III data into Py-ART. Looked into it briefly and I don't know what I'm doing well enough for me to try to use the Metpy code, and Metpy does not currently appear to have an output function.

So mostly just a quick note to say I'd appreciate support for this if you ever get around to it, or else any recommendations for a (not to

[2018-02-08 10:14] meteoswiss-mdr commented on #252
Hi, I propose a quick fix for this one:
The data fields would still be a 2D-array of ray-range with the range length being defined by the ray that has the maximum number of gates.
The range Attribute data would become a 2D-array of ray-range (not a 1D-array of range as it is now )where the actual range of each gate at each ray would be specified.
The Attribute ngates would not be an integer but a

[2018-02-08 11:10] kmuehlbauer commented on #252
@scollis BTW, anything new on CF2.0?

[2018-02-09 15:52] karosc commented on #708
I am having a similar issue on windows. I found precompiled versions of basemap [here](https://www.lfd.uci.edu/~gohlke/pythonlibs/#basemap), but they are compiled using the most recent numpy 1.14, while pyart is specified to only use 1.12.

This causes an error when importing pyart, as basemap and pyart use conflicting versions of numpy. Is there any reason not to move up to the most recent numpy

[2018-02-09 20:47] scollis commented on #708
Sorry to hear @karosc . We will be cutting a new PyART release next week.. hoping this will resolve your issue

[2018-02-09 20:51] scollis commented on #252
Hey @kmuehlbauer and @meteoswiss-mdr !
I will ping @josephhardinee on CF2.0... he keeps up with that more than me..
I like your proposal @meteoswiss-mdr .. I would suggest the best way to proceed is not to touch the existing core.radar object but to add a new core.vradar object. Also note we have a desire to add core.spectraradar as well..

[2018-02-12 07:17] meteoswiss-mdr commented on #252
@scollis
I would prefer not to create a new radar object. I handle many different types of radars and to have two different types of objects doing essentially the same would make my pyrad (https://github.com/meteoswiss-mdr/pyrad) processing framework more difficult to mantain.
If my proposal is accepted and we allow ngates and range to have a varying type, for the current user will make absolutely

[2018-02-12 14:33] josephhardinee commented on #252
So a CF/Radial 2.0 proposal is out and can be found on Github. There is also a CF/Radial 1.5 as well being maintained in parallel (Which I believe should be out at some point). 1.5 looks  a lot like 1.4 with improvements to things like naming and some edge cases that were not handled before. 2.0 looks more like the gamic files in that it uses groups to separate sweeps and allows changes of metadat

[2018-02-12 14:39] josephhardinee commented on #252
Actually I read some of Jonathon's comments about Nexrad and that would require a 2d array of range, or the CF 2.0 route of splitting up by sweep. I'm not sure there is going to be a purely CF/Radial compliant way of implementing this. I'll bring it up with Mike though and see what can be done. I think adding ray_n_gates to 2.0 goes part of the way towards helping.

Supporting CF/Radial 2.0 will r

[2018-02-12 14:43] scollis commented on #252
Yep. Making Py-ART work with CF 2.0 is doable but is a big change.. And there are plenty of other things we want to tackle.. 1.5 will be our target. We are cutting a release this week (1.9 Picasso)  , lets aim to get @meteoswiss-mdr 's proposal moving for Py-ART 1.20, Dali

[2018-02-12 18:42] dopplershift commented on #708
@scollis FYI, conda-forge has stopped pinning particular versions of numpy for the compiled packages; so either a new release or updating the package should allow you to be binary compatible with any of the numpy's.

[2018-02-13 16:25] scollis commented on #690
I think this is fixed by #693 Please reopen if still an issue

[2018-02-13 16:25] #690 closed

[2018-02-13 16:26] scollis commented on #684
Thanks @meteoswiss-mdr for your PR.. #707 closes this out.. If @nitinbharadwaj could do a test and confirm that will be great... Please reopen if issues persist

[2018-02-13 16:26] #684 closed

[2018-02-13 19:23] scollis commented on #677
@zssherman is this still an issue?

[2018-02-13 19:25] scollis commented on #642
@zssherman can you investigate please so we can close this issue

[2018-02-13 19:25] zssherman commented on #677
@scollis This is related to pull request #675 the travis test need to run again.

[2018-02-13 19:26] scollis commented on #551
@dopplershift : Did you ever provide this in MetPy?

One day we should discuss some bridges between MetPy and Py-ART

[2018-02-13 19:43] dopplershift commented on #551
We have the decoding working, we just don't have much of a data model around them; very ad-hoc data structures with dicts of dicts of lists of dicts...

[2018-02-13 20:02] scollis commented on #551
Is the data range-az-el data?

[2018-02-13 22:36] dopplershift commented on #551
Looks like it, yeah. Here's what I played with in MetPy:
[code]

Looking over that code, it looks like that ICD was pretty damn sketchy...

[2018-02-21 21:11] scollis commented on #708
Closing as I assume Py-ART 1.9.0 fixed this... reopen if an issue

[2018-02-21 21:11] #708 closed

[2018-02-21 21:14] scollis opened #712 "Create "Cheat Sheet" hand out"
We need a hand out sheet like this:
https://s3.amazonaws.com/assets.datacamp.com/blog_assets/Numpy_Python_Cheat_Sheet.pdf

I recall seeing a template for this.. We need to track this down as it will be a very handy hand out. Pun intended

[2018-02-21 21:24] kmuehlbauer commented on #712
@scollis See here: https://gitter.im/openradar/Lobby I sent you our template last year.

[2018-02-21 21:25] scollis commented on #712
Yay! I knew you did I was just too disorganized to remember where.. Much appreciated @kmuehlbauer !

[2018-02-21 21:27] kmuehlbauer commented on #712
:+1: Let me know, if you buried it too deep.

[2018-02-22 20:55] scollis opened #713 "Create color blind friendly colormap from Cameron Homeyer."
See Tweet
https://twitter.com/AtmoScientist/status/966720414381682688
![dwqgyzuuqaafomn](https://user-images.githubusercontent.com/825351/36563624-5c6a543a-17e0-11e8-83f7-c35b986d341f.jpg)

[2018-02-22 20:56] scollis commented on #713
Assign @rcjackson
For some reason the system will not let me do this

[2018-02-22 21:05] dopplershift commented on #713
Is he a collaborator or team member on the repo?

[2018-02-22 21:08] scollis commented on #713
Yeah.. Think that is my issue..

[2018-02-22 21:09] dopplershift commented on #713
That's the sole reason why having a contributor with "read only" access makes sense on a public project.

[2018-02-22 21:10] scollis commented on #713
Done.

Scott Collis

On Feb 22, 2018 at 3:09 PM, Ryan May <notifications@github.com> wrote:

That's the sole reason why having a contributor with "read only" access
makes sense on a public project.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/ARM-DOE/pyart/issues/713#issuecomment-367823078>, or mute
the thread
<https

[2018-02-22 22:57] swnesbitt opened #714 "python 3.6 read_nexrad_archive"
Getting a bazillion depreciation warnings when trying to read a nexrad level2 file using `pyart.io.read_nexrad_archive(filename)` in python 3.6

[code]

[2018-02-22 23:01] swnesbitt commented on #714
obvs can do this to hide 😄
[code]

[2018-02-22 23:04] scollis commented on #714
Update time for you. We fixed this in #700
Py-ART 1.9.0 on conda-forge has this fixed.

[2018-02-22 23:04] scollis commented on #714
print(pyart.__version__)

[2018-02-22 23:05] zssherman commented on #714
@scollis beat me to it.

[2018-02-22 23:05] scollis commented on #714
I love answering the easy ones.

[2018-02-22 23:06] scollis commented on #714
@swnesbitt Let me know if this works so I can close the issue.

[2018-02-22 23:06] swnesbitt commented on #714
[code]

[2018-02-22 23:06] scollis commented on #714
Yeah.. sorry
`pyart.__version__`

[2018-02-22 23:07] swnesbitt commented on #714
'1.9.0.dev+35d6f51'

[2018-02-22 23:08] scollis commented on #714
Hmm ok .. That is odd then.. did you install from source or conda-forge?

[2018-02-22 23:08] swnesbitt commented on #714
source

[2018-02-22 23:10] swnesbitt commented on #714
trying conda-forge

[2018-02-22 23:11] swnesbitt commented on #714
that fixed it 👍

[2018-02-22 23:11] #714 closed

[2018-02-22 23:21] swnesbitt commented on #713
This is pretty similar to @tjlang 's rainbow color table...

<img width="620" alt="screenshot 2018-02-22 17 17 41" src="https://user-images.githubusercontent.com/3288592/36569774-bfae4e0c-17f4-11e8-8005-e53b8d7ef8f8.png">

[2018-02-23 14:12] scollis commented on #713
Agree @swnesbitt but it does not hurt to have more. I will create a meta-class of colorblind friendly colormaps. something like pyart.graph.cb_cm

[2018-02-23 14:13] scollis commented on #713
ping @dopplerchase

[2018-02-23 15:20] swnesbitt commented on #713
OK, I'm going to dig out the Zipser-Nesbitt color table from the IDL
archives...

On Fri, Feb 23, 2018 at 8:12 AM, Scott <notifications@github.com> wrote:

--
Steve Nesbitt, Associate Professor
Department of Atmospheric Sciences, University of Illinois at
Urbana-Champaign
105 S. Gregory St., MC223, Urbana, IL 61801-3070  USA
voice : +1.217.244.3740  fax : +1.217.244.1752
internet : snesbitt@illino

[2018-02-23 15:27] scollis commented on #713
Please do @swnesbitt ! It is Ed I have foremost in my mind when advocating for accessable colormaps.

[2018-02-23 15:32] swnesbitt commented on #713
![screenshot 2018-02-23 09 32 21](https://user-images.githubusercontent.com/3288592/36602043-863d612a-187c-11e8-832c-a48006006c03.png)

[2018-02-23 15:33] dopplerchase commented on #713
There are pre-made functions to investigate the different colormaps found here: [link](https://matplotlib.org/cmocean/colormaps_viscm.html#colormaps-viscm )

![image](https://user-images.githubusercontent.com/22037322/36602004-693ca3ce-187c-11e8-9192-42c673227f0f.png)

[2018-02-23 15:34] scollis commented on #713
very cool.. @rcjackson I wonder if this will help http://astrolitterbox.blogspot.com/2012/11/rewriting-idl-color-table-routines-in.html

[2018-02-23 15:40] tjlang commented on #713
Yeah, I remember now, I could get LangRainbow42 to be relatively decent for color blindness (not perfect by any means), but it was crap for B&W printing. It is by design not perceptually uniform, the yellow is a big breakpoint. That causes the eye to pick out likely convective areas, provided you pick the center point of your dBZ scale well. It was a good exercise for learning how to make color ta

[2018-02-23 15:45] scollis commented on #713
So for Scipy I will be instructing my whole team to stay away from the NWS color
tables. We get nailed for bad color tables when we present outside the radar community. LangRainbow12 is not perfect but it is far better.

[2018-02-23 15:50] dopplerchase commented on #713
I agree
![image](https://user-images.githubusercontent.com/22037322/36602999-08aebbf2-187f-11e8-98ce-0537af267d94.png)

[2018-02-23 16:46] kmuehlbauer commented on #713
@scollis This comes straight back to some discussion we had, I currently do not remember where. Short story, we used viridis for some reflectivity plots in a paper. We had to change it back to rainbow, because editor and reviewer forced us to.

I'm all for special weather radar colorblind friendly and perceptually uniform colormaps.

But I would greatly appreciate it, if we can have a dedicated pa

[2018-02-23 16:51] scollis commented on #713
Good idea @kmuehlbauer I was thinking about doing two things:
1) Regardless of where the colormaps reside we make a set of notebooks with @dopplerchase 's plots and a set of clear recommendations. These should reside in @openradar
2) BAMS inbox article on this topic. We need to be able to nail reviews that are stuck in the past. Having a citable reference will greatly help.

[2018-02-23 16:52] scollis commented on #713
By the way @kmuehlbauer I am vice chair of the AMS Radar Committee.. We can look at having a formal recommendation on best practices that will be adopted by the AMS..

[2018-02-23 16:54] kmuehlbauer commented on #713
@scollis Great, any way forward is good!

Short Abstract for ERAD still in the ballpark? WDYT?

[2018-02-23 17:26] rcjackson commented on #713
The colormap is no good for black and white, but otherwise it looks like it should work well for colorblindness.
![yuvrainbow24 evaluation](https://user-images.githubusercontent.com/22085748/36607438-403f8fe4-188c-11e8-8a06-0d11dc97acc1.png)

[2018-02-23 18:22] CameronHomeyer commented on #713
Fantastic work Bobby! This clearly shows another problem with the original (a luminance issue at the green-yellow seam). Please tweak the luminance assignment a bit following changes I made this morning: https://twitter.com/AtmoScientist/status/967048352784318465

[2018-02-23 18:51] scollis commented on #713
@kmuehlbauer I have another topic in mind for my presentation but I would be 100% supportive of an abstract on this!!! Can we put in two? If no one else wants to lead the abstract I will.

@CameronHomeyer Welcome! This is a good platform to iterate.. Looking forward to seeing what @rcjackson comes up with on your tweak.

[2018-02-23 18:58] scollis commented on #713
From Twitter https://twitter.com/njgoldbaum/status/967105515955335168
IDL colormaps in Python through YT

[2018-02-28 22:08] scollis commented on #713
How we going with this @rcjackson ?

[2018-02-28 22:18] rcjackson commented on #713
I was able to get @CameronHomeyer's colormap to work in Python, but have not gotten past that point yet. Need to test out the yt colormaps to see if there is anything colorblind friendly in there. After that I suspect adding them into Py-ART will be easy. I can get around to this tomorrow.

[2018-02-28 22:20] rcjackson commented on #713
![yuvrainbow24 evaluation](https://user-images.githubusercontent.com/22085748/36816412-4cd925e2-1ca3-11e8-9734-dc1804fe50d4.png)
Seam is gone @CameronHomeyer

[2018-02-28 23:08] CameronHomeyer commented on #713
Looks great @rcjackson! Thanks again for making this work.

[2018-03-01 14:42] nguy commented on #681
Sorry for the delay.
That's a good idea. One other thought tossing around my head is being able to select a slice of azimuth. If you were to provide a backend to xarray, this would be an easy operation with the `dataframe.sel` method.

[2018-03-01 15:56] rcjackson commented on #713
![yuvrainbow24 evaluation](https://user-images.githubusercontent.com/22085748/36854288-3d34964c-1d36-11e8-8d48-9727bfa6d3ce.png)
Changed the transition and also (I was using 50 colors, seems like setting nc to 15 makes the seam even less visible).

[2018-03-01 16:13] scollis commented on #713
@stechma2 how does this look to you?

[2018-03-01 16:22] stechma2 commented on #713
@scollis This looks excellent to me. I can easily pick out the transitions between each of the colors and subsequently any changes in pattern in the examples... @rcjackson can you show a sample reflectivity plot of a common feature (i.e., MCS, supercell, whatever) just for reference?

[2018-03-01 16:24] zssherman commented on #686
Fixed in [release 1.9.0 Picasso](https://github.com/ARM-DOE/pyart/releases/tag/v1.9.0-picasso). @scollis Want me to close?

[2018-03-01 16:26] dopplerchase commented on #713
I second @stechma2's motion for an example for reference

[2018-03-01 16:28] scollis commented on #713
@rcjackson can you whip something up from a radar file?

[2018-03-01 16:36] kmuehlbauer commented on #713
:+1: This looks very promising with respect to smoothness. Need to see greyscale figures from it.

Would be nice, if the data file and the python code to plot would be made available somewhere. So we could test same data also with our favorites.

[2018-03-01 16:36] scollis commented on #713
This will be part of the ERAD presentation @kmuehlbauer

[2018-03-01 16:37] scollis commented on #713
We will have a set of test cases for visualization.

[2018-03-01 16:38] scollis commented on #713
Once we have this in an accepted PR I will open a new issue covering the larger issue.

[2018-03-01 16:39] kmuehlbauer commented on #713
@scollis Yes, for sure. Would be good to have a playground with different data and different moments on the way to the ERAD presentation.

[2018-03-01 16:45] rcjackson commented on #713
![colorblind_berrimah_example](https://user-images.githubusercontent.com/22085748/36857211-90a30816-1d3d-11e8-9d0a-0fe5c84d5bf6.png)

Here is an example.

[2018-03-01 16:48] kmuehlbauer commented on #713
@rcjackson Nice. Are the lower end values masked? I do not see darker blue values. Could you set vmin,vmax to 0 and 55? Or some other fitting values?

[2018-03-01 16:49] scollis commented on #713
Its operational data.. they are discarded by the signal processor

[2018-03-01 16:52] kmuehlbauer commented on #713
Maybe I'm missing something. Are the colors fitted to specific dBZ values? Or does the colormap use the dynamic range of the data? Just curious.

[2018-03-01 16:52] rcjackson commented on #713
![colorblind_berrimah_example](https://user-images.githubusercontent.com/22085748/36857620-9691671c-1d3e-11e8-8546-eaeb4891835a.png)
vmin, vmax is 0 to 60

[2018-03-01 16:54] rcjackson commented on #713
Gonna put in a PR with a new cm_colorblind class that will start out with just this colormap and its reverse. With more discussion more maps will be added later.

[2018-03-01 18:32] CameronHomeyer commented on #713
@rcjackson Looks great! Hard to believe this came together so fast, but my compass is tuned to academic life :)

[2018-03-01 20:55] scollis commented on #713
Closing as addressed by #716 We will open a more wide ranging issue which will be aligned with our ERAD work which will look at each moment and building out a set of colormaps in cm_colorblind. Seconding @CameronHomeyer this is a phenomenal effort going from tweet to code in 7 days.

[2018-03-01 20:55] #713 closed

[2018-03-07 19:48] mhpicel opened #717 "Investigating behavior of masked arrays"

[2018-03-12 20:43] deeplycloudy opened #718 "Improving plot_ppi_section for unordered VCPs (e.g., 88D SAILS)"
When WSR-88D data are in a SAILS VCP mode (elevation pattern below), it causes the PPI cross section plot to drop or oddly overplot some rays. This can be worked around with a manual call to `extract_sweeps`, but I propose that this situation be automatically detected and corrected for the user.

The list of elevations angles is:
`[0.48339844, 0.48339844, 0.87890625, 0.87890625, 1.31835938, 1.3183

[2018-03-12 22:21] scollis commented on #718
Thanks @deeplycloudy and Jessica! A PR on this would be most welcome.. Suggest having a method that can be called by the user and then called automatically by plot ppi xsects.. We have some travel coming up but can help in a few weeks

[2018-03-18 11:59] winash12 opened #719 "Mapping of satellite borne Doppler radar data"
Based on my question in the mailing list and this reference - https://journals.ametsoc.org/doi/pdf/10.1175/1520-0426%281994%29011%3C0572%3AMOADRD%3E2.0.CO%3B2 I do not understand why mapping (or interpolating) satellite borne Doppler radar data(for e.g. GPM precipitation radar) into a Cartesian coordinate system would not be part of PyArt. NCAR currently has two tools for this - REORDER and SPRINT

[2018-03-20 01:41] winash12 commented on #719
@scollis Thanks for adding this as an enhancement. Please correct me if I am wrong but the functionality /implementation code required for GPM should be a subset of the airborne borne Doppler radar given that the satellite moves in a constant trajectory around the earth unlike an aeroplane. A plane conceivably could move in a trajectory that would involve changes to all  three Eulerian angles but

[2018-03-20 09:30] swnesbitt commented on #719
There is open source IDL code for this purpose https://opensource.gsfc.nasa.gov/projects/GPM/index.php#software

Turns out to be more difficult to do this in practice than you might think, because the satellite geolocation is typically uncertain by as much as a few kilometers in the case of TRMM due to the failure of the star tracker on board. GPM is probably better, but may be several hundred met

[2018-03-20 09:54] kmuehlbauer commented on #719
Just as a sidenote there is the paper of [Schwaller and Morris (2011)](http://journals.ametsoc.org/doi/pdf/10.1175/2010JTECHA1403.1) and the recent paper of [Warren et al. (2017)](https://journals.ametsoc.org/doi/pdf/10.1175/JTECH-D-17-0128.1) which handle 3D matching of ground based radar and space born radar.

@scollis If there is interest in python code, there is [this repo](https://github.com/

[2018-03-20 10:24] winash12 commented on #719
I found another one here - https://github.com/vecoveco/gpm

[2018-03-20 11:26] scollis commented on #719
I should also add wradlib has some capabilities

-sent from a mobile device-

[2018-03-20 14:54] vlouf commented on #719
If you want, I volunteer to rework my script (the current repo is not up-to-date with what we use at the BOM), to look like more something we could implement in pyart..

[2018-03-21 01:57] winash12 commented on #719
I also volunteer my time to work with @vlouf and probably @kmuehlbauer. We could take the best approach of both repos and come up with a best solution for PyArt. At the moment I am a noob but I can come up to speed very quickly.

[2018-03-21 15:49] vlouf commented on #719
I thought about it and I think I can port the latest version of the matching code used at the BOM into PyART without too much work. However, it requires [pyproj](https://pypi.python.org/pypi/pyproj?) (and the PROJ4 library)... I am almost certain that basemap already requires it, thus it wouldn't be a problem. But if it isn't something installed by basemap, I suppose it could be an optional packag

[2018-03-21 16:27] winash12 commented on #719
@vlouf i have not tried running your code yet. Can it handle  stand alone SR data ? I am talking about situations like over the oceans or over the mountains where ground radars may or may not be present. Also please correct me if I am wrong - your code requires installation of both HDF5 and HDF4 ?

[2018-03-21 16:39] kmuehlbauer commented on #719
@vlouf @winash12 I can recommend using netcdf4 to read the gpm and trmm files. If you need some inspiration, have a look into wradlib read_gpm and read_trmm functions. This prevents using hdf4 for reading the trmm data.

[2018-03-21 16:45] winash12 commented on #719
@kmuehlbauer We may need to take this offline but correct me if I am wrong. Since the GPM data that I download from NASA is in HDF5 you are suggesting I convert from HDF5 to netCDF4 before I call read_gpm ?

[2018-03-21 16:45] kmuehlbauer commented on #719
@winash12 reading gpm or trmm data is not the problem. But correct georeferencing is needed to get the xyz coordinates of the 3D SR bins. And of course what projection to use.

[2018-03-21 16:46] kmuehlbauer commented on #719
No, netcdf4 is capable of reading hdf. No need to convert.

[2018-03-21 16:46] winash12 commented on #719
I would be hoping to use the lat lon grid or the cylindrical equidistant projection but of course others may have other projections in which case we do need pyproj and proj.

[2018-03-21 16:50] winash12 commented on #719
@kmuehlbauer if I understood you correctly one needs to go from radar coordinate system to Cartesian and then you do a projection from that is that correct?

[2018-03-21 16:59] kmuehlbauer commented on #719
@winash12 OK, I think we talk different things. Do you use 2D near surface products or 3D products? The matching stuff @vlouf and me were referring to is in 3D.

If you just want to use 2D near surface products than you are almost ready. Just getting the swath 2d data and use the provided lat lon coordinates. But I'm possibly missing something.

[2018-03-21 17:03] winash12 commented on #719
@kmuehlbauer No I need th 3D Product I am interested in studying mesoscale convective systems . So I need the 3D echo.

[2018-03-21 17:22] winash12 commented on #719
@kmuehlbauer So both of NCAR's SPRINT and REORDER(no longer supported)  I believe use bilinear interpolation from radar coordinate system to the xyz Cartesian grid.

[2018-03-21 17:36] kmuehlbauer commented on #719
@winash12 What is your destination resolution of your xyz grid? The SR 'grid' is quite huge. Also, for GR comparison one would assume GR centric aeqd. Over ocean and the like you would need to fix your xyz grid at some point.

[2018-03-21 17:48] winash12 commented on #719
@kmuehlbauer I think that would resolution would be determined by data storage computations as you rightly point out that the SR 'grid' is huge. So 2 km by 2 km in the horizontal and 0.5 km in the vertical. The total interpolation grid would  be around 100 km x 100 km x 12 kms.

@scollis I will definitely ping @dopplerchase offline

[2018-03-22 03:27] #680 closed

[2018-03-22 03:37] bugsuse commented on #680
Could you tell me which one method can achieve the plot on current version? Thank you very much! @meteoswiss-mdr

[2018-03-22 07:43] meteoswiss-mdr commented on #680
Hi @bugsuse,

The function is called plot_lanlon_level and it has been implemented in the MeteoSwiss version of Py-ART:
https://github.com/meteoswiss-mdr/pyart/blob/pyart-mch/pyart/graph/gridmapdisplay.py

It is not the official one. @scollis, since there is a demand for it maybe we can accelerate the transfer of this function?

[2018-03-22 09:13] bugsuse commented on #680
It's wonderful! Thanks a million! @meteoswiss-mdr

[2018-03-25 19:08] swnesbitt opened #720 "texture_of_complex_phase doesn't like non-ARM variable names"
[code]
on non-ARM data with a different variable name for measured differential phase gives
[code]

[2018-03-25 19:42] scollis commented on #720
Thanks @swnesbitt @rjackson will lake a look

[2018-03-25 19:43] scollis commented on #720
Oops I meant Bobby

[2018-03-26 18:34] rcjackson commented on #720
This is due to a bug in the code when phidp_texture_field is None (the default setting). It just sets the phidp_field to the ARM name when you set phidp_texture_field to None. I put in a PR fixing this and adding better metadata.

[2018-03-29 16:40] kmuehlbauer opened #722 "wradlib release 1.0.0"
wradlib release 1.0.0 is on it's way. There are breaking changes in this version which also effect pyart rainbow reader. The changes were due to PEP8 conformity, so everything will work after introducing these changes.

I will introduce the necessary changes next week via PR. Sorry for any inconvenience.

[2018-03-29 16:40] kmuehlbauer commented on #722
@scollis You might assign me to this.

[2018-03-29 16:54] kmuehlbauer commented on #722
@scollis How should I implement this? A version check would be best. So things won't break environments with old wradlib.

[2018-03-30 07:15] scollis commented on #722
Hi folks. On vacation will get to this next week

-sent from a mobile device-

[2018-04-03 15:06] #722 closed

[2018-04-03 15:52] scollis commented on #720
Closed by #721

[2018-04-03 15:52] #720 closed

[2018-04-04 16:29] zssherman commented on #641
@scollis For this, should we have a data folder under examples with all the files? Or maybe a separate data repository. The first option, the files would get downloaded when the pyart repository is cloned, and not sure if that option is desired, seeing as the files are currently separate at the engineering jhelmus link.

[2018-04-04 16:59] zssherman opened #725 "ARM Radar Group link broken"
The ARM Radar Group link found on the page here http://arm-doe.github.io/pyart is broken. @scollis Want it removed or replaced with something different? The link embedded http://radar.arm.gov/ARM_Radars/ doesn't exist, and removing the /ARM_Radars the link  http://radar.arm.gov/ then redirects to WARNOs page.

[2018-04-04 17:03] zssherman commented on #725
And it seems the GitHub Repo and source code both are the same links, so if you want me to remove one of them?

[2018-04-04 17:11] scollis commented on #725
A good docfix is always welcome!

Scott Collis

On Apr 4, 2018 at 11:03 AM, Zach Sherman <notifications@github.com> wrote:

And it seems the GitHub Repo and source code both are the same links, so if
you want me to remove one of them?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/ARM-DOE/pyart/issues/725#issuecomment-37867

[2018-04-04 17:15] kmuehlbauer commented on #641
@zssherman A separate repo would indeed be a good solution. Most obvious reason is to not clutter the source code repo with huge data. It works quite well in other packages I maintain. There are different approaches for retrieval though.

[2018-04-04 18:29] zssherman commented on #641
@kmuehlbauer Very good point, I like that idea. Yeah a separate repo seems ideal.

[2018-04-10 13:05] meteoswiss-mdr opened #726 "issue with _interpolate_azimuth_edges"
Hi,

I encountered a very weird issue with the function _half_angle_complex in transforms.py.

If the azimuth angles of the rays are all the same, due to rounding the dot_product may be larger than one and therefore produce a nan value. In the newest versions of matplotlib pcolormesh cannot handle masked values for the x or y arguments and therefore it raises an exception.

I solved the issue simp

[2018-04-10 13:12] scollis commented on #726
Thanks @meteoswiss-mdr ! @zssherman can you handle this.

[2018-04-10 13:55] zssherman commented on #726
@scollis Sounds good, I will take a look. Thanks @meteoswiss-mdr for catching this!

[2018-04-10 16:15] zssherman commented on #726
@scollis After a short discussion with @rcjackson and after I ran the unit tests, seems good. @meteoswiss-mdr I can make the changes or if you want to do a pull request? Either or.

[2018-04-11 05:59] meteoswiss-mdr commented on #726
It is a minor change. For me there is no need for a pull request. You can make the changes yourself. Thank you!

[2018-04-11 15:16] scollis commented on #703
Closing by #724

[2018-04-11 15:16] #703 closed

[2018-04-11 15:17] zssherman commented on #725
Fix in #728 closing.

[2018-04-11 15:17] #725 closed

[2018-04-11 18:58] zssherman commented on #726
Sounds good to me, I will do that.

[2018-04-11 20:16] scollis commented on #726
Fixed by #729

[2018-04-11 20:16] #726 closed

[2018-04-18 16:37] tjlang commented on #685
Pinging Py-ART folks - have you been able to reproduce this issue, and/or have a plan to address it?

[2018-04-18 16:42] zssherman commented on #685
@tjlang I will try to reproduce the issue, I'll also talk to @scollis and discuss a way to address it. Thanks for bringing this up and I apologize for the delayed response.

[2018-04-18 17:50] scollis commented on #685
Thanks Tim.. Since I have not had issues I missed this

Scott Collis

On Apr 18, 2018 at 11:42 AM, Zach Sherman <notifications@github.com> wrote:

@tjlang <https://github.com/tjlang> I will try to reproduce the issue, I'll
also talk to @scollis <https://github.com/scollis> and discuss a way to
address it. Thanks for bringing this up and I apologize for the delayed
response.

—
You are receiving th

[2018-04-19 14:35] zssherman commented on #685
@tjlang I tried to reproduce the error in 2.7 and 3.6 but did not get an error. I used the files in the multidop notebook before the radx changes to nc, 20090410_173943_ARMOR_v001_PPI.uf.gz and 20090410_174143_KHTX_v537_SUR.uf.gz. I tried changing the float conversion of z_disp or removing it, but the grid code still ran. I wonder if it could possibly be a dependency issue.

[2018-04-19 17:43] dcon691 commented on #685
I thought the problem might have been arising from using Radx. After editing sweeps using solo3, I tried converting the sweeps into a volume using Radx to a UF and cfradial file. Both of those yield the TypeError: only length-1 arrays can be converted to Python scalars. Using the raw data from NCDC, it works fine and I don't get that issue.

However, this isn't an issue when following the same pro

[2018-04-23 12:03] paltube opened #732 "SIGMET missing rays"
When reading RAW sigmet files (pyart.io.read()), the data array in the PyART radar object does not contain the missing rays, not even in the form of masked values.
It is still possible (although somewhat cumbersome) to decipher which are the rays missing using additional information (azimuth/elevation). However it  may be important to take this into account when the data processing relies on conti

[2018-04-23 15:06] scollis commented on #732
Hey @Patri-meteocat ! great to hear from you. I am not too familiar with Missing rays. @jjhelmus Are you familiar with this? I had a quick look at readsigmet and could not see anything. Can you put a file some where? Are you looking for things like sweep transitions?

https://github.com/ARM-DOE/pyart/blob/master/pyart/io/sigmet.py#L37

[2018-04-23 15:25] jjhelmus commented on #732
Missing rays are removed in the `read_sigmet` function in the [code block on lines 170-178](https://github.com/ARM-DOE/pyart/blob/master/pyart/io/sigmet.py#L170-L178).

[2018-04-24 11:51] scollis commented on #732
Thanks @jjhelmus we always appreciate your help! @Patri-meteocat It would help us if you let us know what you will be using the data for. Then we can make sure the routine is capturing the required information.

[2018-04-25 06:53] Patri-meteocat commented on #732
Hey Scott and Jonathan! I'm doing two things which are affected by the presence of missing rays. One is to apply the dual-PRF correction technique, which uses the local neighbourhood of the gates as reference for correction. If the missing rays are removed, then, for the gates adjacent to these rays, the algorithm is taking gates which are not neighbours for the reference. Moreover, the prf assign

[2018-05-14 19:40] ryangooch opened #737 "Problem Plotting NEXRAD Velocity and Spectrum Width"
It appears that NEXRAD velocity and spectrum width aren't plotting with pyart.graph.RadarDisplay. I checked the example for this at [Py-ART Examples - Plot NEXRAD PPI](https://arm-doe.github.io/pyart/dev/auto_examples/plotting/plot_nexrad_multiple_moments.html) and it looks like the same problem is present there as well.

The figure produced is:

![kjkl20180415_155233_v06](https://user-images.gith

[2018-05-14 20:38] scollis commented on #737
Go up one tilt/sweep

We many need to update our examples

Scott Collis

On May 14, 2018 at 2:40 PM, Ryan Gooch <notifications@github.com> wrote:

It appears that NEXRAD velocity and spectrum width aren't plotting with
pyart.graph.RadarDisplay. I checked the example for this at Py-ART Examples
- Plot NEXRAD PPI
<https://arm-doe.github.io/pyart/dev/auto_examples/plotting/plot_nexrad_multiple_moment

[2018-05-14 20:49] ryangooch commented on #737
Thanks Scott.

That seems to have done the trick, though some of the other moments didn't plot at the higher sweep (Z_dr, rho_hv, phi_dp). I checked the radar object at sweep zero for velocity and there was data there. Is it an intended effect to not plot each moment at every tilt? Or maybe I'm missing something else, I don't use NEXRAD a lot.

-Ryan

[2018-05-14 21:32] scollis commented on #737
Yep.. Not every moment is saved at every sweep for level2 and it changes
from VCP to VCP

Scott Collis

On May 14, 2018 at 3:49 PM, Ryan Gooch <notifications@github.com> wrote:

Thanks Scott.

That seems to have done the trick, though some of the other moments didn't
plot at the higher sweep (Z_dr, rho_hv, phi_dp). I checked the radar object
at sweep zero for velocity and there was data there. Is

[2018-05-15 01:35] vlouf opened #738 "The netcdftime package is no longer included with netcdf4 1.4.0"
Check this:
https://github.com/Unidata/netcdf4-python

The netcdftime package is no longer included with netcdf4 1.4.0, which cause a ModuleNotFoundError when trying to import pyart after updating netcdf4.

[code]

Workaround are: downgrading to netcdf4 1.3.1 or changing line 24 in sinarame_h5.py to:
`from cftime import utime`

[2018-05-15 01:39] vlouf commented on #738
Errors keep piling up:
[code]

[2018-05-15 01:42] vlouf commented on #738
Just saw #736

[2018-05-15 17:53] zssherman commented on #738
@vlouf I was able to fix for linux and osx, but windows fails because for the cftime module, the conda-forge download for windows 32 is broken. And it seems for cftime and netcdf4, python 3.4 isn't supported anymore, at least from what I see on conda-forge. Added a if system == 3.4 to the code. Really all that needs to be fixed is the windows issue. I'm still looking on how to go about it.

[2018-05-15 18:02] scollis commented on #738
Can we add some code that does a try on the import for a temporary
workaround?

Scott Collis

On May 15, 2018 at 12:53 PM, Zach Sherman <notifications@github.com> wrote:

@vlouf <https://github.com/vlouf> I was able to fix for linux and osx, but
windows fails because for the cftime module, the conda-forge download for
windows 32 is broken. And it seems for cftime and netcdf4, python 3.4 isn't
supp

[2018-05-15 18:09] kmuehlbauer commented on #738
@vlouf @scollis Regarding conda-forge py3.4 is no longer supported as well as win32.

[2018-05-18 08:48] toddstellies opened #740 "MDV File Problem"
I run pyart in python on my linux virtualbox, from my windows pc. For some reason when I try to read an mdv file, it gives me an error. See the code below:
"
Python 2.7.14 |Anaconda, Inc.| (default, Dec  7 2017, 17:05:42)
[GCC 7.2.0] on linux2
Type "help", "copyright", "credits" or "license" for more information.

## You are using the Python ARM Radar Toolkit (Py-ART), an open source
## library fo

[2018-05-18 13:51] lovechang1986 opened #741 "How to speed up gates_to_grid?"

[2018-05-18 15:15] zssherman commented on #741
@lovechang1986 If your using nearest neighbor as the weighting function, currently it has not been optimized in the c code. Besides that, gates_to_grid/map_gates_to_grid was optimized in the past using cython and c I believe. Speeding them up, I'm not sure, I would have to take a look.

[2018-05-18 15:34] scollis commented on #741
Hey @lovechang1986 This is not the right place for asking these questions. Please use the email list for questions like this.

[2018-05-18 15:34] #741 closed

[2018-05-18 15:37] scollis commented on #740
First quick question: Are you sure this is radial (az,ele,range) data and not cartesian data (x,y,z)?

to check use http://arm-doe.github.io/pyart-docs-travis/user_reference/generated/pyart.io.read_grid_mdv.html#pyart.io.read_grid_mdv

[2018-05-18 16:15] toddstellies commented on #740
Hi

Yes I am sure. Gives the same error whether I use read_mdv or read_grid_mdv

[2018-05-18 16:56] scollis commented on #737
@zssherman Can you check to make sure our examples are not plotting the wrong tilts

[2018-05-21 01:21] zxdawn opened #742 "written error"
https://github.com/ARM-DOE/pyart/blob/dbe4d70eccc1b88260d44720cf133694d127df0a/pyart/graph/radarmapdisplay.py#L264

width = (x.max() - x.min()) * 1000.

[2018-05-21 08:01] toddstellies commented on #740
Good day

As I have mentioned, I am a beginner ( I apologise for this). The file is available at https://drive.google.com/open?id=1MZhTfe0HtTUUQhg1wXg6XInMNrbH0Gk0

Thank you so much

[2018-05-21 18:25] scollis opened #743 "Need to raise a warning in radardisplaycartopy when passed axes dont have projection"
See https://github.com/ARM-DOE/pyart/blob/master/pyart/graph/radarmapdisplay_cartopy.py#L235

Twice I have wondered why radardisplaycartopy ignored passed axes... At the moment if the axes don't have a projection we override.. this can make users pull hair out... we need to raise a warning here

[2018-05-22 08:26] toddstellies commented on #740
Good day
As I have mentioned, I am a beginner ( I apologise for this). The file is available at https://drive.google.com/open?id=1MZhTfe0HtTUUQhg1wXg6XInMNrbH0Gk0
Thank you so much

From: Scott <notifications@github.com>
Sent: Friday, 18 May 2018 18:25
To: ARM-DOE/pyart <pyart@noreply.github.com>
Cc: Thomas, TJ, Mnr [18174906@sun.ac.za] <18174906@sun.ac.za>; Author <author@noreply.github.com>
Subj

[2018-05-22 12:40] scollis commented on #740
Hey @toddstellies Patience please.

[2018-05-22 13:13] scollis commented on #742
Nice catch!
I am going to make this a "Great First Pull Request" as this is something a beginner could fix. We will leave this open a week then @zssherman will fix it if no one volunteers

[2018-05-22 13:19] scollis commented on #740
I have looked at the file. RadX returns:
[code]

Py-ART io.read_mdv_grid returns

[code]

So we have a file in grid coordinates with Z units Py-ART is not expecting...

Note io.read_mdv_grids doc:

[code]

This could be a 2D field or an unknown vertical coordinate. This is not something the Argonne team will be fixing. I will leave the issue open if a member of the community wishes to address it (

[2018-05-22 13:20] scollis commented on #732
Hey @Patri-meteocat Sorry I dropped the ball on this.. You can use google, drop box or whatever.. or just email a file..

[2018-05-22 13:21] scollis commented on #738
We have fixed this and released Py-ART 1.9.1-Picasso

[2018-05-22 13:21] #738 closed

[2018-05-22 13:22] scollis commented on #694
@vlouf Are you able to put a sample file where this occurs some where? We can then ask the community for help

[2018-05-22 13:26] scollis commented on #682
Closing via #683
Note help optimizing and speeding this up would be welcome

[2018-05-22 13:26] #682 closed

[2018-05-22 13:29] scollis commented on #685
Ok.. Let me wrap my head around this.. @tjlang the issue is with files that were gridded with RadX?

[2018-05-22 13:31] #657 closed

[2018-05-22 13:32] scollis commented on #587
Closing

[2018-05-22 13:32] #587 closed

[2018-05-22 13:33] scollis commented on #566
@rrniii Is this working for you? If I don't hear back I will close this issue in a few days (clean out time)

[2018-05-22 13:40] rrniii commented on #566
Hey Scott, I thought I had this working. I am away on a filed campaign and crunched for time but I think I can get it up there when back.

[2018-05-22 13:40] #742 closed, assigned to zssherman

[2018-05-22 14:56] scollis commented on #685
ok.. So it may be an issue in the UF reader. Can you put the file somewhere?

[2018-05-22 15:14] gamaanderson commented on #740
I have just proposed a pull request for a work around, setting zunits to 'unknown'

[2018-05-22 15:14] scollis commented on #740
Did you test with the file @toddstellies posted?

[2018-05-22 16:02] tjlang commented on #685
LOL, now I can't even read the UF directly using `pyart.io.read`. So I can't even try to reproduce my old gridding error.

Honestly, I have never liked UF ingest in Py-ART. It just is not bulletproof. It works sometimes and not others, and how well it works changes over time as packages are gradually updated, and it even changes from UF volume to UF volume. The `read_radx` option makes such a diff

[2018-05-22 17:34] gamaanderson commented on #740
pyart is not a MDV reader, but one may get the raw MDV structure from

    pyart.io.mdv_common.MdvFile(open(filename,'rb'))
and then try to extract the data from there. This will demand some work for one self, but it is a good place to start, if one has nothing else.

[2018-05-22 19:32] scollis commented on #685
Was this the same file I was testing? Looks like it has a variable number of gates per field or suchlike.

[2018-05-22 20:36] tjlang commented on #685
It was the KHTX file that failed on ingest, not the ARMOR one. Obviously, we know we can read NEXRAD that hasn't been converted to UF first just fine. So now I wonder if this isn't an artifact of that. I got the file from someone else who had done processing on the volume and saved it as a UF. NEXRAD has funky enough scanning and file structure that I can see UF struggling with that. This might ex

[2018-05-23 00:42] vlouf commented on #694
@scollis Attached is this file [71_20150420_175459.pvol.h5.zip](https://github.com/ARM-DOE/pyart/files/2029050/71_20150420_175459.pvol.h5.zip), that return this error:

[code]

[2018-05-23 00:48] vlouf commented on #694
However, I don't have any problem when I use `pyart.aux_io.read_radx`

[2018-05-25 17:09] rrniii opened #747 "cm_colorblind and pyart_HomeyerRainbow"
Hey all,

Im trying to implement the color blind colormaps in some plots for a paper and I am running into a wall with the code. I have updated to the latesr code on conda and am now able to call pyart_HomeyerRainbow but it leaves my colour scale with a small bit of blue and then the rest is red. Not sure what I am doing wrong. The original plot and the new one are below along with the code I ued

[2018-05-25 17:36] scollis commented on #747
Its not in a conda release yet.

You need to use Source

If you are using anaconda this environment should have you cooking:
https://github.com/EVS-ATMOS/environments/blob/master/radar/pyart_full.yml

Make sure you follow the instructions and run:
export COIN_INSTALL_DIR=/Users/USERNAME/CONDA_DIR/envs/pyart-full
On Mac..
Or replace with your home path

Scott Collis

On May 25, 2018 at 12:09 PM, rr

[2018-06-01 02:15] vlouf opened #749 "ValueError in pyart.retrieve.map_profile_to_gates"
Error when using `pyart.retrieve.map_profile_to_gates`

[code]

I have this error with 2 different versions of scipy, 1.0.0 and 1.1.0