[2013-01-31 04:35] scollis opened #17 "Need to fix freezes on dealiasing of XSAPR"
So, as far as I can tell XSAPR-SW fails more than SE.. I wonder if it has to do with fill values getting through (ie -9999s, different to RSL's fill value... Would be good to document the climatology of when it fails...

[2013-04-27 05:58] josephhardinee opened #51 "Improper error handling on rsl"
If rsl-read_rsl() gets a nonexisting file, it manages to segfault python and python on my machine(OS X ML Py 2.7.4, newest from home-brew).

radar_object = rsl.read_rsl('XSE110425020046.RAWUBT3')
XSE110425020046.RAWUBT3: No such file or directory
Unknown input file type.  File <XSE110425020046.RAWUBT3> is not recognized by RSL.
[1]    26052 segmentation fault  ipython

[2013-04-27 06:00] josephhardinee opened #52 "rsl reading"
When attempting to use the rsl.read_rsl function, the file listed below causes the following errors(The error is reproducible just using rsl.read_rsl) . This is the file from the ARM archives if you wish to check it on your system.

./two_panel_plot.py XSE110425020046.RAWUBT3
plotting  XSE110425020046.RAWUBT3  to test.png

gzip: stdout: Broken pipe

gzip: stdout: Broken pipe
[1]    26095 abort

[2013-04-27 21:17] #52 closed, assigned to nobody

[2013-04-30 15:15] #51 closed, assigned to nobody

[2013-05-01 19:34] scollis opened #57 "Issues with read_rsl"
gzip: stdout: Broken pipe
Traceback (most recent call last):
  File "./process_and_save_xsapr_2.py", line 69, in <module>
    myradar = pyart.io.read_rsl(filename)
  File "/home/sc8/.local/lib/python2.6/site-packages/pyart/io/rsl.py", line 211, in read_rsl
    fielddict['_FillValue'] = _FillValue
NameError: global name '_FillValue' is not defined

[2013-05-01 19:40] #57 closed, assigned to nobody

[2013-05-01 19:45] scollis opened #59 "Issue setting netcdf attrs"
Traceback (most recent call last):
  File "./process_and_save_xsapr_2.py", line 128, in <module>
    pyart.io.write_netcdf(ofilename, myradar, format='NETCDF4')
  File "/home/sc8/.local/lib/python2.6/site-packages/pyart/io/netcdf.py", line 200, in write_netcdf
    dataset.setncatts(radar.metadata)
  File "netCDF4.pyx", line 1719, in netCDF4.Dataset.**getattr** (netCDF4.c:18117)
  File "netCDF4.pyx

[2013-05-01 20:00] #59 closed, assigned to nobody

[2013-05-03 04:29] josephhardinee opened #60 "Iris Data"
Currently PyArt doesn't really open IRIS Raw files correctly. It reads in a few variables, but ignores the majority of the 44(including zdr). I'm mostly sticking this here as a placeholder to remind myself that when I get time I need to fix this.

Additionally several of the variables are named wrong. ZT should be total power instead of reflectivity for instance.
I added a default variable type an

[2013-05-20 20:27] scollis opened #64 "Issue with netcdf ingest from NEXRAD file created from RadX"
## Seems to be an issue with the calendar fix

TypeError                                 Traceback (most recent call last)
<ipython-input-27-5c05980df2bb> in <module>()
----> 1 myradar=pyart.io.read_netcdf('/data/tmp/'+outfile1)

/Users/scollis/Library/Python/2.7/lib/python/site-packages/pyart/io/netcdf.pyc in read_netcdf(filename)
    133     return Radar(nsweeps, nrays, ngates, scan_type, naz, n

[2013-05-20 20:38] #64 closed, assigned to nobody

[2013-05-30 15:09] #17 closed, assigned to nobody

[2013-07-12 20:30] kirknorth opened #70 "OrderedDict"
The class collections.OrderedDict is, from my understanding, available from Python 2.7.x, but the install says Python 2.6.x is fine in terms of dependencies. Since I'm running Python 2.6.6, I get an ImportError on OrderedDict, namely from sigmet.py.

[2013-07-17 11:58] scollis opened #74 "Ingest from nexrad from thredds (opendap)"
Noted NEXRAD is available on OpenDAP via a thredds server..
http://nbviewer.ipython.org/urls/raw.github.com/scollis/tds-python-workshop/master/radar_level2.ipynb

A feature request for the future will be an ingest to a radar object from this opendap object via netCDF4

[2013-07-17 19:44] #70 closed, assigned to nobody

[2013-07-29 14:12] #74 closed, assigned to nobody

[2013-08-13 22:24] scollis opened #81 "Grid mapping broken due to zero length orgin arrays."
Origin in grid objects should be 1D arrays not zero D.. This allows moving platforms..

[2013-08-26 15:33] #81 closed, assigned to jjhelmus

[2013-10-28 23:28] #60 closed, assigned to nobody

[2013-10-28 23:29] josephhardinee opened #90 "read_sigmet failing on a file"
Attempting to use read_sigmet and it seems to fail on this file:
https://www.dropbox.com/s/zbt6vkwe8brexs6/np1130502192951.RAWSN3M

It is a birdbath scan generated with the IRIS software. RSL reads it in without issue.
## The tb is:

KeyError                                  Traceback (most recent call last)
<ipython-input-2-fabf4c283558> in <module>()
      1 filename = '/space/Data/ifloods/np113

[2013-10-29 18:15] #90 closed, assigned to nobody

[2013-10-31 14:33] nguy opened #92 "PyArt Install"
I managed to kill the very old pyArt version Scott installed on my machine a _long_ time ago.  So I am reinstalling.

FYI, I have anaconda installed and am working of many of their distributions.  The reason for this was simply that NCAR suggest this for the eventual PySolo software.  I wanted to give you feedback on my install process and I'll address a couple of things below that I hope are help

[2013-11-07 05:09] kirknorth opened #94 "Add exclude or include kwarg to IO modules"
Would it be possible to add an exclude or include kwarg (preferably exclude) to some of the IO modules, like `read_mdv()` and `read_sigmet()`? What I mean by this is if the user wants to exclude the differential phase field from their radar object when reading X-SAPR data, they could do something like `radar = read_sigmet(fname, exclude=['diff_reflectivity'])`. The opposite would be true if it's a

[2013-11-07 14:17] kmuehlbauer opened #95 "Proposal: speedup of sobel convolution at phase_proc_lp"
The speed of the sobel convolution can be considerably improved by using the scipy.ndimage.filter.convolve1d function as follows:

sobel = 2. \* np.arange(window_len)/(window_len-1.0) - 1.0
sobel = sobel/(abs(sobel).sum())
sobel = sobel[::-1]
kdp = scipy.ndimage.filters.convolve1d(proc_ph['data'], sobel, axis=1) / ((len(sobel)/3.0) \* 2.0 \* (radar.range['data'][1] - radar.range['data'][0]) / 1000

[2013-11-08 15:18] jjhelmus opened #97 "ENH: replace bad gate with original velocities after FourDD dealiasing"
As suggested by @kirknorth this is a feature request to add a parameter to the dealias_fourdd function that will replace gates flagged as "bad" by the FourDD algorithm with the original velocities.  Kirk suggested "keep_original" as the parameter name.

[2013-11-08 17:12] jjhelmus opened #98 "ENH: Gridding without a reflectivity filter"
This enhancement was suggested by Kalle Nordling

Currently the gridding routine in Py-ART required a reflectivity field in all of the radar objects which is used to filter the gates to include in the interpolation based of masking and optionally value.  It would be nice if gridding could be possible without a reflectivity field filter which include all gates.

Suggested implementation would be to

[2013-11-08 17:15] jjhelmus opened #99 "ENH: select sweep method on Radar object"
This enhancement came from an discussion with Kalle Nordling.

Being able to select out a one or more sweeps from a Radar object which would be used to build a new Radar object (to be used for gridding, etc) would be very helpful.  Along these lines other methods for joining or splitting Radar objects would he useful.

[2013-11-13 19:23] kirknorth opened #100 "Algorithm output inconsistency"
I have noticed the following inconsistencies when using some of the Py-ART algorithms. As an example, consider reading a C-SAPR file with `radar = read_mdv()`

1. All fields in the radar object are dictionaries and each field has a `_FillValue` key, and the data arrays are all NumPy masked arrays with `fill_value = -9999.0`

2. Running `vr_corr = dealias_fourdd()` outputs the dictionary `vr_corr`

[2013-11-14 22:17] kirknorth opened #101 "GridMapDisplay class"
I'm having issues when trying to display grid objects using the `GridMapDisplay` class. Here's some code and the output PNG of it,

[code]

![graph_grid_test](https://f.cloud.github.com/assets/2049028/1545700/70cd90c0-4d7a-11e3-8bcd-094f709190c6.png)

[2013-11-19 16:35] #94 closed, assigned to nobody

[2013-11-19 22:37] #95 closed, assigned to jjhelmus

[2013-11-19 22:37] #97 closed, assigned to nobody

[2013-11-19 22:37] #98 closed, assigned to nobody

[2013-11-19 22:37] #99 closed, assigned to nobody

[2013-11-21 22:28] jjhelmus opened #105 "BUG: masked values appearing in grids created from grid_from_radar"
As pointed out by @kirknorth

When creating a Grid with the function **grid_from_radar** gates which are masked in non-reflectivity fields can contribute to the interpolation if the corresponding gate is not masked in the reflectivity field.

A work around for this issue is to map each field to a grid individually and set the `refl_field` parameter to the field being mapped.  Any filtering of gate

[2013-11-22 16:17] kirknorth opened #107 "Lat/Lon in Grid object"
I've noticed that the `lat` and `lon` variables in a `Grid` object are <i>no longer</i> the latitude and longitude corresponding to the `x` and `y` axes, i.e. `len(x) == len(lon)` and `len(y) == len(lat)`. The original grids @scollis created were like this. Instead it is now the latitude and longitude at the origin. This is fine, but for wind retrieval efforts we need to know the location of the r

[2013-12-11 19:49] kirknorth opened #109 "Attenuation correction"
I'm not sure if I'm missing something with the process of correcting for attenuation in rain, but should I be expecting the <i>corrected</i> reflectivity field to have <i>any</i> gates with <b>lower</b> reflectivity than the input reflectivity field? Because I certainly do, and pretty much for every gate.

FYI these results are from the C-SAPR MDV file `092825.mdv`.

The first image is the two-pan

[2013-12-11 22:10] #101 closed, assigned to nobody

[2013-12-12 21:16] josephhardinee opened #111 "RHI wrong direction"
I'm not sure if this is something weird with my data, but when plotting RHI's I get a plot that is backward from what people normally use for rhi's. The normal convention is the radar is at 0, distance goes out to positive numbers towards the right. I don't remember seeing this issue before so it may just be the data.
If this is indeed the format pyart uses, would it be possible to get an optional

[2013-12-13 10:48] kirknorth opened #112 "Mapping"
I don't think the radius of influence function in `grid_from_radars`, both the default when `qrf_func = None` or a user-defined one with `qrf_func = f(x,y,z)` is working properly. The radius of influence should be relative to the radar in question, i.e. it should be small close to the radar and grow bigger the further you get from the radar in order to capture the discrete sampling of the radar. H

[2013-12-17 16:46] #111 closed, assigned to nobody

[2014-01-09 18:38] #105 closed, assigned to nobody

[2014-01-09 18:44] #112 closed, assigned to nobody

[2014-01-16 19:24] #109 closed, assigned to nobody

[2014-01-23 17:23] kirknorth opened #119 "Velocity unfolding"
The images below show some poor velocity unfolding behaviour. @scollis, I'm not sure if this was the same problem you were running into with the X-bands. Note how this is for the C-band.

From my quick investigation, there does appear to be some relation between areas of beam blockage and/or extinction and poor velocity correction. I'm also showing the uncorrected velocity field for reference.

In

[2014-02-18 17:46] scollis opened #125 "Need to enhance LP code with a constraint that limits KDP when Z is low"
Currently the LP method uses Z to keep KDP high when in regions of High Z. At X-Band where we can get phase shift on backscatter that is of greater width than the (5pnt) filter this can lead to the phase taking the "High Path" At the moment in the "B Matrix" we only a constraint for Z > an amount to force higher dPhidp/dr we also need to force a lower dPhidp/dr in low Z (say Z lower than 25dBz)

[2014-03-07 20:14] #92 closed, assigned to nobody

[2014-03-13 15:13] jjhelmus opened #127 "join_radar function is broken"
The function pyart.io.radar.join_radar is broken and does not work as intended.  The function also needs to be documented and added to the pyart.io namespace.

[2014-03-13 15:21] jjhelmus opened #128 "dealias_fourdd fails when the number of rays per sweep is non-uniform"
The pyart.correct.dealias_fourdd function fails when the number of rays per sweep is not uniform.  It should be determined if this is a requirement of the FourDD algorithm and if so a check should be added to the function and an informative message provided.

[2014-03-13 15:25] jjhelmus opened #129 "get_sweep/put_sweep method"
Suggestion to add a get_sweep and put_sweep method to the Radar object which would extract or store a given sweep for a field.  This could also take care of masking or removing locations where the antenna_transition indicate that the radar was in transition.   Downstream functions (plotting, correcting) should then be updated to use this functionality.

- [x] get_sweep (implemented via the `extrac

[2014-03-13 15:27] jjhelmus opened #130 "Add rays_per_sweep property to Radar object"
Add a rays_per_sweep read only property to the Radar object which determined the number of rays in each sweep.  This can be calculated as:

[code]

[2014-03-13 15:29] jjhelmus opened #131 "ODIM_H5 reader"
Add a reader for the ODIM_H5 [format](http://www.eumetnet.eu/sites/default/files/OPERA_2008_03_WP2.1b_ODIM_H5_v2.1.pdf).  Daniel Michelson can provide sample files if needed.

[2014-03-27 21:10] jjhelmus opened #138 "No method for specifying the altitude of a grid in the map_to_grid function"
The map_to_grid function does not provide a method for specifying the starting altitude of a grid.  The default is to set it to the altitude of the first radar which can then be adjusted by setting the limits of the z grid_limits.  This is far from ideal.

[2014-03-27 23:21] kirknorth opened #140 "BUG: netCDF4.Dataset arrays"
Bug might be a bit too harsh, but it should be noted that when using `netCDF4.Dataset` to read in data arrays, the array <b>will not be</b> a `numpy.ma.core.MaskedArray` when none of the values in the array are equal to the fill value, even if the variable has a `_FillValue` key (or equivalent) . Instead it will be read as a `numpy.ndarray`. This can cause issues when scripts depend on accessing t

[2014-03-28 22:13] scollis opened #141 "Subtle issue with using pcolormesh to do displays.."
I have just found a very subtle issue with our display module. When calling pcolormesh you can with the edges of the patches so when we call with the same length azimuth array (PPI) or elevation array (RHI) it misses the last ray.. no biggie for a 360 PPI as this just ends up with a cheese wedge at the last ray..
when you do a 10 elevation synthetic RHI (under development) this looses that last el

[2014-03-31 20:03] kirknorth opened #142 "ARM DOD standards"
@scollis, are these [standards](https://engineering.arm.gov/task/standards-dod.html) still relevant for VAPs?

[2014-04-01 06:14] josephhardinee opened #144 "CHL file format support"
I have a version of PyArt reading .CHL files. The code is ugly at this point(I was parsing through the C file to figure out the format and so the code was written as I figured out each part). It's in my fork of pyart under the chl_reader branch if anyone wants to give comments on it in the meantime.

I'll try to get it cleaned up over next week or three and submit an actual pull request(There is a

[2014-04-01 18:12] striges opened #146 "algorithm of velocity composition when merging velocity from multiple radars"
I noticed that grid_from_radars function treats velocity field as same as reflectivity field. However, it possibly tends to be incorrect because velocity is different from reflectivity, is vector not scale. The way to calculate true velocity using two Doppler radars is described in book of "Doppler radar and weather observation", Chapter 9. Generally speaking, if we have a grid observed by two rad

[2014-04-02 22:35] #142 closed, assigned to nobody

[2014-04-04 14:26] arthurcts opened #148 "Sigmet data to netCDF"
Hi, I'm trying to convert the SIGMET data to netCDF and have not had success. I work with two SIGMET radars having different versions of IRIS software. In both cases the time attribute 'units' does not match time in time_coverage_start variable and sweep variable 'fixed_angle' has incorrect type: float64.
The file .nc is generated,  but when opening or using the ferret or ncview the field variable

[2014-04-07 20:46] jjhelmus opened #152 "NEXRAD files with non-uniform gate locations"
NEXRAD files can contain volumes where the gate spacing and gate locations are not constant between sweeps.  When these file are read, radar.range is set to the gate spacing for the sweep with the largest number of gates.  These results in some sweeps having an incorrect range.  An example file which displays this property is KMLB20101118_014806_V03 which is available from the NCDC.

File exhibiti

[2014-04-08 16:38] kirknorth opened #153 "CyLP Import"
Somewhat of an amateur question but when my system administrator installed CyLP, it was done such that the module is imported like `import CyLP`. However in `phase_proc.py` it is imported using all lower case letters, so I get an ImportError... How can I fix this?

[2014-04-08 18:22] #153 closed, assigned to nobody

[2014-05-13 17:30] scollis opened #156 "Structure of the "gate_id" field in radar objects"
G'day team,
As many of you know DoE ARM has authorized work on CMAC 2.0 outlined in ECO 01077
(if you do not know what this is, don't worry!)

The synopsis is this: Before each algorithm made up its own mind where it needed to run based on things like NCP, Z, RHV etc.. We are now moving to ID-ing each gate and having algorithms in pyart.correct use this ID instead. I will be adding a module to pya

[2014-05-29 23:27] josephhardinee opened #159 "BUG: File Handles"
I'm not 100% sure and haven't had time to dig into the C code yet, but I think the read_rsl code leaves a reference to the file handle open. I have some code that was looping through 4000+ radar files, and after a couple hundred of them, python crashes with an error about too many file handles open.
I may be wrong but this is here as a placeholder until I can figure out what is going wrong with it

[2014-05-30 23:55] #159 closed, assigned to nobody

[2014-06-11 08:22] #144 closed, assigned to nobody

[2014-06-11 08:24] josephhardinee opened #161 "File Reader Support"
So I have a few different file formats I was going to add to pyart. They are mostly based around netcdf, but each with it's own 'flavor'. I was thinking of just adding an aux_readers submodule to the io directory to put these in as they are probably less common and usually fairly radar specific. In particular I was looking to add the D3R netcdf versions(multiple), casa netcdf, and CHILL X-Band net

[2014-06-12 03:50] #161 closed, assigned to nobody

[2014-06-23 18:35] seberry2 opened #172 "C/C++ error when using matplotlib"
Hello everyone,

I am pretty new to python and have run into an error when trying to plot ppi's by first initializing a figure with matplotlib. The error I receive is:

I only get this error when trying to run remotely on a linux machine. The code runs perfectly on windows.

After looking into this problem for awhile, I found that this has something to do with me running the script using Spyder.

[2014-06-30 19:16] kirknorth opened #176 "Attenuation correction artifact"
Processing C-band data from 24-May-2011 revealed a new artifact I had not seen before when performing phase processing and/or attenuation correction. I'll provide code snippets of how I created this later. In the meantime check out the image below. The thin slice in the corrected reflectivity is the artifact I'm referring too, and those values are the missing value -9999.0. I was using `min_ncp =

[2014-07-01 01:30] kirknorth opened #177 "BUG: netCDF4 and writing large files"
Is anyone aware of an inability of `netCDF4` to properly write large files (e.g. writing a <i>large</i> radar object) when `format = 'NETCDF4'`? Basically I was able to write an X-band file when `format = 'NETCDF3_CLASSIC'`, and read this file after. However, when `format = 'NETCDF4'`, calling `pyart.io.write_cfradial` <i>finished</i>, but I was getting a segmentation fault when trying to read it

[2014-09-03 21:54] kirknorth opened #182 "New potential mapping routine"
@jjhelmus and @scollis, I have a new mapping routine on a [test branch](https://github.com/kirknorth/pyart/tree/map-test). It makes use of SciPy's `cKDTree` object, but unlike the current implementation, it does not explicitly loop over the entire analysis grid, and therefore it is quite fast. For example, I can map every field (15 total) found in a CSAPR surveillance file with ~ 6 million gates o

[2014-09-11 12:42] scollis opened #185 "JSON configurable mapping"
Hey @jjhelmus,
I played with building maps configurable by json setup files.

Do you think this belongs in examples or as part of the pyart.graph module?

Not quite done yet but take a look
http://nbviewer.ipython.org/github/scollis/notebooks/blob/master/json_map.ipynb

[2014-09-11 19:03] #141 closed, assigned to nobody

[2014-09-11 19:07] #128 closed, assigned to nobody

[2014-09-11 22:15] #185 closed, assigned to nobody

[2014-09-11 22:17] josephhardinee opened #186 "UF File Writing"
This is mostly as a placeholder to reduce duplicated work.
Py-Art needs the ability to write UF files. I have most of a PR ready that implements this, just gotta iron out a few things and ensure RSL compatibility.

[2014-09-15 16:54] #148 closed, assigned to nobody

[2014-09-21 19:09] scollis opened #188 "Dead link"
Under install instructions on the master github.io page https://github.com/ARM-DOE/pyart/blob/master/INSTALL.TXT

[2014-09-22 17:53] #188 closed, assigned to nobody

[2014-09-25 03:27] #156 closed, assigned to nobody

[2014-10-02 14:12] swnesbitt opened #193 "OS X/Anaconda run rebuild scripts every time"
Don't know if this is just something on my machine, but I have to run the rebuild*.sh scripts after running python setup.py install every time I pull or clone pyart on an OS X/Anaconda box.  I've had to do this from the beginning of time.  Is this expected?

[2014-10-16 13:21] tjlang opened #194 "Shipborne radar display/writing issues"
I am trying to do azimuth pointing error corrections in shipborne radar data (TOGA) from the DYNAMO field campaign. I notice that I get display issues after reading in some sample CF Radial data. The radar reports lat/lon/altitude every ray and thus the radar.latitude/longitude/altitude attributes are no longer constants. This causes the display routines to complain and fail. In addition, writing

[2014-10-30 19:46] nguy opened #197 "Opening zipped files"
Great utility you've built here!  I was wondering if you planned to put a check in the IO for files that compressed (e.g. .gz or .Z) so that PyArt could be pointed at these type of files?
Is there a reason not to include this?

Thanks!

[2014-10-31 14:35] jjhelmus opened #198 "Register pyart colormaps"
A number of colormaps are available in Py-ART in the **pyart.graph.cm** namespace which are helpful when plotting radar data.  These colormaps should be registered in matplotlib using the `matplotlib.cm.register_cmap` function so that they can be reference by name.

For example
[code]

Prefixing the colormap name with *pyart_* has been suggested to avoid name conflicts with existing colormaps in m

[2014-10-31 15:53] #197 closed, assigned to nobody

[2014-11-04 22:02] jjhelmus opened #201 "Reading and writing of UF files"
Support should be added for reading and writing UF (universal format) files..

[2014-11-05 19:40] jjhelmus opened #204 "Visualization of data from moving platform radars which are not geo-references"
A method for visualizing data from moving platforms which do not contain geo-reference data should be added to Py-ART.  Data from these platforms have latitude, longitude and altitude variables which vary in time but do not have geo-reference variables of tilt, heading, pitch, etc.  Radar file from shipborne radars, such as those in issue #194 exhibit this characteristic.

Currenrtly the **RadarDi

[2014-11-05 19:52] #194 closed, assigned to nobody

[2014-11-05 19:54] #172 closed, assigned to nobody

[2014-11-10 15:43] tjlang opened #207 "RadxConvert fails on output CFradial files"
Hello,

I am using Py-ART with the new moving platform display/write capabilities. I am able to make an azimuth correction and produce the following image.
![after_cfrad 20111030_013003 000_to_20111030_013756 000_toga_v2 3_ppi nc](https://cloud.githubusercontent.com/assets/3036387/4978535/640ef508-68f0-11e4-9cea-50c789966300.png)

I can write out to a new CFRadial file and read back in and produce

[2014-11-14 02:37] scollis opened #209 "Survey on Py-ART useage"
Hey Py-ART Watchers! Please complete the following survey on your Py-ART Usage!
https://www.surveymonkey.com/s/6NLKJPN

If I do not see at least 23 responses I will know you are not really watching :)

I will close this issue after a few days

[2014-11-15 01:12] #207 closed, assigned to nobody

[2014-11-21 15:36] #209 closed, assigned to nobody

[2014-12-12 16:26] nguy opened #213 "display generate filename error"
I noticed today that using the generate_filename method in the radardisplay_airborne.py routine is failing.

When I open a Sigmet sweep file from the NOAA P-3 (a case in 2014):

[code]

This generates the following error:

[code]

I was able to reproduce the error with other airborne radar files, but I could not reproduce this error with radardisplay and radarmapdisplay routines.  I'm pretty stump

[2014-12-12 17:09] #213 closed, assigned to nobody

[2014-12-16 02:19] rvalenzuelar opened #215 "Installation on Ubuntu with Canopy"
I followed the installation instructions:
[code]

...but then I get:

[code]
I'm using Ubuntu 14.04 LTS.

[2015-01-13 21:04] #130 closed

[2015-01-13 21:07] #215 closed

[2015-01-13 21:12] jjhelmus commented on #131
PR #195 added initial support for the ODIM format.  Once this is code is more complete and moved into the `pyart.io` namespace this issue can be close.

[2015-01-13 21:25] #193 closed

[2015-01-13 21:36] #198 closed

[2015-01-13 21:37] jjhelmus commented on #129
A get_field method was added to the Radar object in08e08e  which implements some of the described functionality.

[2015-01-16 22:54] jjhelmus opened #226 "Gates not collected in Sigmet files not properly marked."
When reading a Sigmet file with Py-ART, if the number of bins (gates) changes within a sweep, rays which have few gates than the first ray in the sweep will not be properly masked.  Specifically for the "short" rays all gates beyond the last collected gate will have a value corresponding to the field specific conversion of a raw value of 1.  For 2-byte velocities field this is -327.67 which can be

[2015-01-19 19:41] #226 closed

[2015-01-21 19:51] kirknorth opened #230 "Segfault with dealias_unwrap_phase"
@jjhelmus, I believe `dealias_unwrap_phase` segfaults when `unwrap_unit` is set to <i>sweep</i> and there are sweeps with no data, e.g. some of the first few tilts for certain NEXRAD scan strategies, like this [file](https://www.dropbox.com/s/y85esnc2i4lfj0x/KINX20110425_091822_V03?dl=0). To test this, I filled the radial velocity field with a constant value of 10 m s<sup>-1</sup>, and the routine

[2015-01-21 21:04] jjhelmus commented on #230
Verified.  The issue comes from the unwrap_2d_ljmu.c file.  In the **unwrap2D** function no check is made that the number of edges (params.no_of_edges) is not 0 (or 1) before sorting the edges based on their reliability.   Since this file came from the scikit-image project I want to fix this upstream before fixing it in Py-ART.  Should have this fixed later this week.

[2015-01-21 21:05] jjhelmus commented on #230
BTW, @kirknorth, thanks for catching this.  I'll have a third dealiasing routine for you to play with soon.

[2015-01-21 21:07] kirknorth commented on #230
Sounds good :+1:

[2015-01-21 23:13] #230 closed

[2015-02-03 16:17] kirknorth opened #236 "Radar gate interpolation"
This isn't an issue, more of an enhancement request, and I think a relatively easy one to implement. Basically, a routine that fills in _small_ gaps in radar data by means of a median filter or something similar. I emphasize small because I don't recommend this be done over many range gates and rays. The most obvious would be to fill in a missing radar gate if the surrounding 8 radar gates have go

[2015-02-04 15:03] jjhelmus commented on #236
@kirknorth Great idea, there are some functions in scipy.ndimage that should help in calculating the connectivity of the gates.  I'll label this and keep it in mine for a future enhancement.

[2015-02-04 15:10] scollis commented on #236
Also will work great with gate id

-sent from a mobile device-

[2015-02-05 15:15] jjhelmus opened #238 "Units tests failing on Windows"
Py-ART can be built and used on Windows but currently a number of unit tests are failing (although likely due to errors in the tests not the package itself).  These should be debugged and fixed.  Adding Windows continuous integration to the project using [Appveyor](http://www.appveyor.com/) would allow these failing tests to be detected earlier.

[Windows conda packages of Py-ART 1.2.0 on binstar]

[2015-02-05 16:32] rvalenzuelar opened #239 "undefined symbol"
I'm getting the following message when I try to import pyart:

[code]

[2015-02-05 16:42] jjhelmus commented on #239
How did you install Py-ART?  The error indicates that the C extensions in Py-ART were build against a Python interpreter that uses a different unicode encoding standard than the interpreter that you are using.

[2015-02-05 19:05] rvalenzuelar commented on #239
I cloned the Github repo and then followed the installation instructions. I have pyart installed in:

[code]
and
[code]
The error message shows up when I try to import using ipython in a terminal window. If I import using Canopy I get no error message.

[2015-02-05 19:45] jjhelmus commented on #239
Try calling the Enthought's version of IPython not the system IPython.  `which ipython` will provide the full path to the binary.  It should be something like ~/Enthought/Canopy_32bit/User/bin/ipython, if it is not, you will want to adjust your PATH variable so that the Enthought IPython is picked up before the system Python.

The longer explanation is:

You have two Python installs on your machin

[2015-02-11 15:00] jjhelmus opened #240 "Antenna transitions not used in dealiasing routines"
The antenna_transition* attribute of the **Radar** object is not used in the dealiasing algorithms (or other algorithms) in Py-ART.  This means that rays in which the antenna is in transitions between sweeps are treated like collected sweeps in these algorithms. These ray should be ignored by default and not included in the correction.  One possible solution would be to add an `exclude_transition`

[2015-02-16 17:53] rvalenzuelar commented on #239
I tried to "isolate" the installation by using conda and the recipie located in the pyart repo but I get the same error:

[code]
Should not be the installation interpreter-independent? It does not make really sense to me that I can use pyart only with the canopy version of python. Should I uninstall canopy? or the system python? (I'm looking to work with miniconda from now on)

[2015-02-16 18:10] #239 closed

[2015-02-16 18:22] jjhelmus commented on #239
Pure python modules (those which only contain Python code and not compiled extensions) are interpreter-independent.  Compiled extensions, such as _sigmefile, link against libpython are therefore may become interpreter dependent if the Python interpreters were compiled differently. For example if different Unicode support schemes are used, UCS2 vs UCS4, then the module can only be used with interpr

[2015-02-16 21:16] rvalenzuelar commented on #239
I checked the python sys.maxunicode and I got:

- Miniconda python (e.g. /home/raul/miniconda/bin/python): UCS4
- System python (e.g. /usr/bin/python): UCS4
- Canopy python (e.g. /home/raul/Enthought/Canopy_32bit/User/bin/python): UCS2

Then, I <code>ldd</code> _sigmetfile.so and I get:

Miniconda:
[code]
System:
[code]
and Canopy:
[code]

Here is a point that still confuses me (I suspect I'm miss

[2015-02-16 22:19] jjhelmus commented on #239
That does seem strange, I agree I would expect the opposite behavior.  A couple other thoughts:

Is the LD_LIBRARY_PATH variable set (check with the `env` command)?

Perhaps at compile time the incorrect version of Python.h is used for definitions which are not present in the linked library.  You can dump symbols from a library using `nm _sigmetfile.so`.  See if the _sigmetfile.so libraries have t

[2015-02-17 03:12] rvalenzuelar commented on #239
I have <code> LD_LIBRARY_PATH=/usr/local/lib</code>

I dumped the symbols. The three _sigmetfile.so have the PyUnicodeUCS2_DecodeUTF8 symbol. This makes sense since Canopy python is the only interpreter that give no error message.

I could not find any reference to <code>Python.h</code> during the pyart building. When finished, I went to check the build directory. I found _sigmetfile.so and after

[2015-02-17 15:58] jjhelmus commented on #239
The definition and eventually the symbols come from the **Python.h** file which is getting picked up in the `-I/home/raul/Canopy/appdata/canopy-1.5.1.2730.rh5-x86/include/python2.7` compile option.  My guess it that you will see a similar include statement when you compile using the system or Anaconda based Python which is the root cause of the issue.   Can you post a build log for one of those to

[2015-02-17 20:44] jjhelmus opened #242 "Object oriented, hierarchical Radar, Sweep, and Ray objects"
Create a Sweep and Ray class that point to data in the Radar object in such as way that when the data is changed the data in other objects are also changed.  Have iteration over the Radar object return Sweep objects, and iteration over the Sweep object return Rays.  The overall goal of this would be that users (and developers if they choose) to not need to deal with worrying about the sweep_start_

[2015-02-17 21:02] jjhelmus commented on #242
Fleshing out this idea a bit more

### Radar (Volume) class
* Iterator (or Sequence?) Abstract Base Class
* Uses current attributes and methods.
* Iteration generated Sweep objects which point to data.
* get_sweep method to produce a Sweep, keyword to copy data and "detach" from Radar.

### Sweep class.
* Iterator (or Sequence?) Abstract Base Class
* Attached to underlying Radar object from which

[2015-02-17 21:04] jjhelmus opened #243 "Routines for ordering rays be time"
PR #241 adds additional methods for ordering rays within a radar volume by time.  These methods should be abstracted to operate on a Radar object so that they can be used on data read from other sources.

[2015-02-18 14:12] tjlang commented on #242
This all sounds mostly fine to me. My main concern is that backwards compatibility with the Radar object is preserved (sounds like this will be the case, thankfully). I don't want to break software that depends on Py-ART to ingest radar data.

Timothy Lang
Research AST, Atmospheric Measurements
NASA Marshall Space Flight Center (ZP11)
Huntsville, AL 35812
(256) 961-7861
timothy.j.lang@nasa.gov

Fr

[2015-02-18 15:34] jjhelmus commented on #242
@tjlang My plan with this is to keep all the existing attributes and methods of the current Radar object intact and in the same format.  A few methods will be added to accommodate the new features (get_sweep, next, ...).

The one change that I can think of that could possibly break existing code is that the base class of the Radar object will change from the current `object` to one of the [Abstrac

[2015-02-18 15:43] tjlang commented on #242
OK, all I've done is copy from the Radar attributes or use them directly, so sounds like this shouldn't affect my stuff.

Timothy Lang
Research AST, Atmospheric Measurements
NASA Marshall Space Flight Center (ZP11)
Huntsville, AL 35812
(256) 961-7861
timothy.j.lang@nasa.gov

From: "Jonathan J. Helmus" <notifications@github.com<mailto:notifications@github.com>>
Reply-To: ARM-DOE/pyart <reply@reply.

[2015-02-20 00:45] nguy opened #244 "Ability to pull single variable from file"
I just posted the ARTView package and one thing I can't get around is that it takes a while to read in an entire radar volume file (due to the large amount of data).  It would be great if an alternative IO were allowed that one could call a single variable and still use the PyArt mapping.  I *think* this is the bottleneck when redisplaying a file in the same window that already exists.  Preliminar

[2015-02-23 15:20] jjhelmus commented on #244
@nguy This sounds like a great addition to Py-ART.

First, the functionality to read in a single field from a file is available in Py-ART but could be improved.  The **field_names** and **exclude_fields** parameters in Py-ART's [`read` functions](http://arm-doe.github.io/pyart-docs-travis/user_reference/io.html) can be used to select out a single field variable provided that you know before hand t

[2015-02-27 15:19] rvalenzuelar commented on #239
Ok, Anaconda and systems python are compiling with `-I/usr/include/python2.7` (attached below are the build logs).

The only paths that were added to my .bashrc file are these:
[code]
I comment/uncomment them depending on what interpreter I want to use.

Here is the log for Anaconda:
[code]

Here is the log for system python:
[code]

[2015-03-02 21:58] jjhelmus commented on #239
Strange, Anaconda should be building with compile options which include files in `/home/raul/miniconda/lib/` not `/usr/lib/`.  I have to say I'm not sure what is going on here, sorry.

[2015-03-02 22:35] jjhelmus opened #246 "Cartesian locations for radar gates"
A helper method should be added to the Radar object for returning the x, y, and z Cartesian locations from the radar location for a give or all gates in a radar volume (or sweep).

This functionality was suggested by Timothy Lang.

[2015-03-02 22:37] jjhelmus opened #247 "Latitude, longitude and altitude of radar gates"
A method should be added to the Radar class for determining the latitude, longitude and altitude of a particular gate or all gates in the radar volume.

This functionality was suggested by Timothy Lang.

[2015-03-02 22:58] scollis commented on #246
Great idea.
We have something in there:
https://github.com/ARM-DOE/pyart/blob/master/pyart/io/common.py#L60

I am also planning on building a module (as part of CMAC2.0 work) to map
profile data to radar gates.. So this will help with this (as I need Z)

I may just go ahead and write this in coming days

On 3/2/15 4:35 PM, Jonathan J. Helmus wrote:

[2015-03-03 01:44] tjlang opened #248 "Remove _parse_fig_ax() and similar methods from RadarDisplay, make them independent & public"
I find myself often reproducing outside of Py-ART the functionality of _parse_fig_ax() and similar useful methods in the RadarDisplay family of classes. Since these methods do not rely on any class attributes, it is not necessary for them to be part of those classes. If they were pulled out of these specialized classes, and made independent and public, then one could just import them into other co

[2015-03-03 15:20] jjhelmus commented on #100
@kirknorth Are you still seeing inconsistencies in the output of algorithms?  In general, retrievals and corrections in Py-ART should return one or more dictionaries of field data and metadata with the data stored as a NumPy ndarray or masked array.  Adding this data to the radar.fields attribute dictionary is also acceptable but not recommended.

[2015-03-03 15:27] jjhelmus commented on #107
Need to add methods to the Grid object for returning arrays of latitude, longitude and altitude for all point in the grid.  This should likely be done at the same time as adding similar functionality to the Radar object as in issue #247

[2015-03-03 15:35] jjhelmus commented on #119
Two dealiasing routines have been added to Py-ART since the last update to this issue, [`dealias_unwrap_phase`](http://arm-doe.github.io/pyart-docs-travis/user_reference/generated/pyart.correct.dealias_unwrap_phase.html) and [`dealias_region_based`](http://arm-doe.github.io/pyart-docs-travis/user_reference/generated/pyart.correct.dealias_region_based.html).  In testing both of these seem to give m

[2015-03-03 15:37] jjhelmus commented on #127
This functionality should be in the pyart.util namespace, changing label to reflect this.

[2015-03-03 15:37] scollis commented on #119
Agreed..
We can tie the original issue to issues with 4DD which we discovered had
some fundamental flaws.. If there are new issues raised they can be
targeted against one of the two algorithms..

in addition I encourage all to actively test these and let us know about
performance issues. It is planned to do a (speed) optimization effort on
the segmentation method down the track..

On 3/3/15 9:35 A

[2015-03-03 16:07] jjhelmus commented on #129
Still need to add an option to filter rays based on the antenna_transition when this attribute is available.  Similar functionality should also be added to the Sweep object in issue #242

[2015-03-03 16:13] jjhelmus commented on #140
From some recent testing I have done using the [`np.ma.getmaskarray`](http://docs.scipy.org/doc/numpy/reference/generated/numpy.ma.getdata.html) and [`np.ma.getdata`](http://docs.scipy.org/doc/numpy/reference/generated/numpy.ma.getdata.html) functions works very well when designed functions which work with ndarray and masked arrays.

[2015-03-03 16:17] jjhelmus commented on #177
@kirknorth Are you still investigating this?

[2015-03-03 16:34] jjhelmus commented on #182
Expanding on my last comment on an improvement of the current gridding routine.  Currently the gridding algorithm in Py-ART loops over all points in the grid, finds radar gates within a given distance by searching a k-d or Ball tree for each grid point and then performing a Cressman or Barnes weighting to interpolate the values of the grid points.  This is computationally expensive are requires at

[2015-03-03 16:35] jjhelmus commented on #186
@josephhardinee Any updates on this work?

[2015-03-03 16:39] jjhelmus commented on #248
@tjlang Great suggesting.  I'll label this and look into implementing it in the near future.

[2015-03-03 16:51] kirknorth commented on #177
@jjhelmus I'm not actively investigating this issue at his time. Give me a couple of days to run some tests. When I created this issue I running Python 2.6 with netCDF4 version 1.0.4, however I now have another VE running Python 2.7 with netCDF4 version 1.1.1 and reason to suspect this won't be an issue in this VE.

[2015-03-03 19:44] josephhardinee commented on #186
It kind of got strangled by dissertation writing. Hopefully I should be able to revisit it very soon.

[2015-03-12 18:53] jjhelmus opened #251 "Incorrect range when reading files with variable gate spacing using read_rsl"
When a file in which some rays do not have an identical gate spacing as the first ray of the first sweep the range attribute of the created **Radar** object does not contain the correct gate locations for all rays but rather the ranges for the first ray.  Currently the CfRadial convention on which the **Radar** class is based has not manner for expressing a radar volume in which the gate locations

[2015-03-12 19:00] jjhelmus opened #252 "Method for storing a volume in which the range gate differ between rays."
Many radars collect volume such that the location of the range gates changes between rays most often between different sweeps.  For example some NEXRAD file change to a different gate spacing at high elevation.  Currently the CfRadial convention on which the Radar class is based has not manner for expressing a radar volume in which the gate locations vary by ray.  A method for expressing and stori

[2015-03-12 19:02] scollis commented on #252
As a note, I will be working with NCAR in coming months on CF2.0. This
will be one issue I will raise

On 3/12/15 2:00 PM, Jonathan J. Helmus wrote:

[2015-03-12 19:48] jjhelmus opened #253 "Document optional parameters in dealias_fourdd function"
A number of optional parameter can be provided to the `dealias_fourdd` function which override default parameter of the `_fourdd_interface.fourdd_dealias` function, these should be documented in the function docstring.

[2015-03-16 19:11] jjhelmus commented on #251
With PR #256 reading files with variable gate spacing will raise an IOError unless the **skip_range_check** parameter is set to True:

[code]

[2015-03-16 19:32] jjhelmus commented on #251
Closed by PR #256

[2015-03-16 19:32] #251 closed

[2015-03-24 01:27] scollis opened #257 "Starting wradlib bridge, how to do integration"
I am working on the first use of wradlib  in Py-ART. We need to:
A) Have the bridge components in the right places (ie io, correct etc..)
B) Allow conditional import as wradlib will be an optional dependency..
The first thing we will start with will be texture calculations as per:
http://nbviewer.ipython.org/github/scollis/openvap/blob/master/development/cmac2/notebooks/1%20exploration%20of%20X%20

[2015-03-24 16:47] jjhelmus commented on #257
Concerning the location of the modules and populating the pyart namespace with the various wradlib wrapped function I would prefer to keep all of the bridge and wrapping code in the bridge directory.  A function can then be defined in the bridge `__init__.py` file which populates the pyart.correct, pyart.retrieve, etc namespaces with the wrapped functions.  I made an [example module](https://githu

[2015-03-27 01:25] scollis commented on #257
Thanks @jjhelmus I have followed you instructions in PR #259 and testing shows this is a good way.

[2015-03-27 01:25] #257 closed

[2015-03-31 14:12] tjlang opened #268 "Occasional Py-ART read error on Sigmet files"
Py-ART occasionally raises a ValueError when ingesting certain Sigmet-format NPOL files. I've placed a number of failure examples on temporary FTP here:
ftp://ftp.nsstc.org/outgoing/tlang/pyart_errors/

Most NPOL files are read fine, maybe 1 in 100 fails. RSL_in_IDL reads these problem files with no errors. This is on a Linux workstation. My Py-ART installation is within a week or so of the curren

[2015-03-31 14:14] scollis commented on #268
By occasionally is it seemingly random? ie is there anything different
about these scans (start of change of VCP?)

On 3/31/15 9:12 AM, Timothy Lang wrote:

[2015-03-31 14:36] jjhelmus commented on #268
@tjlang Can you send an example of a file which causes this issue, I should be able to debug the problem with an example and put together a fix.

The ValueError is being raised because the structure identifier in the ingest data header does not match the expected value of 24 which indicated an Ingest_data_header, [line 817 in _sigmetfile.pyx](https://github.com/ARM-DOE/pyart/blob/master/pyart/io/_

[2015-03-31 14:39] tjlang commented on #268
Seems random, no major shifts in scan type - these should be all 2-tilt rain-map PPI surveillance sweeps. Using IDL I can confirm the files contain real data with no obvious problems. The ValueError appears related to the data header as @jjhelmus notes. As I noted in my original post, I've placed a number of failure examples on temporary FTP here:
ftp://ftp.nsstc.org/outgoing/tlang/pyart_errors/

[2015-03-31 15:59] jjhelmus commented on #268
Do you get a two tilt volume when reading with IDL?  The C TRMM RSL library sees two sweeps in the file but detects errors in the second sweep and ignores that data:

[code]

[2015-03-31 16:50] jjhelmus commented on #268
In the file `np1130520022537.RAWGFG6` there are two records which hold the data for the second sweep (records 1054 and 1055).  Both contain a valid 12-byte raw_prod_bhdr structure followed by 0x10 repeated to fill the record which is invalid.  The other file I examined, `np1130520024112.RAWGFJ2`, has a similar layout.  It should be possible to have Py-ART issue a warning when this is detected and

[2015-03-31 17:03] jjhelmus commented on #268
A fix which allows for partial reading of these files available in PR #269.  On the example files the first sweep is read and a UserWarning issues.

[2015-03-31 17:06] tjlang commented on #268
Sorry for the delay, I agree that the second tilt appears corrupted. RSL_in_IDL is able to ingest the file but just populates the second tilt with zeros (e.g., for reflectivity). So a fix that populates the good sweep and ignores the rest is acceptable.

[2015-03-31 17:11] jjhelmus commented on #268
Exactly what PR #269 does, merging once the CI tests pass.

[code]

Thanks for catching this one!

[2015-03-31 17:22] #268 closed

[2015-03-31 20:58] kirknorth opened #270 "ARM ingest data"
Just to clarify, are we currently unable to read ARM ingest data? For example, this [KAZR](https://www.dropbox.com/s/cu7h8hjfkk9xgzf/sgpkazrgeC1.a1.20110511.000000.cdf?dl=0) file? @jjhelmus I know you've tested the new dealiasing routines on 915-MHz RWP data and I wanted to do something similar with KAZR data.

[2015-03-31 21:34] jjhelmus commented on #270
Py-ART should be able to read the a1 level files for the scanning ARM radars, SACRs and XSAPR but is currently unable to properly read data from the zenith pointing instruments, RWP, KAZR, MMCR files.  Although these are in netCDF format they are not Cf/Radial netCDF.  If you wanted to write a reader for a particular instrument or attempt to make a general purpose ARM zenith pointing read includin

[2015-03-31 21:39] scollis commented on #270
I will also add one of the things that was stopping us ingesting the ARM
KAZR format is that it will eventually move to CF-Radial.

On 3/31/15 4:34 PM, Jonathan J. Helmus wrote:

[2015-03-31 21:53] kirknorth commented on #270
Cool, thanks for the quick response guys! @jjhelmus I'll look into developing something for this format that could eventually be included in **aux_io**. I think the auxiliary module is more relevant since, as @scollis points out, these formats will eventually be deprecated.

[2015-04-02 16:00] gamaanderson commented on #100
I just notice this inconsistency:
grid_shape order in
pyart.testing.make_empty_grid is (x,y,z)
but in
pyart.map.grid_from_radars is (z,y,x)

[2015-04-03 14:08] jjhelmus commented on #100
@gamaanderson Looks to be a remnant from PR #115 where the order of the grid_shape was changed.  I'll put together a PR to address it this morning.

[2015-04-07 18:22] gamaanderson opened #278 "Encoding Value as int"
I would like to open a discussion in this topic, since I already found it twice (netcdf and mdv). It's about when writing objects, in order to reduce file size, encoding variables as int (8 or 16 bits), instead of using float. The problem is how to decide the type, I see three possibilities:
1. the user encodes the data before calling write and them we use dtype.
2. the user's adds an attribute to

[2015-04-07 18:45] josephhardinee commented on #278
When you say writing objects do you mean serializing of the python class, or the writing of file formats? For the filetypes, many specify an encoding ahead of time we would have to comply with. For serialization of the python objects, I guess the question would be how often do people write out the actual objects to disk?

[2015-04-07 19:13] gamaanderson commented on #278
I mean writing file formats. In fact filetypes specify an encoding, but some of them also give some choice. CfRadial for instance allow for fields: ncbyte, short, int, float and double (all signed). So the question is how to allow the user to choose, comply with filetypes and at the same time don't fill up function call with options.

[2015-04-07 19:43] jjhelmus commented on #278
Agreed, for file formats which specify an encoding (MDV), the only option is to cast the values in the arrays into the appropriate type after attempting to find reasonable scale/offset parameters if these are not provided by the user.

For file types which do allow for a choice of encoding the question of what to do becomes more complicated.  I believe that with the [compression of variables avail

[2015-04-07 23:59] gamaanderson commented on #278
I'm aware of this possibilities, however I'm still not convinced, I will make some tests and return to this. In all my experience, casting to integers has been standard procedure and NetCDF library has made it even more practical. Furthermore when input data is already scaled I usually don't consider it to be any loss.

But let me make an other argument: Py-Art should concentrate it self in data m

[2015-04-08 02:45] jjhelmus commented on #278
@gamaanderson After reflecting on this topic this evening I'm fully in support of adding better support in Py-ART for encoding variable as integers when writing to NetCDF files.  As you pointed out this is a standard procedure in the field and is transparently supported in the NetCDF4 Python library.  In addition, downstream tools may be expected integer encoded moments which need to be supported.

[2015-04-08 16:45] gamaanderson commented on #278
@jjhelmus  I'm happy we came to an agreement. I didn't know of this "unsigned" attribute, but I agree we should not use it. However I would allow functions to recalculate scale and offset (if given) in order to assign to signed types, instead of raising an error or going back to the standard float. As for HDF5, some conventions expect unsigned types, so as you said every function shall chose betwe

[2015-04-09 15:25] jjhelmus commented on #278
The virtual attributes should be detected in the variable dictionaries and explicitly added to the `createVariable` call.  I do not think assigned them after creation of the variable will have the desired effect.  In addition, it may be necessary to exclude them when setting the NetCDF variables attributes. This should be checked with some sample files.

Also, since the other virtual attributes be

[2015-04-09 16:33] gamaanderson commented on #278
No comments, I agree with all points.

As this is solved, please consider PR #266 out of date. I plan to implement the points discussed here at some point in the next weekS, but if some one want to run ahead and do it, please just tell me.

[2015-04-15 14:20] gamaanderson commented on #278
I have a small problem:
wenn the user ask for scaling, but does not specify `scale_factor` and `add_offset` I calculate them, in the process I also calculate a `_FillValue`. However the variable dict may already have a _FillValue.
I believe this original _FillValue is only valid for the float data, so I should overthrown it. Do you agree?

[2015-04-16 19:54] kirknorth opened #281 "Dealiasing VPT data"
@jjhelmus and @scollis from a past email I mentioned that the phase unwrap algorithm had difficulties with the insect and shallow cumulus layer, but I now have firm evidence that both the new algorithms have issues with this layer. Here's a [link](http://1drv.ms/1OjK7L4) to a full days worth of KAZR data that I have processed using `dealias_region_based`, where I have used the default settings. Th

[2015-04-16 20:02] scollis commented on #281
hey @kirknorth Just to be sure is it this:
https://onedrive.live.com/?cid=61ABE98B46A2C558&id=61abe98b46a2c558!2128&parId=61abe98b46a2c558!2130&v=3&authkey=!AAveyH6OdW52Kfs

On 4/16/15 9:54 PM, Kirk North wrote:

--
I ride for Parkinsons research http://www.events.org/sponsorship.aspx?id=51573

[2015-04-16 20:03] kirknorth commented on #281
@scollis that's hour 22, you should have access to the full day.

[2015-04-17 12:11] scollis commented on #281
Very interesting.

This is where we may need to bring in a little more prior information.
It identifies it as a segment but ascribes the wrong fold

What gatefilter are you using?

On 4/16/15 9:54 PM, Kirk North wrote:

--
I ride for Parkinsons research http://www.events.org/sponsorship.aspx?id=51573

[2015-04-17 14:35] kirknorth commented on #281
For the insect layer spanning the first 20 hours or so I wouldn't say it prescribes the wrong fold, it shouldn't be prescribing anything for this layer since it's not folded and the initial velocities are good. The gate filter is defined by the lower left panel, i.e. the significant detection mask, which is essentially a combination of the noise floor mask and the velocity coherency mask.

[2015-04-17 15:23] jjhelmus commented on #278
Would casitng the current _FIllValue to the encoding type work?  The _FIllValue in the default configuration is  -9999.0 which works with signed 32 and 16-bit integers.  Casting the default value will overflow a 8 bit byte/char/int field and causes issues with unsigned types.  For those a different solution would be needed, perhaps using the largest expressible value?

[2015-04-17 15:48] jjhelmus commented on #281
@kirknorth How large of time period were the dealiasing routines run on in a single pass?  Both algorithms make the assumption that the velocities in the sweeps or chunks of data they operate on should be smoothly varying.  In the data linked it looks like a large shear event at approximate 2030 UTC is forcing all velocities prior to that time to have an extra nyquist added.  If this was excluded

[2015-04-17 16:05] kirknorth commented on #281
@jjhelmus the time period was simply the full record, i.e., 24 hours, which, as you point out, is likely the underlying issue that I did not consider. I will test some larger values of **interval_splits** and report back.

[2015-04-17 17:21] gamaanderson commented on #278
I believe it is a little more complicated than that, even related to the `missing_value` and `_FillValue` discussion.That is because, at least in the CfRadial convention, `_FillValue` referee to the **scaled** data, that is, I should not cast 999.0 to 999, but rather calculate what is the scaled equivalent (i.e. `int((999.0-offset)/scale)`) which could, and most probably would, overflow.
The quest

[2015-04-17 17:23] gamaanderson commented on #278
Also, that should not be a problem, since we are using *masked arrays*, an the user should not work directly with _FillValue. If on the other way the user want to separate a value for some special meaning it should be let unmasked and defined an other attribute, like 'missing_value', 'no_echo' or 'not_scanned_region' etc.

[2015-04-17 17:38] jjhelmus commented on #278
I though `_FillValue` referred to the origin unscaled values as the scaled values would be more difficult to mask due to numerical precision in the scaling.  I don't have the materials with me at the moment to check on this so I can not say for certainty.  I'll investigate this and the question of if  `_FillValue` is a user or file specification in detail when I'm back in my office on Monday.

Eit

[2015-04-17 17:46] gamaanderson commented on #278
Just to clarify, I didn't intend to suggest pyart should use values with especial meanings, that was just a example in a more general context.

[2015-04-20 14:11] scollis opened #282 "FIX: Update optional dependancies"
Include wradlib in readme.md

[2015-04-20 16:39] jjhelmus commented on #278
According to section 2.5.1 of the [CF Conventions, version 1.6](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.6/build/cf-conventions.html) the value in `_FillValue` should be interpreted relative to the raw values, not those that result after the scale and offset are applied:

[code]

From that document is does seem that this value can be set by users but there are library defined

[2015-04-20 19:19] gamaanderson commented on #278
I've converted PR #266 to implement what was discussed here

[2015-04-21 19:41] kirknorth commented on #281
Increasing **interval_splits** to 5 (instead of the default 3) did improve the results within the insect layer before the cloud observed near 2030 UTC.

![sgpkazrgec1 a1 20110523 000002](https://cloud.githubusercontent.com/assets/2049028/7260381/96a005e0-e837-11e4-86e9-ea200a39bfb9.png)

However looks like the `dealias_region_based` algorithm still has issues with the cloud itself. Collocated Dopp

[2015-04-21 19:49] scollis commented on #281
Kirk, What day?
Look at the sounding and the LCL. and also the TSI..
That cloud is super low. Separation between DL *NOW* and KAZR is ~10m..
so we expect reasonable correlation.

use http://plot.dmf.arm.gov/plotbrowser/ to deep dive

On 4/21/15 9:41 PM, Kirk North wrote:

--
I ride for Parkinsons research http://www.events.org/sponsorship.aspx?id=51573

[2015-04-21 19:52] kirknorth commented on #281
This is a MC3E case from 2011-05-23.

[2015-04-21 20:01] scollis commented on #281
Sounding before (20Z)
http://plot.dmf.arm.gov/PLOTS/SGP/sgpsondewnpn/20110523/sgpsondewnpnC1.b1.skewt.201900.20110523.png
Vceil (~200m away)
http://plot.dmf.arm.gov/PLOTS/SGP/sgpvceil25k/20110523/sgpvceil25kC1.b1.backscatter.20110523.png

Ok here is where things get super confusing!
TSI shows lots of clouds..
http://plot.dmf.arm.gov/PLOTS/SGP/sgptsiskycover/20110523/sgptsiskycoverC1.b1.tsimovie.20

[2015-04-21 20:03] scollis commented on #281
BTW.. I am assuming the missing data in the DL is due to a PPI scan..

On 4/21/15 9:52 PM, Kirk North wrote:

--
I ride for Parkinsons research http://www.events.org/sponsorship.aspx?id=51573

[2015-04-21 20:18] kirknorth commented on #281
Well the DL intensity and backscatter data for this hour actually indicates a far amount of clouds too, some (most) of which are not obvious in the KAZR data, likely due to sensitivity. For example, the gap in clouds as seen in the DL data between 2040 and 2050 UTC is also observed in the TSI during this time.

[2015-04-21 22:44] kirknorth commented on #281
The collocated ceilometer tells a similar story.

![20110523 200000](https://cloud.githubusercontent.com/assets/2049028/7264131/6a662a08-e856-11e4-9984-4a3a8ae4557a.png)

[2015-04-22 14:31] kirknorth commented on #281
I'm now convinced we shouldn't be seeing an updraft in the DL data. Instead the KAZR is most likely detecting a few large drops falling towards it, meaning that the "rain shaft" (not actually raining) near 2030 UTC gets prescribed the wrong fold by `dealias_region_based`, i.e. it should be negative velocities implying motion towards the KAZR.

[2015-04-23 14:30] gamaanderson commented on #138
I would like to revive this topic, since it is not really clear to me and there may to be some inconsistence in file io.grid_mapper.py.
Function `map_to_grid` consider in lines 399 grid origin altitude to be always zero, but the reference is not clear, since it does not correct radar.altitude when calculating Cartesian coords (line 455). There is also a comment in line 445
On the other hand, funct

[2015-04-23 15:04] jjhelmus commented on #138
I agree that the user should be able to specify an altitude above sea level for the starting level of the grid and that the algorithm should correct for the difference between this altitude and the altitudes of the Radar objects which are being gridded.  I still think that the default value should be the altitude of the first radar.

A bit more explanation of what the code current does.  In the Gr

[2015-04-23 16:54] gamaanderson commented on #138
Being that the case, I believe is just a question of implementing. Unfortunately, because of the z,y,x order, transforming the grid_origin in 3-truplet has the possibility of creating bugs. Nevertheless, I think this should be the way of doing it.
How are you dealing with somethings like this, updates that may create bugs in user-scripts? How connected are you to your users?

[2015-04-23 16:57] scollis commented on #138
FYI The z,x,y order is there to mirror CF standards

On 4/23/15 11:54 AM, Anderson wrote:

--
I ride for Parkinsons research http://www.events.org/sponsorship.aspx?id=51573

[2015-04-23 17:56] jjhelmus commented on #138
Yes, the question is only implementation.  The **grid_origin** parameter could be used to specify the altitude, latitude and longitude but this would break backwards compatibility and is a bit awkward as two of the values are in degrees and the other is in meters (or km).  I'm be more in favor of the more verbose grid_origin_alt which would be either None (to use the altitude of the first radar) o

[2015-04-23 19:54] gamaanderson commented on #138
Ok, I did a quick implementation (PR #284).

I don't find mixing units awkward at all, in the end latlon is degreeN and degreeE. They are not exactly the same thing, nor are independent, but two components of a projection; but I do understand your point.

Also, since Scott raise the point of CF standard, I would like to point out that using the variable 'alt' as offset for 'z_disp' does not seem f

[2015-04-23 22:46] scollis commented on #281
Hey all Virendra suggested the rainshaft may be sheared and be from a cloud out of view of the radar. Note the dealiaser had nothing to go on. No apriori telling it what fold.. This would need to be built in post processing

[2015-04-23 23:32] kirknorth commented on #281
@scollis there is a region (segment) of downwards (negative) velocities in the raw data associated with this feature, which would suggest this *could potentially* be corrected properly, but maybe this is pushing the limits of automatic methods, in particular `dealias_region_based`? @jjhelmus I look forward to your comments.

[2015-04-23 23:42] scollis commented on #281
Yes.. But the key here is that the region based approach was designed,
first, to work without any other knowledge. As the regions are stored
future data could be used.. But as you said @jjhelmus
<https://github.com/jjhelmus> may be able to suggest a set up..

BTW I agree that the velocities should, indeed, be towards the data..
Makes me want a distrometer at the KAZR site. Diameter fallspeed could

[2015-04-23 23:46] kirknorth commented on #281
But yes, as Vinny suggested, if this is a case of a sheared part of one cloud coming into view of the radar and merging and/or embedding with other clouds in view than the velocity solution becomes ambiguous here.

[2015-04-24 15:50] jjhelmus commented on #138
The **Grid** class does not do a good job following the CF standards, the layout of the class is historical and should be replaced.  I've been looking as basing the class on the [Gridspec](http://www.gfdl.noaa.gov/~vb/gridstd/gridstd.html) standard, but I have not read enough of the standard to see if it is appropriate.  I'll open a new issue for replacing the Grid class.

[2015-04-24 16:02] jjhelmus opened #285 "Replace the Grid class layout"
The current layout of the [**Grid** class](http://arm-doe.github.io/pyart-docs-travis/user_reference/generated/pyart.core.Grid.html#pyart.core.Grid) is historical and ad-hoc, it does not follow a formal standard.  A more formal layout of the class should be used which conforms to the [CF conventions](http://cfconventions.org/).  The section of the CF convention which are relavent are [5.6 Horizont

[2015-04-24 16:02] jjhelmus commented on #138
Opened #285 for continued discussion on new **Grid** class

[2015-04-24 17:11] #138 closed

[2015-04-24 18:06] gamaanderson commented on #285
I've just read that Gridspec documentation, and it seemed for me overly complicated for our simple use. Also it date from 2007 and does not seem to have gained much momentum since them. I don't see how the class Gridspec in matplotlib relate to that, may be is just a coincidence.

CF, on the other hand, is more promising. To make it more friendly, one could add functions that interpret that data a

[2015-04-24 18:06] jjhelmus commented on #281
From a quick look at the raw and corrected velocities I don't think the region based algorithm is going to be able to unfold the upward component on the right of the sheared cloud into a downward velocity since the upward region is larger are more organized than the downward region on the right.  I'll have to run through the case through the algorithm with some verbose information turned on to tel

[2015-04-24 18:22] kirknorth commented on #281
To inject a positive note, the results also improved for hour 11 when increasing **interval_splits** to 5. Here were the [original results](http://1drv.ms/1z1G4S8).

![sgpkazrgec1 a1 20110523 110000](https://cloud.githubusercontent.com/assets/2049028/7325582/4557f302-ea8d-11e4-8c48-96cc9e45a3fd.png)

[2015-04-27 16:13] jjhelmus commented on #285
Reading through GridSpec it does seem more complicated than we need.  There seems to be a number example of representing uniform latitude/longitude grids in NetCDF but I have not found one which covers uniform Cartesian grids which is what Py-ART is producting.  Although this does correspond to a lat/lon is is not uniformly spaced.  I'll check into what is required for a `Proj` instance as see if

[2015-04-28 15:36] gamaanderson commented on #244
Let me put here another experience, that may help implementing this: don't give the user direct access to the array, but rather with a function getValue(), as several other libs (e.g. Nio, ScientificNetcdf). I even think there is a way in python of turning a slice [:] into a function call, I believe this is what NetCDF4 and h5py are doing, but I'm not sure we should.

Beside of only reading variab

[2015-04-28 17:37] gamaanderson commented on #285
Have you seen this sites:
http://www.unidata.ucar.edu/software/thredds/current/netcdf-java/reference/StandardCoordinateTransforms.html
http://www.unidata.ucar.edu/software/thredds/current/netcdf-java/tutorial/CoordinateAttributes.html

With this convention I was, today, finally able to plot Cartesian data in THREDDS, with implies it was automatically recognized by NetCDF JAVA. This was a task that

[2015-04-30 14:29] jjhelmus commented on #285
Great find!  Unidata has some very nice products so using a format they support sounds like a good idea. If the `write_grid` function can produce NetCDF files that work with THREDDS and their other tools I think that would be ideal.

It seems that a projection is required for these to work which is understandable but I think should be used with caution.  Py-ARTs grid object is a 3D Cartesian grid

[2015-04-30 14:36] jjhelmus commented on #244
I've looked at some of the other NetCDF Python libraries.  From what I remember NetCDF4 was the only one that seemed to support both NetCDF3 and NetCDF4 files (scipy.io and ScientificNetCdf only supports 3, h5py only 4, not sure on PyNIO).  In addition NetCDF4 can automatically apply the scaling, offset and masking of data which is very helpful.  NetCDF4 also is relatively easy to install (it is i

[2015-04-30 14:47] jjhelmus commented on #244
I should say I'm opposed to hiding the variable data behind a `getValue` function call.  One of Py-ART main goals is to make radar data easily available to users and I think data hiding would hinder this goal.

I've also seem numerous **ndarray** like objects (NetCDF4's Variable class, NioVariable, etc) which all implement slicing in a manner which is similar to but slightly different from NumPy's

[2015-04-30 15:12] jjhelmus commented on #244
An alternative solution which would still maintain most backwards compatibility and have the same slicing behavior would be to replace the dictionaries which contain the field data with a class which performs lazy loading of the *data* key when that key is requested.  In this way memory would not be required until data from the field is needed at which time it would be read from the file/object/et

[2015-04-30 15:31] josephhardinee commented on #244
I'll weigh in with my two cents. For a lot of workflows, keeping the file open can quickly become burdensome(I often find myself touching 1K+ files). Also, I personally prefer for the readers to be more predictable. I prefer to know when I'll incur the io/time hit for reading a file rather than lazy evaluation, unless it is optional(I can see good use cases for both). The question then becomes, if

[2015-04-30 15:31] jjhelmus commented on #244
A better link is to the [Collections Abstract Base Classes](https://docs.python.org/2/library/collections.html#collections-abstract-base-classes).  The MutableMapping class would be a good choice for a LazyDictionary

[2015-04-30 17:04] gamaanderson commented on #285
I really can not understand how is it possible to have no projection, there is always assumptions about it, even if one is unaware of those.

From what I understand `radar_coords_to_cart` as it does not disrupt the grid, it is using the best representation of an area around a point, that is azimuthal_equidistant projection. This is particularly good, since rays in this projections are geodesic, an

[2015-05-01 20:01] jjhelmus commented on #244
PR #286 adds support for delayed loading of field data using a dictionary which does lazy loading of the *data* key.  For NEXRAD Level 2 Archive files I found that accessing a single field in this manner took about half the time as loading all the field data.  A single field from a CfRadial files can be read even faster.

Is something like this desired for other file formats?  Adding support for M

[2015-05-01 20:13] gamaanderson commented on #244
The MdvFile already have this functionality,  so its really a short task. I may even add to PR #277 since I'm already working in that part of the code.

[2015-05-03 12:34] swnesbitt opened #287 "ODIM_H5: test for missing `how` group"
I am using `read_odimh5` and the files I am using, produced from OPERA BUFR through `bbufr` do not contain the `how` group.

This is causing the read routine to crash because it is expected, even though the routine later on has contingencies for this.  I have not found an elegant workaround for this, but to make it work brute force I to create an empty H5 file and then create an attribute, and the

[2015-05-04 15:52] jjhelmus commented on #287
Thanks for finding this @swnesbitt and for bringing it to our attention.

The **ds1_how** variable is being used as a dictionary from which attributes are pulled if the correct key exists.  If there is no how Group in the file (which is allowed according to the standards) then an empty dictionary can take the place of this Attribute object.

I implemented this change in PR #288.  With this in plac

[2015-05-05 14:34] jjhelmus commented on #285
I did not think that the `radar_coords_to_cart` function assumed a map projection, rather my understanding was that it converts an azimuth, elevation, range coordinate system into a x, y, z, Cartesian system using typical propagation of microwaves in the atmosphere.  The function does assume a spherical 4/3 earth radius earth so there is an underlying map projection assumption that I was not aware

[2015-05-05 14:48] scollis commented on #285
Exactly.. Just x,y and height displacement from a spherical surface
assuming standard atmosphere (R_e * 4/3)

The paradigm has always been to call the grid mapper with these
coordinates and then prescribe lat lons later..

One could always take a set of lat lons, back out X,Y and call the
KD-Tree with that

On 5/5/15 9:34 AM, Jonathan J. Helmus wrote:

--
I ride for Parkinsons research http://www.

[2015-05-05 16:47] gamaanderson commented on #285
Yes @jjhelmus, you are correct about PR #264. I just update some alterations I had (PEP8, docstring etc...). In theory it could be merged, but I believe is better to put as a method of `Grid`. Also chose a better name.

[2015-05-07 13:57] #287 closed

[2015-05-07 17:24] jjhelmus commented on #285
I went ahead and merged #264 so that the code is available in master.  When thr **Grid** class is rewritten this function should renamed and added as a method of the class.  Also the latitude and longitude metadata should be added to the `default_config.py` file and be extracted from there.

[2015-05-15 21:49] scollis opened #294 "Projection issue for VERY large mosiac"
So this is one for the GIS crowd. Using Jonathan's new gridding engine I am doing a massive CONUS wide mesh.. But as you can see form the plot, unless we have radars off the eastern seaboard the mesh does not line up with the map..

Code: https://github.com/scollis/conus_mosiac/blob/master/scripts/conus_mosiac.py#L76

![diag_20150513_200000](https://cloud.githubusercontent.com/assets/825351/766245

[2015-05-16 03:32] tjlang commented on #294
Sorry, Scott, can't resist, but I fixed your problem in 7 lines of code. :)
![screen shot 2015-05-15 at 10 22 12 pm](https://cloud.githubusercontent.com/assets/3036387/7664507/0c4c9afc-fb51-11e4-9b14-82747ab6a7ff.png)
On a more serious note, yeah if the map projection is based off a single point you will get huge errors near the edges. I would need to dig up how MRMS fixed this, it's probably in t

[2015-05-16 03:43] tjlang commented on #294
Yeah, reading the paper it sounds like they map each individual radar to its own cylindrical equidistant projection (0.01-deg resolution), then they merge all those individual grids together onto a national projection with the same resolution, and where radars overlap they use an exponential weighting function to merge the data. A lot of intervening QC and other corrections are done as well.

I di

[2015-05-17 15:13] scollis commented on #294
Thanks @tjlang I admit significant ignorance when it comes to projection issues... It would be nice to resolve this so Py-ART's gridding paridigm and map plotting works..
A fundamental question is are the grid points in the right place? Is the issue in the calculation of the displacement of the radars from the origin of the grid?

[2015-05-17 15:48] jjhelmus commented on #294
My guess is that the issue is the projection, or rather lack of a projection, used in calculating displacement of the radar location from the grid origin.  This is done by the [`corner_to_point`](http://arm-doe.github.io/pyart-docs-travis/dev_reference/generated/pyart.graph.common.corner_to_point.html?highlight=corner_to#pyart.graph.common.corner_to_point) function which I believe is not valid ove

[2015-05-17 17:06] scollis commented on #294
I concur. Basically we need a better function for working out the x-y displacement given latitudinal and longitudinal differences.. Perhaps GDAL

[2015-05-17 22:42] tjlang commented on #294
Yeah for 150-200 km distance from the radar you should be good with whatever, but beyond that you have to be a lot more rigorous. I remember working out that math using fairly simple lat/lon-Cartesian transforms a while back.

[2015-05-18 01:50] mvanlierwalq commented on #294
Isn't part of the problem that x/y distance depends on whether you take your lat or lon step first? If you take your steps infinitesimally, then.... you're basically calculating sin and cos of the forward azimuth and the distance of the great circle between the points? (I don't know... I'm asking). Is x/y displacement really a well posed question on a sphere?

[2015-05-18 11:28] gamaanderson commented on #294
This can be easily solved using the pyProj, is just a question of using forward transformation, the oposite of [add_2d_latlon_axis](http://arm-doe.github.io/pyart-docs-travis/dev_reference/generated/pyart.io.common.add_2d_latlon_axis.html#pyart.io.common.add_2d_latlon_axis). I'm increasingly believing basemap should become a mandatory dependence.

[2015-05-18 12:18] gamaanderson commented on #244
I've just realized this functionality is useless in the case of cfradial when `ngates_vary=True` (i.e `ray_n_gates`exists)  because of executing [_unpack_variable_gate_field_dic](http://arm-doe.github.io/pyart/dev/dev_reference/generated/pyart.io.cfradial._unpack_variable_gate_field_dic.html#pyart.io.cfradial._unpack_variable_gate_field_dic). I don't think we should solve this, but I wonder if wou

[2015-05-19 08:24] qwe14789cn opened #298 "I got a problem when I install pyart"
I'm working @ubuntu 14.10 + Anaconda.
And I setup as your guide:

conda update conda
conda install basemap
conda install -c jjhelmus pyart

but when i work in ipython:

import pyart
ERROR: An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 2))

-----------------------------------------------

[2015-05-19 12:34] qwe14789cn commented on #298
I solved it.
ubuntu14.10 + Anaconda
1.
gedit ~/.bashrc
add code:
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

source ~/.bashrc

then do not use 'conda install -c jjhelmus pyart'

use
git clone https://github.com/ARM-DOE/pyart.git
python setup.py install --user

import pyart
succeed!

[2015-05-19 21:11] WeatherGod opened #299 "nbins is an integer in sigmet reader"
Working off of master and reading in some IRIS data, I get the following traceback:

[code]
Looking at line 752 in _sigmetfile.pyx, I see that it is passing in a view and an integer `nbins` to the function `_mask_gates_not_collected()`, which expects two ndarrays. The function this is called in already takes an argument `nbins`, and this one if-branch is the only place where `nbins` gets re-assign

[2015-05-19 21:16] WeatherGod commented on #299
Ah, it isn't conda-build that is the issue, the pyart/io/_sigmetfile.c source isn't getting redone...

[2015-05-19 21:27] WeatherGod commented on #299
I see the `rebuild_sigmetfile.sh`, and running it does remake the .c file. So I did that after doing a `git clean -fxd`, and then did a `python setup.py install` in a conda environment. Importing now gets me some strange errors, so I suspect I did something wrong in the build process.

[2015-05-19 21:34] WeatherGod commented on #299
Ok, I think I got the build process figured out (I had originally cython _sigmetfile.c with an older version of cython, which caused all sorts of weirdness at import). Using cython 0.22, and redoing the .c file and all that, the file reads without errors!

[2015-05-20 13:44] WeatherGod commented on #299
So, it would seem that the following diff for the pyx file is needed:
[code]
since I didn't use the exact same version of cython, the diff in the .c file is much more extensive. Do you want me to make a PR with just this change?

[2015-05-20 13:45] scollis commented on #299
Thanks Ben,
We will get to this soon.

On 5/20/15 8:44 AM, Benjamin Root wrote:

--
I ride for Parkinsons research http://www.events.org/sponsorship.aspx?id=51573

[2015-05-20 14:40] jjhelmus commented on #299
Yes nbins should not be redefined on that line.  If you want to make a PR with the change to the .pyx and .c file that would be great.  Adding a unit test to catch this bug would be even better.

[2015-05-20 14:41] jjhelmus commented on #299
Also thanks for catching this @WeatherGod.

[2015-05-20 14:47] seberry2 opened #300 "Trouble in write_cfradial"
Hello,
I am trying to write a netCDF file, however I keep getting the following error:

    pyart.io.write_cfradial(filesavename, radar)
  File "C:\Anaconda\lib\site-packages\pyart\io\cfradial.py", line 527, in write_cfradial
    _create_ncvar(start_dic, dataset, 'time_coverage_start', time_dim)
  File "C:\Anaconda\lib\site-packages\pyart\io\cfradial.py", line 661, in _create_ncvar
    ncvar[...,

[2015-05-20 15:07] jjhelmus commented on #298
@qwe14789cn Has this issue been solved or do you need additional help?  If this is working can this issue be closed?

[2015-05-20 15:19] WeatherGod commented on #299
No problem. I am putting together the commit now using cython 0.21.2.

Question: for the unit test, I could include an example 1byte format sigmet file, but I see that this project typcially just generates example data. I don't know anything about sigmet data formats to know what makes it a 1byte format, so would it still be ok to include the example that I have?

[2015-05-20 15:27] jjhelmus commented on #244
Added a note in the read_cfradial documentation concerning delayed field loading and **ngates_vary** in PR #301.

[2015-05-20 15:28] WeatherGod commented on #299
I don't see any sort of suite of tests for reading the example files. Does one need to be created? I see tests for configuration handling, and a smoketest for debug output.

[2015-05-20 15:30] jjhelmus commented on #300
@seberry2 Can you provide some additional details about your setup.  Specifically the version of Py-ART  you are using as well as the netCDF4 version would be extremely helpful.  Executing `python -c "import pyart; pyart._debug_info()"` on the command line should provide enough information about your setup.

My suspicion is that this is an issue with netCDF4 1.1.6+ which was fixed in 7d9e1a89cf8c4

[2015-05-20 15:59] seberry2 commented on #300
I am using Py-ART version 1.3.0 and netCDF4 version 1.1.5.

[2015-05-20 16:20] qwe14789cn commented on #298
This problem could be closed.But I suggest use
"Python setup.py install --user"
Instead of
"conda install -c jjhelmus pyart"
Use conda install pyart may bring some bug.
The right order should be

Conda update conda
Conda install basemap
Python pyart install --user

This bug only @ubuntu+anaconda
Windows7+anaconda is ok

[2015-05-20 16:37] jjhelmus commented on #298
The INSTALL.rst and README.rst files do not mention conda as a method to install Py-ART, only the Wiki recommends using conda, which I will remove for Linux.  The version of Py-ART on my binstar channel is quite old and will not work on all Linux distributions or versions due to difference in the glib. I have some ideas on how to improve this situation and build more universal Linux conda packages

[2015-05-20 16:39] #298 closed

[2015-05-20 16:51] jjhelmus commented on #300
My best guess is still that this error was fixed in 7d9e1a8.  Can you either update Py-ART to the latest version on GitHub or change to a version of netCDF4 not effected by this ellipsis bug, version 1.1.1 or 1.1.7+ should work, and see if this solves the issue?

Alternatively, if you can send me the file and a script which produces the error, I can try to repeat the process on my machine and nail

[2015-05-20 17:41] seberry2 commented on #300
Installing netCDF4 version 1.1.1 solved the problem. Thanks!

[2015-05-20 18:26] jjhelmus commented on #300
Your welcome, once Py-ART 1.4.0 is released you should be able to upgrade netCDF4 to 1.1.5 or later.  Closing issue.

[2015-05-20 18:26] #300 closed

[2015-05-20 19:31] jjhelmus commented on #299
The tests for the **_sigmetfile** module are combined with those for the **sigmet** module in [*test_sigmet.py*](https://github.com/ARM-DOE/pyart/blob/master/pyart/io/tests/test_sigmet.py) in the *pyart/io/tests* directory.  I don't think that full 1byte format sigmet file must be tested, feeding data to the `convert_sigmet` function should be sufficient, for example:

[code]

I believe this shoul

[2015-05-20 19:35] jjhelmus opened #302 "CfRadial reading broken with netCDF4 1.1.8"
Reading CfRadial files is currently partially broken with netCDF4 version 1.1.8, namely length ones arrays are not returned correctly.  This is causing the unit tests to fail on on [Travis CI](https://travis-ci.org/ARM-DOE/pyart/builds/63371986)

[2015-05-20 19:59] WeatherGod commented on #299
Indeed, running the above code snippet on my patched install works:

[code]
I take it we are expecting half the data to be masked out, though? Like I
said, I am totally clueless on sigmet/iris data formats. If that is all
good, then I can easily write up a test for that. Thanks for pointing me in
the right direction. I am too used to keeping all my tests in one place.

On Wed, May 20, 2015 at 3:31

[2015-05-20 20:09] jjhelmus commented on #299
Oops add a * 2 to the nbins line `nbins = np.ones((2,), dtype=np.int16) * 2` and then you should get all -31.5 and no masking.  But yes that is the expected values for that type of sigmet/iris data.

[2015-05-20 20:26] jjhelmus opened #304 "Travis CI is slow, move to container based infrastructure on Travis"
Travis CI is becomes quite slow to start, moving to [Travis CI's container-based infrastructure](http://docs.travis-ci.com/user/workers/container-based-infrastructure/) should speed things up and may allow for caching of dependencies.  The difficulty is removing sudo commands, which are currently limited to apt-get.  The [apt addon](http://docs.travis-ci.com/user/apt/) can be used to solve this fo

[2015-05-20 21:44] #302 closed

[2015-05-21 15:28] #299 closed

[2015-05-21 15:29] #304 closed

[2015-05-21 18:40] jjhelmus commented on #294
I've labeled this issue and will verify that it is caused by the poor use of projections and try to come up with a fix at a later time.  If anyone else wants debug this further before then, feel free.

[2015-06-03 22:42] josephhardinee opened #311 "Nexrad Level 3 unsupported product code"
When reading in a lvl 3 tar file from KTFG received the following error:

NotImplementedError: Level3 product with code 18259 is not supported

Is it possible to have this be issued as a warning instead of an error and just step over unsupported products, or load them in unnormalized similar to how the iris files are handled?

[2015-06-03 22:43] josephhardinee commented on #311
I guess the second issue would be...does this actually support loading directly from the tar file?

[2015-06-04 15:08] jjhelmus commented on #311
The NEXRAD Level 3 reader does not do support loading directly from a tar file, nor do I think it should. Trying to support inline unpacking/decompression of various archive formats get complicated fast and can be handled easily outside the read function.  I'll add support for reading from a file-like object so that it will be possible to open the file with the standard library **tarfile** module

[2015-06-04 15:16] jjhelmus commented on #311
The more tricky question is can the NEXRAD Level 3 reader perform partial reading of unsupported products.  The Level 3 or NIDS format is a message based file format which can contain radial, Cartesian, and some other more obscure layouts.   Only radial data can be mapped to the **Radar** data model, other formats cannot.  Hence the **NEXRADLevel3** class has only implemented support for reading r

[2015-06-04 16:28] jjhelmus commented on #311
PR #312 Adds support for reading NEXRAD Level 3 files from a file like object.  The following snippet can be used to read from tarfiles:

[code]

@josephhardinee Let me know if you still are interested in handling the NotImplemented issue differently.  If not I'll close this issue once the PR is merged.

[2015-06-05 03:29] josephhardinee commented on #311
Hmm okay let me think on this a little more. I didn't realize lvl3 files were available in radial format(Most my work is with research networks). In particular for the grid files however, I assume they are all on the same grid(per lvl), and so would it be possible to set something up to accumulate them all into a single radar object? Otherwise for each volume you end up with 300 or so radar object

[2015-06-05 14:50] jjhelmus commented on #311
Level 3 radial files contain a PPI scan from a single elevation scan for a particular moment or product (rain rate, etc).  Multiple moments from the same radar and time period could be combined with the `add_field` method of the **Radar** class.  Combining multiple sweeps is more tricky.  When fixed/re-designed the `join_radar` function (PR #127) could be used to make Radar objects composable so t

[2015-06-09 14:56] jjhelmus commented on #278
With PR #266 merged is there anything further that needs to be addressed in this issue or can it be closed?

[2015-06-09 15:09] jjhelmus commented on #244
@nguy does the functionality of the **delay_field_loading** parameter sufficiently meet the need for faster reading of a single field or is there still a desire for additional enhancements?

[2015-06-09 15:13] jjhelmus commented on #177
@kirknorth Any updates on this issue or can it be closed?

[2015-06-09 15:14] jjhelmus commented on #119
Closing this issue, feel free to reopen if further discussion is needed.

[2015-06-09 15:14] #119 closed

[2015-06-09 15:17] jjhelmus commented on #100
Anyone following this issue want this kept open?  If not I'll close it later this week.

[2015-06-09 15:21] jjhelmus commented on #140
An update.  The  [`np.ma.getmaskarray`](http://docs.scipy.org/doc/numpy/reference/generated/numpy.ma.getdata.html) and [`np.ma.getdata`](http://docs.scipy.org/doc/numpy/reference/generated/numpy.ma.getdata.html) functions work as a reliable method for determining the data and mask from a NumPy **ndarray** or **MaskedArray**.  These are the suggested method to use in Py-ART algorithms which work wi

[2015-06-09 15:21] #140 closed

[2015-06-09 15:23] kirknorth commented on #177
@jjhelmus I am no longer running into this issue, likely due to the changes in my VE as stated in my last comment.

[2015-06-09 15:27] jjhelmus commented on #177
Thanks for the update, closing this issue.

[2015-06-09 15:27] #177 closed

[2015-06-09 15:30] jjhelmus commented on #311
Changing label to Large Scale as implementing fixing the `join_radar` function is required to build full radar volumes from a series of Level 3 files.  Reading Level 3 data from a file like object, for example a TarFile member, has been implemented which was the Easy Fix part of this issue.

[2015-06-09 15:35] #282 closed

[2015-06-09 19:01] gamaanderson commented on #278
yes, after PR#266 this can be closed, but it has not been merged yet.

[2015-06-09 19:02] jjhelmus commented on #278
Right you are, sorry for jumping the gun.  I'll try to have a look at PR #266 next week.

[2015-06-09 19:02] gamaanderson commented on #100
From my part, this is ok to close.

[2015-06-09 19:24] jjhelmus opened #318 "_gate_to_grid_map module does not compile on Windows"
The _gate_to_grid_map module does not compile on Windows as the Microsoft Visual Studio C++ compiler used to compile Python 2.7 modules does not implement the C99 isfinite function.  The current work around is to disable the check for finite field values.

In addition Windows does not separate the math library from the standard C library so the "m" library is not need nor can be linked to the modu

[2015-06-09 19:32] jjhelmus commented on #318
The second portion of this bug is fixed by PR #319

[2015-06-09 20:36] gamaanderson commented on #318
Just for information, I have found the same problem (the first one) while compiling in Linux, but I cann't say now what configuration in was. The problem, I believe, eventually solved itself.

[2015-06-09 20:43] jjhelmus commented on #318
Linking against a libc/libm library on Linux which does not implement the C99 isfinite function would cause such an error but you would need to use a very old version of the GNU C library or a non-standard C library for that.  I think long term all filtering of gates for gridding should be handles by the gatefilter object.  Then isfinite would not be needed in the _gate_to_grid_map module.

[2015-06-13 14:39] nguy commented on #244
@jjhelmus I'll look at this shortly. Been crazy busy and we just restructured ARTView so I need a bit to dig into this.

[2015-06-19 02:34] gamaanderson commented on #294
I just realized this today, there is one more issue that you may want to take a look while fixing this.
Some projection assumption are inconsistent, I will resume everything:

* line [466](https://github.com/ARM-DOE/pyart/blob/master/pyart/map/grid_mapper.py#L466) uses function [corner_to_point](https://github.com/ARM-DOE/pyart/blob/master/pyart/graph/common.py#L28) that uses a local approximation

[2015-06-19 13:11] gamaanderson opened #321 "Configuring Names"
Would it be possible to the user to change the default py-art name ('reflectivity' etc.) while **installing**. I know all functions have options to overwrite the standard, but we have here in SIMEPAR a really (internaly)-uniform standard, but as it is different than py-art I must always correct it. ARTview is also having some difficulties because of that.

[2015-06-19 15:00] jjhelmus commented on #321
The field names and other configuration details are set in the Py-ART configuration file.  I think we can include an option during the install to copy a custom configuration file into the pyart directory and adjust the configuration loading logic to use this configuration file if available.  I would still want the `default_config.py` file available for testing and such.

I should add that currentl

[2015-06-19 19:19] nguy commented on #244
@jjhelmus I just re-cloned the latest pyart, but I keep an error that delay_field_loading is unexpected.

[2015-06-19 19:23] nguy commented on #244
@jjhelmus I just looked at this with an older version of ARTView and it works just fine. I'll check on the newest version soon, but I expect it to work without issue.
Thanks!

[2015-06-20 17:43] gamaanderson commented on #244
@nguy just found a bug: read is passing `delay_field_loading` argument direct to the specific read function, and, as not all of them have this option, it is raising an error. I see 3 solutions

1. all read function have the `delay_field_loading` option, even if not implemented
2. `pyart.io.read` filter this option out before passing **kwargs
3. all read funcions have as final argument **kwargs to

[2015-06-20 22:56] nguy commented on #244
@gamaanderson @jjhelmus , my vote would be for Solution 3. I think solution 2 would need to cause changes to occur in 'read' function as more file types are added (and I'm sure there are more formats lurking in the shadows out there). Option 1 is reasonable as well, but maybe not as elegant?

[2015-06-22 14:04] agumartina commented on #311
Hello @jjhelmus.
I'm having a similar issue.
When I try to open with pyart.io.read_nexrad_level3 a NEXRAD Level 3 file (Base reflectivity - KBOU_SDUS25_N1QFTG_201306181803), it return "NotImplementedError: Level3 product with code 0 is not supported".
And if I export from NIDS to NetCDF with wct-viewer and open that NetCDF (v 3) file with pyart.io.read it returns "ValueError: max() arg is an empty

[2015-06-22 15:33] jjhelmus commented on #311
@agumartina Can you provide a link to the file causing issues?  Product N1Q is a base reflectivity product which should be supported by Py-ART, but KBOU does not seem to be a valid NEXRAD site and the FTG part of the filename suggests to me that this may be a Free Text message in NIDS format.

Converting to NetCDF using wct-viewer will not work with Py-ART, NetCDF files need to be in the CfRadial

[2015-06-22 15:41] jjhelmus commented on #244
Solution 3 sounds good to me also, it will allow individual `read_foo` function to provide file specific keyword arguments that can be safely passed to the `pyart.io.read` function.  It does open up the possibility of arguments silently being ignored without informing the user, for example passing **delay_field_loading** to read_sigmet does nothing but the user will not know.  A warning could be i

[2015-06-22 16:11] gamaanderson commented on #244
agree, @jjhelmus I will get to it

[2015-06-22 16:23] gamaanderson commented on #244
I'm adding the following test just after the doc string of all `read_foo`:

    #test for non empty kwargs
    if not kwargs:
        import warnings
        warnings.warn('Unexpected arguments: %s' % kwargs.keys())

[2015-06-22 16:26] jjhelmus commented on #244
Make that a function in io/common.py, that way we can change the warning in one place if needed.

[2015-06-22 16:30] gamaanderson commented on #244
ok,

    def test_arguments(dic):
        if not dic:
            import warnings
            warnings.warn('Unexpected arguments: %s' % dic.keys())

and

    #test for non empty kwargs
    test_arguments(kwargs)

is that good?

[2015-06-22 16:30] jjhelmus commented on #244
Also, the check should be `if kwargs`. Empty dictionaries [evaluate to False](https://docs.python.org/2/library/stdtypes.html#truth-value-testing) and non-empty evaluate to True.

[2015-06-22 16:30] jjhelmus commented on #244
Make it **_test_arguments** so that it is private.

[2015-06-22 16:32] gamaanderson commented on #244
I'm testing if is empty, so it must be not False => True

[2015-06-22 16:35] jjhelmus commented on #244
We want the warning to be issue when the dictionary is not empty. When it is empty there were no arguments collected by kwargs.  Write a unit test and see how it works, I could be wrong.

[2015-06-22 16:38] gamaanderson commented on #244
yes, of course, you are right!

[2015-06-22 16:45] gamaanderson commented on #244
Also adding to io_aux, one less thing to do if they are moved into io

[2015-06-22 17:33] jjhelmus commented on #244
**kwargs added to read_foo functions in PR #322

[2015-06-22 17:33] jjhelmus commented on #244
I'm assuming with this fix, ARTView should work better and this issue can be closed?

[2015-06-22 17:36] gamaanderson commented on #244
Yes, as @nguy already said he has tested it and so did I, this can be closed.

[2015-06-22 17:36] #244 closed

[2015-06-25 03:06] deeplycloudy opened #325 "Error on "native" sigmet read"
I have a Sigmet file which crashes pyart.io.read_sigmet. A call to pyart.io.read_rsl works fine. See the interactive session below; something seems suspicious about the call to create the masked array. I'm running master from a half hour ago.

A secondary issue is that this file is reported as a PPI by RSL, while it's actually 10 RHIs. I'd like to see how the scan mode is encoded, which is why I w

[2015-06-25 16:05] jjhelmus commented on #325
Looking into this, should have so ideas in a bit

[2015-06-25 16:45] jjhelmus commented on #325
@deeplycloudy The file (RAW_NA_000_025_20130606030822.gz) you are looking at is a gzipped UF file so `read_sigmet` will not read the file.  Currently the only method for reading UF files in Py-ART is to use the `read_rsl` function.   The UF header does indicate that the generation facility was IRIS8.11 so this data was likely at one time in Sigmet/IRIS format.

When I read the  file after unpackin

[2015-06-25 17:12] jjhelmus commented on #325
The issue with getting different scan modes when reading in the same file twice is an issue in RSL not Py-ART.  For example:

[code]

Produces:
[code]

I'll let Bart Kelley know about this issue and see if there is a fix.

[2015-06-25 17:25] jjhelmus commented on #325
Marking this as **Wontfix** for the time being as this needs to be addressed in RSL and not Py-ART.  If/when Py-ART has a native Uf reader (#201) then fixing this in RSL will be less important.

[2015-06-25 21:14] deeplycloudy commented on #325
Ugh, I'm sorry about sending you UF. My actual Sigmet files, once I actually used them, worked great and reported successfully as RHIs.

Interesting bug in the RSL reader!

[2015-06-26 13:34] jjhelmus commented on #325
No problem @deeplycloudy.  Bart Kelley provided me with an updated uf_to_radar.c file for RSL which fixes the bug when UF file are read multiple times.  This change will be included in the next release of RSL so I've going to close this issue.

[2015-06-26 13:34] #325 closed

[2015-07-09 18:56] jjhelmus opened #328 "More prominent mention of PYART_CONFIG variable in README.rst"
As discussed in [ARTView issue #43](https://github.com/nguy/artview/issues/43) the Py-ART README file should be updated to more prominently mention the use of the environment PYART_CONFIG variable to specify a custom configuration file.  In addition changed made to address issues #321 should be added to the README documentation.

[2015-07-09 19:04] jjhelmus opened #329 "Default field colormaps and limits specified in Py-ART configuration file."
As discussed in [ARTView issue #43](https://github.com/nguy/artview/issues/43) it would be helpful if default colormaps and field limited were specified in the Py-ART configuration file.

[2015-07-16 16:29] gamaanderson commented on #329
What do you think about [this addition](https://github.com/simepar/pyart/blob/master/pyart/default_config.py#L1101-L1258) to solve this issue?

P.S. I'm not sure about [this line](https://github.com/simepar/pyart/blob/master/pyart/default_config.py#L1110), how should I import pyart, relative or absolute?

[2015-07-20 17:00] jjhelmus commented on #329
I'd rather have the configuration file contain contain tables of values not functions.  The functions should be placed in the **config.py** module which read parameters from these tables.  This is how the `get_metadata`, `get_fillvalue` and `get_field_name` functions are implemented.  I have a number of projects that need attention this week but this topic is on my to do list.

[2015-07-20 17:37] gamaanderson commented on #329
The idea was to give the user the opportunity of adding other fields, so those functions should stay in **default_config.py** (only `get_colormap` I agree to put in **config.py**). The difference in this task is that I don't want to recognize some specific field (like reflectivity), but to handle all fields/quantities that may be in a file.

[2015-07-20 18:16] jjhelmus commented on #329
I do not like the idea of having a multitude of functions which serve only to return a tuple of static data, that situation is better served with a dictionary.  In cases where introspection is needed (Doppler velocity) a function is the only option but I do not think that requires that all the field limits and colormaps should be defined in functions.  Rather I think the `callable`  could be used

[2015-07-20 21:38] gamaanderson commented on #329
Ok, that work for me, I will implement and create a PR, however one still need to revise my chooses as I don't have the meteorologic knowledge

[2015-07-21 14:11] jjhelmus commented on #329
Let me know when you have a PR and I can have a look and help with some of the defaults. @scollis might be able to provide some good limits also.

[2015-07-21 22:50] nguy opened #335 "More robust masking procedure for plotting"
I've added a more robust masking option in the form of a dictionary to [my fork](https://github.com/nguy/pyart). It is only added to the plot_ppi currently, as I'd like to get feedback before issuing a PR.

An example of functionality can be found in this [notebook ](https://github.com/nguy/Notebooks/blob/master/pyart_masking_example.ipynb).

I've been wanting to add this for a while, and now that

[2015-07-21 22:53] nguy commented on #335
One other thing: I'm not a fan of having mask_outside turned on by default. It can confuse data analysis if vmin and vmax are copied from an example or such.
Thoughts?

[2015-07-21 23:25] scollis commented on #335
I concur.. I was just thinking this today.. I will submit an issue

On 7/21/15 5:53 PM, Nick wrote:

--
I ride for Parkinsons research http://www.events.org/sponsorship.aspx?id=51573

[2015-07-21 23:53] nguy commented on #335
I can make this change with the PR if you guys like the masking.

[2015-07-22 14:26] gamaanderson commented on #335
I like the idea of improving the masking process, but it seems a little confusing, may be is just a question of finding the way of explaining it. An other idea would be to use a [gatefilter](http://arm-doe.github.io/pyart-docs-travis/user_reference/generated/pyart.correct.GateFilter.html#pyart.correct.GateFilter).

[2015-07-22 14:27] scollis commented on #335
Having pyart.graph.RadarDisplay* accept gatefilter is an excellent idea

On 7/22/15 9:26 AM, Anderson wrote:

--
I ride for Parkinsons research http://www.events.org/sponsorship.aspx?id=51573

[2015-07-22 14:51] nguy commented on #335
This is a great idea and clearer nomenclature as well!
The code looks equivalent to what I proposed. Probably should have looked harder before coding that up. :)

[2015-07-22 14:52] jjhelmus commented on #335
You all beat me to the punch, I was going to suggest using a gatefilter.  So +1 from me on that route.

[2015-07-22 15:03] jjhelmus commented on #335
Also in favor of changing the default behavior of the plotting functions to not mask outside of vmin/vmax.

[2015-07-22 17:17] gamaanderson commented on #329
I may have agree to fast to your proposal. Two points before I can implement this:

1. the limits function is getting radar and sweep, I would rather name those as dataContainer and tilt, basic in anticipation for receiving grids or other data structures.

2. the DEFAULT* dicts keys are the internal field name, but I've rather giver the user the possibility of adding more fields, for instance "ref

[2015-07-22 18:51] jjhelmus commented on #329
@gamaanderson  Addressing your two points:

1. Agreed that we should be able to pass a instance of a Grid or Radar object or any future classes. I would prefer the parameter names **container** and **selection** with some documentation on what these typically represent.

2. Having all the internal field names present in the DAFAULT_* dictionaries is a minimal requirement in order that all default

[2015-07-22 19:14] gamaanderson commented on #329
ok, I agree. I just want your vision in this real example:
* I have a netcdf file with fields DBZH and DBZV, pyart read those names directly into radar
* I change the configuration file `reflectivity = 'DBZH'`
* ARTview want to plot those files, he does not know those are reflectivity fields, so calls `get_field_colormap('DBZH')` and `get_field_colormap('DBZV')`, neither one works
* To make it wor

[2015-07-22 20:16] jjhelmus commented on #329
In the example, I would expect that the user would need to add a 'DBZV' and 'DBZH' to the DEFAULT_FIELD_COLORMAP dictionary in order to have `get_field_colormap('DBZH')` and `get_field_colormap('DBZV')` return a meaningful colormap.  If these are not supplied I would expect the fields would be plotted using matplotlib's default colormap ('jet') which is what the `get_field_colormap` function will

[2015-07-22 22:11] gamaanderson commented on #329
Thank you for the explicit explanation, I'm actually pretty happy that netcdf read is not making any mapping and would want to remain that ways, of course I can always force with the `file_fields_name` flag. From the first paragraph if that is the way you think this should work, it is fine for me.

In resume: all my question have been addressed and solved, thank you

[2015-07-23 14:24] jjhelmus commented on #329
And thank you for asking such good questions!  Thinking about how this configuration should work is catching a number of issues before they even come up.

[2015-07-23 19:10] nguy commented on #294
I'm by no means an expert, but what about the GDAL library instead of basemap like [wradlib](https://bitbucket.org/wradlib/wradlib/src/6c2a093c8a04c011f2c2efb92f248a2f0e9de6d0/wradlib/georef.py?at=default) uses?

[2015-07-23 19:18] scollis commented on #294
That is one thing we are considering..
However I am leaning much more to Proj as it packages with basemap. I
will get to this one soon..

On 7/23/15 2:10 PM, Nick wrote:

--
I ride for Parkinsons research http://www.events.org/sponsorship.aspx?id=51573

[2015-07-23 19:21] jjhelmus commented on #294
This issue isn't with basemap vs GDAL vs Captopy so switching away from basemap does not help solve the problem.  The issue is that we are not using any a uniform (or any) projection when gridding nor plotting grids as @gamaanderson's comment explains.  Basemap can do projections and is already used in Py-ART so my vote would be for that.

[2015-07-25 19:48] gamaanderson commented on #294
I hate to be the one to point one more problem, but `plot_latitude_slice` and `plot_longitude_slice` don't do what they say they do. They plot a [slice of the data](https://github.com/ARM-DOE/pyart/blob/master/pyart/graph/gridmapdisplay.py#L238), but as the projection transformation don't preserve straight lines, this is not a slice in a given latitude (as `plot_crosshairs` would suggest).

To pro

[2015-07-25 19:57] scollis commented on #294
Very true..
As often pointed out the care in Py-ART put much care into radar
classes.. less into grid classes.. we have some work to do here but
fortunately we may have some funding soon to tackle this in a holistic
manner..

Thanks for pointing this out and feel free to submit an issue.

On 7/25/15 2:48 PM, Anderson wrote:

--
I ride for Parkinsons research http://www.events.org/sponsorship.aspx?

[2015-07-30 20:13] codypiersall opened #341 "Let NEXRADLevel2File's filename be a gzipped (.gz) file"
All of the level 2 archive files that I've seen from [NOAA's data archive site](http://www.ncdc.noaa.gov/nexradinv/) have been .gz files.  Would it be worth detecting the filename's extension, and if it is a .gz file opening it with `gzip.open` instead of just using open?  As it is, you can work around this by using an open .gz file as the filename.  I can submit a pull request if I need to; it wi

[2015-07-30 20:17] scollis commented on #341
The realtime data is actually a bunch of concatenated bzip2-ed messages..
So we disassemble, unbzip and reassemble

Data you get from the NOAA archive system is unbzipped concatenated and
the gzipped.

On 7/30/15 3:13 PM, Cody Piersall wrote:

--
I ride for Parkinsons research http://www.events.org/sponsorship.aspx?id=51573

[2015-07-30 20:23] codypiersall commented on #341
Ah, I finally get it!  Thanks.  It still seems like this could be worth adding, what do you think?  Like I said, though, you can already do

    import gzip
    f = gzip.open('KTLX20110524_000032_V3.gz')
    nexrad = NEXRADLevel2File(f)

so it's not like it's critical, just one of those "nice to have" things.

[2015-07-30 20:23] codypiersall commented on #341
Oops, clicked the wrong button; didn't mean to close it.

[2015-07-30 20:24] scollis commented on #341
Yep.. keep the issue open so others can respond..

On 7/30/15 3:23 PM, Cody Piersall wrote:

--
I ride for Parkinsons research http://www.events.org/sponsorship.aspx?id=51573

[2015-07-30 20:29] jjhelmus commented on #341
Transparent reading of gzipped (and bzip2) files including NEXRAD Level 2 files is supported by `pyart.io.read` but not the underlying `read_*` functions.  So the following just works:

[code]

Peeking at the beginning of the file is used to detected gzipped files in the auto_read module which is a  much more robust and reliable method then checking if the filename ends with .gz which can be error

[2015-07-30 20:39] jjhelmus commented on #341
I seem to recall receiving bz2 files from NCDC but they may have changed the compression they are using.

In addition, Level 2 files can have bzip2 compressed records even if the file itself is not compressed.  For example the files served by the [UCAR THREDDS Data Server](http://thredds.ucar.edu/thredds/catalog.html) have compressed records.

[2015-08-04 14:59] jjhelmus commented on #341
It is possible to create a general purpose function which will open gzip, bzip2, and non-compressed files but this will create a coupling between this function which should be placed in the **pyart.io.common** module and the modules making use of this function.  Currently the nexrad_level2 and nexrad_level3 do not depend on anything in Py-ART and can be used independently, a situation that I think

[2015-08-04 16:17] jjhelmus opened #343 "Additional methods for interpolating radar data to a Cartesian grids"
Using linear interpolation or nearest-neighbor (k=1) interpolation can generated Cartesian grids from radar data faster than the current Barnes interpolation used in Py-ART.  These methods should be implemented.

Both of these methods were implemented by @gamaanderson in PR #265 but need to be cleaned up before these can be merged into master.

[2015-08-04 17:24] tjlang commented on #248
Not sure I care enough about that. It's enough that I can import them if I have Py-ART installed ...

[2015-08-04 18:10] jjhelmus commented on #248
Keeping the function in the `pyart.graph.common` namespace sounds like a plan for now, we can always revisit this in the future if needed.  Closing this issue as parse_ax_fig is now available.

[2015-08-04 18:10] #248 closed

[2015-08-04 19:23] gamaanderson commented on #329
with PR #336 merged, can this be closed? or you prefer to let it open?

[2015-08-04 20:20] jjhelmus opened #345 "Despeckling of radar and grid data"
The ability to remove salt/pepper noise (despeckling) from radar and grid fields should be added to Py-ART.  Adding this function to the GateFilter would also be reasonable.  @kirknorth implemented a despeckle grid filter in #133 which may serve as a base for this work.

[2015-08-04 21:17] jjhelmus commented on #329
Yes this can be closed.  Thanks again @gamaanderson for your work on this.

[2015-08-04 21:17] #329 closed

[2015-08-05 13:57] gamaanderson commented on #345
+1 for this suggestion, the interpolation methods of Barnes and Kressman are extremely sensible to speckle. So despeckling before mapping, would be recommended.

[2015-08-05 14:28] tjlang commented on #345
If folks need despeckling RIGHT NOW, it is implemented in the csu_misc sub-module of CSU_RadarTools (https://github.com/CSU-Radarmet/CSU_RadarTools). It's a simple copy of what was done in solo. It uses loops so it is very slow and I am sure whatever gets done in Py-ART will be better. It also requires you to pull your data out of the Py-ART radar object and put it into separate ndarrays. But it i

[2015-08-05 20:51] jjhelmus opened #347 "Document special dictionary keys"
PR #266 introduced a number of "special" dictionaries keys which change how data is written out to disk in netCDF files.  These keys should be documented in the **Radar** and **Grid** classes.

[2015-08-05 21:38] mvanlierwalq commented on #345
Another option could be a grey opening/closing operation. Opening is erosion followed by dilation, and closing is the opposite. Scikit-image has these functions http://scikit-image.org/docs/dev/api/skimage.morphology.html and I've used them with some success. One possible issue is that I think these methods are designed for cartesian coordinate systems, not polar. Also, I don’t know the relative m

[2015-08-06 13:38] #278 closed

[2015-08-06 14:46] kirknorth commented on #345
I have used similar techniques on PPI and VPT radar volumes that @mvanlierwalq points out. Note that binary dilation and erosion methods (or more generally mathematical "morphology") are available directly from SciPy under the `ndimage` module. I have generally had success with these methods as well, however I have never fully addressed the periodic boundary introduced by 360 deg PPI volume scans.

[2015-08-06 15:02] jjhelmus commented on #345
The periodic boundary of PPI and other boundary effects are going to be tricky.  The morphology and label functions in SciPy's `ndimage` sub-package do not deal with these issues.  The filter function in `ndimage` do have a **mode** parameter which specified how boundaries are handled which might be helpful to see how those are implemented.  In the region dealiasing routine I addressed the periodi

[2015-08-06 15:13] tjlang commented on #345
FYI, traditionally in old software like solo, etc., despeckling was based on the number contiguous gates in a ray. I always felt that adjacent rays should be considered too (e.g., the 2D approach folks are suggesting here with ndimage, etc.), but one unexpected side benefit of the 1D approach is that it nukes sidelobe much better than expected. For example, in DYNAMO the TOGA radar had a fairly la

[2015-08-06 15:21] #253 closed

[2015-08-06 15:27] gamaanderson commented on #345
To address the wrap_around couldn't we just copy to some initial rays to the end, and remove them afterward ?

What do you mean by using GateFilter? the despeckling wouldn't change the data, just create a filter? That sounds ok, just remembering that some times the user may need to apply the filter to permanently change the data, for instance GateFilter is not implemented to mapping, graphing and

[2015-08-06 18:51] jjhelmus opened #349 "Trapp and Doswell weighting in gridding methods"
In [Trapp and Doswell (2001)](http://dx.doi.org/10.1175/1520-0426%282000%29017%3C0105:RDOA%3E2.0.CO;2) a modified Barnes type weighting is recommended for objective analysis.  An option to apply weighting of this type should be included in the `map_to_grid` and `map_gates_to_grid` functions.  See PR #158 for an early implementation and further discussion.

[2015-08-06 18:55] jjhelmus opened #350 "Support for visualizing and creating non-uniform Grids"
Non-uniform grids can be stored in the **Grid** object but the plotting routines assume that these grids are uniform in layout.  Support should be added to the various **GridDisplay** classes to visualize grids with non-uniform layouts.

One non-uniform Grids can be visualized, support for creating such grids should be added to one or more mapping routines.

See #158 for discussion and an early im

[2015-08-06 19:38] jjhelmus opened #351 "Change default mask_outside parameter value to False"
The **mask_outside** parameter in the various plotting functions is currently `True` which can lead to confusion when valid data is masked by default (see #335).  The default should be changed to `False` so that all data is visualized unless masking is explicitly requested.  The example should be modified as needed.

[2015-08-06 20:33] seberry2 opened #352 "Read NEXRAD Level 2 files without Message 31"
I am trying to work set of NEXRAD level 2 files where some contain Message 31, but a significant portion do not. In the current version of Py-ART, I see that only the message 31 files are readable.  Have there been any recent updates or developments that will make the message 1 files readable? If not, how far off is this feature?

[2015-08-06 21:03] jjhelmus commented on #352
Message 1 files are (still) not supported naively by Py-ART but I would like to see support for these files added.  I cannot give a firm date on when this will be added but likely a long while off.  If I can convince the ARM program that there is a need for this it will become a higher priority.  Others are also add such support to Py-ART.

For the time being you can convert Level 2 NEXRAD files i

[2015-08-07 20:17] jjhelmus commented on #100
Never got around to closing this but am now.

[2015-08-07 20:17] #100 closed

[2015-08-10 16:38] #351 closed

[2015-08-11 18:56] seberry2 opened #355 "Using dealias_region_based with NEXRAD level 2"
I am trying to use dealias_region_based on some NEXRAD level 2 files. However, the following error is returned:

Traceback (most recent call last):
  File "<stdin>", line 15, in <module>
  File "C:\Anaconda\lib\site-packages\pyart\correct\region_dealias.py", line 407, in _combine_regions
    status, extra = edge_tracker.pop_edge()
  File "C:\Anaconda\lib\site-packages\pyart\correct\region_dealias.

[2015-08-11 19:05] jjhelmus commented on #355
@seberry2 What version of Py-ART are you running?  There were some bugs in the region based dealiasing routine which would cause errors like the one you describe when two or fewer regions were found in a sweep.  These have been fixed, PR #327, but may not have made it into the version of Py-ART you are running as they have not made it into a release.

Running to following command from the command

[2015-08-11 19:12] seberry2 commented on #355
I am running Py-ART version 1.3.0.

[2015-08-11 19:16] scollis commented on #355
Yeah.. @jjhelmus and I encountered this with SAILS nexrad files.. some
tilts have all _FillValue for radial velocity
A quick workaround is here
http://nbviewer.ipython.org/github/scollis/notebooks/blob/master/Radar%20demo%20IL%20Torn.ipynb
First few cells only keeping good sweeps

On 8/11/15 2:12 PM, seberry2 wrote:

--
I ride for Parkinsons research http://www.events.org/sponsorship.aspx?id=51573

[2015-08-11 19:23] jjhelmus commented on #355
The bug you are running into has been fixed in Py-ART but you will need to update to the latest version to obtain this bugfix.  Using the latest version from GitHub I was able to use the region based dealiasing routine on the KDIX20131218_090423_V06 file without issue:

![figure_1](https://cloud.githubusercontent.com/assets/1050278/9207664/7d860b4a-4034-11e5-884b-600cfb2c34a9.png)

[2015-08-11 19:27] jjhelmus commented on #355
You should be able to upgrade to Py-ART version 1.4.0 using conda as there are binary files available for that version on my [binstar.org channel](https://binstar.org/jjhelmus/pyart) but I do not think these bug fixes you require are in this release.  We should be making another release later this month or early next month in preparation for the AMS Radar meeting.

[2015-08-11 19:44] seberry2 commented on #355
Using the suggestion from @scollis, I got it to work. I'll update the version of Py-ART I am running when the new release is available. Thanks for your help!

[2015-08-11 19:45] jjhelmus commented on #355
Glad we could be of help.

[2015-08-11 19:45] #355 closed

[2015-08-11 21:44] scollis opened #356 "Data model for radar spectra"
Discussing with @mvanlierwalq about spectra calculations makes me think we need a thread to talk about a data model in Py-ART for Spectra

Could it be as simple as letting the data array be 3D? A spectra object has all the normal metadata but two arrays (vert, horizontal) or one array  of Power(velocity, time, range)?
and also has a spectra.velocity dictionary defining the axis.

[2015-08-11 21:45] scollis commented on #356
I will also talk with Mike Dixon to see if he has considered a file format, CF extension for CF-Radial

[2015-08-19 21:16] jjhelmus commented on #201
Support for writing UF files will be tracked in #186

[2015-08-19 21:42] #201 closed

[2015-08-24 22:43] jjhelmus commented on #318
I was able to build Py-ART successfully on Windows with PR #360 merged. Closing this issue as it has been resolved.

[2015-08-24 22:43] #318 closed

[2015-08-25 23:21] jjhelmus commented on #238
Fixed by PR #361

[2015-08-25 23:21] #238 closed

[2015-08-27 19:48] nguy commented on #335
I tried something somewhat simple for proof of concept, added gatefilter keyword to ```plot_ppi``` and ```plot_rhi``` and ```_get_data``` functions [here](https://github.com/nguy/pyart/blob/ng-display-gatefilter/pyart/graph/radardisplay.py).

Here's a [quick notebook](https://github.com/nguy/Notebooks/blob/master/pyart_gatefilter_test.ipynb) showing the changes.

Caveat:
1. Current method permanen

[2015-08-27 20:02] jjhelmus commented on #335
@nguy You should use a **GateFilter** instance as an argument to the plot method not the gate_excluded property.  Then _get_data RadarDisplay method is responsibility for extracting out the excluded gates.

Additionally you cannot count on the field data being a masked array.  Using the following will convert ndarrays to a masked arrays.  This will also preserving any masking on the initial array.

[2015-08-28 16:18] nguy commented on #335
Good points @jjhelmus .
I made the suggested changes and pushed. We can continue discussion at conference.
In the meantime, I'm open to any other suggestions, but am thinking this simple change might suffice.

[2015-08-28 16:27] jjhelmus commented on #335
@nguy Can you make a PR for this branch against ARM-DOE/master? It will make reviewing the changes and eventually merging much easier.  [GitHub Help has a page](https://help.github.com/articles/creating-a-pull-request/) on creating a pull request that provides details on how to do this.

[2015-08-28 16:36] gamaanderson commented on #335
Nice work @nguy, it would be interesting to add this to all `plot_*` routines, including the ones in `radardisplay_airborne`. It theory it could also be done for grid, but this would include developing a `gatefilter_grid` or something like that

[2015-08-28 16:45] jjhelmus commented on #352
I did some work on reading NEXRAD Level 2 files which use Message 1 records to store the radial data.  Adding support for reading the data from this to the **NEXRADLevel2File** class is relatively straightforward but how this data should be represented in a **Radar** object requires some though.

The issue is that message 1 files contain three fields, reflectivity, Doppler velocity, and spectral w

[2015-08-28 16:51] nguy commented on #335
I wanted to get it out there to see if the changes are agreeable before modifying the other plot routines. But I would update those before merger.

I agree with this being developed to grid further down the road.

[2015-08-28 16:57] tjlang commented on #352
I would vote for option 2, since Py-ART should be compatible with Radx given it can call Radx. I could see potential issues where using Py-ART's Radx read routine gives one radar object, but an updated NEXRAD read gives a different type of radar object, for the same file.

Also, I've been using Radx to bypass this problem and just convert the NEXRAD away from Level 2 so Py-ART can read the data.

[2015-08-28 18:41] nguy commented on #335
PR #363 submitted. By the way, what does it mean when the checks fail?

[2015-08-28 18:52] jjhelmus commented on #352
Should mention a third option: Represent both sets of fields on a single range dimension which contain the locations of both the 250m and 1000m resolutionss.  Gate locations where a paricular field was not collected would be masked.

Downside of this method would be a larger sized **Radar** object, a non-uniform range spacing (at least in the case I choose the velocities range start at -375 m, ref

[2015-08-28 18:56] jjhelmus commented on #335
It means when the continuous integration service build Py-ART from source after merging the proposed changes, some of the unit tests failed.  You can expand the check and click on the Details link to see what is causing the failing tests.  In this case the RadarMapDisplay.plot_ppi_map method is making a call to RadarDisplay._get_data using the older call signature without the gatefilter which caus

[2015-08-28 19:04] nguy commented on #335
Ah, I didn't look to see about that. Do you want me to update that?
I could also add into RadarDisplay_Airborne (and maybe change the name).

[2015-08-28 19:36] nguy commented on #335
I pushed those updates and now the checks have passed.

Slightly off topic question: What ramifications would changing ```pyart.graph.radardisplay_airborne.RadarDisplay_Airborne``` to ```pyart.graph.radardisplay_airborne.AirborneRadarDisplay``` have?

[2015-08-28 20:01] jjhelmus commented on #335
Changing **RadarDisplay_Airborne** to **AirborneRadarDisplay** should probably go through a depreciation cycle (so the old name still works for at least one point release) but that can be accomplished by creating an alias in the `__init__.py` file.  Other than that some imports and documentation would need to be change but I'm in favor of the name change.

[2015-08-28 20:31] nguy commented on #335
Should this be done with the submitted PR or in a separate PR?

[2015-08-28 20:36] nguy commented on #335
I may try to add a reader for Wyoming Cloud Radar in the future. I could hold off the change until that time if you like.

[2015-08-28 20:40] gamaanderson commented on #335
I should point it out that it would need some thinking and it is not a easy decision, but it would be possible to make `RadarDisplay` accept airborne radars.

[2015-08-28 20:46] dara74k commented on #335
hi Nick,
it took me 1 whole day to successfully install pyart(Anaconda pkg) in linux
(and overcoming a whole pile of issues).
when i copy a code from the pyart-examples website and paste it in the line
of the ipython notebook, i get errors. Can you be kind enough to guide me
through this problem?

thank you in advance
best regards,
Diar
On 2015-08-28 12:51 PM, "Nick" <notifications@github.com> wro

[2015-08-28 20:46] nguy commented on #335
I'm trying to remember the exact issues, but when I added the separate class, it was because there were some fundamental differences with the data structure and files at the time. This might be able to be revisited now that cfradial and Sigmet files are used by the aircraft  and @jjhelmus has done an awesome job to update the read routines to support extended headers, etc.

And the elephant that I

[2015-08-28 20:47] jjhelmus commented on #335
Probably should go in a separate PR, typically you want to keep a PR to fixing a single issue.  Sometimes it is a pain but it makes rolling back changes easier when you make merges atomic.

[2015-08-28 20:48] nguy commented on #335
You got it @jjhelmus ! It should be ready to go now after the checks complete.

[2015-08-28 20:49] jjhelmus commented on #335
@gamaanderson I think it could be possible to combine **RadarDisplay** and whatever we call the airborne display class.  The whole graph sub-module could use a little more care and attention although it is a lot better thanks to your recent changes.

[2015-08-28 20:50] nguy commented on #335
@dara74k Post the issues you are having in the [Users group](https://groups.google.com/forum/#!forum/pyart-users). Also make sure to include the errors to help the community troubleshoot.

[2015-08-28 20:57] nguy opened #364 "Change Airborne RadarDisplay class"
The following change is suggested: ```pyart.graph.radardisplay_airborne.RadarDisplay_Airborne``` to ```pyart.graph.radardisplay_airborne.AirborneRadarDisplay```. In a side discussion in #335, @jjhelmus noted:
"Changing RadarDisplay_Airborne to AirborneRadarDisplay should probably go through a depreciation cycle (so the old name still works for at least one point release) but that can be accomplish

[2015-09-01 14:04] jjhelmus commented on #364
I vote for renaming the Airborne class to **AirborneRadarDisplay**.  I would like to release version 1.5.0 prior to this change, but I can make this change after the release if you would like.

[2015-09-01 14:06] jjhelmus commented on #341
Sorry for the delay in looking at this.  I'll be working on a solution to this today, hopefully should have something merged by the end of the day which allows for transparent decompression of Gzip and BZip file in the `read_filetype` functions.  The underlying **NEXRADLevel2File** and related classes will still need to use explicit decompression but Py-ART will provide a function which performs t

[2015-09-01 14:28] nguy commented on #364
That sounds good. I have to take care of some other things before thinking about further airborne radar additions. Question to chew on: What do you think about a plotting class for time series radar data such as upward-pointing lidar or cloud radar, etc?

[2015-09-01 14:41] josephhardinee commented on #364
A few quick things, those plots would be time height displays. Time series implies something else. Before we talk about the plotting, it is worth noting pyart doesn't actually have the capability to support reading these types of files yet. I believe Scott initiated a discussion about this in another thread, as it requires adding a new dimension(Doppler velocity) to the data model plus possibly ad

[2015-09-01 14:47] scollis commented on #364
What we are dealing with here is a clash of nomenclatures.. In the rest
of the world a time series is anything with datetime x-axis.. so
technically a time height plot is a class of time series plots.. But
yes.. "Time series data" has a special meaning in the radar world.

On 9/1/15 9:41 AM, Joseph Hardin wrote:

--
I ride for Parkinsons research http://www.events.org/sponsorship.aspx?id=51573

[2015-09-01 14:52] kirknorth commented on #364
@josephhardinee there is currently one module to read ARM vertically pointing cloud radar data, specifically the KAZR *a1* datastream, see [`arm_vpt`](https://github.com/ARM-DOE/pyart/blob/master/pyart/aux_io/arm_vpt.py) and Issue #281.

[2015-09-01 14:55] josephhardinee commented on #364
Oh nice, I wasn't aware that had been added.

[2015-09-01 14:57] jjhelmus commented on #364
Py-ART can plot "time/height" radar data.  This is interpreted as a VPT scan and the **RadarDisplay** class has a `plot_vpt` method.  This could be extended to lidar or other similar radars.  Is this sufficient or is a different format plot required?

As for plotting radar spectra or true radar time series data (I and Q data), that is another discussion which should be discussed in #356.

As for r

[2015-09-01 15:07] jjhelmus opened #366 "Additional examples in documentation"
Additional examples should be added to Py-ART's documentation to describe new features which have been added to the package.

This list will be updated as suggestions are made:
- Dealias with region based algorithm.
- Dealias with unwrap_phase algorithm.
- Plot VPT data
- GateFilter usage.
- Create a Grid with the gates_to_grid algorithm
- Plot showing catagorical and non-linear scaling using the

[2015-09-01 15:07] jjhelmus commented on #364
Added note in #366 to add an example of plotting VPT data to the documentation.

[2015-09-01 15:09] kirknorth commented on #364
As @jjhelmus pointed out, there currently is a `plot_vpt` method in `RadarDisplay`, however from my experience it does need to be revisited. For example, the time axis output by plot_vpt is simply an index, e.g., line [563](https://github.com/ARM-DOE/pyart/blob/master/pyart/graph/radardisplay.py#L563) or line [565](https://github.com/ARM-DOE/pyart/blob/master/pyart/graph/radardisplay.py#L565). Fur

[2015-09-01 15:17] scollis commented on #364
Hmm... A tool in Py-ART to add sweeps to a VPT would be very handy (eg:
radar.add_sweeps('hourly')) this could allow users to then break up VPTs
into discrete blocks which would help for analysis as well as plotting

On 9/1/15 10:09 AM, Kirk North wrote:

--
I ride for Parkinsons research http://www.events.org/sponsorship.aspx?id=51573

[2015-09-01 15:19] deeplycloudy opened #367 "Sigmet: Units conversion for 1-byte spectrum width"
According to the comments in the source, which are consistent with the IRIS docs, the 1-byte spectrum width values should be multiplied by the Nyquist velocity.

 https://github.com/ARM-DOE/pyart/blob/master/pyart/io/_sigmetfile.pyx#L709

This doesn't happen automatically, although according to line 705, a similar multiplication is done to velocity in get_data (actually, in read_data, line 216).

[2015-09-01 15:22] jjhelmus commented on #364
VPT plotting ignores all sweep data, so adding sweeps to this data will not accomplish the desired goal.  Adding time awareness to the  `plot_vpt` method and adding parameters to specify limits may be better.

[2015-09-01 16:16] #341 closed

[2015-09-01 16:21] jjhelmus commented on #341
Py-ART will now decompress gzip and bzip2 files passed to the `read_nexrad_archive` function.  Adding this functionality directly to the **NEXRADLevel2File** and related classes would introduced undesired coupling in this module or require extensive repetition of code, but of which are bad.  Py-ART does expose the `prepare_for_read` function in the pyart.io namespace which can be used to add this

[2015-09-01 16:28] deeplycloudy commented on #367
Thanks, @jjhelmus! Let me know if I can help.

[2015-09-01 16:33] jjhelmus commented on #367
I believe PR #369 should address this, can you verify @deeplycloudy ?

[2015-09-01 16:33] nguy commented on #364
Sorry for the confusion with time series, yes I was thinking of a time height plot (but it is a time series as Scott points out). I think it's important not to lose sight that these types of plots are used in conjunction with the more classic single dimension time series plots. But I digress...

I had not thought of adapting the **vpt** routines, but agree with @kirknorth that these may need to be

[2015-09-01 17:59] codypiersall commented on #341
This is great!  Thank you.

Cody

On Tue, Sep 1, 2015 at 11:21 AM, Jonathan J. Helmus <
notifications@github.com> wrote:

[2015-09-01 22:24] deeplycloudy commented on #367
The correction factor used in PR #369 is unambiguous range, but should be unambiguous velocity - i.e., I think the nyquist used in the VEL correction.

[2015-09-02 16:16] jjhelmus commented on #367
Sorry about that, I saw unambiguous in the IRIS Programmers Manual and jumped to unambiguous range but you are correct the unambiguous velocity (twice the Nyquist) should be used.  I updated PR #369 to reflect this.

[2015-09-04 21:14] deeplycloudy commented on #367
I did a comparison among the following:
1. read_rsl, with a .raw
2. read_rsl, with a .uf created by the IRIS system
3. read_sigmet
The resulting plots are attached. If you ignore the bad rays in the read_sigmet version, you can see that the spectrum width calculated by this pull request is double that reported by RSL.

I agree that this pull request correctly implements the span of unabiguous velo

[2015-09-06 11:33] gamaanderson opened #371 "RadarDisplay_Airborne is broken"
RadarDisplay_Airborne is broken in [here](https://github.com/ARM-DOE/pyart/blob/master/pyart/graph/radardisplay_airborne.py#L244) because gatefilter was not added as an argument of `plot_sweep_grid`. By the way, there are no tests for this class.

[2015-09-08 14:28] jjhelmus commented on #367
@deeplycloudy I checked into the method that RSL and RadX are using to convert 1-byte WIDTH data and both programs scale by the Nyquist.  From the text in the IRIS Programmer's Manual this does not seem correct but given that both of these use this conversion it should be used in Py-ART.  I created PR #372 which scales the data by the Nyquist.  I will merge shortly and close the other PR.  Thanks

[2015-09-08 14:54] #367 closed

[2015-09-08 19:13] jjhelmus commented on #371
Good catch @gamaanderson.  I added the parameter to the function call.  I've been meaning to add some additional unit tests to Py-ART to up the coverage, PR #373 will track the work.

[2015-09-08 19:35] #371 closed

[2015-09-11 15:29] jjhelmus opened #375 "Documentation build using Travis CI broken"
The documentation that is build when a Pull Request is merged into master is broken due to the use of Sphinx 1.3.1.

[2015-09-13 20:31] deeplycloudy commented on #294
I have code that puts radar data into arbitrary map projections using pyproj here:
https://github.com/deeplycloudy/lmatools/blob/master/coordinateSystems.py#L127
The class has methods to convert (r, az, el) to and from earth-centered, earth-fixed (ECEF) cartesian WGS84 coordinates. It includes the standard 4/3R refraction correction.

From ECEF coordinates, you can use the map projection class at

[2015-09-13 21:06] gamaanderson commented on #294
Just a comment, the code above uses `pyproj.Geod`, that is, geodesics; This is probably the most "correct" one can gets, but it is also much slower than `pyproj.Proj`. However the difference, if any, from `Geod` to `Proj (projection='aeqd')` is minimal and only doe to earth eccentricity, in a spherical earth they are egual.

If someone can confirm this to me, I believe in an elliptical earth `Proj

[2015-09-19 15:18] stechma2 commented on #345
Some time back I wrote some fortran routines to handle despeckling and defreckling, which I then converted into python modules using f2py. I did not reference the manner in which solo handles these procedures, but I expect they may be similar. I did however perform direct comparisons between solo and my code, and the results are nearly identical (see the comparison below, which also includes a few

[2015-09-21 13:43] tjlang commented on #345
I recently sped up the 1D despeckling in csu_radartools.csu_misc, via scipy.ndimage. It works on either a single ray, or loops thru a set of rays. It's pretty fast now. There is no interrogation of adjacent rays, but as I mentioned previously, this approach has its merits. There's not much code involved so it would be easy for someone to port into Py-ART.

https://github.com/CSU-Radarmet/CSU_Radar

[2015-09-21 18:53] jjhelmus commented on #345
Thanks for the pointers to the code @tjlang  and @stechma2.  I'll have a look and hopefully find time to implement some despecking/defreckling routines in Py-ART in the near future.  I'll be in contact if I have any questions.

[2015-09-22 02:06] deeplycloudy commented on #294
Regarding the timing for the geodesics, I did a %%timeit timing test on 10.8 M data points using proj.4
https://gist.github.com/deeplycloudy/6390a32b0b15d70fad7d

(r,az,el) to (lon,lat,alt) (via geodesics): 5.5 s
(lon, lat, alt) to aeqd projection: 3.4 s
(lon, lat, alt) to ECEF XYZ: 1.7 s

So a map projection in proj.4 takes about 60% of the time of the more complicated geodesic calculation. And t

[2015-09-22 08:16] gamaanderson commented on #294
Well, I'm not totally sure those are the relevant test, but you got the idea. However those error are really small, limited to radar range. The biggest error we got are:

1. first and at most: incorrect/inconsistent calculation of radar center
2. not that much, but potentiality perceivable, flat earth assumption while translating the gates

[2015-09-22 15:50] jjhelmus commented on #367
FYI had a ARM engineer run a Sigmet/IRIS file with a 1 byte WIDTH field through the **productx** program available from the vendor.  It agrees with the current implementation in Py-ART of the unambiguous velocity being equal to the nyquist velocity.

[2015-09-22 18:42] jjhelmus opened #379 "Region dealias ignores gates with velocities outside the Nyquist interval"
Using the default arguments the **dealias_region_based** routine ignores gates which have velocities outside of +/- the Nyquist velocity.  Although these points would indicate that the data has been at least partially unfolded it would be preferable if these cases were detected and the segmentation intervals expanded so that all gates are processed.
[Lines 160-167 of the file region_dealias.py](ht

[2015-09-23 20:48] jjhelmus commented on #375
The cause of this issue is sphinx-doc/sphinx#1822.  This has been fixed in Sphinx but has not made it into a release.  Once Sphinx 1.3.2 or 1.4 is released the pinned version of Sphinx can be removed from the Travis setup.

[2015-09-23 20:52] jjhelmus commented on #375
Labelling this as Wontfix as this cannot be fixed for the time being.

[2015-09-23 21:29] deeplycloudy commented on #294
I think the flat earth assumption becomes a big problem when gridding multiple radars in three dimensions - it's no longer limited to radar range.

One thing @jjhelmus, @scollis, and @tjlang and I talked about at the radar conference was implementing a favorite coordinate transform (sounds like az. equidistant is a good choice?) within pyart to keep dependencies to a minimum, and then providing th

[2015-09-24 07:11] gamaanderson commented on #294
Exactly, multiple radars!

That is a solution, we implement spherical earth aeqd -> latlon and latlon -> aeqd by hand, everything else needs proj4. We just need to decide how to implement that into grid. I would like to see `Grid` provide this transformation, for instance in `Grid.xy_to_latlon(x, y)` and `Grid.latlon_to_xy(lat, lon)`, so other functions don't have to take care if it is proj4 or no

[2015-09-24 14:45] jjhelmus opened #381 "write_cfradial fails in Python 3 when radar instance contains unicode arrays"
In Python 3, `pyart.io.write_cfradial` fails when the radar argument contains attributes which contain unicode arrays ('U' dtype).  For example:

[code]

Results when run in Python 3.4

[code]

[2015-09-24 16:22] #381 closed

[2015-09-24 17:49] tjlang opened #384 "Bug in aux_io.radx.read_radx"
I have been attempting to use aux_io.radx.read_radx to read current Level 2 NEXRAD files, in order to save a step in converting them to CF Radial myself first. (This is mostly to simplify the split-cut scan issue.) Anyway, the reader consistently fails, I think because Radx is putting the file the wrong place and not naming it right. See below for an example.

In [2]: pyart.aux_io.radx.read_radx('

[2015-09-24 18:12] jjhelmus commented on #384
What version of Radx are you using?  The `-outname` flag was added in a recent release.  One way to check is to see if the output of `RadxConvert -h` includes lines mentioning that switch.

[2015-09-24 18:24] tjlang commented on #384
I just upgraded to the latest Radx and that fixed it! Sorry for the trouble.

[2015-09-24 18:24] #384 closed

[2015-09-24 18:27] scollis commented on #384
All good.. perhaps we should add a warning or test to make sure the
version is correct

On 9/24/15 1:24 PM, Timothy Lang wrote:

[2015-09-24 18:32] jjhelmus commented on #384
As far as I know there is not a method for querying Radx on its version.

[2015-09-24 18:34] tjlang commented on #384
Yeah, I noticed that in the Radx documentation & help ...

[2015-09-24 18:43] tjlang commented on #384
If a warning or print statement is added, I note no issues with the 20150826 Radx build. Prior to that, as recent as an early July build, it wasn't working properly with read_radx().

[2015-09-24 20:08] jjhelmus commented on #384
PR #385 will raise an IOError with a note suggesting upgrading to the latest version of Radx when no file is created when using RadxConvert.

[2015-09-24 21:00] jjhelmus commented on #294
I have been silently following this thread but should probably speak up now since I'm hoping to fix this soon.  From the discussion my understanding is that the following would solve the majority of the issue.  My understanding of the topic is limited and I'm sure @gamaanderson  and @deeplycloudy have more knowledge and experience on the matter, so please let me know if I am incorrect on any of th

[2015-09-24 21:05] jjhelmus opened #386 "Drop support for Python 2.6"
Py-ART contains a number of kludges that are requires to support Python 2.6. Examples include [a lack of dictionary completions](https://github.com/ARM-DOE/pyart/blob/9088d22249f1952dd3665c703bb2e2710bfcc7f2/pyart/util/xsect.py#L108) and [no total_seconds datetime attribute](https://github.com/ARM-DOE/pyart/blob/9088d22249f1952dd3665c703bb2e2710bfcc7f2/pyart/io/mdv_common.py#L1066).

Dropping supp

[2015-09-24 21:32] gamaanderson commented on #294
You are absolutely right @jjhelmus.

Just in point 2 we should consider the Cartesian coordinates in az.equidistant, so if the user choose a different projection, with potential big deformation,  correction would be needed. This could be done with a option of performing or not the  xyz_radar -> latlon -> xyz_grid transformation.

There are two open questions (that I know you are award): how the us

[2015-09-24 22:40] gamaanderson commented on #386
Last time I checked @pfhein was also using python 2.6.

[2015-09-24 22:41] kirknorth commented on #386
@jjhelmus I have had a virtual environment running 2.7 for quite some time now.

[2015-09-24 22:52] pfhein commented on #386
@jjhelmus, @gamaanderson, I have recently moved to 2.7 though I still have 2.6 available.  I am okay with ending Python 2.6 support.  Anaconda made it easy to upgrade my clone RHEL 6 python 2.6, and there are "official" RHEL software collections of Python 2.7 too.  So I do not see the need to support 2.6.

[2015-09-25 07:43] gamaanderson commented on #186
Is some one working in this issue? Responding from a request from Simepar, I would like to get to it.

[2015-09-25 10:29] gamaanderson commented on #294
just for reference here are manual implementations of the [az.equidistant transformations](https://github.com/gamaanderson/scripts/blob/master/aeqd.py)

[2015-09-25 14:02] jjhelmus commented on #386
How does the following sound:

The next Py-ART release, version 1.6.0, will be the last release to support Python 2.6.  Once the release is made and the 1.7.0-dev cycle is started, I'll remove 2.6 from the continuous integration matrix and replace some of the 2.6 specific code with more idiomatic code.

This gives anyone running 2.6 a few more months to upgrade.  Once release they can pin version

[2015-09-25 14:05] jjhelmus commented on #294
Good points.  Let me think on the topic this weekend.  I'll try to put together a PR to implement some of these ideas next week.  I think having some code to examine and critique will help guide some of the discussion on the selection and representation of the projections.

[2015-09-25 14:06] scollis commented on #386
Sounds reasonable to me

Sent from my iPad

[2015-09-25 14:07] jjhelmus commented on #186
@josephhardinee mentioned he had some code for this at the AMS radar meeting.

Since I added support for reading UF and am now well versed in the format I can try to code something up this afternoon.

[2015-09-25 17:12] pfhein commented on #386
I like the plan.  Python 2.6 is hard to support and upgrades to 2.7 are available.

[2015-09-29 18:13] jjhelmus commented on #186
In progress work on a UF writing appears in the [jjhelmus/pyart/uf_write](https://github.com/jjhelmus/pyart/tree/uf_writer) branch.  This branch will rebased when complete.

[2015-09-30 21:14] jjhelmus commented on #186
Closed with the merging of #388

[2015-09-30 21:14] #186 closed

[2015-10-01 07:06] gamaanderson commented on #186
Nice work @jjhelmus

@TulipaSilva can you please confirm that TITAN is recognizing this UF-files. If you don't have the time, ask someone else, Beneti is aware of that.

[2015-10-01 13:45] jjhelmus commented on #186
Let me know if there are any issue with UF writing that you find.  Code coverage is 100% but it could still use some testing with real world files.  Two other things to keep in mind are:

* Py-ART is writing UF files with 2-byte padding around each record, this is consistent with the files RSL creates but may not be supported by all software.  If you need 1-byte or no padding files open an issue a

[2015-10-01 14:43] swnesbitt opened #389 "Phase processing in python3"
I have been slowly upgrading to python 3 and ran into snag central doing phase processing with PyART.  AFAIK, cylp is not compatible with python 3, and neither is PyGLPK (last updated last decade).  I am currently dealing with the pain of installing CVXOPT on OS X (BLAS/LAPACK) using homebrew.  It would be really nice if cylp could be upgraded to python 3 (and support more recent versions of cbc).

[2015-10-01 15:09] jjhelmus commented on #389
Agree completely @swnesbitt .  The lack of a Python 3 compatible LP library is what is holding me back from changing my default Python environment to Python 3.  I do not want to change until all of Py-ART unit tests run in Python 3.4 and none are skipped.  The CyLP folks do have an open issue coin-or/CyLP#15 on Python 3.4 support.

The [ecyglpk package](https://github.com/equaeghe/ecyglpki) might

[2015-10-01 15:12] scollis commented on #389
If anyone wants to put some work into this it would have a great impact
on Py-ART! We need a better option for LP

On 10/1/15 10:09 AM, Jonathan J. Helmus wrote:

[2015-10-01 16:23] jjhelmus opened #390 "Py-ART ideas from the 2015 AMS radar conference"
This is a meta-issue for keeping track of ideas that were discussed with Py-ART users and supporters at the 2015 AMS radar conference.  Expect this top level comment to be edited to reflect changes as development progressed.  Some of these issue already have their own issue in the tracker, I'll add links to these when possible.

Please provide any additions to this list.  Feel free to share opinio

[2015-10-01 16:27] jjhelmus commented on #390
Should mention that this list is in no way a indication that all of these ideas will be implemented.  Rather that they are being considered.

[2015-10-01 16:55] jjhelmus commented on #347
I think until these special keys are used by other function a more appropriate place to document them is in the `write_grid` and `write_cfradial` functions.  Is that acceptable @gamaanderson?

[2015-10-01 17:23] gamaanderson commented on #347
I think it is acceptable, but I would also see the Radar and Grid classes as possible places for documentation. For instance, see what I have done with the [Points](https://github.com/nguy/artview/blob/master/artview/core/points.py#L9-L51) class in artview

[2015-10-01 17:38] gamaanderson commented on #390
I can't find this anymore, but in some issue it was discussed about Grids with non-uniform gates. You may want to add this as a topic there, I think it is worth considering.

[2015-10-01 17:41] scollis commented on #390
Do you mean radars or grid objects?

On 10/1/15 12:38 PM, Anderson wrote:

[2015-10-01 17:56] gamaanderson commented on #390
I mean grid objects, i.e. non uniform "x_disp", "y_disp" and "z_disp".

Radar objects being based in CfRadial should already accept non-uniform range and time axes; there may be some function that presuppose uniformity in Radar, but I would classify that (if not documented) as a Bug.

[2015-10-01 18:00] scollis commented on #390
Yes. This is work that WILL be done. Either part of Py-ART or something
compatible with Py-ART. I am about to start a new project that will work
with grid data in a variety of coordinate systems and attempt to make
them inter-compatible. eg take a lat lon grid in sigma (terrain
following) coordinates and easily project to x/y in height
etc...

On 10/1/15 12:56 PM, Anderson wrote:

[2015-10-01 18:10] gamaanderson commented on #390
Starting a new progress is also good, them we can make a fresh start and extend py-ART later. Of course you are following issues #285 and #294, there are important considerations there.

[2015-10-01 18:12] jjhelmus commented on #347
I see a case for adding information about these keys to either the Radar and Grid classes or the write functions but I do not like the idea of having the information replicated in four places (two is enough already).

I tend to think users would think to look at the documentation of the write functions for details on how to change the write behavior not the documentation of the container holding t

[2015-10-01 18:14] jjhelmus commented on #390
Issue #350 covers non-uniform grids.  I'll add a link to the top comment.

[2015-10-01 18:21] #328 closed

[2015-10-01 18:21] #347 closed

[2015-10-01 18:27] gamaanderson commented on #347
I understand your point.

My problem is that I see things different, a function can't make "demands" or "add specifications" over a class, it can only respond to the class documentation. I also, I don't believe in the existence of "abstractions"; data is data, and a class is data+"functions to operate the data". Writing is either saving the data to the disc, or converting from one data convention

[2015-10-01 21:59] jjhelmus commented on #389
I was able port enough of CyLP to Python 3 to allow the unit tests in CyLP and Py-ART to pass.  I'm not going to provide link to the branches since they are a mess and need to be cleaned up before submitting and PR to CyLP.

What is the issue with CyLP not support recent version of Cbc, @swnesbitt?  I am still using 2.8.8 and have not tried the 2.9.x release.

[2015-10-01 22:03] swnesbitt commented on #389
I thought I had a build issue with 2.8.5 on OS X 10.11, but will try 2.8.8

[2015-10-02 21:40] jjhelmus commented on #389
Pull request submitted to CyLP to add support for Python 3 coin-or/CyLP#28.  Minor modification are needed for Py-ART's phase processing to work with CyLP in Python 3.  Changes submitted as #392.

I've been testing with CBC 2.8.8 without issue.  I have a conda package for the library build for [OS X and Linux 64](https://anaconda.org/jjhelmus/cbc).

[2015-10-05 18:21] jjhelmus opened #393 "Documentation of pyart.io.add_2d_latlon_axis function has incorrect return"
Nothing is returned by the pyart.io.add_2d_latlon_axis function, rather the grid instance is modified in place with the addition of a latitude and longitude dictionaries in the axes attribute.

[2015-10-05 18:54] #393 closed

[2015-10-08 19:44] gamaanderson commented on #186
BUG: in [line 265](https://github.com/ARM-DOE/pyart/blob/master/pyart/io/uf_write.py#L265) it should be ` / 1000` and not ` * 1000`, this is causing overflow and consequent error while packing. Also in line 266 I believe `'range_start_m'` is just the decimal part of the range, otherwise a start range of `33 km` will overflow and I don't see a reason for repeating the information. Sorry it took so

[2015-10-09 16:07] jjhelmus opened #398 "Plot azimuthal cross section of ppi"
As suggested by @nguy on the mailing list it would be convenient if a azimuthal cross section of a PPI could be visualized without needing to first create a RHI-like radar instance using `pyart.util.cross_section_ppi`.  **RadarDisplay** method names of `plot_ppi_azimuth` and `plot_vert_azimuth` were suggested.

[2015-10-09 16:52] jjhelmus commented on #186
Thanks @gamaanderson for catching these.  All three of these are bugs, I will have a fix for them shortly.

[2015-10-09 17:32] jjhelmus commented on #186
PR #400 fixes all three of these bugs.

[2015-10-09 20:16] #379 closed

[2015-10-20 20:28] kirknorth commented on #285
Any further updates or comments about this? I'm just starting to work with WRF forward modeled radar observations, the vertical dimensions of the simulated radar grids being described by geopotential height *Z_g*, so for example, the **z_disp** axis of the `Grid` is no longer properly defined since *Z_g* is a function of (*x*, *y*).

[2015-10-20 20:44] scollis commented on #285
Hey Kirk,
I am about to convene a group of interested folks on this.. I am going
to include you as interested.. I will see Pavlos in DC tomorrow so will
touch base with him as well

On 10/20/15 3:28 PM, Kirk North wrote:

[2015-10-21 22:37] nguy commented on #398
Just submitted a PR that addresses this issue.

[2015-10-23 16:24] jjhelmus commented on #398
Thanks @nguy.  Will close this issue once PR #405 is merged.

[2015-10-23 21:26] jjhelmus opened #407 "Function to mask/remove high value gates at the edge of sweeps"
As suggested in nguy/artview#107 a method for removing the 'ring' of high value gates at the edge of sweeps would make a good addition to Py-ART.  A simple implementation is as follows:

[code]

Such a feature would fit well in the `pyart.correct` namespace.

[2015-10-23 21:29] scollis commented on #407
In addition it would be nice to write a procedure to detect this.. most
radars I have seen using a test signal use a constant dBm .. so writing
code that works out how many gates have within a certain stdev could be
easy to implement.. (i'll give this a go)

On 10/23/15 5:26 PM, Jonathan J. Helmus wrote:

[2015-10-27 16:39] nguy commented on #247
I just posted in the User's group about this. I agree that this functionality would be quite useful and already exists in essence for grid objects. The question may be naming and location. Currently a radar object has ```latitude``` and ```longitude``` which correspond to radar latitude and longitude. I propose that the 'long_name' an 'standard_name' be changed to 'Radar XX' for clarity. I don't b

[2015-10-27 16:42] nguy commented on #247
On a related, but side note would it make more sense to have these functions (as well as `radar_to_cartesian_coords) in pyart.util?

The code below should give what we are looking for by combining a few different functions in Py_ART:
[code]

[2015-10-27 21:13] jjhelmus commented on #247
The only difficulty here is that the long_name and standard_name values are taken from the configuration file which defines generic metadata.  At the moment the latitude and longitude keys are only used to specify Radar latitudes and longitudes but as they currently are defined they could be used for grid latitudes and longitudes.  Not that we couldn't make the change, just will need to keep this

[2015-10-27 21:15] #398 closed

[2015-10-27 21:20] jjhelmus commented on #247
Also should mention the code in @nguy's comment works fine if you want to determine the gate locations using an azimuthal equidistant projection (at least I think that is what is implemented).  As discussed in #294 a better solution would allow the users to select a projects supported by basemap/pyproj if installed and fall back or default to az. equidistant if basemap/pyproj is not installed.  Th

[2015-10-27 21:31] jjhelmus commented on #247
Looked into cached properties and there is a [nice package for it](https://github.com/pydanny/cached-property).  Invalidating the cache is as simple as deleting the attribute which I think the Py-ART users would understand.  Also having an invalid cached version of these arrays would only occur if the user changes the latitude, longitude, azimuth, elevation or range attributes, which I would think

[2015-10-27 21:40] nguy commented on #247
Dang cached properties are cool. I like the **gate_latitude** and **gate_longitude** labels, I completely forgot about cfradial for the moment. I agree that deleting and changing should not be too difficult to figure out and if you are changing these items you are likely advanced or used to dealing with the mess that can be radar data. :)

Thanks for clarifying the code above. It is just for AED p

[2015-10-27 22:40] jjhelmus commented on #247
I'll try to put together a PR that implements some of this later this week.  I have something in mind now but need to see it in code.

[2015-10-28 00:20] nguy commented on #247
Sounds good!

[2015-10-28 19:54] jjhelmus opened #412 "Incomplete and incorrect developer reference introduction"
The introduction to the [developer reference manual](http://arm-doe.github.io/pyart-docs-travis/dev_reference/index.html) is incomplete and incorrect.  A better reading would be:

[code]

This introduction is generated from the [docs/source/dev_reference/index.rst](https://github.com/ARM-DOE/pyart/blob/master/doc/source/dev_reference/index.rst)

This issue was created to help a new Py-ART develope

[2015-10-28 19:56] jjhelmus opened #413 "Cleanup of user reference introduction"
The introductory text to the [User Reference Manual](http://arm-doe.github.io/pyart-docs-travis/user_reference/index.html) could be improved.

This issue was created to help a new Py-ART developer learn our development workflow, please do not submit a PR against this issue unless you are that developer.

[2015-10-28 22:13] jjhelmus opened #414 "Wrapped functions/classes cannot be well documented"
PR #411 added the `requires` decorator which gives nice error message when an unmet optional dependency is encountered. It also strips the doc string off wrapped functions and class, for example; [read_odim_h5](http://arm-doe.github.io/pyart-docs-travis/user_reference/generated/pyart.aux_io.read_odim_h5.html#pyart.aux_io.read_odim_h5) and [RadarMapDisplay](http://arm-doe.github.io/pyart-docs-travi

[2015-10-29 16:05] jjhelmus commented on #414
After thinking a bit on this topic, I think removing the `requires` decorator makes sense.  In its place a check can be make for the optional dependency within the function or class.  If the check indicates that the package or extension is missing a **MissingOptionalDependency** will be raised with an appropriate message.  This requires a small amount of code repetition but allows the messages to

[2015-10-29 16:05] jjhelmus commented on #414
Will put in a PR to change this behavior shortly.

[2015-10-29 16:31] jwilk88 opened #415 "Issue with reference manual"
It appears changes were made in the coding for your user manual recently. I've been using it to learn the ins and outs of RadarMapDisplay, however the RadarMapDisplay reference page seems to have been crossed up with the source code to decorators.py

"Actual wrapper around the function/method." this is all you get in the reference page now (as well as the descriptor for RadarMapDisplay on the Grap

[2015-10-29 16:40] jjhelmus commented on #415
Thanks for the report @jwilk88. This issue has been reported in #414 and a fix will be submitted shortly.

[2015-10-29 16:41] jjhelmus commented on #415
For the time being the [documentation for the latest release (v1.5)](http://arm-doe.github.io/pyart/dev/index.html) should give you documentation on RadarMapDisplay.

[2015-10-29 17:05] #414 closed

[2015-10-29 17:29] jjhelmus commented on #415
The docs have been rebuild after the merge of #416 and now should be correct. Thanks again for bringing this to our attention.

[2015-10-29 17:29] #415 closed

[2015-11-02 21:55] gamaanderson opened #418 "Variable Dependent Nyqvel"
In the cfradial convention nyquist_velocity is global, however when working with unfolded fields it is possible to have different nyquist velocity, which is really important for choosing for instance the colormap. I would like to solve this by adding a variable attribute to overwrite the global nyquist, maintaining the global value as the nyquist velocity of the original measure. Alternately we co

[2015-11-03 15:39] jjhelmus commented on #418
Thanks for the suggestions @gamaanderson.

Just to make things clear, the Nyquist velocity cannot "change", once a spectrum is collected and moment calculated the Nyquist velocity is a set property for the particular gates (and typically ray and sweep).  What can change is what are good limited when plotting the Doppler velocities.  Raw velocities are limited by +/- the Nyquist velocity so these v

[2015-11-03 15:56] gamaanderson commented on #418
Thank you for clarifying @jjhelmus. I'm in favor of using `valid_min` and `valid_min`, first because it is CF conform, and second because it is a general, so may be it is also for non-velocity fields useful.

[2015-11-03 16:10] jjhelmus commented on #247
Thinking about this a bit more I realized the gate latitudes, longitudes, altitudes and Cartesian locations (x, y, z) can all be represented as **Radar** attributes with the data loaded on demand using a **LazyLoadDict**.  This gives us low memory overhead (the full array is only calculated when the data is accessed), a standard interface (same as all other **Radar** attributes), and the logic is

[2015-11-03 16:12] jjhelmus commented on #418
Sounds like an idea.  I'm going to be refactoring the **Radar** and **Grid** classes in the next week days to weeks to add in proper lat/lon/alt and x, y, z support (see #247 among others) and I'l guessing some updates and refactoring of the **Display** classes will also be needed.  I can add this feature in during that work since it should fit nicely.  Also been meaning to connect the default col

[2015-11-03 23:28] nguy commented on #247
Nice @jjhelmus. This could be very helpful for some stuff @tjlang and I are doing in AWOT right now!

[2015-11-04 16:55] oue opened #421 "BUG in _rsl_interface.pyx?"
In line 177 of _rsl_interface.pyx, which reads

[code]
I'm getting a ValueError because `radar.range['meters_between_gates']` is a unicode, when I am reading Oliktok Ka-SACR PPI data.

[2015-11-04 17:18] jjhelmus commented on #421
@oue can you provide some additional details on this issue.  Namely what file is causing the issue, what python, pyart, and rsl version are you using, and a full traceback.  All of these will help debug this issue.

[2015-11-04 17:30] oue commented on #421
Hi @jjhelmus, when I do `print pyart.__version__` I get 1.6.0.dev+6498bb7. I am running Python 2.7. You can download the file I used from https://engineering.arm.gov/~eluke/oli_cga/olikasacrppivhD1.a1/. The specific radar volume was olikasacrhsrhiD1.a1.20151017.121108.nc.

[2015-11-04 19:15] josephhardinee commented on #421
It appears this is a bug in pyart. In particular, the gate_size is supposed
to be a float value. I'll work on submitting a patch in a little bit. With
that having been said, you can just use pyart.io.read() on those files as
they should be proper CF/Radial files. If they are not, let me know so that
the ingest can be updated.

On Wed, Nov 4, 2015 at 9:30 AM, oue <notifications@github.com> wrote:

[2015-11-04 19:33] jjhelmus commented on #421
Line 177 is in the `label_volume` function which is only invokes when the FourDD dealiasing is used, so reading should not be an issue. The function does the translation from **Radar** instances to Rsl objects.

I have meeting most of the day but will try to look into this when I have some free time.

[2015-11-04 20:44] jjhelmus commented on #421
@oue Are you trying to use the `dealias_fourdd` function on this file?

Py-ART does not seem to have an issue reading the visualizing this file but it does run into some issue if you try to unwrap the Doppler velocities using this function.  Some of these issues are caused by these files not following the CfRadial conventions for file layout.  These include using text and not a float to specify th

[2015-11-04 20:58] oue commented on #421
Hi @jjhelmus : Yes I tried the dealias_fourdd function. I am using a different function (e.g., dealias_region_based), instead. It seems to work well. Thank you.

[2015-11-05 14:55] jjhelmus commented on #421
@oue Thanks for bringing this to our attention.  I was nearly able to get the `dealias_fourdd` function to work on this radar by adjust the **Radar** instance after reading the data from the file as follows:

[code]

With these changes I get the following error when trying to call the `dealias_fourdd` function:

[code]

This is caused by the inability of the current implementation to deal with rad

[2015-11-05 15:04] jjhelmus opened #423 "dealias_fourdd gives incorrect results or errors out when given a radar in which"
The `dealias_fourdd` function will give incorrect results or raises a ValueError when passed a radar instances in which the sweeps limits do no incorporate all of the rays in the volume (one or more rays are not included in any sweeps, typical when rays "in-transition" are included in the volume).

A minimal example is as follows:

[code]

Which produces:

[code]

This can be fixed by creating a n

[2015-11-05 15:06] jjhelmus commented on #421
Since #423 describes the bug in more detail I am going to close this issue.

Feel free to reopen if you have additional problems working with the OLI SACR files in Py-ART.

[2015-11-05 15:06] #421 closed

[2015-11-05 18:26] bdolan44 opened #424 "Bug in add_field() grid object"
In 'grid.py', 'add_field' function:

Line 79         nz, ny, nx = self.fields[self.fields.keys[0]]['data'].shape

Is missing () after keys such that it should read:

Line 79         nz, ny, nx = self.fields[self.fields.keys()[0]]['data'].shape

(I was getting error: builtin_function_or_method' object has no attribute '__getitem__')

Yay! I have contributed to PyArt!

[2015-11-05 18:58] kirknorth commented on #424
Hi @bdolan44, this issue was actually recently fixed in PR #409, which means you may want to fetch the latest set of commits to Py-ART's master branch.

[2015-11-05 19:06] bdolan44 commented on #424
Whoops, sorry about that. I'll grab the latest! Thanks!

[2015-11-05 19:06] #424 closed

[2015-11-05 19:08] kirknorth commented on #424
No worries, it still counts as contributing! :smile:

[2015-11-05 19:13] scollis commented on #424
Of course it does! Thanks Brenda!

Kirk North wrote:

[2015-11-11 17:57] jjhelmus commented on #285
Here is a proposal for a new layout of the **Grid** class.  Please provide comments!

First an overview of the layout of the class currently:

## Legacy **Grid** class layout

#### Attributes
  * fields : dictionary of dictionaries containing field data.
  * metadata : dict containing metadata
  * axes : dict containing...

    ##### axes keys
    * x_disp, y_disp, z_disp : dict containing 1D arra

[2015-11-13 15:58] habipyesilyurt opened #428 "ENH: Add gatefilter to all attenuation correction methods"
In attenuation.py reflectivity values are masked by "refl = np.ma.masked_where(mask, reflectivity_horizontal + z_offset) " expression. But mask is removed after "sm_refl = phase_proc.smooth_and_trim(ray_init_refl, window_len=5)" expression. Then all calculations are done using unmasked reflectivity "sm_refl ". Is that the intent? Or should masked range cells be filled using interpolation?

[2015-11-16 15:49] jjhelmus opened #429 "Linear mean used to calculate azimuth and elevation of Sigmet file rays"
A circular mean should be used to calculate the average between the starting and ending azimuth and elevation angles in Sigmet (and other) files.  Currently an incorrect linear mean is used.

[2015-11-16 17:01] #429 closed

[2015-11-16 19:23] jjhelmus commented on #428
I'm not sure what the proper behavior is in this function.  Since attenuation is cumulatinve, the specific attenuation likely needs to be calculated at every gate even if the underlying data is "bad" and should be ignored.  It looks like the masking is applied to the corrected reflectivity field, perhaps this mask should also apply to the specific attenuation?

Regardless, this function should be

[2015-11-18 15:19] striges opened #431 "Question about routine radar_coords_to_cart in multi-radar gridding"
Recently I reviewed the procedure of multi-radar gridding and find something might not be accurate in `grid_mapper`. If my understanding is correct, `map_to_grid` function in `grid_mapper` module iterate a list of radars, apply `radar_coords_to_cart` for each sweep to obtain a `(x, y, z)` for each gate. However, the `radar_coords_to_cart` function is a radar-station centric function. This means `a

[2015-11-18 16:03] jjhelmus commented on #431
Thank you for reporting this @striges, this is most definitely a defect in the multi-radar gridding routines in Py-ART.  Some of this issue was previously identified in issue #294.

There seems to be two issues with the way gridding of multiple radars is currently done in Py-ART:

1. Finding the Cartesian distances between two radar stations currently uses the `corner_to_point` function which perf

[2015-11-18 16:24] gamaanderson commented on #431
You are correct, I have missed that.

A connection defines not only the distortion of a translation, but also the rotation and that can be really big. The problem is that Doviak and Zrnic  give us formulas for a radar specific projection, to plot several radar we need to pass that to a single projection. If that one is geographic we just need x,y -> lat,lon; if not, since we don't have a x,y -> x'

[2015-11-19 12:56] striges commented on #431
I explored a little more on geodesic convergence angle correction. If we use Lambert Conformal Conic, this can be calculate easily. For a radar station at (lat_r, lon_r) the angle correction is (lon_r - lon_0) * sin(lat_0), here lat_0, lon_0 are origin point(0,0) in the projection. Then we could apply this angle correction all all radar stations.

In terms of the geodesic distance between two rada

[2015-11-19 13:26] gamaanderson commented on #431
I think a important question is: do we want to implement projection specific formulas? I'm sure for any projection we choose there is a more or less simple formula for the rotation. More important is that we give the user enough control so he can bypass the bottleneck if he is willing to pay the price.

[2015-11-19 13:27] striges commented on #431
Here is a few additional comments after reading comments from @gamaanderson in issue #294. From my point of view, we should always avoid R=6371km at any time. Because pyproj is already available there, it would be not difficult to calculate geodesic distance using functions in `pyproj/geodesic.py`. In a single radar scenario, Azimuthal Equidistant is definitely a good choice if we put original poi

[2015-11-19 13:32] striges commented on #431
@gamaanderson You point is also one of my concern: whether a "projection specification" thing is good in Py-ART?. I think the answer is no. But I mentioned LCC because I consider this is an easy way to make such correction and inverse-project range gates back to lat-lon for any further plotting or flatting.
Another thought is: in the real application, the error is really minimal. So we can safely

[2015-11-19 13:45] gamaanderson commented on #431
Using R=6371km is the price one pays for making manual implementations, I'm also no fan of it. Keep in mind `matplotlib` and therefore `pyproj` is still a optional dependence of pyart.

Maybe I'm not getting your point. Are so suggesting to convert all to LCC, make translation and rotation there and then convert back? Considering `pyproj` available this is just as costly as converting to lat,lon (

[2015-11-19 15:17] striges commented on #431
@gamaanderson. Sorry for the confusion. Let me give an example. If a radar is at `(lat_r, lon_r)`, given a beam at azimuth `alpha`. Considering to all beam actually is a great circle, so we get all range gates on that beam presented by (lat, lon) using pyproj by calculating the geodesic distance. We can repeat this operations for all radars in a multi-radar case. But then if a distance-weighted in

[2015-11-19 15:52] jjhelmus commented on #431
pyproj is included with the matplotlib [Basemap](http://matplotlib.org/basemap/) toolkit.  This is a separate install from matplotlib.  Currently, Py-ART requires matplotlib to be installed but not Basemap.  Basemap is quite a large install (~180 MB) as it includes a number of large data files.  Therefore we would like to keep Basemap as an optional dependency, which means pyproj is an optional de

[2015-11-19 18:00] striges commented on #431
Yes. The azimuth equidistant is a good choice. Simple to implement and small distortion on conformality. The convergence angle is simple the difference of longitudes.

[2015-11-19 18:20] gamaanderson commented on #431
Thank you @jjhelmus for undoing my confusion with `matplotlib` instead of `Basemap`. An also the explanation about the size, I didn't knew that.

@striges  So I think I did understand your suggestion. It is as valid as passing everything to latlon, just the LCC is preferred for high-latitudes.

[2015-11-24 14:37] josephhardinee opened #432 "Auxillary Data"
I figure I'd start this discussion here. I'm planning on adapting the newer SACR reader to put it into pyart. The reasons for this issue however is that there is a large amount of auxillary data in these files that do not have a clear representation in the current radar object. While they could be made fields in the field dictionary, they are primarily metadata, and there is a large enough amount

[2015-11-24 15:27] jjhelmus commented on #432
Could such information be put into the *metadata* dictionary?

The *metadata* dictionary is used as a catch all for information that does not map nicely from the Cf/Radial conventions to the **Radar** class and I don't think we need to add yet another "catch all" attribute off the class which is already getting quite bulky.  Some [information is taken from this dictionary](https://github.com/ARM-D

[2015-11-24 15:50] josephhardinee commented on #432
Sure it can go in there, I wasn't sure if any of the core functions relied on metadata not having extra fields. None of these fields should overlap with the fields that already exist in there.

The plan is that this data will not be important for any of pyart's algorithms(It includes things like voltages, fault states, other things that are hyper radar specific). There is a lot of extra data in th

[2015-11-24 15:50] #432 closed

[2015-11-25 15:17] #246 closed

[2015-11-25 15:17] #247 closed

[2015-12-02 22:17] jjhelmus commented on #285
While implements this new **Grid** class I've come upon a few additional attribute which I think will be helpful:

* nx, ny, nz : The number of grid point along a given dimension.
* radar_name : An array containing the names of the radars.

Additionally I've renamed some of the methods from the original proposal:
* init_projection_attributes -> init_point_longitude_latitude and init_point_altitude

[2015-12-02 22:26] jjhelmus commented on #285
Also I'm proposing the following depreciate plan for the legacy **Grid** class is as follows:

* The **axes** dictionary attribute and the `add_2d_lat_lon_axis` function will be accessible in the 1.6.0 release and removed in 1.7.0.dev.  The suggested manner to check for the "new" **Grid** class layout see if the version is greater than or equal to 1.7.0 as there will be versions of 1.6.x which do

[2015-12-02 23:07] gamaanderson commented on #285
I approve nx, ny ,nz. I think the netcdf idea of naming the dimensions is really good verbose, even if redundant.

I kind of liked the **axes** dict, it separated the geometry describing variable from the other accessory attributes. But if it must go, it is also not that bad.

[2015-12-02 23:53] tjlang commented on #285
I've used the axes dict quite a bit, but I can always change calls in that code if needed.

[2015-12-04 23:31] jjhelmus commented on #285
I've finished PR #434 which implements the new layout for the **Grid** class and the NetCDF files that Py-ART uses to store these objects.  I made a long write-up on the changes in that PR.  If anyone wants to review the PR I would welcome and greatly appreciate it.

@gamaanderson  and @tjlang and other who may need to change their code to make use of the new layout should know about the `Grid.fro

[2015-12-05 12:01] gamaanderson commented on #285
I will try to review this PR as soon as I can. I'm particularly interested to see if we can get the netcdf files to be recognized in netcdf java.

[2015-12-05 20:57] gamaanderson commented on #285
I have give it a look and it is good, despite from a few points I commented. I do have some other points however.

1. The good news is that it worked in artview without any alteration, so the legacy is working. W only need to add support for the `read_legacy_grid` function. (and also change to the new format before the old one is removed)

2. The routines for reading and writing mdv need some upda

[2015-12-07 19:44] jjhelmus commented on #285
@gamaanderson Thanks for review the PR, always good to have a second set of eyes on the code before making large changes.

[2015-12-07 20:13] jjhelmus commented on #285
Good to hear!  Hopefully the transition to the new format will not be too difficult.  Ping me if you need any help with this.

Agreed, `read/write_grid_mdv` will need to be updated with the projection information.  I do not have enough experience with MDV grid files to feel comfortable making the necessary changes.  I will open an issue for this work once this PR is merged so that other are aware

[2015-12-07 20:40] gamaanderson commented on #285
I agree with all comments, the only point I believe need an answer is: yes, I do think an optional projection parameter is a good idea.

[2015-12-08 17:05] jjhelmus commented on #285
I had to look at what is required for the Java NetCDF tools to interpret the NetCDF files from the `write_grid` functions as a gridded coordinate system and this is possible by adding one variable to the file that defines the coordinate system and projection.  Big thanks to @gamaanderson for the links to the thredds documentation on the topic.

For example the following is correctly interpreted as

[2015-12-09 20:03] Rumpkie commented on #413
Ping

[2015-12-09 20:04] Rumpkie commented on #412
Ping

[2015-12-09 21:31] jjhelmus commented on #285
I changed the dimensions in the **Grid** class and files to be named x, y, and z, added access to the PyProj Proj object by way of the Grid.projection_proj property, added a global Conventions attribute to the output grid files, and added a ProjectionCoordinateSystem variable to the file which should allow them to be used with tools using the Java NetCDF library (THREDDS, toolsUI, etc)

[2015-12-09 21:54] gamaanderson commented on #285
Good. I've sent a file for testing in Simepar. I'm not sure if the lack of a `_CoordinateSystems` attribute in the field is a problem.

[2015-12-09 21:58] jjhelmus commented on #285
It shouldn't according to the "Implicit Coordinate Systems" section at http://www.unidata.ucar.edu/software/thredds/current/netcdf-java/tutorial/CoordinateAttributes.html and it did not cause an issue when the tests I ran.  Still having others test to see if the files work with their software would be helpful.

[2015-12-10 13:45] gamaanderson commented on #285
The File worked in Simepar. I believe there are still some things to be done (graphic, mdv etc.), but those can be done in other PR's.

[2015-12-10 18:13] nguy opened #435 "RadarCollection - Merged radar instances"
Following on a previous post, we've been talking about merging multiple radar instances. There was no clear way merge the metadata specifically as I recall. Just to bring this up again and to point out one type of solution that has been started. [Take a look](https://github.com/deeplycloudy/brawl4d/blob/master/radar/collection.py) at the way @deeplycloudy cloudy begins to handle this.

Issues that

[2015-12-10 18:30] scollis commented on #435
Time of pandas, I know there is a lot of people talking of moving it into the scipy core

-sent from a mobile device-

[2015-12-10 18:57] nguy commented on #435
By the way for the packages I've been working on, I convert the time to Epoch for a package standard. Whether this is best or not, *shrug*, but it's what I did in the ```pyart.core.radar.join_radar``` function.

[2015-12-10 19:08] jjhelmus commented on #435
From a  quick look at use of pandas in the **RadarCollection** class from brawl4d I believe the same results could be achieved using a NumPy [recarray](http://docs.scipy.org/doc/numpy-1.10.1/reference/generated/numpy.recarray.html). I'm not convinced that pandas or xray are really needed in this case.

A good discussion that I would like to have before designing a **RadarCollect** (and likely a **

[2015-12-10 19:13] scollis commented on #435
Well one would be a quick way to go from a radar collection to a grid
collection

Hell, some time we can work out how to use Jupyter cluster or
multiprocessing to make it easier for users with clusters to map reduce
lots of data..

also imagine being able to go from a radar collection to a QVP

Jonathan J. Helmus wrote:

[2015-12-10 19:44] gamaanderson commented on #435
Just stopping by to remember of issue #252.

@nguy creating a plugin to automatic rotate a list of cached radars (simple radar, no Vradar) is not difficult, it would be good to test it.

[2015-12-10 22:33] nguy commented on #435
Other uses are merging sweep files into a single collection (either ground-based or airborne), which also lead to a natural device for calculations: dual-Doppler, VAD, frequency by altitude analyses, tracking such as TITAN-esque, etc.

Good points @gamaanderson

[2015-12-11 16:49] #107 closed

[2015-12-11 16:49] #285 closed

[2015-12-11 16:51] jjhelmus opened #436 "Reading and writing MDV grid files should use the Grid.projection attribute"
Reading and writing MDV grid files should set or make use of the Grid.projection attribute.

[2015-12-14 09:53] tanelv opened #440 "pyart.io.common.radar_coords_to_cart in Py-ART version 1.6"
Having upgraded from version 1.0 to 1.6 I can not see radar_coords_to_cart function in pyart.io.common module.
Listing the available functions only gives these:

['__builtins__', '__doc__', '__file__', '__name__', '__package__', '_test_arguments', 'bz2', 'gzip', 'make_time_unit_str', 'netCDF4', 'np', 'prepare_for_read', 'stringarray_to_chararray']

I saw some warnings during the installation of th

[2015-12-14 12:47] tanelv commented on #440
Already found a workaround!
I checked the common.py file in the /io directory and there was no radar_coords_to_cart function defined. But looking at the older common.py file from the previous pyart version installation (I made a copy of the files pre installation of the new version) the function was there. So I copied the function to the new common.py and now it works.
There was a comment in the o

[2015-12-14 18:42] jjhelmus commented on #440
The `radar_coords_to_cart` function was recently (PR #433) moved and renamed and can now be found  as `pyart.core.transforms.antenna_to_cartesian`.  If you upgrade to the version of Py-ART which includes the changed merged today (PR #439) then `pyart.io.common.radar_coords_to_cart` will also be available, but will emit a DepreciatedFunctionName warning to inform you of the change in name.

As a he

[2015-12-14 18:45] jjhelmus commented on #440
Closing this issue as I believe #439 should make these functions available again.

@tanelv, thanks for reporting this and feel free to re-open this issue if you do not feel as if it has been resolved.

[2015-12-14 18:45] #440 closed

[2015-12-14 21:38] jjhelmus opened #442 "The toa parameter is interpreted differently in the two gridding methods"
The `toa` parameter control the height above which gates are excluded from the gridding algorithm.  This parameter is interpreted differently by the two gridding routines.

In the 'map_gates_to_grid' the distance of the gate above the radar is added to the offset of the radar from the grid and compared against toa (toa is the height above grid origin).

In 'map_to_grid' the distance of the gates a

[2015-12-15 16:50] jjhelmus opened #443 "The 'map_to_grid' algorithm with Barnes weighting includes masked elements in the result"
When using the 'map_to_grid' algorithm with Barnes weighting, masked gates in the input radar may be used to interpolate a grid point.
For example:

[code]

The will print out 0.0 and -9999.0 indicating that the minimum value in the grid is below that minimum value in the radar which is not possible.

This is due to the numpy.ma.dot function not giving correct results.  Use of this function should

[2015-12-15 17:28] #443 closed

[2015-12-17 10:48] joshuass opened #445 "odimh5 support for RHI, PPI and sector PPI objects"
_pyART only appears to support PVOL objects in odimh5_
Single PPI scans and sector scans are defined as SCAN objects
RHI scans are defined as ELEV objects

See page 10 of the specifications doc for more information
http://www.eumetnet.eu/sites/default/files/OPERA2014_O4_ODIM_H5-v2.2.pdf

[2015-12-17 11:34] jjhelmus commented on #445
@joshuass Can you provide example files of any of these scan modes?  Implementing support for the reading of these files is much easier with examples to work from.

[2015-12-17 13:50] swnesbitt commented on #445
I have a functional code that can do this (at least the output from BALTRAD
bufr2hdf5 with an Argentinean radar file), just haven't uploaded it to the
archive.

It is in my fork of pyART.

-Steve

On Thu, Dec 17, 2015 at 3:34 AM, Jonathan J. Helmus <
notifications@github.com> wrote:

--
Steve Nesbitt, Associate Professor
Department of Atmospheric Sciences, University of Illinois at
Urbana-Champaig

[2015-12-18 03:38] joshuass commented on #445
Hi,

Here is an example RHI file
https://dl.dropboxusercontent.com/u/2037428/test_odimh5_files/uq-xpol_rhi_20151104_184723.h5
Here is an example SPPI file
https://dl.dropboxusercontent.com/u/2037428/test_odimh5_files/uq-xpol_sppi_20151210_162502.h5

I can get the sector PPI files working in pyart by changing the object type to PVOL and setting the azimuth manually. It appears pyART isn't reading t

[2015-12-18 16:12] jjhelmus commented on #445
Thanks for the example files @joshuass.  I'll look into adding support to Py-ART for reading in these types of files.

[2015-12-21 07:38] gamaanderson commented on #442
So we have three options,

1. height above origin
2. height above radar
3. height above see level

I'm for the third one!

[2016-01-04 16:47] jjhelmus commented on #442
Another option is to remove to `toa` parameter entirely and have these gates removed by the gate filter.  Adding `{include/exclude}_{above/below}_{height/altitude}` methods to the GateFilter for including/excluding gates based upon their height above the radar or altitude should make possible.

[2016-01-04 16:48] scollis commented on #442
Exactly.. TOA was introduced to speed gridding by rejecting gates that
will never have returns in them.. Gatefilter effectively handles this now.

Jonathan J. Helmus wrote:

[2016-01-06 01:21] candidobugarin opened #448 "Transform a nc file data in grid data."
Hello. I need get the data inside a nc file and put this data in a grid to get a values in some points. Is it possible do that with ART?

Thanks

[2016-01-06 15:50] jjhelmus commented on #448
What is the source of this NetCDF file?  Does it contain radar data?  Does the layout of the file follow the [Cf/Radial conventions](https://www.ral.ucar.edu/projects/titan/docs/radial_formats/cfradial.html) or another one of Py-ART [supported formats](http://arm-doe.github.io/pyart-docs-travis/user_reference/io.html)?  If so then it should be possible to read the file with Py-ART and map the radi

[2016-01-07 16:40] candidobugarin commented on #448
Hello.
Yes, nc contains radar data. I can any file format, if you tell me the
best format to do this, I'll be happy.
My idea is to tell the latitude / longitude to an array and the array
would return me a DBZ value or rain.
And will be , a pleasure to join you in the mailing list.
Thanks

2016-01-06 13:50 GMT-02:00 Jonathan J. Helmus <notifications@github.com>:

[2016-01-07 21:39] nguy commented on #335
Can this be closed?

[2016-01-08 14:36] scollis opened #450 "Need better canned examples plotting data on top of radar data"
Talking to Josh from UQ who was asking about plotting contours on radar map displays. We can do this but we need better documentation and canned examples.

We do have this example which needs updating:
http://arm-doe.github.io/pyart/dev/auto_examples/plotting/plot_grid_three_panel.html

We need an example plotting onto a PPI via radarmapdisplay. I suggest we use something like WRF data for this on

[2016-01-08 14:50] jjhelmus commented on #335
Yes, this was address in #363, closing.

[2016-01-08 14:50] #335 closed

[2016-01-08 14:50] jjhelmus commented on #335
Thanks @nguy for the follow up, always good to close issue that have been fixed.

[2016-01-08 17:40] nguy opened #451 "Time-height plotting"
Currently Py-ART does not support time-height plots it seems. The VPT (vertically-pointing) plot function plots the abscissa as distance ( I assume for a scanning type?). I would suggest modifying the ```RadarDisplay.plot_vpt``` to accept (or access) a time variable and format accordingly. Maybe use of a keyword?

This topic had some discussion in Issue #364 .

One potential issue would be to make

[2016-01-08 22:53] nguy commented on #451
I found some time conversion utilities in ```pyart.util.datetime_utils.py```, but cannot find an instance of these being used in the package.

I think adding a conversion to Epoch time here would be useful in the future when potentially combining radar instances.

[2016-01-08 23:54] scollis commented on #450
Ping @joshuass

[2016-01-15 15:33] #412 closed

[2016-01-15 15:33] #413 closed

[2016-01-15 15:54] jjhelmus commented on #451
@nguy Sounds like a great suggestion.  The current VPT plots do not properly represent gaps in time or even indicate the timing of the measurement.  I'll have a look at #453 later today and make some comments/suggestions.

[2016-01-18 19:53] jjhelmus commented on #352
Support for reading NEXRAD Level 2 files contain message 1 records was added to Py-ART with PR #455.  By default, data in low resolution scans are interpolated to higher resolution when the volume contains both high and low resolution scans.  When this interpolation is performed a warning message is raised informing the users of this action.  A **Radar** instance containing the original, non-inter

[2016-01-18 19:53] jjhelmus commented on #152
Support for reading NEXRAD files with non-uniform gate spacing was added in PR #455.  By default, data in low resolution scans are interpolated to higher resolution when the volume contains both high and low resolution scans.  When this interpolation is performed a warning message is raised informing the users of this action.  A **Radar** instance containing the original, non-interpolated data can

[2016-01-18 19:53] jjhelmus commented on #390
Closing a few NEXRAD related ideas with the merging of PR #455

[2016-01-18 20:01] #152 closed

[2016-01-18 20:01] #352 closed