[2018-06-01 03:26] vlouf commented on #749
More details:
[code]

I tried to specifically send them ndarray, and not masked array, but it doesn't work.

[2018-06-01 03:34] vlouf commented on #749
Found the error l:60 in pyart/retrieve/gate_id.py:
`_, _, z = antenna_to_cartesian(rg / 1000.0, azg, eleg)`

`z` is a MaskedArray. So unmasking it correct this error.

[2018-06-06 08:58] ZhengYuRadar opened #751 "There is a bug in pyart/io/cfradial.py"
when I read the code of cfradial.py, I found that there is a value named 'radar_reciever_bandwidth' in pyart/io/cfradial.py line 62. This is wrong because you named it 'radar_receiver_bandwidth' in other file. It may cause other errors, I hope you can fix it soon.

[2018-06-06 14:03] zssherman commented on #751
Hi @ZhengYuRadar , Nice catch! I will put in a pull request to fix it.

[2018-06-06 14:16] ZhengYuRadar commented on #751
There is a another little bug in pyart/io/uf.py line 233. this code is """radar_beam_width_v = filemetadata('radar_beam_width_w')""", I guess it should be """radar_beam_width_v = filemetadata('radar_beam_width_v')""". Pyart is a excellent project which help me a lot in Radar data processing.

[2018-06-06 14:26] zssherman commented on #751
@ZhengYuRadar Absolutely correct, there is no radar_beam_width_w, the code is trying to pull metadata from filemetadata that doesn't exist. I will submit a commit to the pull request to address this issue to. Again, nice catch and I'm glad you like Py-ART!

[2018-06-06 14:52] zssherman commented on #747
Hi @rrniii , I was wondering if your allowed to share your data file. I was going to try to reproduce the issue using that data. I used your code, but on a different data file and the colormap was correct.

[2018-06-07 01:55] scollis commented on #751
Perfect Issue @ZhengYuRadar .. This is a master class in how to file an issue..
Closing via #752

[2018-06-07 01:55] #751 closed

[2018-06-21 19:56] zssherman commented on #737
@scollis This example on the pyart example page has velocity set to sweep 1. The
'def pyart_print_helper' function in the code provided has it defaulted at 0. Spectrum width isn't plotting in the pyart example find here https://arm-doe.github.io/pyart/dev/auto_examples/plotting/plot_nexrad_multiple_moments.html
I think the examples are fine.

[2018-06-21 19:57] zssherman commented on #737
@scollis Maybe in the example we can add a comment or docstring stated that some sweeps depending on VCP won't be saved, so possibly try different sweeps?

[2018-07-11 18:58] craddockME commented on #551
Hi, have there been any updates on this issue since 2016? Looks like pyART still does not support DPR. I see some code in metpy nexrad.py but I'm not clear if it's a placeholder or working code. Hoping to be able to process the DPR data parameter. Thanks in advance for any info!

[2018-07-11 19:54] scollis commented on #551
A pr that uses metpy as a conditional dependency for level 3 would be welcome

But it’s not something the core dev team is doing any time soon

-sent from a mobile device-

[2018-07-16 03:16] robwarrenwx opened #753 "Incorrect radius of influence for Barnes weighting"
The Barnes weighting function can be expressed as

weight = exp( - (d^2) / (2 * sigma^2) )

where d is the distance between a grid point and an observation and sigma is the standard deviation. [Barnes (1964)](https://journals.ametsoc.org/doi/pdf/10.1175/1520-0450%281964%29003%3C0396%3AATFMDI%3E2.0.CO%3B2) expressed this slightly differently as

weight = exp( - (d^2) / (4*k) )

Thus, k = (sigma^2)

[2018-07-16 10:44] ZhengYuRadar commented on #753
I guess it should be `weight = exp(-(dist2) / (0.25*roi2)) + 1e-5`.

[2018-07-16 14:14] scollis commented on #753
Thanks @robwarrenwx and @ZhengYuRadar !
I propose we put in another weighting function for a little while for testing as I am concerned some users may be compensating for us using too smaller radius of influence.

We can call it BARNES_2 .. We will then do some diffs between the gridded fields to see the impact.

[2018-07-18 12:58] scollis commented on #753
@robwarrenwx @zssherman is working hard on modernizing our unit testing suite. I want to wait until that is done before submitting a PR to address this.

Here is what we will do:
1) Create a new weighting function BARNES_2 which has the function as per the papers
2) raise a warning when users use BARNES so they know that the formulation is not correct and encourage them to use BARNES_2

After we d

[2018-07-31 16:48] nguy opened #756 "nexrad_archive read failure, sometimes"
I've noticed recently that the `pyart.io.read_nexrad_archive` fails on some files. Below is the error message. Note that an example file for the failure is shown and could be obtained from AWS bucket.

[code]

I also tried to read this through Metpy and received the following error
[code]

There is a [comment in that code](https://github.com/Unidata/MetPy/blob/master/metpy/io/nexrad.py#L379) that

[2018-07-31 18:47] dopplershift commented on #756
@nguy The ROC decided to add some spare bytes to the status message in RDA Build 18.0. At least in MetPy's case, this broke some overly aggressive sanity checking. Current MetPy master has a fix. See Unidata/MetPy#891.

[2018-07-31 19:08] scollis commented on #756
I am going to Assign @rcjackson but if anyone has some spare time to pull across changes from MetPy it would be VERY MUCH appreciated and I have put a lot on Bobby's plate recently and he is on vacation for a few days.

[2018-07-31 19:09] scollis commented on #756
@nguy is it all files of just some files?

[2018-07-31 19:41] nguy commented on #756
@scollis Not all files, in fact it is a reasonably small number that have this problem.

[2018-07-31 20:14] dopplershift commented on #756
To be clear, the MetPy issue seems to be on almost all files (since it looks like [most sites are running RDA 18.0](https://www.roc.noaa.gov/WSR88D/BuildInfo/BuildLoaded.aspx)). But I'm not convinced the PyART and MetPy problems are related.

[2018-07-31 20:16] nguy commented on #756
Definitely looks like slightly different approaches under the hood for metpy and pyart. But I didn't spend a lot of time scouring the code.

[2018-08-01 15:08] zssherman commented on #753
@robwarrenwx I just wanted to make sure, if I'm understanding correctly, but instead of the weight for Barnes being:
weights = exp(-(dist2) / (2.0*roi2)) + 1e-5

Should be:
weights = exp(-(dist2) / (2.0 * np.sqrt(2.0) * roi)) + 1e-5

To follow Pauley and Wu's) recommendation.
And have sigma as a optional user defined argument?

I figured out how to implement the changes is the code, but I wanted t

[2018-08-02 13:43] scollis commented on #756
Cool.. I am in a workshop today.. I'll grab the file and see if I can have a play

[2018-08-02 14:08] scollis commented on #756
Deconstructing some of @jjhelmus 's great code the issue comes in __init__
[code]

You can see

[code]

so for @nguy 's case we are not finding any type 5 headers.

[2018-08-02 14:15] scollis commented on #756
Just putting in some more code in here from the module:
Length/definitions:
[code]

And the specific structure for message 5

[code]

[2018-08-02 14:28] scollis commented on #756
@dopplershift : So is it the spare bites in MSG_5?
ie from your PR:
```extra_size = 40 if self.rda_status[-1].rda_build >= '18.0' ```
We have 10bytes

[2018-08-02 15:35] scollis commented on #756
Ok.. @nguy That was not it..
This file is very strange..
I made Py-ART to print out all the message numbers in that file and they are all MSG31

@dopplershift can you try reading KLBB at datetime(2018,7,27,16,5) with MetPy?

[2018-08-02 15:39] scollis commented on #756
@nguy I looked at other files nearby in time and have no issues reading them. (ie at datetime(2018,7,27,15,5))

I am thinking this file is missing any metadata and only has radial data and is therefore corrupt

[2018-08-02 17:01] scollis commented on #756
Once I hear back I might (shock horror) add a more appropriate error message if no MSG_5 buffers are found.

[2018-08-02 20:01] nguy commented on #756
Thanks for looking at this also @scollis , I drilled down to the same place you did in terms of where the code failure occurred, but did not print out the messages.  This is happening on more than just this radar though, which is kind of interesting. I'll try to go back and look if they share the same build version.

[2018-08-02 20:47] dopplershift commented on #756
I don't have any problem with MetPy, but I can confirm that MetPy does not see any type-5 messages in that file. We just don't require them.

[2018-08-02 21:08] scollis commented on #756
Perhaps I will just hard code a scan mode

-sent from a mobile device-

[2018-08-02 21:09] scollis commented on #756
Do you guess BCR from radial messages?

-sent from a mobile device-

[2018-08-02 21:37] scollis commented on #756
Well looking at the error its the "Target Angle". ie the angle programed into the VCP, an array of len(sweeps)

[2018-08-02 21:37] scollis commented on #756
Oh.. BCR=Error_correct(VCP)

[2018-08-02 21:43] dopplershift commented on #756
If the vcp information is missing, you could always just average the elevation angles in the sweep and round it.

[2018-08-02 21:49] scollis commented on #756
![image](https://user-images.githubusercontent.com/825351/43613153-008c5f06-9674-11e8-8fa0-86aa84f41022.png)
Ok! I have a work around! I will submit a PR soon @nguy

[2018-08-02 21:49] scollis commented on #756
Warning.. I set all the fixed angles to zero

[2018-08-02 21:54] scollis commented on #756
Submitted #757

[2018-08-02 21:55] scollis commented on #756
For now this will be up to the user. :)

Scott Collis

On Aug 2, 2018 at 4:43 PM, Ryan May <notifications@github.com> wrote:

If the vcp information is missing, you could always just average the
elevation angles in the sweep and round it.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/ARM-DOE/pyart/issues/756#issuecomment-4

[2018-08-03 16:10] tjlang commented on #708
Trying to install basemap on a loaner. Brought in Py-ART 1.9.1 via conda, but then:

loaner @ Radar$conda install basemap
Solving environment: failed

UnsatisfiableError: The following specifications were found to be in conflict:
  - arm_pyart
  - basemap
  - shapely
Use "conda info <package>" to see the dependencies for each package.

[2018-08-03 16:38] zssherman commented on #708
@tjlang Can you try conda install -c conda-forge basemap ? I tried to install basemap using the anaconda cloud with conda install basemap and it defaulted pyart to 1.9.0, which I think is hinting at a possible issue. But when I tried to download basemap using conda-forge I was able to download pyart 1.9.1 and basemap. The basemap in the anaconda cloud is outdated compared to conda-forge, so I'm cu

[2018-08-03 16:54] tjlang commented on #708
@zssherman That worked! I also had to do this separately to get the hi-res data:
`conda install -c conda-forge basemap-data-hires`

But we are in business. Thanks for the timely response.

I do agree that `Basemap` likely will need to be retired from `pyart`, likely sooner rather than later.

[2018-08-03 16:58] zssherman commented on #708
@tjlang No problem! And I completely forgot about basemap-data-hires, and I agree. I'll talk with @scollis and get an idea of when Py-ART will retire basemap. I believe basemap is no longer being supported in 2020, but Py-ART will probably retire it before then.

[2018-08-03 17:36] scollis commented on #708
Gotta deal with retiring python 2.7 first ;)

-sent from a mobile device-

[2018-08-03 18:40] scollis commented on #756
Ok @nguy get the latest version from source. We will be cutting a new release on conda forge in October
#757 closes this issue

[2018-08-03 18:41] #756 closed

[2018-08-03 22:58] nguy commented on #756
Okay, great, thanks @scollis

[2018-08-06 00:01] robwarrenwx commented on #753
@zssherman I think the way it should be formulated is:

weights = exp(-(dist2) / (2*sigma2)) +1e-5

where sigma2 is the square of sigma, the standard deviation in the Gaussian function. The ROI could then be either specified by the user (but maybe not allowed to be less than sigma) or calculated following Pauley and Wu's (and Barnes') recommendation as:

roi = 2*sqrt(2)*sigma

As for sigma itself,

[2018-08-08 13:40] scollis commented on #743
Specifically this line here:
https://github.com/ARM-DOE/pyart/blob/master/pyart/graph/radarmapdisplay_cartopy.py#L262

This line needs a warning added before

[2018-08-08 13:41] scollis commented on #743
I am assigning to @jhemedin as his first Py-ART work
 Jason you will need to fork Py-ART to your account

Clone it

Make a branch to to work on

Add in the required code

and then submit a Pull Request.. Consider this some training. I don't expect it to be done quickly :)

[2018-08-09 17:23] scollis opened #759 "Rely on .pyx file and dynamically create .c files using cython"
see #758 for what lead to this.. I am very interested in @jjhelmus's views on this.

pro:
* Folks can just edit pyx files and only commit those.
* we get the latest bells and whistles from new cython versions
* Lighter weight and true line counts

Cons:
* cython becomes a dependancy
* More work: Need to update release and testing to generate .c files on the fly

[2018-08-09 17:34] dopplershift commented on #759
Pro: Git history not bloated by changes to generated code

[2018-08-09 17:35] ngoldbaum commented on #759
For the last con point, here’s the bit in yt’s setup.py file that handles compiling the cython code for the sdist: https://github.com/yt-project/yt/blob/master/setup.py#L337

[2018-08-09 18:52] scollis commented on #759
Of course! I would expect that Jonathan :-)

-sent from a mobile device-

[2018-08-10 07:29] Athenaplot commented on #740
I have just used pyart.io.mdv_common.MdvFile()

`a = pyart.io.mdv_common.MdvFile('xxx.mdv')`
this can solve the problem that pyart.`io.read_grid_md` can't read the 2D data sometimes．

I can't make sure this way agree with any 2D data Mdv

[2018-08-10 10:21] Athenaplot opened #760 "Mdv read problem use pyart.io.mdv_common.MdvFile()"
when I run the function
`a=pyart.io.common_mdv.MdvField('xxx.mdv',read_fields=True)`
I got the error below:
![2018-08-10 15-34-09](https://user-images.githubusercontent.com/31769682/43951975-23702e9a-9cc7-11e8-89ce-b95c9de4554e.png)

then i rewrite the some code in common_mdv.py which aims to print the variable `compr_info` as below:
![2018-08-10 18-06-11](https://user-images.githubusercontent.com

[2018-08-10 17:14] scollis commented on #760
No idea. Have you tried using RadX? What generated this file?

[2018-08-11 04:14] Athenaplot commented on #760
i haven't use the RadX. this file is generated by c++ , the version is about 2010. I checked someother Mdv file , when reading the thirth level data, the `magci_cookie` is not standard, and the values changes each time. the first two level's `magic_cookie`  are same.   anyway ,i will try my best to decompress these unkown `magic_cookie`, but , when i use c++ to read the file, i create a DsMdvx cla

[2018-08-11 08:07] liliaow567 commented on #760
Hello, dude，has the problem been solved? I have the same problem with yours.

[2018-08-11 14:29] Athenaplot commented on #760
Sorry ,budy,i'm trying ,if i solve the problem,i will share it with you as soon as possible. so do you? ,right?

[2018-08-13 13:07] liliaow567 commented on #760
I think im too busy to take it, so sorry @Athenaplot

[2018-08-13 16:18] zssherman commented on #753
@robwarrenwx  Thank you that helps! I will continue working on the changes to the code. Think I almost have it.

[2018-08-14 11:26] scollis commented on #247
Please read the docs or post to the email list. Do not use the issue tracker to ask questions

[2018-08-22 16:47] scollis opened #762 "Issue with file handing rainbow files using wradlib"
https://github.com/ARM-DOE/pyart/blob/master/pyart/aux_io/rainbow_wrl.py#L153

proposed by our friends at MeteoSwiss
[code]

[2018-08-22 16:47] scollis commented on #762
I'll hack this later this week unless anyone wants to do it

[2018-08-23 14:05] scollis opened #763 "Add a method to apply a gatefilter to fields to mask the data"
At the moment the way I apply a gatefilter to mask (ie when I want to save) data is as follows:
[code]

[2018-08-31 13:41] kmuehlbauer commented on #762
JFTR: @scollis wradlib release 1.1.0 is out and fixes the underlying problem.

[2018-08-31 13:55] scollis commented on #762
Awesome . We will do some testing next week

-sent from a mobile device-

[2018-09-06 15:24] scollis opened #766 "Make basemap an optional dependancy"
Basemap is having more issues which is expected as we head to end of life. It need to be made optional, the same as Cartopy

[2018-09-14 03:00] gewitterblitz commented on #753
@robwarrenwx I agree with your suggestion. However, if we calculate the weights this way then we would not be following the exact lambda = 1.33*delta rule. It will be close though!

Thanks for opening this issue!

[2018-09-19 18:36] zssherman opened #768 "Possible bug in gridding or cfradial code."
After reading in a cfradial file. I tried to grid using:

[code]
And receive an error:

[code]

The code fails using the map_to_grid algorithm. But the reason I mentioned cfradial code is that when I read in a raw sigmet file, the code works. But if I use a radar file that has been written using pyart.io.write_cfradial I encounter this error.

Will be looking into this more soon.

[2018-09-27 03:33] #760 closed

[2018-10-01 18:10] Ahmed042018 opened #771 "Deprecation Warning"
Hi everyone,
 Can any one please help me to fix this, I used StanfordParser to pars a text and need to remove this warning from the outputs.

DeprecationWarning: The StanfordParser will be deprecated Please use nltk.parse.corenlp.StanforCoreNLPParser instead.

[2018-10-01 18:28] #771 closed

[2018-10-01 18:28] scollis commented on #771
Please do not use the issue tracker to ask question.

Email this to pyart-users@googlegroups.com

Scott Collis

On Oct 1, 2018 at 1:10 PM, Ahmed042018 <notifications@github.com> wrote:

Hi everyone,
Can any one please help me to fix this, I used StanfordParser to pars a
text and need to remove this warning from the outputs.

DeprecationWarning: The StanfordParser will be deprecated Please use
nltk

[2018-10-02 18:17] striges opened #772 "fixed_angle for NEXRAD with negative elevation"
NEXRAD now enables low-level tilts scan below 0.5 in SAILS/MRLE/N0R,  even a negative deg at -0.2. pyart will wrap it to 359.8, which may cause issue when sorting tilts by elevations, and actually read odd.

[code]

[2018-10-02 18:17] striges commented on #772
I am working on a patch now as it is impacting operational run, I may send a pull request once I finish verification.

[2018-10-02 19:59] scollis commented on #772
Much appreciated!

Scott Collis

On Oct 2, 2018 at 1:17 PM, striges <notifications@github.com> wrote:

I am working on a patch now as it is impacting operational run, I may send
a pull request once I finish verification.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/ARM-DOE/pyart/issues/772#issuecomment-4263

[2018-10-12 20:56] zssherman commented on #753
@gewitterblitz, So @rcjackson and I have time next week and we will get Barnes 2 in with the suggest changes and corrections.

[2018-10-12 21:16] gewitterblitz commented on #753
If you have time, then you can also look into a simple modification of the one-pass Barnes filter as described in Koch [(1983)](https://journals.ametsoc.org/doi/pdf/10.1175/1520-0450%281983%29022%3C1487%3AAIBOMA%3E2.0.CO%3B2). The second pass filter is essentially using a convergence parameter called 'gamma'. So, instead of `w = exp(-r^2/k)` which is used in a one pass filter, we can use

`w = exp

[2018-10-12 21:59] scollis commented on #753
Hey Milind. I think you should open a separate issue for this. This is a feature request

-sent from a mobile device-

[2018-10-15 02:34] scollis commented on #695
Fantastic! Perhaps we can work up a pr when we visit. Very encouraging

-sent from a mobile device-

[2018-11-02 20:57] scollis commented on #766
Key requirement from our FNMOC stakeholders:
Side by side examples of plotting using Basemap and Cartopy to ease the transition

[2018-11-05 03:55] vlouf opened #780 "Add an `include_fields` argument to pyart.io.read"
Currently the arguments exclude_fields is available in pyart.io.read() and pyart.io.read_grid().

The opposite would be nice when, for example, we only want to read the reflectivity in an heavy file containing lots of different fields, it would make the loading faster:

[code]

However, if you plan to switch to xarray as data model, then you probably won't need it.

[2018-11-05 03:57] scollis commented on #780
Feel free to ask @zssherman for help as well.

[2018-11-05 03:58] scollis commented on #780
I am happy to prioritize DIGR resources while @rcjackson is visiting @vlouf and Joshua

[2018-11-05 09:16] josephhardinee commented on #780
I thought PyART did lazy loading from Netcdf files which would mean no speed increase?

Sent from my iPhone

[2018-11-05 19:48] scollis commented on #780
@josephhardinee Its also useful for memory issues. If you know you are not going to use many of the vars you can exclude them from hard loading.. like C-SAPR2 :)

[2018-11-05 20:15] josephhardinee commented on #780
I mean I thought they were only loaded when  accessed (lazy load), or at least I thought I remember Jonathan implementing that a while back.

Sent from my iPhone

[2018-11-05 20:15] josephhardinee commented on #780
Or do you mean for binaries, load the fields but drop them before finalizing object which would hit memory initially, but then drop down in size after the load is complete.

Sent from my iPhone

[2018-11-05 22:21] rcjackson commented on #780
From what I read in the docs, pyart.io.read only does lazy loading if delay_field_loading is set to True, and that is not supported for every file format:

delay_field_loading : bool

True to delay loading of field data from the file until the ‘data’ key in a particular field dictionary is accessed. In this case the field attribute of the returned Radar object will contain LazyLoadDict objects not

[2018-11-07 15:08] scollis opened #782 "more basemap issues.. might need to roll version back"
See https://github.com/matplotlib/basemap/issues/435
 In the CI I am getting:
[code]

@zssherman can you please investigate..

[2018-11-07 16:15] zssherman commented on #782
@scollis Yeah I was looking into it, and it seems the new matplotlib is incompatible with basemap. So with the unit tests, we might have to just accept and until the new release, and the python 3.6 unit tests will work. I don't know if that's a good approach, but we can also in the environment yml file, point to an earlier matplotlib version in the mean time.

[2018-11-07 16:22] scollis commented on #782
Hang on for a while while I get an answer from matplotlib on time line

[2018-11-07 19:32] scollis commented on #782
New version being released tomorrow.. Chill

[2018-11-07 19:32] #782 closed

[2018-11-07 19:46] rrniii commented on #713
Hey all,
Thanks for sorting this and @scollis for pushing the issue in a recent paper. We have just implemented it in our operational products for a new year-long project.

https://sci.ncas.ac.uk/raine/resources/view/9036

[2018-11-13 01:03] #780 closed

[2018-11-21 20:49] jimgeorge commented on #738
The test that's performed (look for sys.version_info) is brittle - for example it does not give the expected behavior on python 2.7. A more robust method might be to use a try block around 'import cftime', catch any potential ImportErrors and import from netcdf4 or netcdftime instead. This works for me on the stock python 2.7 that comes with Centos 7.

[2018-11-21 21:16] scollis commented on #738
Thanks Jim! We will look into it

-sent from a mobile device-

[2018-11-22 04:53] jamessong commented on #708
it doesn't work with 3.7!!

[2018-11-23 21:38] scollis commented on #708
Well aware @jamessong We will be extracting basemap soon
@zssherman is compiling a to-do list and we will be sprinting this shortly

[2018-11-25 15:53] jamessong commented on #708
Can anyone provide a workable solution? Do I need to downgrade to python 2.7 again?

[2018-11-25 16:07] scollis commented on #708
Use 3.6

-sent from a mobile device-

[2018-11-25 16:53] scollis commented on #708
Take a look here.. https://github.com/openradar/aus-open-radar-science-school/blob/master/install.rst
uses this YML:
https://github.com/openradar/aus-open-radar-science-school/blob/master/pyart-2018.yml

That will get you up with no worries.

[2018-11-25 16:54] scollis commented on #708
Otherwise if you want latest use this:
https://github.com/EVS-ATMOS/phase-testbed/blob/master/pyart_full.yml

This will attempt to compile Py-ART from source

[2018-11-26 00:06] jamessong commented on #708
right now I am getting KeyError: 'PROJ_LIB'   -  this is wasting our time and I have found multiple places people complaining about this for years ... can this be fixed forever?

[2018-11-26 00:15] scollis commented on #708
Fell free to fix it in basemap. This is not a pyart issue. It’s a conda-forge issue

 Im so sorry our free and open software is wasting your time

-sent from a mobile device-

[2018-11-26 02:01] jamessong commented on #708
... # Draw barbs
... m.barbs(x,y,u,v, length=7, color='red')
Traceback (most recent call last):
  File "<stdin>", line 3, in <module>
  File "C:\ProgramData\Anaconda3\lib\site-packages\mpl_toolkits\basemap\__init__.py", line 576, in with_transform
    return plotfunc(self,x,y,u,v,*args,**kwargs)
  File "C:\ProgramData\Anaconda3\lib\site-packages\mpl_toolkits\basemap\__init__.py", line 3786, in bar

[2018-11-26 02:04] jamessong commented on #708
I am new to the installation of basemap, can anyone point me to the right way of using either basemap or pyart?  Is pyart going to replace or already replacing basemap?

[2018-11-26 02:13] scollis commented on #708
James please use the email list pyart-users@googlegroups.com

-sent from a mobile device-

[2018-11-26 17:16] nguy opened #785 "nexrad_level2 bug when reading incomplete files"
I stumbled across this the other day.
When accessing this file `2018/11/20/KVWX/KVWX20181120_174530_V06` pulled from the AWS NOAA bucket, I receive the following error output.

It is a partial scan that bombs out and I was able to trace this back through PyART workflow. When [getting the scan info](https://github.com/ARM-DOE/pyart/blob/master/pyart/io/nexrad_archive.py#L113), this line fails with

[2018-11-26 17:22] zssherman commented on #785
Thanks @nguy for catching this! I'll try to figure out where a best check and catch can be implemented.

[2018-11-26 17:57] nguy commented on #785
No problem, let me know if you need more info or chat.

[2018-11-27 21:52] scollis opened #788 "GeoTiff broken under python 2.7"
See https://github.com/OSGeo/gdal/issues/1120

[2018-11-28 16:53] scollis commented on #788
fixed via #790

[2018-11-28 16:54] #788 closed

[2018-11-28 16:55] scollis commented on #766
@zssherman can we close this via #786 ?

[2018-11-29 14:45] zssherman commented on #766
@scollis Not yet. @jhemedin can you do a pull request to put the plot_ppi_cartopy_with_rings.py example you created into the examples folder under plotting. And for the top add:
# Author <your name>
# License: BSD 3 clause

[2018-11-29 14:47] zssherman commented on #766
@scollis And the graph pull request needs to be accepted before his code would work.

[2018-11-29 18:07] scollis opened #797 "Set up CI for Python 3.7"
Set up CI for Python 3.7
When making conda .yml file **exclude** basemap

[2018-11-30 15:04] zssherman commented on #738
@jimgeorge Thanks for the suggestion, I'll submit a pull request shortly with the change.

[2018-12-07 22:00] deeplycloudy commented on #718
I finally had time to write up a draft of this. I [put it in a gist](https://gist.github.com/deeplycloudy/d5d4f137dd7496434e09f1fbc2122b0f) for now.

[2018-12-07 22:02] scollis commented on #718
Fantastic.. I’m at AGU this week and Zach is busy with his AMS talk, but we will get to this soon. Looks fairly straightforward.. we will want to design some tests

Thanks Eric!

-sent from a mobile device-

[2019-01-02 04:19] henhen724 opened #805 "sudo -H pip install pyart fails on Ubuntu 16.04.5 LTS"
When I run sudo -H pip install pyart I get the following error:
'''
Collecting pyart                                                                                                                                                                                                                       Using cached https://files.pythonhosted.org/packages/bd/88/813ba6b870578e337b33b8954a4ec2ed8790093400

[2019-01-02 04:53] henhen724 commented on #805
that fixed the problem.
import pyart will still work in python itself though correct?

[2019-01-02 05:07] henhen724 commented on #805
Thank you for your help

[2019-01-02 14:49] zssherman commented on #805
Yeah in Python you still will use `import pyart`. And no problem!

[2019-01-06 16:01] ron819 commented on #129
Any chance this will be implemented soon?

[2019-01-25 03:34] aschueth opened #808 "Adding radar.get_gate_longitude() instead of using attributes radar.gate_longitude"
I am trying to map out the lat and lons for a single sweep. With radar.get_gate_x_y_z() I can specify the sweep and it will return the x,y, and z arrays for each bin in the sweep, however there is not a function like that for lat or lon. I have been trying to use the attributes, but it includes all the sweeps and is challenging to slice the data I want. Is there any way to add this?

[2019-01-28 22:34] nguy commented on #772
Anything new on this issue?

[2019-01-28 22:38] scollis commented on #772
Sorry! Life has been complex. Hey @jhemedin This is yours now! That's what you are doing to start the week First thing: Grab the KAMX file for 20181002173057 and take a look

[2019-01-28 23:03] nguy commented on #772
What, it's not like you've been to Alaska or something...oh wait!

FYI, KMUX has quite a few of these as well in case you need more test cases.

[2019-01-31 17:56] scollis commented on #808
Yep. This is a good idea. At the moment the team is flat out so I will come back to this later

[2019-01-31 17:58] scollis commented on #772
I am encouraging @jhemedin to ask questions here. Please help him out as needed as he is new to the team

[2019-01-31 19:58] dara74k commented on #808
Hi,
Is it possible to be able to save the (lon, lat, radarvariable) as csv also?
Thanks

On Thu, Jan 31, 2019, 12:56 PM Scott <notifications@github.com wrote:

[2019-02-01 18:53] nguy commented on #772
@jhemedin if you want to send email, I'm happy to correspond that way as well and we can bring anything relevant back into this stream.

[2019-02-01 19:09] jhemedin commented on #772
@nguy I just have a question as to why the fixed angles repeat/2 of each one. I see the issue is that the negative tilts are being subtracted from 360 which is just a sorting issue with the fixed_angles. But then why does it goes "359.7803, 359.7803, 0.4834, 0.4834, 0.8789, 0.8789, 1.3184,  1.3184, 359.7803, 359.7803, 1.8018, 2.4170, 3.1201, 3.9990,5.0977, 6.4160, 7.9980, 10.0195, 11.9971, 14.0186

[2019-02-01 19:31] striges commented on #772
CS and CD scans, one is surveillance scan, one is for doppler velocity

-Jingyin

Sent from my iPhone

[2019-02-01 23:40] nguy commented on #772
@jhemedin per @striges , the basis for this is to use dual PRFs to help eliminate "folding" in the observation. So each pair you note above is using a distinct PRF. These are often used in widespread or long (think squall line) events that have a higher probability of aliased returns.

The above is known as the SZ-2 - you can find quite a bit online about this technique.

I _think_ [but have not c

[2019-02-02 01:07] striges commented on #772
Actually in msg31 the angle was encoded from 0-360, mathematically it is same, but it simply causes an issue if we sort sweeps by angle. I handled this case outside pyart so that’s the reason I opened this issue but never get a patch here.

-Jingyin

Sent from my iPhone

[2019-02-04 20:44] jhemedin commented on #772
@nguy Do you know of any days where KMUX has a negative tilt? Any of the dates/times I've looked at don't have one.

[2019-02-06 19:56] rcjackson opened #810 "Very outdated gcc in conda-forge causing CyLP to fail building."
When I try and build @jjhelmus's branch I get the following error:

 gcc -pthread -B /home/rjackson/anaconda3/envs/adi_env3/compiler_compat -Wl,--sysroot=/ -Wsign-compare -DNDEBUG -g -fwrapv -O3 -Wall -Wstrict-prototypes -fPIC -I./cylp/cpp -I./cylp/cy -I/home/rjackson/anaconda3/envs/adi_env3/include/coin -I/home/rjackson/anaconda3/envs/adi_env3/lib/python3.6/site-packages/numpy/core/include -I. -I

[2019-02-06 20:09] kmuehlbauer commented on #810
@rcjackson conda-forge recently upgraded to new compilers. Good chance that updating/new creatin the env might help.

[2019-02-08 20:45] rcjackson commented on #810
I did all of that and it still tries to use gcc 4.8.5. I wound up having it redirect to 6.3.0 which was installed on the system. I just figured I'd post here in case anyone runs into this issue and wants help.

[2019-02-13 02:29] nguy commented on #772
Sorry, just remembered to look at this. According to [this site](https://www.roc.noaa.gov/WSR88D/SafetyandEnv/EAReports.aspx) KMAX, KMUX, KRGX, and KMSX have been approved to operate at negative tilt angles.

I can't find my KMUX notes when it happened, but the following file has an example from today if that is helpful
KMAX20190211_114803_V06

[2019-02-18 19:52] atmosmattbrewer opened #813 "Adding additional colorbar functionality"
Hello,
So I have never made edits to any package before but I was frustrated by the lack of changes to colorbar parameters that were in the original code, or at least from what I could figure out. Thus I decided to add a couple extra line to the radardisplay.py script under the plot_colorbar:

def plot_colorbar(self, **label_size =22,ticklabel_size = 22,fraction=0.046,** mappable=None, 		field=Non

[2019-02-18 19:54] scollis commented on #813
Thanks! We will take a look over this

[2019-02-21 19:11] scollis opened #814 "Backwards compatibility issue with radarmapdisplay"
We need to add a duplication of the function  RadarMapDisplay as RadarMapDisplayCartopy with a warning so code does not break. I hope to get to this in the coming weeks

[2019-02-28 02:38] kenpryor67 opened #815 "Plotting/displaying legacy NEXRAD level II data"
Good evening-

I am attempting to plot a map of NEXRAD reflectivity data from Sterling, VA (KLWX) for September 24, 2001, using the following code:
import matplotlib.pyplot as plt
import pyart
import numpy as np

# open the file, create the displays and figure
filename = 'KLWX20010924_210141_file'
radar = pyart.io.read_nexrad_archive(filename)
display = pyart.graph.RadarDisplay(radar)
fig = plt.fi

[2019-02-28 02:43] scollis commented on #815
What happens when you set the tilt to 0 in the map display?

Also what happens when you do not specify any lat/lons to plot_ppi_map? Ie make the call as simple as possible?
-sent from a mobile device-

[2019-02-28 06:23] cycle13 opened #816 "read cinrad error"
I have install the pyart module on my window and run the examples code well. There have some errors when I read cinrad data using 'plot_ppi_map' function. Is there anybody could help me out of these? Thank you so much.

...
display.plot_ppi_map

in scans [0, 2, 4, 5, 6, 7, 8, 9, 10] for moment REF.
  UserWarning)
altitude: <ndarray of type: float64 and shape: (1,)>
altitude_agl: None
antenna_trans

[2019-02-28 14:56] kenpryor67 commented on #815
Scott,
Thanks for the quick response!
I applied your suggestions, and used the following code to display the radar map. The data is now plotted, but no map boundaries appear. I'm now using a stereographic projection. What other projection would you recommend?

display = pyart.graph.RadarMapDisplay(radar)
fig = plt.figure(figsize = [10,8])
display.plot_ppi_map('reflectivity', sweep=0, resolution =

[2019-02-28 16:01] kenpryor67 commented on #815
Also- if I use a Lambert Conformal projection ('lcc'), a run time error appears:
RuntimeError: conic lat_1 = -lat_2

[2019-03-27 18:37] njmessina commented on #367
Hi there...
so I'm having this same problem with pyart... my velocities from an IRIS file vary from -1 to 1.  I'm sorry I'm new at this, but does anyone have any advice as to how I should handle this?
thank you!!
Joe

[2019-04-02 21:19] swnesbitt opened #819 "Possible bug plotting CSAPR-2 HSRHIs"
In plotting CSAPR-2 HSRHIs from CACTI, I am having issues with plotting RHIs at 90° azimuth with `display.plot_rhi()`.  This behavior is repeatable amongst many files, but only at this azimuth angle.  Seems like a geometry issue.
Example is here:
![junk](https://user-images.githubusercontent.com/3288592/55437035-c1e1f100-5552-11e9-9ccb-9287bac036d7.png)
Interestingly, `radar.get_gate_x_y_z(sweep=3

[2019-04-02 21:25] scollis commented on #819
Thanks Steve. Well look into it

-sent from a mobile device-

[2019-04-02 21:40] swnesbitt commented on #819
Yeah, the calculation for the x-axis value in the function `plot_rhi()` has a bug:

<img width="430" alt="Screen Shot 2019-04-02 at 2 39 14 PM" src="https://user-images.githubusercontent.com/3288592/55438003-49306400-5555-11e9-9001-05e68109e99a.png">

[2019-04-02 21:51] scollis commented on #819
What's strange is that it is working for some elevations past 90 degrees where sign(y) = -1.0

Can you plot the elevations for that azimuth?

[2019-04-02 21:56] swnesbitt commented on #819
Ask and you shall receive
<img width="389" alt="Screen Shot 2019-04-02 at 2 53 05 PM" src="https://user-images.githubusercontent.com/3288592/55438758-636b4180-5557-11e9-8bba-dbfb7634d1ef.png">

[2019-04-02 22:03] scollis commented on #819
grabbing data

[2019-04-02 22:18] scollis commented on #819
ok @swnesbitt I have the dodge to end all dodges why we patch this:
[code]

[2019-04-02 22:21] scollis commented on #819
@zssherman please add a line that, when abs(radar.fixed_angle['data'][sweep] == 90) (or y.all == 0) use sign(x)

[2019-04-02 22:21] scollis commented on #819
Thank you @swnesbitt This was a nice find. Old code is, old code..

[2019-04-02 22:25] scollis commented on #816
Can you make the file available?

[2019-04-02 23:08] swnesbitt commented on #819
Thanks!

[2019-04-03 09:30] cycle13 commented on #816
still in puzzle

At 2019-04-03 06:25:50, "Scott" <notifications@github.com> wrote:

Can you make the file available?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-04-03 19:45] scollis commented on #819
Closing via #820
@swnesbitt if you install from source this should fix things

[2019-04-03 19:45] #819 closed

[2019-04-05 21:30] scollis commented on #753
Hey @robwarrenwx ! I think we have now addressed this through #806
The weighting function is BARNES2... but when you use BARNES it will warn you that you should be using BARNES2.. we are keeping it like this for a small amount of time for backwards compatibility

[2019-04-05 21:30] #753 closed

[2019-04-08 21:01] zssherman opened #823 "ENH: Switch from disutils to setuptools"
We planned on switching from disutils to setuptools for some time, but this is just to keep track and reiterate some of the possible benefits:

Can have it compile c and not have to include pyx files as mentioned in #759
Can have install_requires set, which will probably fix the current issue with appveyor.
From what I'm seeing, we can remove the setup.py files in the sub directories.

[2019-04-15 00:18] CAM-Gerlach opened #825 "Add PyART to Python 3 Statement or otherwise clarify support timeline"
Three of the project's four core dependencies, Numpy, SciPy, and Matplotlib, have all [committed ](https://python3statement.org/)to drop Python 2 support completely on or before January 1, 2020, and Unidata, the parent org of the the fourth (NetCDF4) has [stated](https://www.unidata.ucar.edu/blogs/developer/entry/timeline-for-dropping-support-for) the same. Furthermore, Pytest, the project's testi

[2019-04-15 14:23] zssherman commented on #825
Hi @CAM-Gerlach , we do plan on removing python 2 support soon. Definitely before 2020. I will talk to @scollis about signing the statement, I don't see it being in issue in anyway, but dependency wise, basemap really is the only package we are removing which support its geared towards cartopy anyways. We will probably being adding xarray as a dependency in the near feature as well.

[2019-04-15 14:39] zssherman commented on #816
@cycle13 Can you try Cartopy instead of basemap? Not sure which pyart version you have but if it is older then the current source code (we will have a release very soon to have cartopy as default), can you try:
display = pyart.graph.RadarMapDisplayCartopy(radar)
and then:
display.plot_ppi_map
If you have the most recent code, avoid RadarMapDisplayBasemap for now.

[2019-04-16 12:45] scollis commented on #825
Excellent point. We have been a bit swamped lately just bug squashing.. We will do so

[2019-04-18 22:48] louiswicker opened #826 "Failure to read nexrad file getting "unpack requires a string argument of length 46""
All,

I have several examples of the py-art nexrad reader failing with level-2 files - these are delivered real time via LDM.

For an example, data from MS/AL, at 2155 today, I cannot read this without throwing an error.  I am using python2.7 from Anaconda (I know I need to switch!), PyART 1.9.2 (but 1.8 yields the same result).  This looks like the MSG5 error that was reported last Aug, but seems

[2019-04-18 22:54] scollis commented on #826
Thanks @louiswicker
Is your install from source (GitHub) or conda install... what does pyart.__version__ yeild?

@rcjackson can you try this out please.

[2019-04-18 23:10] louiswicker commented on #826
Scott,

its from conda on a linux64 box.

1.9.2

I have also tried it in metPy, and it complains, but I can see some data.  Also converting it using RadxConvert does not yield a cfradial-1 or UF file that pyart can read (long shot here..)

Lou

----------------------------------------------------------------------------
| Dr. Louis J. Wicker
| NSSL/FRDD  Rm 3336
| National Weather Center
| 120 Dav

[2019-04-18 23:12] scollis commented on #826
Cool. Bobby will check the latest source code to see if we get a failure.. We have a new release coming any day now and that might just fix this out of the box.

From: louiswicker <notifications@github.com>
Reply-To: ARM-DOE/pyart <reply@reply.github.com>
Date: Thursday, April 18, 2019 at 6:10 PM
To: ARM-DOE/pyart <pyart@noreply.github.com>
Cc: Scott <scollis.acrf@gmail.com>, Comment <comment@nore

[2019-04-18 23:37] louiswicker commented on #826
That would be great. We are operating for real starting April 29, so if I
need to pull source to fix this and test next week let me know

Thanks for the fast responses

Lou

On Thu, Apr 18, 2019 at 6:12 PM Scott <notifications@github.com> wrote:

--
----------------------------------------------------------------------------
| Dr. Louis J. Wicker
| NSSL/FRDD  Rm 4368
| National Weather Center
| 12

[2019-04-18 23:43] scollis commented on #826
@zssherman ping..

Even a micro release may help @louiswicker

[2019-04-19 13:03] rcjackson commented on #826
When reading that time from the data on the NEXRAD Level 2 Archive, I cannot reproduce the error. This is with a python 3.7 environment and the latest conda release of Py-ART.

[2019-04-19 13:04] scollis commented on #826
@rcjackson could you please make an env that installs Py-ART from the Conda Package?

[2019-04-19 13:05] scollis commented on #826
Then we can see if the issue is either the data on S3 is different (ie an LDM issue) or if it is, indeed, that a release will fix things

[2019-04-19 13:20] rcjackson commented on #826
It works in this environment with the latest conda release. It could be an LDM issue.

name: pyart_env
channels:
  - default
  - conda-forge
dependencies:
  - arm_pyart
  - python=3.7
  - boto3

[2019-04-19 13:24] scollis commented on #826
@louiswicker is there a way to save out files that cause this error? We are going to need to look at if they are different to what ends up going to Amazon which is what we are using to try to replicate this issues.. Ping @dopplershift .. Any reason why a file collected off LDM would be different to what went to S3?

[2019-04-19 14:12] louiswicker commented on #826
I have the file, and have put it on:

https://www.dropbox.com/s/szlnioisy5zv4sp/KGWX_20190418_2155?dl=0 <https://www.dropbox.com/s/szlnioisy5zv4sp/KGWX_20190418_2155?dl=0>

Let me know.

I can build a 3.7 env this morning.

Lou

------------------------------------------------------------------------------
| Dr. Louis J. Wicker
| NSSL/FRDD  Rm 3336
| National Weather Center
| 120 David L. Boren Bo

[2019-04-19 14:13] louiswicker commented on #826
my install is from conda

------------------------------------------------------------------------------
| Dr. Louis J. Wicker
| NSSL/FRDD  Rm 3336
| National Weather Center
| 120 David L. Boren Boulevard, Norman, OK 73072
|
| E-mail:   Louis.Wicker@noaa.gov
| HTTP:    www.nssl.noaa.gov/~lwicker
| Phone:    (405) 325-6340
| Fax:        (405) 325-2316
|
|
| Tell me and I forget. Teach me and I reme

[2019-04-19 14:16] scollis commented on #826
Great.. @rcjackson can you test with that file.. much appreciated all

[2019-04-19 14:48] louiswicker commented on #826
All,

I pulled down the KGWX20190418_215557_V06 file from Amazon, and it does appear that PyART reads the file…so this may be an LDM issue on our end.

I would appreciate if someone could simply try to read that file I put on Dropbox, and if that fails, if you can let me know then I know its the LDM server.

Thanks for being so helpful - beers are owed!

Lou

--------------------------------------

[2019-04-19 14:50] rcjackson commented on #826
I got the error when using it on that file, so there is a difference between the files downloaded via LDM and those on S3 that is causing the error.

Bobby

________________________________
From: Scott <notifications@github.com>
Sent: Friday, April 19, 2019 9:16:48 AM
To: ARM-DOE/pyart
Cc: Jackson, Robert; Mention
Subject: Re: [ARM-DOE/pyart] Failure to read nexrad file getting "unpack requires a

[2019-04-19 15:26] louiswicker commented on #826
Bobby,

thanks for the checking this out!

Lou

------------------------------------------------------------------------------
| Dr. Louis J. Wicker
| NSSL/FRDD  Rm 3336
| National Weather Center
| 120 David L. Boren Boulevard, Norman, OK 73072
|
| E-mail:   Louis.Wicker@noaa.gov
| HTTP:    www.nssl.noaa.gov/~lwicker
| Phone:    (405) 325-6340
| Fax:        (405) 325-2316
|
|
| Tell me and I forge

[2019-04-19 16:02] zssherman commented on #810
Just as a note, CyLP to be used in python 3.7 needed to be updated with cython. Using a pip install git+https://github.com/zssherman/CyLP.git@py37 fixes the issue.

[2019-04-19 18:33] dstex opened #829 "Airborne Plotting Issue"
There seems to be something off with how airborne (specifically NOAA TDR) data are plotted. I saw @nguy opened an issue a few years back which may be related ( #564 ), though too few details were provided to know for sure.

In the Solo display, I see the precipitation echo extends all the way out to 45 km on the right, with surface returns similarly terminating at 45 km on the left. Further, the S

[2019-04-19 19:11] dopplershift commented on #826
@scollis I can open the file without error with MetPy's `Level2File`, but I do get a warning about `Unknown message: 29`. This is the message type that corresponds to the model data (type M) messages. I'm not currently saving those messages to the S3 archive, so that's why the S3 data work fine.

My advice would be to update your parser to at least skip past the unknown message types--the header i

[2019-04-19 19:12] louiswicker commented on #826
Thanks Ryan!

Lou

------------------------------------------------------------------------------
| Dr. Louis J. Wicker
| NSSL/FRDD  Rm 3336
| National Weather Center
| 120 David L. Boren Boulevard, Norman, OK 73072
|
| E-mail:   Louis.Wicker@noaa.gov
| HTTP:    www.nssl.noaa.gov/~lwicker
| Phone:    (405) 325-6340
| Fax:        (405) 325-2316
|
|
| Tell me and I forget. Teach me and I remember.
|

[2019-04-19 19:15] scollis commented on #826
Perfect. I am heading to China on Monday, I am concerned I will not get to this. @rcjackson can you put together a PR  that ignores unknown messages? It would be great if they throw a warning like MetPy does

[2019-04-21 13:09] cycle13 commented on #816
Ok, let me try.
Thank you so much for your kindness help.

At 2019-04-15 22:39:43, "Zach Sherman" <notifications@github.com> wrote:

@cycle13 Can you try Cartopy instead of basemap? Not sure which pyart version you have but if it is older then the current source code (we will have a release very soon to have cartopy as default), can you try:
display = pyart.graph.RadarMapDisplayCartopy(radar)
and

[2019-04-21 16:39] miaoneng opened #830 "NEXRAD_DICTIONARY dictionary unit in altitude."
It is a really old topic but I recently noticed this issue when doing turburlance computation. The altitude field provided in NEXRAD_LOCATION is in feet, not in meters, but looks like being assumed as meters.
I need double-check in raw msg31 when altitude is encoded, it is in feet or in meters, but I am betting it is in feet because RPG uses feet as its standard unit. But at least for this issue,

[2019-04-22 15:40] rcjackson commented on #826
I've narrowed it down to an incomplete message 5. While Py-ART is expecting 48 bytes for the buffer, there are only 10 bytes available in the file. The message is at the very end of the file, so there are no more bytes to read.

[2019-04-22 15:40] rcjackson commented on #826
So, perhaps I can throw a warning if we encounter an incomplete message 5?

[2019-04-22 21:45] dopplershift commented on #826
@rcjackson Are you sure about that message type 5 at the end of the file? I don't show that in the file @louiswicker provided.

This is what I show with debugging output at the end of reading:

Total message size: 2028
Got message: MsgHdr(size_hw=1008, rda_channel='ORDA', msg_type=31, seq_num=56214, date=18005, time_ms=79369665, num_segments=1, segment_num=1)
Total message size: 2028
Got message:

[2019-04-22 21:56] dopplershift commented on #826
Are you all aware that with the message 29 changes, they added special behavior for when the message header size (in half-words) has a value of 65535? In that case you're supposed to take the number of segments together with the segment number and treat them as a 32-bit int. In metpy we do:
[code]

See the [2620002R](https://www.roc.noaa.gov/wsr88d/PublicDocs/ICDs/2620002R.pdf) ICD for more inform

[2019-04-22 22:08] rcjackson commented on #826
We were not aware of that. I just put a check for that into nexrad_level2.py and it seems to fix the problem.

[2019-04-25 01:53] scollis commented on #826
Greetings from Nanjing all!

@rcjackson I assume this made it into Impressionism? If so, @louiswicker can you update Py-ART and let us know if this helps.

[2019-04-25 17:48] zssherman commented on #797
CI for python 3.7 is complete. Closing.

[2019-04-25 17:48] #797 closed

[2019-04-25 17:49] zssherman commented on #805
Added info in INSTALL.rst on pip install arm_pyart. Closing.

[2019-04-25 17:49] #805 closed

[2019-04-25 17:59] zssherman commented on #766
Basemap is now optional with cartopy being favored. Closing.

[2019-04-25 17:59] #766 closed

[2019-04-25 18:09] zssherman commented on #762
The wradlib update fixed this. Closing

[2019-04-25 18:09] #762 closed

[2019-04-25 18:10] zssherman commented on #712
Cheatsheet is done and can be found here:
https://github.com/ARM-DOE/pyart/blob/master/guides/pyart_cheatsheet.pdf
Closing

[2019-04-25 18:10] #712 closed

[2019-04-25 18:10] zssherman commented on #743
@jhemedin Is the issue fixed?

[2019-04-25 18:14] jhemedin commented on #743
@zssherman yes, PR #761 addressed this issue

[2019-04-25 18:15] zssherman commented on #743
Cool beans, closing.

[2019-04-25 18:15] #743 closed

[2019-04-25 18:17] zssherman commented on #677
Fixed, closing.

[2019-04-25 18:17] #677 closed

[2019-04-25 18:19] zssherman commented on #642
Occurs when an example is not created from an error. Closing.

[2019-04-25 18:19] #642 closed

[2019-04-25 18:20] zssherman commented on #520
@scollis This is completed correct with pull request #764 ?

[2019-04-25 18:32] zssherman commented on #772
Fixed in #809 closing.

[2019-04-25 18:32] #772 closed

[2019-04-26 14:40] rcjackson commented on #826
I think so, since it was merged before @zssherman did his release.

[2019-05-03 01:34] nguy commented on #829
@dstex It's been a while since I worked with this data.
Could you post a snippet of the code calls you are making?
And if possible share this file with me to test? You've used this before, correct? Do you know if this is a new behavior or you've seen it previously?

[2019-05-06 15:00] zssherman opened #839 "Netcdf update cfradial module failing."
Netcdf4 recently did an update and the unit tests are now failing due to a shape mismatch. If users run into this errors, downgrade nctcdf to version 1.5.0 for now. Error occurs with netCDF4 version 1.5.1.1, looking into a solution now.

[code]

[2019-05-06 15:02] scollis commented on #839
Massive win for the CI here.. This is why we test.

[2019-05-06 15:25] zssherman commented on #839
Might be actually a bug in the grid io code:
if write_point_x_y_z:
304         _create_ncvar(grid.point_x, dset, 'point_x', ('z', 'x', 'y'))
305         _create_ncvar(grid.point_y, dset, 'point_y', ('z', 'x', 'y'))
306         _create_ncvar(grid.point_z, dset, 'point_z', ('z', 'x', 'y'))

I believe x and y should be flipped.

[2019-05-06 15:41] zssherman commented on #839
Also the second error looks like a bug in netCDF4 and will be fixed in [#925 netCDF4](https://github.com/Unidata/netcdf4-python/pull/925) looks like they will have the release sometime today.

[2019-05-07 02:52] CAM-Gerlach commented on #825
@scollis @zssherman I opened a PR, python3statement/python3statement.github.io#214 which will add this to the list if you approve it, so you don't need to do any more work to add it. Let us know over there, thanks!

[2019-05-07 15:59] zssherman commented on #839
Fixed with #840 closing.

[2019-05-07 15:59] #839 closed

[2019-05-07 18:58] zssherman commented on #763
Self assigned, will look into this.

[2019-05-09 18:26] scollis opened #844 "ENH: Move xarray converter from plotting to grid object"
Create a grid.to_xarray() method from code
https://github.com/ARM-DOE/pyart/blob/master/pyart/graph/gridmapdisplay.py#L94

Add docstring

[2019-05-15 16:28] zssherman commented on #808
Has been addressed in #841 closing, and at @dara74k I know this is a late response, but I recommended looking into pandas. You can create and dataframe and add radar['latitude']['data'] the longitude and variable to a dataframe and then out the dataframe with dataframe.to_csv. There is more in the pandas documentation.

[2019-05-15 16:28] #808 closed

[2019-06-12 20:41] bdolan44 opened #850 "Writing specific fields"
I think it would be very useful to be able to specify the fields to write out. Something along the lines of

pyart.io.write(radar,fields = ['reflectivity','differential_reflectivity','velocity']")

[2019-06-12 20:43] scollis commented on #850
Great idea! Assigning @zssherman

[2019-06-12 21:12] zssherman commented on #850
Sounds good to me, I don't think it will be difficult to implement at all. I will take a look.

[2019-06-12 21:40] swnesbitt commented on #850
Chiming in here – would it be more useful to write a function that selected fields from a radar object.  This could make it easier to also do memory management, etc.

This could follow the xarray syntax, for example

radar1.sel(field=[‘reflectivity’,’velocity’])
and maybe in the future
radar1.sel(azimuth=slice([90,150]))
radar1.sel(sweep=slice(1,3))

This could easily be put into a one-liner
pyart

[2019-06-12 23:32] zssherman commented on #850
@swnesbitt I do like that idea, and now with xarray being used for the grids, its already a dependency. I'll see what I can code up.

[2019-06-13 02:05] bdolan44 commented on #850
Yes, 1-up on @swnesbitt's comment. That would be fantastic.

[2019-07-05 09:46] meteoswiss-mdr opened #851 "Function det_process_range in phase_proc.py assumes PPI scan"
The function provides a single gate_end per sweep. This is not how it is supposed to be for RHIs. Consequently, any function depending on it will fail for RHIs.

[2019-07-19 07:34] zzwei1 opened #853 "Plotting Issues"
I used the following Python2.7 script to plot data from NEXRAD.

import matplotlib.pyplot as plt
import pyart
import numpy as np
filename = 'KTLX20160914_111932_V06'
radar = pyart.io.read_nexrad_archive(filename)
display = pyart.graph.RadarDisplay(radar)
fig = plt.figure(figsize=(6, 5))
ax = fig.add_subplot(111)
#radar = scan.open_pyart()
display = pyart.graph.RadarDisplay(radar)
display.plot('ref

[2019-07-19 14:11] zssherman commented on #853
@zzwei1 Hmm that is interesting. I don't see anything wrong with your plotting code, can you try a plot but set cmap='pyart_NWSRef' in the plot code? I want to see if maybe something is wrong with the colormap.

[2019-07-19 22:25] huihuojia opened #854 "about velocity dealiasing"
When I use "pyart.correct.dealias_region_based" to do the velocity dealiasing of NEXRAD data, I got this warning message, what does it mean?

/Applications/anaconda3/lib/python3.7/site-packages/pyart/correct/region_dealias.py:302: UserWarning: Velocities outside of the Nyquist interval found in sweep 7.

I thought there're always velocities beyond the Nyquist velocity after unfolding.

Jia

[2019-07-20 01:42] zzwei1 commented on #853
That's awesome!
I have set cmap='pyart_NWSRef',and the figure seems like right.
![1](https://user-images.githubusercontent.com/49705380/61572571-5f493c80-aad2-11e9-9cd8-2b88b3f1d103.png)
Does it mean that there's something wrong with the default colormap?

[2019-07-20 03:11] zssherman commented on #853
@zzwei1 Sweet, yeah that helps narrow it down. I think something is wrong with the code for the default homeyer rainbow color map in pyart. I'll look into what could be causing this.

[2019-07-20 03:47] zzwei1 commented on #853
Thank you very much!

[2019-07-22 06:27] zzwei1 opened #855 "Issues about creating a PPI plot of a file with a cartopy background and range rings"
There're 2 questions I wanna figure out.
**###  Question 1.**
I have used the following script to create a plot with a cartopy background,while after the script finishes running, the figure flashes past and I can't see the figure.

import numpy as np
import matplotlib.pyplot as plt
import cartopy.crs as ccrs
import pyart
`filename='KTLX20160914_111404_V06'
radar = pyart.io.read(filename)
display =

[2019-07-22 15:35] zssherman commented on #855
@zzwei1 For the cartopy plotting code, are you using jupyter notebook? If so, move your imports to a separate cell, or add:
%matplotlib inline
And it should work fine.

[2019-07-23 17:43] zssherman commented on #853
@rcjackson Do you possibly have an idea of what could be causing this in the colorblind code? I looked through the cm_colorblind code and didn't really see anything. But this issue and #747 seem to have similar issues with the colormap.

[2019-07-23 20:41] rcjackson commented on #853
Is there an issue with float to integer conversion of the colormap? Maybe some versions of python the integer division in the loop is not functioning correctly.

[2019-07-24 15:11] zssherman commented on #853
@rcjackson I think you might be right, I'm still trying to pinpoint the issue, but with python 3.6 instead of python 2.7, I plotted the same data but the colormap worked.
![test](https://user-images.githubusercontent.com/19153455/61805436-65edf180-adfb-11e9-8c02-eb2710b68c45.png)

[2019-07-24 16:19] zssherman commented on #853
#856 Fixes this issue for python 2.7 users.

[2019-07-24 16:19] zssherman commented on #747
#856 fixes this issue.

[2019-07-24 17:09] zssherman commented on #853
Fixed, closing.

[2019-07-24 17:09] #853 closed

[2019-07-24 17:10] zssherman commented on #747
Fixed, closing.

[2019-07-24 17:10] #747 closed

[2019-07-28 11:27] meteoDaniel opened #857 "strange behaviour of grid_from_radars"
I want to create a composite of different radar's from germany.
[test_data_odim_h5.zip](https://github.com/ARM-DOE/pyart/files/3439100/test_data_odim_h5.zip)

[code]
My expectation was to get gridded data of all heights by using (0, 15000) as z limit. But the gridded data is near to zero. If i change zlim to ``(3000, 3000)``` a slice around the radar is on the map.
![Figure_1-9](https://user-image

[2019-07-28 11:33] swnesbitt commented on #857
Hi meteoDaniel,

The tuple given to the keyword argument grid_shape

grid_shape=(1, 800, 800),

Controls the number of points in the z, x, and y directions,. respectively. If you increase 1 to n, you will get n levels equally spaced between the first tuple given in the keyword argument grid_limits (1, 150000). A spacing of 1 km would mean 16 levels.

Cheers,
-Steve

Get Outlook for Android<https:/

[2019-07-28 11:37] #857 closed

[2019-07-29 05:40] mpichault opened #858 "Issue Reading CF/Radial 2.0 Files"
Hi,

I am experiencing issues trying to read LiDAR data through Py-Art. I am processing data from a Leosphere WindCube 400S and the output format is NETCDF4, based on the CF/Radial 2.0 (CF-1.7) conventions. Below is an example of the error message I am getting when trying to read the netcdf4 files.

I am wondering whether PyArt is designed to read the Leosphere CFRadial 2 format files or if I need

[2019-07-29 06:16] kmuehlbauer commented on #858
@mpichault First a disclaimer: I'm not a pyart-maintainer but part-time dev/user for several years now.

Up to now, pyart can work with CfRadial1 up to CF-1.6 I think. For debugging the current error one source file would be necessary. Then it could be checked, if there can be worked around somehow or if you would need to convert to another format.

[2019-07-29 06:32] mpichault commented on #858
Hi @kmuehlbauer.  Thank you for your response.
I have attached below an example of a source I have tried to process in vain.
Kind regards,
M
[WLS400s-158_2019-07-26_02-14-25_ppi_122_75m.nc.zip](https://github.com/ARM-DOE/pyart/files/3440525/WLS400s-158_2019-07-26_02-14-25_ppi_122_75m.nc.zip)

[2019-07-29 07:28] kmuehlbauer commented on #858
@mpichault OK, from a first inspection I can reproduce the error.

The error is due to the fact that Cf/Radial1 (CF-1.6) does expect a netcdf array of chars but in the file is a string. This could be handled by a try/except-clause.

But the next problem: there is no `time` variable/coordinate/dimension (and other expected variables) in the `root`-group of the file (according to Cf/Radial2 it is in

[2019-07-29 11:50] scollis commented on #858
Thanks @kmuehlbauer ! Lets keep this issue open as I want to test some LIDAR data from ARM's Halo Photonics systems which are meant to be CF-Radial

[2019-07-30 14:40] dstex commented on #829
@nguy @scollis  Of note, I've gone back and checked some of my previous plots created 1+ years ago with a different TDR dataset, and this issue was indeed present then as well (and I apparently missed it).

[2019-07-31 02:29] cycle13 opened #859 "install error"
I try to install pyart package in os with gcc-9.
There occur an error when the compile the c program.
I paste the information in following, could you give some hint?
Thank you so much.
.......
building extension "io._sigmetfile" sources
building extension "io.nexrad_interpolate" sources
building data_files sources
build_src: building npy-pkg config files
running build_py
running build_ext
customiz

[2019-07-31 02:29] scollis commented on #859
What platform?

-sent from a mobile device-

[2019-07-31 02:32] scollis commented on #859
Just about to go to bed, but did you install conda compilers
https://anaconda.org/conda-forge/compilers

-sent from a mobile device-

[2019-07-31 02:40] zssherman commented on #859
@cycle13 Yeah I think it's a compiler issue too. It wouldn't hurt to update cython too, but I would try the compiler in the link @scollis gave.

[2019-07-31 06:45] vlouf commented on #597
I recently needed to do a CAPPI, so I have coded up a notebook that do just that:
https://github.com/vlouf/radar_cappi

It wouldn't be a lot of work to add this to Py-ART. Strictly speaking, no interpolation is made, just looking for the nearest neighbour at each grid point for a given altitude.

[2019-07-31 07:07] meteoswiss-mdr commented on #597
My own code for this can be found here:

https://meteoswiss-mdr.github.io/pyrad/_modules/pyrad/graph/plots_vol.html#plot_cappi

[2019-08-01 13:27] dstex commented on #829
@nguy @scollis I have figured out what the source of the discrepancy is between what Py-ART plots and what is displayed in soloii. Py-ART is plotting the sweep in true Cartesian coordinates while soloii plots the location of each gate based solely on antenna coordinates. For example, a gate at 30 km range from the radar at 270° azimuth is plotted at 28.225 km as the `antenna_to_cartesian` function

[2019-08-01 13:33] scollis commented on #829
You are a great judge of this. Is it used in the community? If yes a PR adding the option would be welcomed

-sent from a mobile device-

[2019-08-01 13:46] dstex commented on #829
I think that most consumers of TDR/ELDORA data are likely quite used to the soloii/3 displays, and would expect (as I did) that Py-ART plots behave in the same way. I'll see if I can come up with a simple way to adjust this in Py-ART and add an argument to `radardisplay_airborne.plot` to enable it.

[2019-08-01 16:53] nguy commented on #829
Just trying to understand here, are they essentially plotting along two different axes then? Solo along the field defined by the "elevation" angle and PyART along aircraft longitudinal axis?

[2019-08-01 18:06] dstex commented on #829
Yes, plotting along different axes (I think). Essentially, solo plots along an axis perpendicular to the flight track. PyART instead accounts for the fore/aft 20° tilt of the antenna and maps the gates from that plane onto the plane perpendicular to the flight track. This results in an apparent compression of the data towards the aircraft such that gates are not plotted at the locations given by t

[2019-08-01 19:56] nguy commented on #829
This is really interesting. So just wondering in the back of my head why solo does not take into account the fore/aft tilt in it's projection calculations? Is this on purpose or an oversight?
I'd be interested to hear @mmbell thoughts on this.

[2019-08-01 20:20] swnesbitt commented on #829
Solo just plots the data with slant range, not ground distance from radar. I would say that this was the standard way to do it for a long time.

Get Outlook for Android<https://aka.ms/ghei36>

STEVE NESBITT
Professor

Department of Atmospheric Sciences
University of Illinois at Urbana-Champaign

3060 Natural History Building | M/C 104
1301 W Green St
Urbana, IL 61801

217.244.3740 | fax: 217.244.1

[2019-08-01 23:38] nguy commented on #829
Welp, that would explain the differences then. So this would also affect the appearance of any ground based tilt then too if compared @swnesbitt ?

So yeah @dstex maybe look to see if you can modify the keywords. It may take a modification of the projection routine as well.

[2019-08-02 04:29] guidodev opened #861 "Issue with altitude and gridding when reading in Level3 Files"
First, MANY THANKS to all the contributors to this project, what an amazing tool you've created.

Wanted to let you know I found an issue with radar site altitudes when reading in Level3 files. It appears that at least sometimes the site altitudes imported from the Level3 files are in feet, but pyart is interpreting them in meters. This tripped me up for awhile, because when gridding the data the

[2019-08-02 18:25] zssherman commented on #861
@guidodev Thank you for those words!
If you believe that your changes would be a good addition to Py-ART, I would recommend a pull request. If not, do you have a specific case or example file that I can check this out with?

[2019-08-02 21:49] guidodev commented on #861
@zssherman

My workaround would not be appropriate at all. The z-axis isn't important to me, so I'm just setting altitude to zero in each radar object.

Here's a sample file:

The result is:

This is for Amarillo, which is about 3,700' elevation, and grid_from_radars seems to interpret this as meters instead of feet. Hope that helps!

[dhr_test_file.zip](https://github.com/ARM-DOE/pyart/files/3462

[2019-08-07 00:35] eshort0401 opened #862 "Option to use `plt.imshow` instead of `plt.pcolormesh` in `plot_grid`."
I've noticed that the matplotlib function used to plot grids (as well as longitude/latitude slices) is `plt.pcolormesh`.

https://github.com/ARM-DOE/pyart/blob/ceb4d545223d96208bd23e2e6bb74a63a906776f/pyart/graph/gridmapdisplay.py#L206

The default `shading='flat'` behaviour of this function shades grid-cells by treating grid values as the corners of each grid-cell, then averaging the corner value

[2019-08-08 05:25] vlouf opened #863 "'constant_roi' argument should override 'roi_func' in gates_to_grid.py"
In gates_to_grid.py there are 2 arguments:
`roi_func='dist_beam', constant_roi=500.,`

Right now, if you define a constant_roi, the default `roi_func` is still 'dist_beam' and so the constant_roi that is defined is useless. Defining a constant_roi should switch automatically the roi_func to 'constant'.

cc. @robwarrenwx

I propose to change the default of constant_roi to None: `constant_roi=None`

[2019-08-12 14:45] zssherman commented on #862
@eshort0401 Thank you for the suggestion! I will look into this.

[2019-08-22 15:08] dstex commented on #829
@nguy I have a set of modifications that seem to be working, so I'll see about submitting a pull request in the near future when I have the time. I'm not positive if the appearance of ground based projections is also affected, though I expect they probably would be...

[2019-09-10 17:43] saralytle opened #866 "Issues with CyLP"
We're having issues getting cylp to run on jupyter notebooks - it immediately restarts the kernel when any phase processing is done, namely:

 reproc_phase, kdp = pyart.correct.phase_proc_lp(radar,0., refl_field='reflectivity',
                                                fzl=13000.,
                                                self_const=60000.0,

[2019-09-10 18:47] mvanlierwalq commented on #810
Trying this, getting similar failures. @zssherman does your CyLP only work for 3.7, or also 3.6? I'm also compiling/installing a newer gcc (centos default is 4.8.5) but it'll take a while to test that one out

[2019-09-10 19:07] scollis commented on #866
What machine?
Is this is for Japan I would reach out to Zach re running at ORNL..

Dr Scott Collis
Atmospheric Scientist, Argonne National Laboratory
Radar Instrument Translator, ARM User Facility
Head, Environmental Computing, Data, Sensing and GIS Department.
Senior Fellow, Northwestern Argonne Institute of Science and Engineering
Cell: 630 235 8025
GitHub: https://github.com/scollis
Oh My, a Bl

[2019-09-10 19:10] mvanlierwalq commented on #866
I've pinged @zssherman on an issue that matches ours and also separately on slack. Yeah, this is for Japan. we were hoping to have a little more analysis done that what we showed at ASR and SLS.

[2019-09-10 19:11] zssherman commented on #810
@mvanlierwalq The main branch of CyLP should have the updated version, so my version isn't needed anymore. The main CyLP branch should be able to run on python 3.6, 3.7 etc. I would make sure you have the most recent cython and have the conda c compilers.

[2019-09-10 19:15] zssherman commented on #866
@mvanlierwalq I responded to your message on the other issue, the compiler issue might be solved with recent cython version and using anaconda c compilers. I would take a look at this comment here:
https://github.com/coin-or/CyLP/issues/62#issuecomment-441334466
might also help if these are the compiler warnings your running into to. The main branch of CyLP should work with the different python 3

[2019-09-10 20:00] mvanlierwalq commented on #866
installing the condaforge c and cxx compilers, updating cython and reinstalling cylp from scratch solved the issue. Thanks for your help!

[2019-09-10 20:02] mvanlierwalq commented on #810
as noted on the other issue, after installing the condaforge c and cxx compilers, updating cython, and recompiling and reinstalling cylp from scratch, this works. Thanks for the help!

[2019-10-01 21:14] zssherman commented on #866
I added info in the README.rst and INSTALL.rst with a reference to the Anaconda compilers for using dependencies such as CyLP, closing for now.

[2019-10-01 21:14] #866 closed

[2019-10-01 21:15] zssherman commented on #859
@cycle13 Are you still having issues? If not I'll probably close this issue.

[2019-10-01 21:18] zssherman commented on #825
The statement was signed few months ago, but leaving this open until Python 2.7 is removed from conda-forge.

[2019-10-01 21:21] zssherman commented on #810
With the updated CyLP branch and mention of compilers in README and INSTALL files, I will close this issue for now.

[2019-10-01 21:21] #810 closed

[2019-10-01 21:26] zssherman commented on #844
This was completed in #845 closing.

[2019-10-01 21:26] #844 closed

[2019-10-01 21:36] zssherman commented on #814
@scollis Is this still something you wanted to do? Are can we close this?

[2019-10-02 16:22] Red025 opened #869 "#No module named 'numpy.distutils._msvccompiler'"
No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
customize MSVCCompiler
customize MSVCCompiler using build_ext
building 'pyart.io._sigmetfile' extension
compiling C sources
error: Unable to find vcvarsall.bat

I got this issue when i tried to build setup.py. Can anyone please help me with this issue?

[2019-10-02 16:25] Asishinuzuka opened #870 "#plan position indicator (PPI) radar display from .h5 doppler weather radar data using pyart."
How do i display plan position indicator (PPI) radar display from .h5 (hdf) doppler weather radar data using pyart and i have doppler weather data in binary with .dwr as extension, how to i convert it to hdf format?

[2019-10-02 16:30] zssherman commented on #869
@Red025 How is your numpy installed? I would recommend using conda if you aren't already. Numpy sometimes has issues building on Windows:
https://github.com/numpy/numpy/issues/12016

[2019-10-02 16:38] zssherman commented on #870
@Asishinuzuka Once you have a radar object, you can use the code found here to plot a ppi, just subtract the map and use plot_ppi if you don't want a map. http://arm-doe.github.io/pyart/dev/auto_examples/plotting/plot_ppi_cartopy_with_rings.html
I'm not entirely sure how to convert that extension to hdf format, could always try one of the hdf readers in pyart found in the aux_io, otherwise someone

[2019-10-02 16:42] Red025 commented on #869
yes. i did install using conda. But still i am getting that error.

[2019-10-02 16:50] Asishinuzuka commented on #870
Thank you for the answer, and actually any format will work (not have to be in .h5 format) .netcdf or anything else, i just want to know what does the file contain and learn about it.

[2019-10-02 16:51] zssherman commented on #869
Hmm, maybe try a fresh environment:
[code]
then install pyart within the environment.

[2019-10-02 16:58] zssherman commented on #870
What kind of errors do you get when trying to read using pyart?
You can also try h5py.File(filename, 'r')

[2019-10-02 17:08] Red025 commented on #869
No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
customize MSVCCompiler
customize MSVCCompiler using build_ext
building 'pyart.io._sigmetfile' extension
compiling C sources
error: Unable to find vcvarsall.bat

Still getting same error. Is there something wrong with my Microsoft visual c++ version?

[2019-10-02 17:17] zssherman commented on #869
I would maybe try:
python -m pip install -U pip
pip install -U setuptools
But my guess would be, as you mentioned, something with Microsoft visual c++, and might need to try one of the solutions found here:
https://stackoverflow.com/questions/27670365/python-pip-install-error-unable-to-find-vcvarsall-bat-tried-all-solutions/30098267
@rcjackson Thoughts on this?

[2019-10-02 17:22] scollis commented on #869
Are you conda installing Py-ART?

It is NOT recommended to install Py-ART from source on Windows..

conda -c conda-forge install arm_pyart

 

From: Red025 <notifications@github.com>
Reply-To: ARM-DOE/pyart <reply@reply.github.com>
Date: Wednesday, October 2, 2019 at 12:08 PM
To: ARM-DOE/pyart <pyart@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [ARM-DOE/pyart] #N

[2019-10-03 05:57] Red025 commented on #869
will try that. Thank you. @zssherman

[2019-10-14 01:45] Kwonil-Kim opened #871 "Failed to read uf file"
Hello, I've tried to read uf file but I got a failure.
It seems the reason is that the number of bins varies by elevation angles,

Here is the error I've got.
[code]

The attached uf file has 1192 bins for the first three tilts and 1200 bins for higher tilts.
Please unzip the file before reading it.
[RDR_GRS_201803150900.zip](https://github.com/ARM-DOE/pyart/files/3722709/RDR_GRS_201803150900.zip)

[2019-10-14 15:16] zssherman commented on #871
@Kwonil-Kim Hmm, can you try:
radar = pyart.aux_io.read_radx(filename)
I wonder if maybe radx can read this file.

[2019-10-14 15:26] Kwonil-Kim commented on #871
@zssherman Thank you for the answer.
Should I install another software to use read_radx?

[code]

[2019-10-14 15:30] Kwonil-Kim commented on #871
@zssherman I apologize I didn't fully read your comment. Please allow me some time to install radx..

[2019-10-16 11:05] Kwonil-Kim commented on #871
@zssherman
I was able to install Radx software. However, it returns the error as well (please see below).

[code]

I can read the file without any issues if I try with rsl library in IDL or C.
When I change the nbins in the uf header (for all rays, all sweeps, and all fields) to 1200, then pyart can read it.
I think it would be great if you could consider making pyart to read this radar with this

[2019-10-18 11:47] meteoswiss-mdr opened #872 "Speed up of "estimate_noise_hs74""
Hi all,

In my own version of Py-ART I have modified the code of pyart/util/hildebrand_sekhon.py in order to speed it up. Check out:

https://github.com/meteoswiss-mdr/pyart/blob/master/pyart/util/hildebrand_sekhon.py

The resultant code is significantly faster. You may want to add it up in Py-ART.

Greetings from Switzerland!

[2019-10-18 12:04] scollis commented on #872
Thanks Jordi!

-sent from a mobile device-

[2019-10-18 14:03] zssherman commented on #872
Thanks Jordi! I just got to figure out how to commit your changes while maintaining the commit log, but without pulling the html and spectra changes.

[2019-10-24 22:06] zssherman opened #874 "NetCDF4 catches setncattr fillvalue and raises error."
Recent release of netCDF4 raises error when setncattr is used for setting _FillValue. It seems in Py-ART this was done to set the fill values as the third attribute. I will see if I can find a way to update the cfradial code, specifically here:
[code]
But this is the cause of the appveyor 3.7 failure

[2019-10-25 15:57] cachocomadreja opened #875 "ERROR: file or package not found: pyart (missing __init__.py?)"
Hi! I've just installed pyart using recommended command:

**conda env create -f environment.yml**

It installs correctly, apparently, but then Python fails when importing pyart. I run:

**pytest --pyargs pyart**

And fails with the message in the title:

**ERROR: file or package not found: pyart (missing __init__.py?)**

What could be the problem? Thanks in advance.-

PS.: I had an environment cre

[2019-10-25 16:48] zssherman commented on #875
Hi @cachocomadreja , when pyart installs with environment.yml its from conda-forge. If you want to install pyart and use pytest on it, I would install pyart  with:
pip install -e .
after git clone the pyart repository. Also install pytest within the environment.

[code]
then pytest within that directory should work. conda forge install, you don't have a directory to unit tests on, atleast what I'm

[2019-10-25 18:29] cachocomadreja commented on #875
Thank you! Actually, I wasn't interested in using pytest. I just tried it to see what was wrong with my environment as it suddenly stopped working.

What I did to make it work is repeating the installation process but from base instead of the new environment and it worked (which I wanted to avoid in the first place).

Thanks.-

[2019-10-25 18:33] zssherman commented on #875
Ah gotcha, thought the issue at first was trying to run pytest on it, but anyways glad to hear it works now.

[2019-10-29 22:01] zssherman commented on #874
Fixed in #876 closing.

[2019-10-29 22:01] #874 closed

[2019-11-03 15:26] goldengrisha commented on #869
If you use Python 3.8 that isn't officially supported by NumPy yet. I suggest you stick with python 3.7 for now until you see a 3.8 designation in the "Programming Language" section of the PyPI numpy page.

[2019-11-03 15:27] scollis commented on #869
We do no testing for 3.8.. if you go there you are on your own ;)

-sent from a mobile device-

[2019-11-04 16:13] meteoswiss-mdr commented on #858
Hi @scollis, all,

I had to read some data in CFRadial2 format so I created a reader compatible with Py-ART. Probably it has to be improved but you can find the current version here:
https://github.com/meteoswiss-mdr/pyart/blob/master/pyart/io/cfradial2.py

It may be used as a basis for proper CFRadial2 ingestion in Py-ART.

Greetings from Switzerland!

[2019-11-04 19:21] zssherman commented on #858
Thanks @meteoswiss-mdr ! I'll take a look.

[2019-11-11 15:36] zssherman commented on #872
Was merged in #877 closing.

[2019-11-11 15:36] #872 closed

[2019-11-15 15:37] sysumeteo opened #881 "About field of“temperature” in attenuation module"
It seems like there is a tiny bug in the  "pyart.correct.calculate_attenuation" ,which the function "calculate_attenuation_zphi" get field name for "temperature". Hower there is no filed name of "temperature" in the dict DEFAULT_FIELD_NAMES of "default_config.py".
Additionally, i think it would be an usefully work to design a method to ingest sounding data for the "temperature" field  since most o

[2019-11-15 16:02] meteoswiss-mdr commented on #881
Hi @sysumeteo,

Probably it is time to add officially the temperature field in default_config.py.

As for the temperature field, is a bit up to you what you want to use. I use temperature from NWP models interpolated into the radar grid. I think out there there is software to create a gridded field out of sounding data.

[2019-11-16 03:50] sysumeteo commented on #881
Got it, mapping sounding data to radar coordinate is not a difficult task and i can also asign a edited config file for attenuation.py manually.

[2019-11-16 03:50] #881 closed

[2019-11-19 06:30] sauravmahuri2007 commented on #869
All those who are still facing issue, check this link to fix this in [**python3.8.0**](https://github.com/numpy/numpy/issues/12016#issuecomment-555354320)

[2019-11-19 15:41] zssherman commented on #869
Thank you @sauravmahuri2007 for the link!

[2019-11-21 04:29] aschueth opened #882 "[Enhancement] Accessing and editing radar.info()"
I was digging through the docs on the radar class and I was wondering if it was possible and/or a desired feature to be able to pull out the full radar info as a dictionary and have it be editable like the metadata. As far as I understand, the current architecture does not support this. You can pull certain parts of the info as a dictionary using the private method _dic_info, but it only pulls the

[2019-11-22 02:02] sysumeteo opened #883 "About the ZHPI calculation of Ah in 'attenuation.py'"
Originally，the ZPHI method use the attenuated (measured)reflectivity to estimate Ah(r), but at line 244 in ‘attenuation.py’, a linear-PHIDP-based corrected reflectivity is used as initial reflectivity. At S band, the different is quite small to notice , but under X band , the corrected initial reflectivity resulted  in a large bias on PIA.

[2019-11-22 04:11] sysumeteo opened #884 "About the paramters of ZPHI attenuation correction"
what are the reference for the default parameters (a_coef/beta/c/d) of ZPHI atteuation ? I can not find those values in the reference of the ZPHI method (Gu et.al 2011)

[2019-11-25 15:10] zssherman commented on #884
@rcjackson Do you know the reference for the default coefficients that sysumeteo is referring to?

[2019-11-25 15:34] rcjackson commented on #884
It looks like the default parameters are grabbed from a function:

def _param_attzphi_table():
    """
    Defines the parameters of Z-Phi attenuation estimation at each frequency
    band.
    Returns
    -------
    param_att_dict : dict
        A dictionary with the coefficients at each band.
    """
    param_att_dict = dict()

    # S band:
    param_att_dict.update({'S': (0.02, 0.64884, 0.15

[2019-11-26 13:07] meteoswiss-mdr commented on #884
I do not recall exactly where they come from originally but they should be consistent with the article of Ryzhkov et al. 2014. They have been used internally at MeteoFrance and MeteoSwiss.

[2019-11-27 16:55] zssherman commented on #859
Closing for now, can be reopened if needed.

[2019-11-27 16:55] #859 closed

[2019-11-29 04:00] sysumeteo commented on #883
When the orignal mesured reflecitivty is used ,i found,the attenuation corrected reflectivity looks much more normal than using the pre-initial one .so i think line #244 (as below) in the code of 'attenuation.py' maybe partly doubtable.

 # calculate initial reflectivity correction and gate spacing (in km)
    init_refl_correct = refl + corr_phidp * a_coef

[2019-12-18 16:38] #829 closed

[2019-12-21 08:48] dopplershift opened #887 "Support for NEXRAD RDA Build 19.0"
I wanted to give you all a heads up that, based on the [draft ICD](https://github.com/ARM-DOE/pyart/files/3991230/Draft_Baseline_2620002S_ICD_for_RDA_RPG_B19.pdf) for the next NEXRAD RDA build, there are some rather significant changes to message 31 coming. I think this table sums it up:

<img width="1208" alt="image" src="https://user-images.githubusercontent.com/221526/71305552-2d931500-2393-11e

[2019-12-21 15:49] zssherman commented on #887
Thanks @dopplershift for the heads up! I'll look into some changes to adapt to this. I appreciate the warning!

[2019-12-21 15:53] scollis commented on #887
Absolutely appreciated! Do you have a contact in the ROC we could ask?

From: Ryan May <notifications@github.com>
Reply-To: ARM-DOE/pyart <reply@reply.github.com>
Date: Saturday, December 21, 2019 at 2:48 AM
To: ARM-DOE/pyart <pyart@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [ARM-DOE/pyart] Support for NEXRAD RDA Build 19.0 (#887)

I wanted to give you all a heads

[2019-12-23 01:01] dopplershift commented on #887
@scollis You mean for some sample data? not really. However, it turns out that one of the testbeds (FOP1) is transmitting data on the operational feed, and I've confirmed with MetPy that this data has the additional moment and 2 byte ZDR data. I've attached a [sample file](https://github.com/ARM-DOE/pyart/files/3993231/Level2_FOP1_20191223_003655.ar2v.gz)
, but you can also get more from the AWS b

[2019-12-24 10:51] Asishinuzuka commented on #870
so sorry for the late reply, the error i am getting is:

while plotting a PPI.

[2019-12-25 06:19] sysumeteo opened #888 "Speed up ‘Nearest’ method for mapping and add it into ‘map_gates_to_grid’？"
‘Nearest’ method is quite useful for mapping FHC data, but unfortunately  was supported only by   algorithm 'map_to_grid ' which is several times slower than 'map_gates_to_grid'. Is there any plan to speed up 'Nearest' method and add it into ‘map_gates_to_grid’?
BTW:  Function 'grid_from_radars' use algorithm 'map_gates_to_grid'  by default, but with no suggestion about its incompatible with 'Near

[2019-12-28 18:28] zssherman commented on #888
Hi @sysumeteo Nearest should be in map_gates_to_grid, https://github.com/ARM-DOE/pyart/blob/master/pyart/map/gates_to_grid.py#L170 if its not working for some reason, then there possibly is a bug then. I will take a look at the docs too.

[2019-12-30 01:52] sysumeteo commented on #888
@zssherman  My inattention for the function ! Actually map_gates_to_grid support  'Nearest' method, and run as fast as map_gate_to_grid should be.But another problem is that ,'Nearest' method perform quite different between 'map_gate_to_grid' and 'map_to_grid'.
My code and plots are showed below:
 The first FH plot is  corresponding to 'Nearest' method of 'map_to_grid',while the second one is corr

[2019-12-30 17:26] zssherman commented on #888
Hmm, I'll have to look into that. I'm not sure why the two plots are giving different results for Nearest.

[2020-01-15 20:30] salbenson opened #894 "pyart.graph.RadarMapDisplay AttributeError: 'GeoAxesSubplot'"
Hi,
I am just starting to use py-art.  I am working with pyart.graph.  I am using this website as my reference for pyart.graph.  http://arm-doe.github.io/pyart-docs-travis/user_reference/graph.html  On this page there is RadarMapDisplay and RadarMapDisplayBasemap.  I am guessing that these are the same thing, except RadarMapDisplay uses cartopy instead of basemap.  Am I right?

Here are my python

[2020-01-15 21:17] zssherman commented on #894
Hi @salbenson, this was an issue in an earlier Cartopy, [here](https://github.com/SciTools/cartopy/issues/1120) what Cartopy version do you have?

[2020-01-15 21:19] salbenson commented on #894
Hi, I got cartopy using conda install cartopy.  When I type conda list this is the information I get about cartopy.

cartopy                   0.16.0           py37hfa13621_0

[2020-01-15 21:20] zssherman commented on #894
I believe the issue was fixed in Cartopy 0.17, I would update your Cartopy and it should fix the issue.

[2020-01-15 21:34] salbenson commented on #894
Thanks for your help.  Updating cartopy to 0.17 fixed the GeoAxesSubplot error.  Now I am getting another error.  I have pasted it below.  Do I need to update "shapely"?

File "/uufs/chpc.utah.edu/common/home/u0079358/software/pkg/miniconda3/lib/python3.7/site-packages/shapely/geometry/linestring.py", line 115, in xy
    return self.coords.xy

AttributeError: 'list' object has no attribute 'xy'

[2020-01-15 21:41] zssherman commented on #894
I'll do a new release for Py-ART, if you git clone pyart and install the github repo from source this will fix the issue, but I haven't done the conda release yet. I'll do that now.

[2020-01-15 22:45] zssherman commented on #894
The conda release is done, might take 10-15 minutes or so before it appears:
https://anaconda.org/conda-forge/arm_pyart/files

[2020-01-15 22:46] salbenson commented on #894
Great, Thanks!  I'll give it a try.

[2020-01-16 01:29] vlouf opened #895 "ODIM h5 file stays open after reading when using `pyart.aux_io.read_odim_h5`"
TL;DR: The function `pyart.aux_io.read_odim_h5` does not close the hdf5 files after reading the file, whether it read it successfully or raised an error. I have worked on a fix I'll send a pull request.

H5 files are kept open open in memory when read with the odim_h5 reader. Any attempt to read the file again fails and throws an OSError. The solution is to do a `gc.collect()`.

Moreover, if an er

[2020-01-16 01:33] scollis commented on #895
Thanks @vlouf ..
Assigning to @rcjackson

[2020-01-16 01:34] scollis commented on #895
This looks fairly easy to fix.. When you have a chance @rcjackson can you investigate

[2020-01-16 01:35] scollis commented on #895
Oh.. never mind.. I see @vlouf has a PR :D

[2020-01-16 01:36] vlouf commented on #895
Also: you should consider using the `with` statement for netCDF files in `pyart.io.read_cfradial`. Because in the case that an error is raised while reading the file, it will stay open in memory. However, because of the `delay_field_loading` argument` L325 of  `pyart.io.read_cfradial` you can't do that

[2020-01-16 01:39] scollis commented on #895
@zssherman can you check out @vlouf suggestion.. either you or he can raise a new issue

[2020-01-16 01:54] zssherman commented on #895
Yeah, the nc.close happens later in the code, so if there is a failure, I could see it staying in memory and 'with' would avoid this. There might have been a reason why 'with' wasn't use originally, but I'll have to dig deeper into that. Who wrote the original cfradial code?

[2020-01-16 06:42] kmuehlbauer commented on #895
@jjhelmus , at least this is what the commits say.

[2020-01-16 19:27] salbenson commented on #894
I got the new conda release of py-art.  That fixed the issue.  Thank you very much!

[2020-01-16 19:51] zssherman commented on #894
Great to hear! Closing.

[2020-01-16 19:51] #894 closed

[2020-01-20 06:29] vlouf opened #897 "ODIM h5 range and azimuth sampling"
(cc. @marack)

In the ODIM specification, rstart is "The range (km) of the start of the first range bin", which means that this is the 'front' edge of the sample, not the centre of the bin  (p. 12 of the ODIM specification format v23).

The way `pyart.aux_io.read_odim_h5` works right now is by considering the range and azimuth sampling from the front edge of the bin. Just to be sure: we have to co

[2020-01-22 15:31] zssherman opened #899 "Ability to Read TDWR data."
There will be a new standard for TDWR data. Would be great to work in an io for the file type as it currently can't be read with Py-ART.

[2020-01-22 19:35] scollis commented on #897
Closed via #898 Thanks again @vlouf

[2020-01-22 19:35] #897 closed

[2020-01-22 19:36] scollis commented on #895
Ok, I believe #896 closes this... If not please reopen

[2020-01-22 19:36] #895 closed

[2020-01-22 20:24] scollis commented on #863
Closed by #864

[2020-01-22 20:25] #863 closed

[2020-01-22 20:26] scollis commented on #826
Closing this as @rcjackson 's update should have fixed this.. @louiswicker or @dopplershift please reopen if I am mistaken

[2020-01-22 20:26] #826 closed

[2020-01-22 20:30] scollis commented on #882
Thanks @aschueth .. By this do you mean to be able to edit the value in the radar metadata..

ie radar.metadata.update({'Somekey':value})?

radar info is a method
http://arm-doe.github.io/pyart-docs-travis/user_reference/generated/pyart.core.Radar.info.html#pyart.core.Radar.info

you need to track down where different parts are drawn from (eg ngates etc...)
you should be able to modify them and de

[2020-01-22 20:30] scollis commented on #875
Sounds like it is working now.. closing

[2020-01-22 20:30] #875 closed

[2020-01-22 20:31] scollis commented on #870
Not an issue.. please use the google group https://groups.google.com/forum/#!forum/pyart-users

[2020-01-22 20:31] #870 closed

[2020-01-22 20:33] scollis commented on #815
Sorry we let this one lapse... @rcjackson is this a projection issue with Cartopy? if so I think gridlines in other projections is fixed now..

[2020-01-22 20:33] scollis commented on #759
@zssherman can we close?

[2020-01-22 20:34] scollis commented on #768
@zssherman did you discover anything?

[2020-01-22 20:35] scollis commented on #884
@rcjackson when you get a moment let me know your thoughts on this...

[2020-01-22 20:37] scollis commented on #813
Anyone who wants to have a crack at this is welcome to!

[2020-01-22 20:38] rcjackson commented on #815
I believe so. I've never had an issue when using PlateCarree projection.

[2020-01-22 20:39] scollis commented on #740
I am closing this.. if it is still an issue please re-open the issue or file a new one.

[2020-01-22 20:39] #740 closed

[2020-01-22 20:39] zssherman commented on #759
This wasn't done, but still would be a good idea to do, so I would leave it open.

[2020-01-22 20:41] zssherman commented on #768
Yeah this should have been fixed with:
https://github.com/rtanamachi/pyart/pull/1

[2020-01-22 20:41] #768 closed

[2020-01-22 20:41] zssherman commented on #768
closing

[2020-01-22 20:43] scollis commented on #759
It's yours now! I will write this into our new ARM ENG

[2020-01-22 20:43] scollis commented on #759
but don't let that stop you from doing it if you get keen in the meanwhile

[2020-01-22 20:46] scollis commented on #854
No there are not.. if the file is no dealiased and if the nyquist is correct in the metadata there should be no values outside (except _FillValue)... If nyquist is incorrect in the file it can be overridden with nyquist_vel
http://arm-doe.github.io/pyart-docs-travis/dev_reference/generated/pyart.correct.region_dealias.dealias_region_based.html

[2020-01-22 20:46] #854 closed

[2020-01-22 20:48] scollis commented on #887
@zssherman can you look at the example file and start ensuring Py-ART will continue to work..

[2020-01-22 20:49] aschueth commented on #882
Yeah edit a value, but also add new fields as well. For instance, with mobile radars, I would like to add a variable on deployment number.

Right now I have a sidecar csv file that I use to get information out of, but it makes my workflow a bit messy, so I was trying to streamline it such that all my information could be in the CFRadial file structure and could be accessed, modified and added on t

[2020-01-22 20:50] scollis commented on #785
@zssherman can you please reproduce and let us know your thoughts.

[2020-01-22 20:54] rcjackson commented on #884
I suspect they used simulated DSDs from somewhere. I found a figure in Ryzhkov's paper showing their simulated values for alpha. The black dots represent 0 degrees C, the grey dots are 20 degrees C. It looks like the alpha values are in the ranges that would be expected. I don't really know of a way to verify the other values, which is troublesome for reproducibility.
![Screenshot_2020-01-22 jtech

[2020-01-22 20:55] scollis commented on #882
cool bananas... you can add this to the radar.metadata field now.. we do this routinely.. see:
https://github.com/EVS-ATMOS/cmac2.0/blob/master/cmac/cmac_radar.py#L319

where we basically strip out the metadata and add our own..

radar.metadata maps to the global headers of the CF-radial file so you can put anything you want in there...

[2020-01-22 20:56] scollis commented on #884
Perhaps we need a constants section with this data in there and well referenced to various papers...

[2020-01-22 21:04] zssherman commented on #785
Yep sorry lost track of this, downloading the file now.

[2020-01-22 21:18] aschueth commented on #882
Oh awesome, I wasn't aware of that feature.. Thanks for the information, I think this is exactly what I need!

[2020-01-22 21:18] #882 closed

[2020-01-22 21:22] zssherman commented on #785
Hmm can't reproduce, read the file KVWX20181120_174530_V06 with no errors.... and digging deeper looks like this was fixed in #832 so this can be closed.

[2020-01-22 21:41] #785 closed

[2020-01-26 07:47] dopplershift commented on #899
Dupe of #887?

[2020-01-26 07:49] dopplershift commented on #899
Well, maybe not. The changes for #887 should help get it working, though.

[2020-01-26 13:58] zssherman commented on #899
Yep, my bad... Thanks @dopplershift for catching that!

[2020-01-30 17:51] zssherman commented on #825
Python 2 is no longer supported, closing.

[2020-01-30 17:51] #825 closed

[2020-01-31 16:00] lgaudet opened #900 "Limited Projections for plot_grid"
Hi! I have run into an issue with plotting a Cartopy map with the 'LambertConformal' projection when using the 'plot_grid' function. While the gridded radar data is plotted, the background map (e.g., state boundaries) does not show up.
<img width="769" alt="Screen Shot 2020-01-31 at 10 35 00 AM" src="https://user-images.githubusercontent.com/32339029/73552026-77046480-4415-11ea-98da-103d6d8caaed.p

[2020-01-31 16:16] zssherman commented on #900
Hi @lgaudet , welcome to the GitHub community! What version of cartopy are you using? I'll try to see if I can reproduce the issue.

[2020-01-31 16:28] lgaudet commented on #900
@zssherman Thank you! I'm using version 0.17.0 of cartopy. If you need the preceding code that grabs radar data from multiple radar sites via AWS for the 'grid_from_radars' below, let me know.
[code]

[2020-01-31 17:02] zssherman commented on #900
Hmm, I was able to get it to work with RadarMapDisplay, but not GridMapDisplay, so I was able to reproduce the issue. I'll take a look in the GridMapDisplay code, see if there is a bug somewhere.

[2020-01-31 17:49] zssherman commented on #900
@lgaudet Seems since platecarre is already what the data is in, the projection shows, but if going to lambert, the transform is needed as a parameter to transform from platecarree to lambert. Try adding in your plot_grid function:
display.plot_grid('reflectivity', level=1,
                  vmin=-8, vmax=64,
                  projection=projection, transform=ccrs.PlateCarree()
                  cm

[2020-01-31 17:59] lgaudet commented on #900
@zssherman That worked! Thank you so much for looking into this, I should have known I needed a transform.

[2020-01-31 18:06] zssherman commented on #900
Awesome glad to hear! I'll close this issue for now.

[2020-01-31 18:06] #900 closed

[2020-02-02 19:07] tjturnage opened #901 "Adding multiple cartopy maps to display.plot_ppi_map"
Hello,
I've been using your display.plot_ppi_map method and can successfully add a single map along with the kwargs that I care most about. However, I often find myself wanting to add multiple shapefile layers, some of which are not available as Natural Earth Features (for example, damage survey maps).  It's true I could merge layers ahead of time, but that would mean less flexibility and more wor

[2020-02-02 19:10] scollis commented on #901
Nice idea. Making it easier to add layers is a great feature add.

I’m on my phone right now so hard to point you to the right place, but, as a stopgap all the axes etc are stored in the display object.

-sent from a mobile device-

[2020-02-02 19:21] tjturnage commented on #901
Thanks for the quick reply! Yes, please point me to the right place when you have the time.

Thanks again,
TJ

[2020-02-02 19:29] scollis commented on #901
@zssherman , @rcjackson can you show @tjturnage how to grab axes from radarmapdisplay and add layers? I’m up to my elbows in grease working on the mountain bike

[2020-02-02 19:41] rcjackson commented on #901
For now, the RadarMapDisplay stores the geoaxes instance as the .ax property of the RadarMapDisplay object. On this, you should be able to do all of the standard cartopy layer routines that you need. For example, to add coastlines:

display = pyart.graph.RadarMapDisplay(radar)
display.plot_ppi_map('reflectivity', sweep=0)
ax = display.ax
ax.coastlines()
# Other layers....

[2020-02-12 18:39] allenea opened #904 "display.plot_ppi_map lat_lines and lon_lines when set to None"
Hi,

I was trying to plot some radar images without having gridlines. However any time that I try to do it I get partial gridlines anyway. Is there a bug or am I doing something wrong.

FYI
arm_pyart                 1.11.0           py37h3b54f70_0    conda-forge
cartopy                   0.17.0          py37h95120c7_1007    conda-forge

Here is with the gridlines:

        fig = plt.figure(figsize

[2020-02-12 18:44] scollis commented on #904
Thank you for the very detailed issue report! I'll assign @zssherman to investigate shortly.. In the meanwhile can you try setting embelish =False (just realize we have a spelling mistake there!)

[2020-02-12 20:21] allenea commented on #904
Yep :)
In the meantime this works. Thanks for looking into it.

Eric

[2020-02-18 01:26] jayavanth opened #905 "PyGIDeprecationWarning when I import pyart"
I get a bunch of PyGIDeprecationWarnings when I import pyart in `ipython`. It doesn't let me type anything and it just throws these errors at me

[code]

[2020-02-18 15:04] scollis commented on #905
Thanks @jayavanth I don't use IPython so have never seen this.. @zssherman can you try and do an import of Py-ART into IPython?

[2020-02-18 16:25] zssherman commented on #905
@jayavanth @scollis I couldn't reproduce the error with an Ipython in python 3.6, are you in anyway able to print out package versions? Maybe try updating matplotlib or glib?

[2020-02-18 19:13] jayavanth commented on #905
@zssherman @scollis Thanks for the help! I figured it out. It was my mistake. After installation, I was using IPython in the pyart/ source directory and the python env was picking up the library from the current directory. I changed the directory and everything works fine.

[2020-02-18 19:13] #905 closed

[2020-02-18 19:14] zssherman commented on #905
No problem, glad you were able to get it to work!

[2020-02-19 01:25] jayavanth commented on #905
Ah that was a solution to a different problem. I fixed this one by upgrading IPython from 5.0 to 7.12.0. Either way, it's fixed :)

[2020-02-19 13:43] jegehrin opened #906 "Optional parameter "doc" and "freq_band""
Dear developers of attenuation,

I realized that the parameter "doc" that is described as optional is actually required, otherwise there is an error on line 189 of "phase_proc.py" in:
` gate_end = min(gate_end, len(ranges) - doc).`

Also if the frequency in radar. instruments_parameters is out of the range [2e9, 12e9], then there is an error in the warning of line 725 in attenuation.py:
[code]
I t

[2020-02-19 17:19] zssherman commented on #906
I believe I see it, doc has a default value in phase_proc.py, but in attenuation some of the functions default it to None, so it feeds in None which breaks the code, I'll see what I can do for that. And I believe you are also right on the freq_band_aux code too that it should be freq_band_aux. Thanks for catching that!

[2020-02-19 20:18] simaberson opened #908 "Py-ART bug?"
We are using Py-ART for our
    project and recently updated to python3.  In the nexrad_level2.py, there are the lines

    _> grep get_msg29 nexrad_level2.py
             new_pos = _get_msg29_from_buf(buf, pos, dic)
    def _get_msg29_from_buf(pos, dic):

    It's calling with three arguments but receives only two.  All the other get_msg* lines have three arguments, so we modified the last line,

[2020-02-19 20:19] scollis commented on #908
Thanks @simaberson .. Assigning to @zssherman

[2020-02-19 20:25] zssherman commented on #908
Yeah looks like buf is not even used in that function, so it can be removed from the call. I'll do a change shortly. Thanks for catching that!

[2020-02-20 18:16] tjturnage commented on #901
Never got back to you, but your workaround works great. Thanks!

TJ

[2020-02-20 18:16] #901 closed

[2020-03-03 21:26] scollis opened #910 "Link to MPL in setup.py"
See this tweet:
https://twitter.com/story645/status/1234869245449818112
Hey folks who maintain libraries built on top of
@matplotlib
 that are packaged on
@pypi
, I need a huge to me favor.
If you'd include a 'Framework::Matplotlib' classifier in your

 http://setup.py if it exists, please comment at

[2020-03-17 12:49] zhaobudaola commented on #869
I'm using python3.7.4 with numpy==1.18.1,still got this issue.

[2020-03-18 19:19] scollis commented on #910
@zssherman can you look after this

[2020-03-18 19:22] scollis commented on #884
@rcjackson can you do two things so we can close this out:
1) Add a notebooks showing application to X,C and S band in https://github.com/ARM-DOE/pyart/tree/master/notebooks (We will eventually binder this) .. Data don't have to be included but orderable (so XSapr, C-SAPR and NEXRAD)
2) beef up docs

[2020-03-18 19:22] scollis commented on #884
not the highest priority... Lets aim for a month or so.

[2020-03-18 19:23] zssherman commented on #910
Yep, I'll do the changes.

[2020-03-18 19:56] zssherman commented on #908
Fixed in #909 closing.

[2020-03-18 19:56] #908 closed

[2020-03-18 19:56] zssherman commented on #906
Fixed in #907 closing

[2020-03-18 19:56] #906 closed

[2020-03-19 17:15] zssherman commented on #869
@zhaobudaola, do you have the visual studios installed on your computer for windows, I know for windows its needed.

[2020-03-19 17:16] zssherman commented on #869
This post is slightly outdated, but give this a read, it might have a solution to this:
https://stackoverflow.com/questions/44951456/pip-error-microsoft-visual-c-14-0-is-required

[2020-03-20 22:54] dcedgren commented on #551
I'm taking a look again at being able to use the DPA product. Metpy's implementation appears to be working (it ran without errors for me at least). But as @dopplershift noted the structure is ugly. I have a little time to dig into this next week (#coronavirus) so I'm going to try to rig something together and I'll give it a shot to add basic functionality for this product, likely by using metpy to

[2020-03-20 23:53] zssherman commented on #551
Hi @dcedgren, yeah using metpy and adding it as a dependency I think is fine. Really the only comment I would have, but you already mentioned, was conforming or feeding it into pyart radar object, but I can help with that. Whenever you have a basic product, feel free to submit a pull request and I can also answer questions and help get it going.

[2020-03-23 05:04] zhaobudaola commented on #869
I have installed visual C++build tools and visual studio 2015, but still got this issue.

[2020-03-23 10:41] meteoswiss-mdr commented on #884
Sorry I cannot be more helpful here. For sure I used Ryzhkov paper for most of the coefficients (derived from disdrometer data). Others come from empirical measurements performed at MeteoFrance. They were collected in internal reports from MeteoFrance.

[2020-03-23 19:06] louiswicker opened #916 "Error in basic ingest example"
I am trying to write a ingest for MRMS radial velocity, and I was using the example in

http://arm-doe.github.io/pyart-docs-travis/notebooks/basic_ingest_using_test_radar_object.html

The n_azim and n_gates arguments to pyart.testing.make_empty_ppi_radar are reversed.

[2020-03-23 19:10] scollis commented on #916
Thanks @louiswicker !
@rcjackson can you take a look at this.. @IreneCrisologo can you help as this will be very useful for us.

[2020-03-23 19:15] zssherman commented on #916
Ah yep, I see that, my bad, I will do a pull request with the fix

[2020-03-23 19:31] zssherman commented on #869
Hmm, is your numpy installed with conda or pip, i'm honestly not entirely sure how to go about this, using visual studios tends to be the error, but i'm running out of ideas

[2020-03-24 03:37] zhaobudaola commented on #869
well, thank you @zssherman, i will try.

[2020-03-25 17:05] julienchastang opened #918 "Example Link Broken"
In the readme

Examples: http://arm-doe.github.io/pyart/dev/auto_examples/index.html

yields a `404` Page not found error.

[2020-03-25 17:11] zssherman commented on #918
Hi @julienchastang , thanks for catching this! I pushed a commit and this should be fixed now.

[2020-03-25 17:43] #918 closed

[2020-03-25 17:52] julienchastang commented on #918
Thanks @zssherman. While I have your attention, where are the data referenced in the example code (e.g., `sgpcsaprsurcmacI7.c0.20110520.095101.nc`). It may be obvious, but I don't see it.

[2020-03-25 17:54] zssherman commented on #918
@julienchastang Not a problem, and the data used in the examples can be found here:
https://engineering.arm.gov/~jhelmus/pyart_example_data/

[2020-03-25 19:17] zssherman commented on #916
Fixed and new notebooks are on the site now, closing.

[2020-03-25 19:17] #916 closed

[2020-03-25 19:18] zssherman commented on #910
This was done in #912 closing.

[2020-03-25 19:18] #910 closed

[2020-03-26 20:23] zssherman commented on #717
I'm going to close this for now,

[2020-03-26 20:23] #717 closed

[2020-03-26 20:24] zssherman commented on #816
@cycle13 I'm going to close this, let me know if you still run into issues.

[2020-03-26 20:24] #816 closed

[2020-03-26 20:25] zssherman commented on #696
Closing this for now.

[2020-03-26 20:25] #696 closed

[2020-03-26 20:28] zssherman commented on #695
@scollis I can't remember, but was this ever added?

[2020-03-26 20:29] zssherman commented on #483
Was added to grid objects, closing.

[2020-03-26 20:29] #483 closed

[2020-03-26 20:43] zssherman commented on #127
Closing for now,

[2020-03-26 20:43] #127 closed

[2020-03-26 20:45] zssherman commented on #182
Map gates to grid, closing for now.

[2020-03-26 20:45] #182 closed

[2020-03-26 20:47] zssherman commented on #389
The python 3 branch was merged into CyLP master, closing.

[2020-03-26 20:47] #389 closed

[2020-03-26 20:49] zssherman commented on #366
Examples for most of these exist. I also added more notebooks for ingest and gridding etc. Closing as this is outdated. Can open a new issue if new example ideas arise.

[2020-03-26 20:49] #366 closed

[2020-03-26 20:51] zssherman commented on #345
Closing.

[2020-03-26 20:51] #345 closed

[2020-03-26 20:52] zssherman commented on #321
Documentation was added. Closing.

[2020-03-26 20:52] #321 closed

[2020-03-26 20:52] #520 closed

[2020-03-26 20:54] zssherman commented on #670
Xarray was added to grid routine, but not the radardisplay. Xarry was also used in the spectra object. I will leave this open for now .

[2020-04-01 21:16] dcedgren opened #922 "Nexrad Level 3 - Elevation in Feet, not meters"
For Product #176 (DPR) files the altitude is read into Pyart as meters, not feet as per the Nexrad documentation.

I suspect this may also be an issue with other products. I will confirm that this is an issue with other products and, if so, convert from feet to meters when the unit setting is meters (as is the default).

[2020-04-01 21:28] dcedgren opened #923 "Radar Elevation Misread for some Nexrad Level 3 Files"
Currently nexrad_level3.py assumes Halfword 30 of the Product Description block corresponds to the sweep elevation angle. In fact, it is a product-dependent parameter and this is only the case for some files. For some Nexrad Level 3 files there is not really a defined elevation. Product #176 (DPR), for example, and others.

There's a whole long list of product-dependent parameters in the ICD (Tabl

[2020-04-01 21:37] zssherman commented on #922
Hi @dcedgren I'll submit a pull request, so essentially the altitude needs to be multiplied by 0.3048?

[2020-04-01 21:42] dcedgren commented on #922
Correct.

But only if the user's units are set to meters. If they've changed them to feet we wouldn't want to convert.

Testing will also need to be changed. Including for the PR I'm working on. I intentionally made this wrong.

[2020-04-01 21:45] zssherman commented on #922
Ah gotcha, hmm, ok I'll close my PR, got to find a way to check if there units are already in meters.

[2020-04-01 21:57] zssherman commented on #922
@dcedgren It currently gets the height from self.prod_descr, which is unpacked from buffer.

[2020-04-01 22:08] dcedgren commented on #922
As far as I'm aware the Nexrad file will always be in feet. (Maybe someday we'll eventually manage to switch entirely to metric...)

BUT, it looks like the units might be switched by the user in default_config.py. If someone had switched this to feet instead I assume we wouldn't want to convert to meters. Unless this is never meant to be changed. You tell me.

We could easily check units at line 1

[2020-04-01 22:14] zssherman commented on #922
Yeah, there users can change the config to their liking for field naming etc, but in terms of units I would believe meters is what we want too keep @scollis your thoughts? The gridding code and more do everything in meters.

[2020-04-03 20:04] zssherman commented on #887
Done in #903 closing.

[2020-04-03 20:04] #887 closed

[2020-04-10 18:07] Craytor opened #928 "Chunked L2 Data"
I was wondering if pyart supports using chunked L2 data from, for instance, NOAA Big Data (https://unidata-nexrad-level2-chunks.s3.amazonaws.com).

If it doesn't "natively" support it, is there a way to convert these chunks into a version that pyart would accept? Trying to learn more about radar.

[2020-04-13 18:03] dopplershift commented on #928
Is there a reason you want to look at the individual chunks rather than the full volumes available at https://noaa-nexrad-level2.s3.amazonaws.com/index.html ? To be clear, the full volumes are just an ordered concatenation of the individual chunks you mentioned above.

[2020-04-14 17:44] Craytor commented on #928
Yeah, the issue is noaa-nexrad-level2 data is not real-time and is often delayed 8-10 minutes for the full volume scan to complete. I have since solved this issue by creating my own slice chunks to read.

[2020-04-14 17:44] #928 closed

[2020-05-05 18:38] cptmedic opened #930 "Weighting Function discrepancy between map_gates_to_grid and map_to_grid"
Greetings,

There appears to be a slight discrepancy in map_gates_to_grid when using nearest as the weighting function when compared to map_to_grid at the same grid_limits.

map_gates_to_grid with nearest weighting (producing weird rays):
![map_gates_to_grid with nearest weighting](https://09913886399444730182.googlegroups.com/attach/6820a437a1a35/out3_gates.png?part=0.1&view=1&vt=ANaJVrGg-XjDTKK4

[2020-05-05 18:56] zssherman commented on #930
@cptmedic Thanks again for submitting this! We will take a look at the code and see what could be causing this.

[2020-05-13 03:12] joshua-wx opened #931 "Bug in zphi retrieval"
Hi,
In the zphi attenuation retrieval (https://github.com/ARM-DOE/pyart/blob/master/pyart/correct/attenuation.py) on line 257, a base 10 power is taken to calculate the 'self_cons_number'. The formula for this technique requires the use of a natural exponent (See Wang et al 2019 equation 4, attached). I've tested this extensively and it corrects an issue where the pyart implementation gives specif

[2020-05-13 23:33] joshua-wx commented on #931
So it looks like the two reference provided for ZPHI are two different formulations... one used a base10 exponential (Gu et al) and the other used a natural exponent (Ryzhkov), with different coefficients in the exponent term to adjust for this change. Suggest a note is added to the docs explicitly saying the formulation is from Gu et al

[2020-05-15 13:26] zssherman commented on #931
Hi @joshua-wx I'll add a note, and after discussion with @scollis will look into the other formulation. Thank you for finding this!

[2020-05-18 03:05] huyaox opened #932 "No module named "pyart.io.sband_archive"?"

[2020-05-18 03:06] huyaox commented on #932
No module named "pyart.io.sband_archive"?

[2020-05-18 03:38] zssherman commented on #932
@huyaox What is the origin of this file, did you try the io.read auto read function? There isn't a sband_archive function in Py-ART.

[2020-05-18 07:22] huyaox commented on #932
after installing pyart,when run thin "from pyart.io.sband_archive import read_sband_archive",then show
No module named "pyart.io.sband_archive"，how to solve？

[2020-05-18 18:45] zssherman commented on #923
Pull request has been merged, can reopen if needed. Closing for now.

[2020-05-18 18:45] #923 closed

[2020-05-18 18:46] zssherman commented on #922
Done in #924 merging

[2020-05-18 18:46] #922 closed

[2020-05-19 21:04] dcedgren commented on #861
@zssherman

This issue was reidentified in Issue #922. The fix to that issue also addresses this one, so I think you can close this issue as well.

[2020-05-19 21:06] zssherman commented on #861
@dcedgren Yep, good catch! I will close this one too. Much appreciated!

[2020-05-19 21:06] #861 closed

[2020-05-20 18:44] dcedgren opened #933 "Support for RPG Build 19.0 Level III Nexrad Files"
Issue #887 documented upcoming changes to the RPG with Build 19.0. However, the issue and its PR focused on changes to Level II file formats. There are also a couple upcoming changes to Level III files. Namely:

- Product 171 is being removed. No change will be required in Pyart and it will continue to support old product 171 files.
- The draft ICD documents that the version number for Product 172

[2020-05-20 23:37] huyaox commented on #932
after instaling pyart ,when run this "from pyart.io.sband_archive import read_sband_archive", show the results"No module named "pyart.io.sband_archive" how to resolve it?

At 2020-05-18 11:38:56, "Zach Sherman" <notifications@github.com> wrote:

@huyaox What is the origin of this file, did you try the io.read auto read function? There isn't a sband_archive function in Py-ART.

—
You are receiving

[2020-05-20 23:44] zssherman commented on #932
@huyaox Have you tried using just pyart.io.read? There is not a pyart.io.sband_archive function in pyart which is what is throwing the error.

[2020-05-21 12:23] huyaox commented on #932
there is article https://cloud.tencent.com/developer/article/1471399  ，said “from pyart.io.sband_archive”

import matplotlib.pyplot as plt

import pyart
from pyart.io.sband_archive import read_sband_archive

filename ='Z_RADR_I_Z9250_20190409022800_O_DOR_SA_CAP.bin'
sradar =read_sband_archive(filename)

fig, ax = plt.subplots(figsize=(12,9))

srdisplay = pyart.graph.radardisplay.RadarDisplay(srada

[2020-05-21 14:20] zssherman commented on #932
Ah I see! @huyaox So it seems the authors of the paper they have a forked version of pyart and added to it new readers for the c98 and sband radars, according to the article. I'm not sure what user has the forked though from reading the article. You might have to contact the authors and see if their code is shareable, or if you can clone their fork. @scollis thoughts?

[2020-05-21 14:27] scollis commented on #932
Same @zssherman . We can not provide support for a feature in a fork we do not maintain.

[2020-05-21 19:23] zssherman commented on #933
Thanks @dcedgren, I'll look into this! And yeah, we can leave this open until July and test everything out.

[2020-05-22 17:49] zssherman commented on #930
Hi @cptmedic, this should now be fixed in #934

[2020-05-22 17:50] #930 closed

[2020-05-22 17:50] zssherman commented on #888
Fixed in #934 closing.

[2020-05-22 17:50] #888 closed

[2020-06-02 04:39] LucasGood opened #935 "Can't remove colorbar from graph"
[code]
I need to make an image that graphs only the radar image and nothing else.
Although  `colorbar_flag=False`, the saved image still has a color bar on the right.

![KOAX](https://user-images.githubusercontent.com/40900647/83480441-015ee280-a461-11ea-8260-f60ed137656b.png)

I've been looking through examples and the documentation and I haven't found a definitive way to remove this colorbar.

L

[2020-06-02 04:59] zssherman commented on #935
Hi @LucasGood I don't see a colorbar_flag in the second display.plot so I think the second plot is overwriting the second one, maybe try adding the colorbar_flag=False to your second display.plot

[2020-06-02 05:14] LucasGood commented on #935
That fixed it!

Thanks for being patient, sir.

[2020-06-02 05:14] #935 closed

[2020-06-02 05:15] zssherman commented on #935
No problem and glad to hear it!

[2020-06-02 21:51] wxwolff opened #936 "Issue with multiple-sweep RHIs with NPOL Sigmet data"
Using NPOL Sigmet RHI data with 3-sweeps: 195, 197 and 199 degrees.  First sweep is fine with data only present in ranges > 0 (NPOL can only scan 0-90 deg vertically). Unexpectedly the middle sweep (sweep 1) has data in both positive and negative ranges. The final sweep (sweep 2) is, like sweep 0, ok.  I have tested this with new and old data and with code I copied from the Pyart Plotting Examples

[2020-06-02 21:55] scollis commented on #936
Thanks Dave! Yes a file would be great. How was Py-ART installed? Can you post pyart.__version__

-sent from a mobile device-

[2020-06-03 10:37] wxwolff commented on #936
**I am using Anaconda (on mac 10.14 and linux Centos 6.10 (Final)).**

conda info
     active environment : None
            shell level : 0
       user config file : /Users/wolff/.condarc
 populated config files :
          conda version : 4.8.3
    conda-build version : 3.18.11
         python version : 3.7.7.final.0
       virtual packages : __osx=10.14.6
       base environment : /Users/wolff/

[2020-06-03 13:31] scollis commented on #936
@zssherman can you take a look

[2020-06-03 14:23] zssherman commented on #936
@wxwolff Interesting, yep @scollis I will take a look.

[2020-06-03 17:57] zssherman commented on #936
Oh wait you do have the most recent pyart...

[2020-06-03 18:04] wxwolff commented on #936
I am running 1.11.1 using Anaconda3.

I grabbed some code from the PyART Examples to verify this wasn't a coding issue on my part. Note that the issue became apparent to me when I did not set xlim. In the code below you can set sweep = 0, 1 or 2.

Thanks!

import matplotlib.pyplot as plt
import pyart

filename = '/Users/wolff/Desktop/Data/NPOL/RHI/np1200430153119.RAWAJG1.gz'

# create the plot usi

[2020-06-03 18:12] zssherman commented on #936
Ah ok, @wxwolff @scollis so i narrowed it down, but still figuring out why. So your using read rsl, when using that it produces the negative ranges. When I used auto read in my code, it uses read sigmet and the negative ranges don't appear. The different im not sure yet, but one of the readers is doing something to remove or ignore negative ranges or elevations, so i'll need to check where.

[2020-06-03 18:39] zssherman commented on #936
Elevation when reading with sigmet
[code]
With rsl:
[code]

[2020-06-03 19:19] wxwolff commented on #936
@zssherman   @scollis   This is definitely a SIGMET file. So I changed to the auto reader and no longer have the issue.  I assumed it was rsl because NPOL was one of the first radars we used in developing RSL.   Many thanks for your help!!

[2020-06-03 19:19] #936 closed

[2020-06-11 02:18] jlpippitt commented on #474
I know this is an old post and you may have implemented new code.  I was able to plot azimuths doing the following.

    dtor = math.pi/180.0
    max_range=150.0
    maxrange_meters = max_range * 1000.
    meters_to_lat = 1. / 111177.
    meters_to_lon =  1. / (111177. * math.cos(radar_lat * dtor))

    for azi in range(0,360,30):
            azimuth = 90. - azi
            dazimuth = azimuth * dt

[2020-06-11 05:45] zssherman commented on #474
Thanks @jlpippitt ! I can't remember if this was ever added, but would be great to add to an example or function if it never was. I'll look into that.

[2020-06-11 23:27] vlouf commented on #694
It's an old issue but it became a problem for me again recently, because there are so many fields missing in the recent dual-pol files due to comms issues. The error is of this nature:
`KeyError: "Unable to open object (object 'data4' doesn't exist)"`

pyART assumes the same moments are available in every tilt.  That could lead to this problem.  There is no guarantee that the same moments are alwa

[2020-06-11 23:33] scollis commented on #694
As always Thank you Valentin

-sent from a mobile device-

[2020-06-12 16:17] zssherman commented on #694
Fixed in #938 closing.

[2020-06-12 16:17] #694 closed

[2020-06-26 00:55] VincentForcadell opened #939 "Projection of grid objects using map.grid_from_radars"
Hi users,

I am using the pyart version available in conda.

I am encountering a problem when I want to plot pyart.grid.Grid objects.

When I first create the Grid object with map.grid_from_radars, I define boundaries xlimits, ylimits, zlimits **in meters** (200km*200km*20km). The cartesian grid created has then dimensions **that are in meters**, and a certain number of cells along x,y,z axis.

No

[2020-07-01 14:35] VincentForcadell commented on #939
Error Corrected : it was a mistake in my code concerning the extent of the data.

[2020-07-01 14:35] #939 closed

[2020-07-01 21:20] swnesbitt opened #940 "gatefilter not working in `pyart.map.grid_from_radars`"
I'm not having any luck getting a gatefilter to remove bad gates when passed to `pyart.map.grid_from_radars`.  I spoke to @rcjackson on Slack and he suggested using the `gatefilter.gates_excluded` to mask the data, but this does not seem to be functioning as intended.

![Screen Shot 2020-07-01 at 4 19 43 PM](https://user-images.githubusercontent.com/3288592/86292622-b1d21a80-bbb6-11ea-88f0-0e326a9

[2020-07-01 21:27] scollis commented on #940
Can you try something crazy like excluding Z> 20

What did you construct the filter from?

-sent from a mobile device-

[2020-07-01 21:28] swnesbitt commented on #940
# filter out gates with reflectivity > 100 from both radars
gatefilter_1 = pyart.filters.GateFilter(radar1)
gatefilter_1.exclude_transition()
gatefilter_1.exclude_below('normalized_coherent_power', 0.3)
gatefilter_1.exclude_above('differential_reflectivity', 5)
pyart.correct.despeckle.despeckle_field(radar1, 'reflectivity', label_dict=None, threshold=-100, size=10, gatefilter=gatefilter_1, delta=5

[2020-07-01 21:30] swnesbitt commented on #940
I tried excluding reflectivity > 20 - works in the plot, but not the grid again.

![Screen Shot 2020-07-01 at 4 30 09 PM](https://user-images.githubusercontent.com/3288592/86293402-26598900-bbb8-11ea-9805-8c0a8f1db04a.png)

[2020-07-01 21:38] swnesbitt commented on #940
Was able to workaround with
[code]
Off to `pydda` land!

[2020-07-01 21:43] scollis commented on #940
Cool beans. Zach can you use a gate filter on some data to see if it works on our end

-sent from a mobile device-

[2020-07-01 21:44] zssherman commented on #940
Yeah, I'll take a look and see if I can figure out what's going on.

[2020-07-02 15:40] rrniii opened #941 "180 Degree PPI from https://arm-doe.github.io/pyart/API/generated/pyart.util.cross_section_ppi.html"
Would it be possible to create an option to create a full 180 degree RHI (i.e. on that crosses zenith) from a volume of PPI data?

[2020-07-02 17:08] zssherman commented on #940
Yeah, @swnesbitt @scollis
I'm able to reproduce, was just trying to exclude below reflectivity 0 and still shows up. I'll have to look into whether or not there was a numpy update that changed mask behavior or something.
![test_grid](https://user-images.githubusercontent.com/19153455/86389948-c36dfd80-bc5c-11ea-9d4e-3d4730755610.png)

[2020-07-02 17:50] zssherman commented on #941
I'll look into this, there actually might be a bug in the cross section code. I was taking a look now  and specified 3 desired cross sections and received 51 sweeps... But I'll try to get the correct behavior going and then take a look at this enhancement

[2020-07-02 18:54] rrniii commented on #941
Thanks Zach. A few members of my group would find it useful. The title of this request should have been “180 degree RHI from....” sorry about that. Not enough brain power left over here at the end of my day in Leeds.

[2020-07-07 02:46] cptmedic opened #942 "map_gates_to_grid creates blobish edges when weight function set to nearest"
Good evening,

Zach asked that I create a Github Issue for the following issue.

Previously when generating a geotiff, map_gates_to_grid would generate a radar file with blue aliasing throughout (pictured below):
![image](https://user-images.githubusercontent.com/27046411/86694470-41216880-bfd1-11ea-8f20-8ed4a4c9c7a9.png)

Merge Request #934 fixed the blue aliasing, but seemed to introduce a new i

[2020-07-07 03:35] zssherman commented on #942
Thanks @cptmedic! @rcjackson this is in the nearest neighbor cython code whether you get a chance probably after the conference this week if we can work together and sprint to fix this?

[2020-07-13 18:33] rcjackson opened #943 "Unicode error when loading Py-ART Grids: add explicit conversion to Unicode?"
A reviewer of my PyDDA attempted to load .nc Grid files I had created with PyART and ran into an unusual error. I suspect his system is using ASCII as the default encoding for strings, but when I look at netCDF4's issue tracker, they use utf8 for their encoding. Therefore, when he tried to use pyart.io.read_grid, the reviewer gets a UnicodeDecode error. One workaround for any user for now would be

[2020-07-13 18:41] zssherman commented on #943
@rcjackson I personally have never run into this before, but I do agree having a checker to convert to utf8 would be a good route to go.

[2020-07-13 18:58] rcjackson commented on #943
Add that to the list of things to do on our Wednesday sprint.

[2020-07-13 18:59] zssherman commented on #943
Haha yep, sounds good to me

[2020-07-15 18:27] zssherman commented on #942
@cptmedic This issue might have been found, can you share this file or how are you obtaining the file in the top two images?

[2020-07-15 18:27] zssherman commented on #942
To test it out

[2020-07-17 05:38] cptmedic commented on #942
@zssherman I have emailed you the python script in it's entirety

[2020-07-17 17:37] zssherman commented on #940
@swnesbitt I think it might be a typo, can you have gatefilter parameter be called gatefilters, gatefilters is a kwarg parameter that gets plugged into map_gates_to_grid, and if its gatefilter, it will pass an unknown parameter to kwargs and pyart then will set gatefilter to a basic moment gatefilter thinking gatefilters is False. I tried gatefilter and got no mask, provided gatefilters and got th

[2020-07-22 18:43] zssherman commented on #942
@cptmedic In #947 this should now be fix! I have to push out a release still, but in the mean time you can get the fix by git cloning and installing the pyart repo itself.

[2020-07-24 09:13] cptmedic commented on #942
Installed from repo source and can confirm it works great! Thanks guys!

[2020-07-24 09:13] #942 closed

[2020-07-28 19:34] kracwarlock opened #951 "cannot install pyart as part of requirements.txt because of missing numpy"
https://github.com/ARM-DOE/pyart/blob/3bbab4a012349559874e0923b5a5c4f1962d6540/setup.py#L165
`pyart` imports `numpy` in `setup.py` so if you are setting up `arm_pyart` within a `requirements.txt` file it will fail since `numpy` is not pre-installed. it would be better if numpy could be listed as a dependency instead and python's distutils used to setup the package.

[2020-07-30 15:58] zssherman commented on #951
@kracwarlock Yeah, I agree, we do plan on moving the setup.py to setuptools in the future. Just sadly haven't gotten to it yet.

[2020-07-30 21:23] dcedgren commented on #933
Status update. I went today and tried to find the new Product 131 today for testing. I wasn't able to find it. I don't run in the right circles to know, but perhaps deployment was delayed? This issue probably deserves revisiting again in another few months for eventual testing.

[2020-08-03 18:04] pedroaugustosmribeiro opened #952 "Read Rainbow 5.37.6 file with different number of bins between sweeps"
Please check if it's possible to parse a RAINBOW file version 5.37.6 that gives the error: "Number of ranges bins changes between sweeps"
It's readable on wradlib.

[2020-08-04 17:42] jthielen opened #953 "Support for additional weighting functions in grid mapping (including range- and time-dependence)"
In the grid mapping routines (`grid_from_radars`, `map_gates_to_grid`, and `map_to_grid`), would there be support for expanding the `weighting_function` options that are available to use, either by additional built-in options or refactoring to support custom functions?

My particular use-case is re-implementing the [GridRad procedure](http://gridrad.org/pdf/GridRad-v3.1-Algorithm-Description.pdf)

[2020-08-04 17:47] zssherman commented on #953
I would say having an option for custom weights or more built in weights would be great. @scollis Your thoughts?

[2020-08-04 18:21] scollis commented on #953
100% yes

From: Zach Sherman <notifications@github.com>
Reply-To: ARM-DOE/pyart <reply@reply.github.com>
Date: Tuesday, August 4, 2020 at 12:47 PM
To: ARM-DOE/pyart <pyart@noreply.github.com>
Cc: Scott <scollis.acrf@gmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [ARM-DOE/pyart] Support for additional weighting functions in grid mapping (including range- and time-dependence) (#953)

[2020-08-06 07:27] lingyunfeng commented on #932
I know this forked version of pyart,  which is forked from https://github.com/bugsuse/pyart/tree/master/pyart/ . read_sband_archive functon is for  chinese sband radars,  I hope read_sband_archive functon  can be merged  to master version of pyart.    @zssherman  @huyaox

[2020-08-07 18:13] zssherman commented on #932
@lingyunfeng Yeah, I think it would be a great addition. If bugsuse is the contributor for that would have to see if they would want to do a PR and depending on unit tests etc add it to the aux_io or io.

[2020-08-07 18:49] zssherman commented on #952
@pedroaugustosmribeiro Yeah, might need to add a max bin and mask bins added to lower bin sweeps for sweeps with differing shapes. I believe something similar to this exists in one of the nexrad readers, so I'll see if I can track it down.

[2020-08-14 18:50] stinchy opened #954 "Building Py-ART with TRMM RSL Support."
Hi Guys,

I have been trying to build Py-ART with TRMM RSL support as is outlined on the website [here.](http://arm-doe.github.io/pyart/INSTALL.html)
I installed TRMM RSL v1.50 and have verified the locate at /usr/local/trmm.  I added a bash global variable to point $RSL_PATH to /usr/local/trmm.  I then cloned Py-ART through git and then ran python3 setup.py install.   However, this apparently did

[2020-08-17 14:44] zssherman commented on #954
Hmm, have you tried using conda environments? When it comes to locally installed trmm_rsl I don't have much experience. But typically with conda trmm_rsl is conda installed and the path is set to the environment to avoid issues with base packages etc. Also I wonder if trmm_rsl needs to be in dist-packages similar to where pyart and your other modules are. Wondering if python is not finding anythin

[2020-08-18 05:45] dopplershift commented on #933
Looks like things are live, both the beta sites as well as the sites running the low elevation angles. It turns out the product 113, being basically a clutter map, isn't available on NOAAPORT. You can get them from the NWS TG, or we (Unidata) seem to have them (somehow) hiding in the LDM HDS feed (under WMO header SDUS6). They have the product code N[0123ABYX]F (like N0Q).

The product 172 I pulle

[2020-08-18 18:50] stinchy commented on #954
HI @zssherman.

I am now trying to use Anaconda3 as is also outlined in the Py-ART install page.  I am trying to install the pyart environment from  https://github.com/ARM-DOE/pyart/blob/master/environment.yml

When I run `conda env create -f environment.yml`  I get errors that appear to be related to a formatting issue with the yaml file on line 124 which is the following:
`<span style="backgroun

[2020-08-19 00:30] vlouf opened #955 "dtype not preserved after gridding"
The dtype of input fields is not preserved by the gridding operation. For example, in the original ppi radar, we have these fields:
[code]

And after gridding everything is float32. Currently I have this little piece of code to correct the types of the input fields:
[code]
But it would be nicer if the gridding preserved the type (or automatically correct it right after gridding).

[2020-08-19 00:45] scollis commented on #955
Thanks @vlouf Agree

[2020-08-19 15:57] zssherman commented on #954
@stinchy Thats odd, that doesn't seem like a yml issue. That looks like a html error, which not sure where that is originating from. Was there other messages with the enviroment creation? I'm honestly not sure about the yml error. You could also trying;
conda create -n pyart_env python=3.7 numpy scipy cartopy netCDF4 trmm_rsl matplotlib
then set path to (an example) export RSL_PATH=/home/zsherman/

[2020-08-19 19:37] zssherman commented on #955
@scollis @vlouf See #956

[2020-08-21 18:44] lauratomkins opened #957 "Nearest neighbor interpolation issue when gridding"
I'm having an issue with the `weighting = 'Nearest'` option in the `pyart.map.grid_from_radars` function with NEXRAD Level 2 data. Anytime I use this weighting option, every field except the reflectivity looks wrong. I can use the Cressman weighting with no issues. I've provided some example images and code to reproduce. Any insight would be very helpful! Thanks.

Here is an example set of images

[2020-08-24 15:17] lauratomkins commented on #957
Hi @zssherman, I updated the gridding_algo parameter, but no difference in the end result. I also plan to process hundreds of cases so not really an option for me right now.

[2020-08-24 18:17] zssherman commented on #957
Gotcha, we'll be taken a look at the code to see if we can figure out whats going on.

[2020-08-25 14:35] rcjackson commented on #957
So, looking at your data, from what I recall when NEXRAD is in dual PRF mode it will store the same tilt in 2 different sweeps. One tilt will not have dual PRF on, so we only get reflectivity and rhohv, and the other tilt will have dual PRF on is meant for velocity and spectral width. Therefore, you need to be using the first tilt for reflectivity and rhohv, and the second for velocity and spectra

[2020-08-25 15:04] lauratomkins commented on #957
@zssherman Thanks for your comment, I'm getting similar results as well with this workaround. Not super ideal but hopefully should work for what I'm doing.

[2020-08-29 21:33] lauratomkins commented on #957
Hi @zssherman and @rcjackson. I'm wanted to document some additional issues that I'm having with the nearest neighbor interpolation in the `grid_from_radars` function. Since I initially posted my question, I separated the sweeps so I'm now only interpolating one sweep (which fixed my initial issue, Thanks!). But now I'm having some slightly different issues.

For reference, here is the dealiased v

[2020-09-01 16:24] lauratomkins commented on #957
The -5000 m/s values show up *after* gridding. Before gridding the lowest
value is ~-60 m/s so this seems to be an error that shows up during the
interpolation process.

On Tue, Sep 1, 2020 at 12:02 PM Bobby Jackson <notifications@github.com>
wrote:

--

Laura Tomkins, M.S.

Ph.D. Student | Center for Geospatial Analytics

College of Natural Resources

Jordan Hall 5144 | Campus Box 7106

North Car

[2020-09-01 16:50] zssherman commented on #957
@lauratomkins Yeah after discussion with @rcjackson seems there might be an issue on how the mask is being applied. We will be taking a look at it.

[2020-09-01 21:53] millercommamatt commented on #957
Unless I'm mistaken, it looks like the gates values are being mapped to a grid instead of a grid being populated with the nearest gate values. This would explain the empty grid boxes in the data shown by @lauratomkins. Basically, no data are being mapped to those empty grid boxes since there are other grid boxes closer to the surrounding gates. I'm not sure what's going on where the values are rea

[2020-09-02 14:06] rcjackson commented on #957
Do you have the data file for this scan? I was unable to reproduce your behavior even after dealiasing the file you gave me and setting the grid spacing to 2 km. Rather, I get a much more reasonable CAPPI:
![nearest](https://user-images.githubusercontent.com/22085748/91993889-8cb77080-ecfb-11ea-8fd0-1007581f021e.png)

[2020-09-02 14:28] lauratomkins commented on #957
Here is the [file](https://drive.google.com/file/d/1ZF1O8I7bo30RuZmJ7UudUl6QFPYoIdeI/view?usp=sharing)

And I'm actually using a grid spacing of 500 m, that's a typo on my figures above.

[2020-09-02 15:00] rcjackson commented on #957
I still am unable to reproduce your error with map_gates_to_grid at a 500 m scale. When I use this grid specification, I get a very reasonable looking plot.
![nearest](https://user-images.githubusercontent.com/22085748/92000220-e40d0f00-ed02-11ea-98b1-25c78e3feaee.png)

`grid_nearestn = pyart.map.grid_from_radars(
        (radar,), grid_shape=(1,801,801), griding_algo='map_gates_to_grid',

[2020-09-02 15:10] lauratomkins commented on #957
This is the code I'm using. I tried adding in the `roi_func='constant_roi'` and `constant_roi=2000.0` but no luck there either. Are you using the most up to date pyart version? I'm still using the latest conda-forge install.

[code]

[2020-09-02 15:15] rcjackson commented on #957
You may want to install pyart from source. We have made a few fixes to the nearest neighbor code since the conda forge release.
See Issue #942.

To install pyart from the latest build, you'll want to uninstall your conda pyart and then do:

pip install git+https://github.com/ARM-DOE/pyart

This should include this latest fix.

[2020-09-02 15:16] zssherman commented on #957
And I'll get a new release out shortly.

[2020-09-02 17:28] zssherman commented on #957
A new release is now out, I would give it 20 minutes or so for conda-forge to update and have the new downloads.

[2020-09-11 20:16] guidodev opened #958 "gate_longitude['data'] method for NEXRAD Level 3 no longer working in 1.11.2"
Normally, the following code...

[code]
...correctly yields:

[code]

With 1.11.2, the result is the following error:

[code]
I've tested 1.10.1, 1.10.4, 1.11.0, 1.11.1, and 1.11.2. Only 1.11.2 appears to be affected by this problem, so my workaround for now is sticking with an older version.

Thanks in advance!

P.S. I don't know if this is related, but it seems worth noting that all 1.11.x versi

[2020-09-11 20:24] zssherman commented on #958
Thanks @guidodev for reporting! I'll have to take a look and see what could be causing this. Coordinate functions havent been touched, atleast that I'm aware of, so I'm curious what could have changed. And doesnt look like your using conda so, my thought of a dependency issue with the new version is out the window. I'll have to dig deeper into what is causing this, but thanks for reporting this, I

[2020-09-11 23:22] guidodev commented on #958
@zssherman You bet, I was scratching my head for similar reasons, because I didn't see anything in the 1.11.1 -> 1.11.2 release notes that would suggest this issue would crop up. FWIW, the testing I did was with pip3 and totally clean envs each time -- I even went to the trouble of creating a completely new user for each test. ;-) Maybe somehow it really is just related to dependencies -- that's a

[2020-09-14 22:06] bmgxyz commented on #958
I ran into this issue as well with product 176. Unfortunately, rolling back isn't an option for me because I need product 176 for my problem, and support for product 176 arrived with v1.11.2.

I used `git bisect` to figure out where the bug arose. It seems to come from [this commit (c22ee73a)](https://github.com/ARM-DOE/pyart/commit/c22ee73a1af67e0b7113e2580046f0e2cebad276), which makes sense sinc

[2020-09-14 22:42] zssherman commented on #958
Thanks @bmgxyz, great catch also! After looking back at a previous discussion with dcedgren, we discussed whether to use None or 0.0, if I could find a compatibility issue, now looking at this, I think your fix is the way to go. I missed the compatibility issue with the coord retrievals. I will submit a PR for this, shortly.

[2020-09-14 23:03] zssherman commented on #958
The PR passed and has been accepted, let me know if it works. I'll have to get a micro release out for conda-forge soon

[2020-09-14 23:57] bmgxyz commented on #958
@zssherman Seems to work just fine on my machine. Thanks for the quick turnaround. :+1:

Of course, it's up to @guidodev whether this really solves their original problem, but FWIW I'm happy.

[2020-09-17 03:14] kurtsansom opened #960 "Why does UF reader ignore the nyquist interval?"
in the uffile.py  the function that populates the nyquist field only fills the array if a nyquist value exists for at least one field in each ray.
Is there a different way this can be handled? i.e. put in a default value or create a nyquist mask?

My lazy thought would be to set rays without a nyquist value to some default like -1.0 or 0.0?
or would it make more sense to create a mask?  or would i

[2020-09-21 13:42] #957 closed

[2020-09-21 14:10] lauratomkins opened #961 "Inconsistent velocity dealiasing"
I'm having an issue when dealiasing some radial velocity fields from NEXRAD data. I have 3 sequential velocity fields that have similar raw velocity fields and after dealiasing, 2 of the dealiased fields look fine but one of them seems to "over correct" the field. I've tried filtering the velocity before dealiasing (filtering values < 5 dBZ) but that makes the issue worse. I also tried despeckling

[2020-09-21 14:13] lauratomkins commented on #961
Example code
[code]

[2020-09-28 15:44] mwilson14 opened #962 "Error reading NOAA P3 tail doppler radar data"
Hi everyone,

I've been working with some of the P3 radar data from TORUS using PyART, and when I first tried reading in one of the files I got this error:

![image](https://user-images.githubusercontent.com/25419751/94454117-17fb1900-0177-11eb-9ef4-2721de82a021.png)

I was able to fix it by changing the call to "np.rec.frombuffer" in line 47 of _sigmet_noaa_hh.py to "np.frombuffer", so I thought

[2020-09-28 15:48] zssherman commented on #962
Hi @mwilson14 yeah that looks like the submodule was changed so, I think your fix will work. I'll do a PR and author it as you so you get PR credit.

[2020-09-28 16:27] mwilson14 commented on #962
Thanks! I'm just really glad that the fix turned out to be as small of a change as it was.

[2020-10-04 17:59] lauratomkins commented on #961
Link with level2 files https://drive.google.com/file/d/1DDbImmX9anGtMTskBlxrhQE9aNNF3Nre/view?usp=sharing

[2020-10-05 18:03] rcjackson commented on #961
You usually need a *very* aggressive filter for clutter to have the velocity dealiasing to work correctly. It is vital that most, if not all, of the noise in the center is removed. I would suggest using a velocity texture filter. Higher values of velocity texture correspond to noise and multi-trip echoes, so this will help get rid of a lot of your noise in the center.

You can get the velocity tex

[2020-10-12 20:58] lauratomkins commented on #961
Thanks for the advice @rcjackson !

I tried filtering by the velocity texture and despeckling but the algorithm still struggled (in different ways). I'm currently experimenting with using the `remove_small_objects` function from the scikit-image morphology package which seems to work really well.

[2020-10-12 20:58] #961 closed

[2020-10-29 11:47] jleinonen commented on #958
For anyone with this problem before the fix makes it to their version, a quick workaround seems to be to just manually set `radar.elevation['data'] = 0.0`. After that `gate_longitude` and `gate_latitude` seem to work just fine.

[2020-11-11 18:18] zssherman commented on #962
Was fixed in #963 closing.

[2020-11-11 18:18] #962 closed

[2020-11-11 23:45] zssherman commented on #958
Thanks again all for the suggested fixes, workarounds, etc. I did a new release, so closing this. Let me know if you run into any issues in the new release.

[2020-11-11 23:45] #958 closed

[2020-12-09 22:21] HumphreysCarter opened #967 "TDWR Level II Files"
Hello,

So I tired plotting Level II data from a TDWR but when I load the data in I get an AssertionError with ` pyart.io.read_nexrad_archive`.

L2 file: https://noaa-nexrad-level2.s3.amazonaws.com/2020/12/09/TJFK/TJFK20201209_000314_V08

[code]

[2020-12-11 18:25] zssherman commented on #967
Hi @HumphreysCarter, hmm, I'll have to think of a way around this. Seems the spacing for the file changes for some moments, but its not 1/4 it looks to be 1/2 which is failing the interpolation code. This is a relatively new files, so wonder if something change within the files themselves. Hmm... I'll have to think on this one.

[2020-12-11 18:32] zssherman commented on #967
Do you have another file possibly near that date range? I wonder if its file unique.

[2020-12-11 18:37] HumphreysCarter commented on #967
Yeah I tired several TDWR files, each had issues. Even with different sites, still had no luck.

https://noaa-nexrad-level2.s3.amazonaws.com/2020/12/09/TJFK/TJFK20201118_000425_V08
https://noaa-nexrad-level2.s3.amazonaws.com/2020/12/09/TJFK/TJFK20201118_001625_V08
https://noaa-nexrad-level2.s3.amazonaws.com/2020/12/09/TJFK/TJFK20201118_002825_V08
https://noaa-nexrad-level2.s3.amazonaws.com/2020/12

[2020-12-16 21:53] dm0096 opened #968 "Gridding Hangs Up for Some Cf-Radial Files"
Good afternoon,

I'm trying to grid two radar files from UAH ARMOR. Both are Cf-Radial .nc files. One file grids in ~9.5 seconds, and the other is still "gridding" as I write this (going on 25 minutes after execution). I've attached a test script and the two files in this link:

https://www.dropbox.com/sh/cc279ejqqcb3bs1/AAAADEbt6rStPEL7z5NN7yI3a?dl=0

To reproduce the problem:
Run the attached sc

[2020-12-16 22:07] scollis commented on #968
Interesting.

I would suggest tying a gatefilter

https://arm-doe.github.io/pyart-docs-travis/API/generated/pyart.filters.GateFilter.html#pyart.filters.GateFilter

Throw in an exclude invalid https://arm-doe.github.io/pyart-docs-travis/API/generated/pyart.filters.GateFilter.exclude_invalid.html#pyart.filters.GateFilter.exclude_invalid

Pass that gatefilter (If I recall correctly it is gatefilters=

[2020-12-16 22:27] dm0096 commented on #968
I added gatefilters with identical constraints to each grid. The gatefilter, using exclude_invalid, does speed up the first grid by 2 seconds, but the second grid still won't finish. As a test, I then included an exclude_below for reflectivity < 20 dBZ, and that sped up the first grid by 3 seconds, but the second grid again didn't finish after several minutes.

[2020-12-16 22:33] scollis commented on #968
Interesting. Zach can you try gridding the slower file?

-sent from a mobile device-

[2020-12-16 22:33] zssherman commented on #968
Hmm, yeah your map_gates_to_grid so no problems there, and your limits and shape aren't too high. Wonder what ppis prior to gridding look like. If anything looks off with the second file. I was going to say gatefilter as will, but yeah @scollis I'll try the slower file.

[2020-12-16 22:51] dm0096 commented on #968
Here's PPIs of the files before gridding with only the exclude_invalid gatefilter applied. The right plot corresponds to the slow grid.
![ref](https://user-images.githubusercontent.com/69158192/102416094-d6804a00-3fbe-11eb-8f0e-f71d47180d06.png)

[2020-12-16 23:16] zssherman commented on #967
@HumphreysCarter So it seems nexrad reader currently doesn't have the capability to read the TWDR datasets. And after discussion with @scollis, @dopplershift, does metpy have the capability to read TWDR? We were thinking of possibly doing a bridge to metpy for an io.

[2020-12-16 23:20] dopplershift commented on #967
@zssherman Yes, we handle the TDWR level 2 files. I'm happy to have you all bridge to us--but honestly, if you're already handling the Build 19 NEXRAD Level 2, there's not much to tweak to make TDWR work. We don't have any special code paths or anything, I think just a few asserts/checks that needed loosening.

I *think* [this commit](https://github.com/Unidata/MetPy/commit/f90f622aba148e13b8b587a

[2020-12-16 23:29] zssherman commented on #967
Makes sense. Yeah if that's all that requires reworking, I agree. I'll modify the pyart nexrad code with a implement of the linked commit to get this working. As always I appreciate it @dopplershift !

[2020-12-16 23:47] zssherman commented on #968
So I think I found a solution @dm0096 , so typically the radar latitude lon alt etc are 1 value and not arrays. I believe they are messing the init gate functions. Which throws me off more though is why the first radar still works with the same situation. What I did was:
radar2.altitude['data'] = np.array([radar2.altitude['data'][0]])
radar2.longitude['data'] = np.array([radar2.longitude['data'][0

[2020-12-17 00:10] dm0096 commented on #968
@zssherman It works! Going forward, I'll add failsafe measures in my code to use your procedure whenever the lat/lon/alt data comes in arrays.

Thanks everyone!!

[2020-12-17 00:36] dm0096 commented on #968
I should expand on my last comment. After further experimentation, it's not necessarily that the gridding hangs up whenever the lat/lon/alt data are in arrays, it's that it hangs _when they're MaskedArrays._ Retrieving only the un-masked values solves the issue as well. I also masked some disturbing altitudes (-9998 m) first.

[2020-12-17 00:46] zssherman commented on #968
@dm0096 Ahh yep that now makes sense! Thanks for letting me know, I was scratching my head on that one.

[2020-12-17 01:38] HumphreysCarter commented on #967
Thanks for the fix @dopplershift and @zssherman!

[2020-12-17 17:26] zssherman commented on #968
I'm going to close this for now @dm0096, if something arises I can always reopen.

[2020-12-17 17:26] #968 closed

[2020-12-30 20:34] jaypotnis opened #970 "How to cutoff radar moments outside a specific range value?"
Hello all,
I am new to radar data processing and have recently started using pyart. I have written a code for plotting radar moments on a cartopy map. I am using the pyart.graph.RadarMapDisplay.plot_ppi_map function to plot radar moments on the map. Below is a snippet of the code I am using for plotting.

`display.plot_ppi_map('reflectivity', sweep= sweep, ax=axeses[0][0], vmin=0, vmax=70,

[2020-12-30 21:46] zssherman commented on #970
Hi @jaypotnis, you can try to index and mask a copy of the radar reflectivity with your range attribute,
something like
rng = radar.range['data']
radar.add_field_like('reflectivity', 'reflectivity_copy',
                                radar.fields['reflectivity']['data'].copy())
radar.fields['reflectivity_copy']['data'][:, range > 100000]

somewhere along those lines

[2020-12-31 09:36] mustafaalicelik opened #971 "1 of 7 sweeps read"
Solved

[2021-01-02 22:30] jaypotnis commented on #970
That worked. Thank you very much for your help.

[2021-01-02 22:31] #970 closed

[2021-01-05 17:55] wxwolff opened #972 "Problems with Cartopy and pyart"
I am suddenly having trouble getting RadarMapDisplay to draw radar display on Cartopy map on my Mac. The code below shows my computer, OS and the versions of arm_pyart, Cartopy and Matplotlib.  This is from a fresh install of anaconda and subsequent install of arm_pyart and Cartopy using conda.

import numpy as np
import matplotlib.pyplot as plt
import pyart
import cartopy
import cartopy.crs as cc

[2021-01-05 18:05] zssherman commented on #972
Hi @wxwolff I believe this was a bug in Cartopy 0.17, can you update to 0.18 and let me know if that works?

[2021-01-06 18:16] mwilson14 opened #974 "Weird ZDR Data Issues When Reading NOMADS Level II Data"
Hi pyart folks!

So I've been using pyart to read real-time level II data from the nomads level II feed (https://nomads.ncep.noaa.gov/pub/data/nccf/radar/nexrad_level2/), and I've noticed that pyart recently started having problems reading in the ZDR data from these level II files. Where before the data values were within the ZDR valid data range of ~-8 to 8 dB, now the maximum values I'm seeing f

[2021-01-07 17:05] zssherman commented on #974
Hi @mwilson14 , interesting I will look into this. Have you updated pyart recently. We did some changes to the nexrad reader about a week ago. So if you did that might help narrow it down that maybe our changes could have broke something.

[2021-01-07 17:07] mwilson14 commented on #974
I think I last updated it earlier this fall, so I'll update it today and see if that fixes the issue.

[2021-01-07 17:24] mwilson14 commented on #974
Updating to the latest pyart release appears to have fixed the problem. Thanks!

[2021-01-07 17:25] zssherman commented on #974
Glad to hear @mwilson14 !

[2021-01-08 00:46] William0251 opened #975 "Issue creating labels RadarMapDisplay"
Hello,

I am new to python and I am try trying to create some symbols in my PPI plot so that I can represent the locations of the radars that I am using in my research. This seemed to me as an easy solve, but I can't figure out how to get further. For my code, I used the example code for creating a PPI plot on a cartopy map(https://arm-doe.github.io/pyart/source/auto_examples/plotting/plot_ppi_wit

[2021-01-11 14:03] William0251 commented on #975
If there is any information missing or if something is unclear, please let me know!

[2021-01-11 15:49] zssherman commented on #975
Hi @William0251, would plot_point still work with label text for the other two radars, similar to the first radar point you plotted or do you only want the label to show? I don't see the plot_label function in radarmapdisplaycartopy, my guess is projections are messing with it as it wasn't adapted from what I see. I'll have to see if I can get the plot_label to work with cartopy as well, or see if

[2021-01-12 13:05] William0251 commented on #975
Thanks for the reply. I substituded plot_label for plot_point and it worked! I runned the code again with plot_label, to check wether it worked because I restarted the code, but plot_label still doesn't work. I simply wanted to highlight the locations of the radars, so plot_point is actually perfect. Thanks for the help!

The figure:
![image](https://user-images.githubusercontent.com/35263260/1043

[2021-01-12 13:05] #975 closed

[2021-01-17 18:23] tjturnage opened #976 "assigning elevation angles and surveillance versus doppler designation to each sweep in NEXRAD L2 data"
Hello,
With the commonly used SAILS (Supplemental Adaptive Intra-volume Low-level Scan) and MRLE ((Mid-Volume Rescan of Low-level Elevations) settings for Volume Coverage Patterns in NEXRAD, it's often difficult to know which sweeps pertain to which elevation angles. Furthermore,  it is challenging to know whether sweeps at the lower elevation angles are associated with a Contiguous Surveillance (

[2021-01-19 16:03] zssherman commented on #976
I think this would be of interest @tjturnage! If you had some code, I would say a PR would be great and I can try to help where need be.

[2021-01-23 01:28] HumphreysCarter commented on #813
I also need some expanded functionality of the colorbar, specifically pad and aspect, but I added all the colorbar properties for [matplotlib.pyplot.colorbar](https://matplotlib.org/3.3.3/api/_as_gen/matplotlib.pyplot.colorbar.html) from the matplotlib docs.

[code]

[2021-01-31 23:06] grwise1 commented on #928
I was able to use this solution [https://github.com/Unidata/MetPy/issues/1470](url) to open the chunks in Metpy Level2file format. However, I am disappointed to be missing out on pyart's extensive dealiasing and filtering capabilities. If anyone does have any suggestions on this, please let me know. Receiving the chunks data is ideal for my application, especially with the ability to capture SAILS

[2021-02-03 21:58] dopplershift commented on #928
@grwise1 You shouldn't need to make any changes, with MetPy 1.0 things should "just work"--if they don't, please do [open an issue](https://github.com/Unidata/MetPy/issues/new).

I don't know about pyart's routines specifically, but one of the reasons chunks are difficult to deal with is that there is important information (e.g. number of scans, nominal scan angles, etc.) at the start of the volum

[2021-02-03 22:17] grwise1 commented on #928
Hi Ryan,

I appreciate all your feedback. I just want to try to clarify why I am approaching this from such an angle. If I wait for the entire volume scan to complete, I will be minutes delayed from when the initial base scan occurred. If I instead capture the chunk data, I can receive the base scan without waiting for the entire volume to complete. (for example: Running code that captures only th

[2021-02-12 08:16] gewitterblitz commented on #884
@scollis @rcjackson Any updates on this?

[2021-02-12 10:20] mustafaalicelik commented on #597
I guess this feature hasn't been added to pyart yet? I need some help on this.

[2021-02-12 15:43] zssherman commented on #597
@mustafaalicelik I'll see if I can get the pyrad implementation provided by meteoswiss into pyart.

[2021-02-14 12:53] mustafaalicelik commented on #597
Any improvement?

[2021-02-14 13:39] scollis commented on #597
Can’t you just make a single level grid?

-sent from a mobile device-

[2021-02-15 01:45] zssherman commented on #813
Hi @HumphreysCarter, I think the added functionality is great! If you want to do a PR, I can review it? Cheers

[2021-02-17 03:36] HumphreysCarter commented on #813
@zssherman I'll give making a PR a shot, if I have the time over the next couple weeks. I also did a little playing around to add unit support with Pint: https://github.com/HumphreysCarter/pyart/commit/5e7ae23d9310ded92b9823249b9179e0635e933b. I couldn't see where that was an option before?

[2021-02-17 17:39] zssherman commented on #813
@HumphreysCarter Yeah no rush, I can help if need be, but from looking at the commit for the colorbar everything looks good to me. With Pint @scollis would we want temporarily add pint as an optional dependency? When we switch to xarray, i think pint is included in that dependency list, so what do you think of added pint as an option to plotting?

[2021-02-18 18:10] cclopes opened #977 "pyart.aux_io.read_gamic() failing with h5py 3.1.0"
When I try to open a file with `pyart.aux_io.read_gamic()` in an environment with h5py 3.1.0, the following error occurs:

[code]

<details>
<summary>Environment that caused the error</summary>

[code]

</details>

When using another environment with h5py 2.10.0, the file opens normally.

<details>
<summary>Environment that works</summary>

[code]

</details>

Tested with these GAMIC-HDF5 files: [

[2021-02-18 18:38] zssherman commented on #977
@cclopes Thank you for the information! Yeah seems they are possibly decoding during reading and we are duplicating it in the newer versions. I'll add a try and except at the moment, for a workaround to work with earlier version. I'll submit a PR. Thanks again for bringing this to our attention

[2021-02-18 18:49] kmuehlbauer commented on #977
This breaking change in `h5py>=3.0` has been a major pain for several packages. I think this will not be the only place where this might surface.

[2021-02-18 18:54] zssherman commented on #977
@kmuehlbauer Ah gotcha, yeah we use hdf5 in alot of the aux io s , so have to do some digging to see where else this will arise. I'm assuming its not a bug on their part, just we have to now remove decoding on our end?

[2021-02-18 19:02] kmuehlbauer commented on #977
@zssherman No, it's not a bug in that sense. The new string handling is described here:

https://docs.h5py.org/en/stable/strings.html#reading-strings

So in general all strings are represented as bytes, but not attributes vlen_strings, those are `str`.  Hope you find your way through this!

[2021-02-18 19:11] zssherman commented on #977
@kmuehlbauer Makes sense and that link was helpful, I think I have a fix. Thanks again!

[2021-02-18 21:51] zssherman commented on #977
@cclopes I implemented a fix and tested it with the file you provided. I accepted the PR and should be available using git. Thanks again for bringing this to our attention.

[2021-02-18 22:05] cclopes commented on #977
That's great! Thanks for the quick fix 😄

[2021-02-18 22:05] #977 closed

[2021-02-18 22:26] zssherman commented on #597
@mustafaalicelik I'm hoping to have a try at this sometime tomorrow or early next week.

[2021-02-25 05:50] syedhamidali opened #980 "How to calculate and plot cappi as well as its diagnostic plots from .nc files?"

[2021-02-25 16:07] zssherman commented on #980
Hi @hamidrizvi , at the moment I have not had the chance to add cappi plotting to pyart yet , however, in the meantime in issue #597 there is Valentin louf notebook as well as meteoswiss code for doing so, we will be working soon on adding it to pyart but have other tasks at the moment.

[2021-03-02 09:38] avishekray opened #981 "radar location shifting in pyart module"
I am using the below code for ppi ploting

import pyart
import matplotlib.pyplot as plt
import netCDF4
import numpy as np
import cartopy.crs as ccrs

filename = 'KASPR_20190609-115944_vpp.nc'
radar=pyart.io.read(filename)

projection = ccrs.LambertConformal(central_latitude=19.0,
                                   central_longitude=80.0)
fig = plt.figure(figsize=(6,6))
display.plot_ppi_map('DBZ',

[2021-03-02 13:26] scollis commented on #981
That changes the location of the plot.. not the radar

You need to change radar location in the object itself

https://github.com/ARM-DOE/pyart/blob/master/pyart/core/radar.py#L46

note that these are dictionaries and the radar.longitude[‘data’] is an array to allow for moving platforms

replace the existing values with your location values

important do this right after loading…

From: avishekray

[2021-03-03 10:33] avishekray commented on #981
I have changes the code in radar.py in below bold italic line

def _gate_lon_lat_data_factory(radar, coordinate):
    """ Return a function which returns the geographic locations of gates. """
    def _gate_lon_lat_data():
        """ The function which returns the geographic locations gates. """
        x = radar.gate_x['data']
        y = radar.gate_y['data']
        projparams = radar.projectio

[2021-03-03 16:27] zssherman commented on #981
Hi @avishekray I wouldn't change the function itself. I believe @scollis was just pointing you to the reset functions to use inside radar.py. What you want to do is as soon as you read in your radar:
radar = pyart.io.read('filepath')
radar.latitude['data'] = np.array([19.0])
radar.longitude['data'] = np.array(['80.0'])
radar.init_gate_longitude_latitude()
radar.init_gate_altitude()

That should re

[2021-03-03 19:45] avishekray commented on #981
Thanks, @scollis, and  @zssherman for your quick reply and for solving the issue.
I have understood where I am doing the mistake and thanks @zssherman for showing your code.

[2021-03-03 19:46] #981 closed

[2021-03-11 03:52] vlouf opened #982 "Python 3.9 support"
Is there a Py-ART a release supporting Python 3.9 in the work? What can be done to help you make this possible?

[2021-03-11 04:11] zssherman commented on #982
@vlouf I believe all c files have been cythonize for pyart for python 3.9. If I remember correctly, I haven't been able to add python 3.9 support because some dependecies haven't updated yet, the last time the conda forge bot ran. So I can try to rerender the bot on arm pyart feedstock to see if it works now, and if so then it should be able to support 3.9, but yeah conflicts of dependecies where

[2021-03-11 04:13] zssherman commented on #982
I triggered the bot to rerun, I'll see what the CI does.

[2021-03-11 20:20] zssherman commented on #982
So there was a little bit of cython fixing I missed in a previous PR, but everything is good, feedstock and github CI has been updated. @vlouf Say give it like 20 mins or so and Python3.9 release for Py-ART should show up on conda-forge. I close this once its up and confirmation it works.

[2021-03-12 08:49] HumphreysCarter commented on #813
Hi @zssherman, sorry for the delay but I've submitted a pull request for the color bar additions.

[2021-03-16 06:19] hamidrizvi commented on #597
@vlouf

Hello Sir,
I am a master's student working on a quantitative precipitation estimation, for my thesis, I need to compute cappi as well as i've to retrieve rainfall from the same!!,
I just want to know few things from your code;
1. Why did you created azimuth, doesn't your file contain that already?
2. When I change the cappi_altitude in the same code, plot comes the same for every altitude,

[2021-03-16 23:21] vlouf commented on #597
Hi @hamidrizvi ,

Frankly I don't remember well, it was quite some time ago.
1/ It's to convert the azimuth angle (North is 0 degree and going clockwise) to mathematical angle (0 degree is x-axis and going counter-clockwise).
2/ Altitude is in meter I believe, you should use 2000, not 2.
3/ Nearest neighbour.

[2021-03-20 07:40] hamidrizvi opened #985 "Can anyone confirm me please if is this a correct procedure to generate cappi?"
https://github.com/hamidrizvi/Analyzing-Precipitation-Data/blob/master/dcon_cappi.ipynb
[dcon_cappi - Jupyter Notebook.pdf](https://github.com/ARM-DOE/pyart/files/6175059/dcon_cappi.-.Jupyter.Notebook.pdf)

[2021-03-28 09:57] #985 closed

[2021-04-06 14:35] rafatoshio opened #986 "Comparation list and None in cfradial.py"
Hi,

using pyart.io.auto_read.read with "exclude_fields" argument it raises TypeError.

Looking further it seems that cfradial.py at line 275 has a comparation with potential NoneType

`if key not in include_fields`

I suggest change it to:

`if include_fields is None or key not in include_fields`

[2021-04-10 08:36] niguanne-coder commented on #932
cannot import name '_fast_interpolate_scan_4' from 'pyart.io.nexrad_interpolate' (C:\Users\ghd\anaconda3\lib\site-packages\pyart\io\nexrad_interpolate.cp38-win_amd64.pyd)?

[2021-04-10 08:38] niguanne-coder opened #987 "In the bugsuse / pyart which forked from pyart,I cant import pyart.io.sband_archive"
cannot import name '_fast_interpolate_scan_4' from 'pyart.io.nexrad_interpolate' (C:\Users\ghd\anaconda3\lib\site-packages\pyart\io\nexrad_interpolate.cp38-win_amd64.pyd)?

[2021-04-13 18:43] zssherman commented on #986
@rafatoshio Thanks, I'll take a look, it might have been a bug in the original code.

[2021-04-13 18:45] zssherman commented on #987
@niguanne-coder Hmm, we updated the nexrad code a couple of months ago.  The maintainer of that fork, I would ask if they updated there fork to the changes we have done recently? Or possibly a conflict? I don't have much say over that fork, but I can try to resolve this if the fork is updated.

[2021-04-13 18:46] zssherman commented on #987
If your locally installing it too, and the fork has been updated but new cython files haven't been generated, might need to do that as well.

[2021-04-20 00:54] #982 closed

[2021-05-13 08:39] #980 closed

[2021-05-19 17:41] nawendt opened #992 "BUG: Level 2 VAD calculation differs from Level 3 data"
PyART VAD winds speeds appear much too low when reading Level 2 data. When I look at the wind speeds with height from a Level 3 VAD table I get:

`array([12., 14., 16., 19., ..., 89., 58., 82.])`

These data are in kts. Using PyART on the Level 2 data from IEM and conversion to kts I get:

`array([6.09 , 6.31, 6.22, ..., 0.33, 0.12, 0.072])`

The altitudes that I am requesting are the same as thos

[2021-05-24 20:31] amarouane-ABDELHAK opened #993 "Unidata removed utime class from cftime"
Unidata removed utime class from cftime which will break this line https://github.com/ARM-DOE/pyart/blob/8c838bc823436e2397253fb66b06d47c42c43816/pyart/aux_io/sinarame_h5.py#L13
https://pypi.org/project/cftime/1.5.0/
`Some legacy classes and functions removed (utime, JulianDayFromDate and DateFromJulianDay). The functionality of JulianDayFromDate and DateFromJulianDay is now available from the met

[2021-05-24 20:44] zssherman commented on #993
Thanks @amarouane-ABDELHAK for posting this and the info as well! I'll be working on a fix shortly and will have a PR soon

[2021-05-24 20:49] zssherman commented on #993
Looks like you as well posted in https://github.com/Unidata/cftime/issues/241, which address the question i had as well, the replacement for utime. If i can't find anything in the changelogs, hopefully there is a response and i will implement the replacement.

[2021-05-25 01:41] #993 closed

[2021-05-25 19:35] scollis commented on #992
Hey @nawendt we are looking at this now

![](https://files.slack.com/files-pri/T0268428G-F0230RBM03V/corr_vel.png)

![](https://files.slack.com/files-pri/T0268428G-F022KQC203H/vad_ref.png)

[2021-05-25 19:36] scollis commented on #992
![image](https://user-images.githubusercontent.com/825351/119557989-7c9e6000-bd66-11eb-8f8d-c3ac1ec52c43.png)
![image](https://user-images.githubusercontent.com/825351/119558011-81fbaa80-bd66-11eb-805f-dcb0d2ee8d55.png)
![image](https://user-images.githubusercontent.com/825351/119558020-8627c800-bd66-11eb-8e4a-772726e46857.png)
Z, aliased Z and corrected Z

[2021-05-25 19:38] zssherman commented on #992
@nawendt Do you have the full level 3 vad wind field? We are trying to use that for testing purposes, or how are you reading the sn file itself?

[2021-05-25 19:38] scollis commented on #992
For one, I am concerned about the applicability of VAD here given the convective nature of the scene... We are making a synthetic volume to test

[2021-05-25 21:30] dopplershift commented on #992
Well regardless of the applicability of VAD, if it’s not known why it’s differing from NEXRAD’s results that’s still disconcerting. (or an opportunity to improve the test suite :grin:)

[2021-05-25 21:32] scollis commented on #992
Oh. huge plus one @dopplershift ...
@zssherman is going to take the level three winds and make a synthetic radar volume and retrieve winds from that.. To understand the root cause.

[2021-05-26 02:26] nawendt commented on #992
Here is the decoded level 3 data for you in npz format.
[sn.0029.zip](https://github.com/ARM-DOE/pyart/files/6543456/sn.0029.zip)

[2021-05-26 02:40] zssherman commented on #992
Thank you @nawendt !

[2021-05-26 16:40] vgalligani opened #996 "write_grid"
Hi! I'm trying to save grids I made through pyart.map.grid_from_radars. I've noticed that a few issues have been closed regarding writing grids and netcdf, but I have another issue.

I've added a few prints inside the code and I have noticed that the netcdf variable that is saved inside write_grid through _create_ncvar() has dimensions of (720,1,720,781) for ('time', 'z', 'y', 'x'). This is incorr

[2021-05-26 18:53] zssherman commented on #996
Hmm, i'm not able to reproduce, do you have a test file I can try out to see if I can reproduce, what is the shape of your radar.time array?

[2021-05-26 19:21] vgalligani commented on #996
Hi! You are correct, sorry. My grid.time['data'] array is actually 720. I was certain I was working with dimension 1.
I am using TINT and it seems they assume that for each sweep the time dimension is always 1. I'll see how to work around this. sorry and thanks!!!

[2021-05-26 19:22] zssherman commented on #992
So, with the original VAD code, i'm still having issues pinpointing the difference. However, when using Jonathan's VAD code, based on Browning et al, the winds I retrieve in KT are:
20.3240570708959, 20.451149033017053,
                   20.213930672243716, 19.842817484939356,
                   16.331657163186538, 15.342313715314917,
                   12.281523221306688, 12.805500394234128,

[2021-05-26 19:24] zssherman commented on #996
No worries, are you hard setting the grid.time['data']? If not trying to see how its being set to 720.

[2021-05-26 19:26] zssherman commented on #996
Time gets set to:
  time = get_metadata('grid_time')
time['data'] = np.array([first_radar.time['data'][0]])
time['units'] = first_radar.time['units']

Which is where the single time is being generated

[2021-05-26 19:43] vgalligani commented on #996
Thanks!
Do you suggest chaning that to the full 720 times? Wouldn't that make a single PPI into various grids? meaning a grid for each set of gates that have the same time?

[2021-05-26 19:46] zssherman commented on #996
No, I would have the single time, just was seeing how the 720 was overwriting the code I posted above.

[2021-05-26 19:51] vgalligani commented on #996
The grid seems to work, it seems to get modified when I write it with pyart.io.write_grid(name, grid)
inside_create_ncvar(), the first lines

data = dic['data'] has the right shape
data.shape =  (1, 1, 720, 781)

but then, towards then end

ncvar = dataset.createVariable(name, dtype, dimensions, **kwargs)
ncvar is returned to the 720 time dimension

ncvar.shape =  (720, 1, 720, 781)

this is what

[2021-05-26 19:56] zssherman commented on #996
The write also outputs radar_time as well which could be the number. After writing the grid to make sure though, with your written grid, do:
import netCDF4
data = netCDF4.Dataset('grid_name')
the print(data) and it should have your dimensions there

[2021-05-26 22:38] vgalligani commented on #996
Ok, so the grid written has the right dimensions, the problem was actually in the read_grid(name)

in the lines where

if field_dic['data'].shape == field_shape_with_time:
         field_dic['data'].shape = field_shape
         fields[field] = field_dic
else:
         bad_shape = field_dic['data'].shape
            warnings.warn(
                'Field %s skipped due to incorrect shape %s'

[2021-06-02 18:49] zssherman commented on #992
@nawendt In the meantime, I'm adding another vad suite that has more reasonable results. I am still working on a fix for the original vad code as I've narrowed down the problem I believe, but still haven't got a fix working yet. From what I'm seeing is every other sweep in the radar data you provided has masked velocity sweeps, which I believe is throwing the code off, but the fixes I've tried so

[2021-06-02 18:54] zssherman commented on #992
Let me know if this helps in the meantime. I was using corrected velocity, just trying to get something usable for you for now as I continue trying to fix the problem in the original vad code.

[2021-06-09 06:55] joshua-wx opened #998 "User defined sweep in det_sys_phase"
Hi,

Our radar volumes in Australia now use a top-down scanning strategy, so the lowest sweep is last. When reading odimh5 files in pyart, it preserves this order. Most functions in pyart are not impacted (as far as I'm aware), expect for det_sys_phase, which defaults to the first sweep. I've made some changes to this function and the internal function it calls to permit user defined sweep. Let me

[2021-06-09 18:46] zssherman commented on #998
Hi @joshua-wx, yeah user defined sweep should work. If you could a PR would be much appreciated! Thank you!

[2021-06-12 04:16] nawendt commented on #992
Thanks for this. So far, things look OK. I'll have a better idea when there are more clouds/weather in the vicinity of the radars I am looking at.

[2021-06-12 15:16] nawendt commented on #992
After looking at a longer time series of VADs I processed from university radars, I was noticing some much higher values than you would expect. I also was using corrected velocity based on `dealias_unwrap_phase`. Not all values were uniformly high. Some were close, if not a little lower, than nearby WSR-88Ds. This could just be not correcting the velocity properly on my end. I'll keep looking. I a

[2021-07-03 11:51] wangjin6912 opened #1000 "No module named 'pyart.__check_build._check_build"
I'm trying to import pyart, however when I attempt to do so I receive the following:
ImportError: No module named 'pyart.__check_build._check_build',It seems that Py-ART has not been built correctly.
I'm fairly sure that pyart has been correctly built as I managed to run ”conda env create -f environment.yml “ without any incident.
Might anybody have an idea on how to fix this?

[2021-07-27 17:37] ReallyNiceGuy opened #1004 "GAMIC's volume might not have puse_width value"
The format of GAMIC's volume states that pulse_width is an optional information.
PYART will raise an error in this situation, but it would be better if it didn't. I would like to know which value should be used instead.
I could put an explicit "None" there.
No code should break with this change, as the error will propagate to the usage point instead of the loading point.

[2021-08-03 06:27] taort commented on #1000
I met the same problem. Have you solved it ?

[2021-08-03 09:12] zssherman commented on #1000
Hello, is this the environment.yml from the main repository here:https://github.com/ARM-DOE/pyart/blob/master/environment.yml ? Or is it a version from a forked version or modified? I haven't been able to reproduce yet. Can you post the content of the environment.yml file your using? And do a conda list as well

[2021-08-04 18:27] zssherman commented on #1000
I was finally able to reproduce the issue @wangjin6912 @taort. I'll see if I can find a solution or a fix to whats going on.

[2021-08-04 21:13] zssherman commented on #1000
@wangjin6912 @taort Are either of you importing the conda version of pyart from within a pyart github directory? The conda builds look fine, but when I reproduce it is when im importing conda pyart from within the pyart directory. The check build doesn't pickup conda install. Do you both have a local version? If so, try import pyart not inside the pyart directory. Also, if you are doing developmen

[2021-09-02 20:44] zssherman commented on #869
Thanks @TerMinator-spec for the information and suggested fix!

[2021-09-03 09:27] nomatter08 opened #1008 "The parameter 'grid_limits' of function' grid_from_radars' affects the latitude in the grid"
when i set grid_limits=((0.,20000), (-1000000., 1000000.), (-1000000., 1000000.))，the result looks like move southward

![1](https://user-images.githubusercontent.com/90033942/131981886-63c1567b-da5b-4e96-9fd0-644a8c303ad6.png)

when i set grid_limits=((0.,20000), (-500000., 500000.), (-500000., 500000.))，the result looks like better and the  location of radar is closer to the real situation

![2]

[2021-09-12 01:55] syedhamidali opened #1011 "Time error in creating basic ingest"
Dear Pyart Team,
I was trying to create basic ingest, but it is encountering some errors in time. Can you please have a look?
I have separate data files for each scan (total 10 sweeps), and I wanted to create pyart compatible file, having all scans in one.
You can download the data file here [archive.zip](https://drive.google.com/file/d/1jONSBlfhTPHRCFyEFKertzp7LYO7fzjr/view?usp=sharing)

[2021-09-12 03:14] zssherman commented on #1011
Hi @syedhamidali

I couldn't reproduce the time error, however the error i did run into was in the cfradial write the sweep number is failing. The radar.nsweeps doesn't match the radar.sweep_numbers. To fix this I did this before the writer:

radar.nsweeps = 10

Also I saw the radar.gate_latitude['data'] etc lines were failing, this is due to the radar.latitude['data'] etc not being set with np.ar

[2021-09-12 05:49] syedhamidali commented on #1011
Dear @zssherman, Thank you.
Was it the right approach to compile the data into one?
Please let me know so that I could close this issue.

[2021-09-13 13:46] syedhamidali commented on #1011
I also tried reading data with netCDF4, it fits data properly, but the time there is again wrong, as you can see in the figures.
![image](https://user-images.githubusercontent.com/35923822/133094564-826e6b45-ecc0-4192-8be6-32331de90e40.png)

![image](https://user-images.githubusercontent.com/35923822/133094861-64a8605a-db20-4433-b046-a8095cdf7362.png)

![image](https://user-images.githubuserconten

[2021-09-13 14:12] kmuehlbauer commented on #1011
@syedhamidali looks like you would need to use Linux timestamp seconds since 01.01.1970 :-)

[2021-09-13 15:18] syedhamidali commented on #1011
Thanks, @kmuehlbauer - It solved the problem.

[2021-09-13 15:18] #1011 closed

[2021-09-22 16:28] AdamTheisen commented on #492
@scollis @zssherman was the ability to export in GeoJSON ever implemented?  Was thinking it would make for an interesting and interactive way to plot and monitor radar data using plotly chloropleth  plots.

[2021-09-22 17:46] zssherman commented on #492
@AdamTheisen sadly it has not, the closest thing to Pyart and 3d is yt project PR, but they haven't made progress in a bit.

[2021-09-23 01:46] wshn25 opened #1012 "Hello, AttributeError: 'numpy.float64' object has no attribute 'subs'"
import numpy as np
import sympy
def f(w):
    x,y=w
    return np.array([
                   x**2 + x*y - 10,
                   y + 3*x*(y**2) - 57,
  ])
def Derfu(x,y):
    return 2*x + y
def Derfu(x,y):
    return x
def Derfv(x,y):
    return 3*y**2
def Derfv(x,y):
    return 6*x*y + 1

#Newton method
def Newton(w,max_iter):
    x,y = f(w)
    guesses=np.array([w])
    for n in range(0,max_iter

[2021-09-23 03:06] zssherman commented on #1012
@wshn25 I'm not sure how this relates to Py-ART, however, if your trying to substract which is my guess, its subtract not sub for numpy there is no np.sub in numpy. Closing this, unrelated.

[2021-09-23 03:06] #1012 closed

[2021-09-23 04:10] wshn25 commented on #1012
@zssherman well, thank you. I got it.
The main aim of this script is just to find the roots from the non-linear equation. So, after running the program this issue was there and made me stuck. I also searched from many sources there is no np.sub in numpy.

[2021-09-23 07:53] wshn25 opened #1013 "AttributeError: 'Radar' object has no attribute 'point_latitude'"
**fig = plt.figure(figsize=[12, 6])
ax1 = fig.add_axes(map_panel_axes)
display = pyart.graph.GridMapDisplayBasemap(radar)
display.plot_basemap()
display_plot.grid('DBZH', level=level, vmin=vmin, vmax=vmax)
display.plot_crosshairs(lon=lon, lat=lat)**
---------------------------------------------------------------------------
I have some issues here. I am trying to find the answer in the Source code

[2021-09-23 10:36] zssherman commented on #1013
@wshn25 For gridmapdisplay your object needs to be a grid object not a radar object. I would convert to a grid using pyart.map.grid_from_radars(radar, etc) first.

[2021-09-24 02:30] wshn25 commented on #1013
@zssherman thank you for responding. I will try your suggestion.

[2021-10-11 18:34] rcjackson commented on #1004
What is the pulse width of your radar in degrees? That should be the value that goes there, which you may have to manually specify.

[2021-10-11 18:59] rcjackson commented on #1004
Could you send us an example file without a pulse_width field? I suspect we just need to put a default value of none in the reader in gamic_hdf5.py if there is no field found. @zssherman and I will take a look.

[2021-10-11 19:17] #971 closed

[2021-10-11 20:39] #987 closed

[2021-10-11 20:39] zssherman commented on #972
@wxwolff Still having issues with this? If not, can close this.

[2021-10-11 20:42] zssherman commented on #940
Closing for now

[2021-10-11 20:42] #940 closed

[2021-10-11 20:44] zssherman commented on #862
Is now in pyart, closing.

[2021-10-11 20:44] #862 closed

[2021-10-11 20:46] zssherman commented on #932
Will leave open, if others come across this

[2021-10-11 20:51] zssherman commented on #986
Has been fixed, closing.

[2021-10-11 20:51] #986 closed

[2021-10-19 04:15] wshn25 opened #1015 "MemoryError:"
---------------------------------------------------------------------------
MemoryError                               Traceback (most recent call last)
/tmp/ipykernel_47938/1785810078.py in <module>
      1 new_time = np.array(time, dtype='datetime64[ns]')
----> 2 new_ref = np.array(DBZH, dtype='uint8')
      3 new_velv = np.array(VELV, dtype='uint8')
      4 new_velh = np.array(VELH, dtype='uint8

[2021-10-29 14:47] 664787022 opened #1016 "Method of ‘plot_latlon_slice’ is missing？"
[code]

**After I run the above codes, it raised the following error:**
[code]

**I searched the document and found the method of 'plot_latlon_slice' do exist. What' wrong with that? Was this method deleted? How could I get a slice plot between two specific coordinates? By the way, dir(display) is shown as following:**
`dir(display)
Out[66]:
['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',

[2021-10-29 23:13] 664787022 commented on #1016
Thank you for your reply. but I find "plot_latlon_slice" in the following document ,
https://github.com/ARM-DOE/pyart/issues/1016#issuecomment-954831282
it is a pyart document not pyrad. Actually, i once used "plot_latlon_slice" in pyart before, for this reason i say this method is missing. Does pyart have other method to plot RHI between two specific coordinates?

[2021-10-29 23:43] zssherman commented on #1016
@664787022 Thats the pyrad meteoswiss fork of pyart. We don't have control over that sadly, so the docs you found is the docs for their meteoswiss fork of pyart, so you need to source install that version of pyart. https://github.com/MeteoSwiss/pyart @meteoswiss-mdr would we want to add this functionality to pyarts main repository? I can help with this if need be

[2021-10-30 08:13] 664787022 commented on #1016
@zssherman Thanks! It works!

[2021-11-04 18:12] zssherman opened #1017 "Setuptools 58.5 breaks environments using pip."
New setuptools https://github.com/pypa/setuptools/issues/2849 break the environment of Py-ART. Current work around is to pin setuptools=58.4 or lower in the environment and then install Py-art if using pip. Install with conda-forge still seems to work. Will see if I can find a workaround until there is a fix.

[2021-11-04 18:19] zssherman commented on #1017
Reverse compatibility being tackled with PR:
https://github.com/pypa/setuptools/pull/2855/files

Will need or begin transition to setuptools soon to avoid issues like this in the future.

[2021-11-19 19:59] aschueth opened #1021 "Aircraft navigation correction"
In Solox, there is a correction that can be made to airborne radar data to correct for aircraft motion in order to get ground relative velocities. I can't for the life of me find the metadata to fix this manually, so I'm not sure where to start on implementing a pull request, but I think this would be a very valuable feature to have in pyart.

[2021-11-19 23:27] zssherman commented on #1021
Hello @aschueth ! Just one question, is solox another package I assume? What could always happen, if so, it can be made an optional dependency. With implementing a PR, I think in corrections in pyart.corrections would work. Depending on how the code is I can try to help guide this more.

[2021-11-19 23:31] aschueth commented on #1021
Whoops, sorry @zssherman, I meant solox as soloii/solo3, the old NCAR c++ radar editor. Again I have no idea how it is written or what metadata it looks at, but hopefully someone in this community might have some knowledge?

[2021-11-19 23:47] zssherman commented on #1021
Ah gotcha, makes sense. Yeah, I can ask around to see. I'll also labels to this Issue tracker. I agree, I think this would be a valuable feature to have in pyart as well. Trying to think on how to approach this.

[2021-11-23 15:17] tanelv opened #1022 "BUG: Error when using CyLP"
After finally managing to successfully install CyLP, using it in phase_proc_lp (pyart.correct.phase_proc_lp(radar, 2.0, self_const = 12000.0, low_z=0.0, high_z=53.0, min_phidp=0.01, min_ncp=0.3, min_rhv=0.8, LP_solver='cylp_mp', proc=15)) does not work. The error seems to be
"Error in `python': free(): invalid pointer: 0x00005597c77d6c98"

A long list of messages and memory map is being printed ou

[2021-11-23 18:23] zssherman commented on #1022
Hmmm, haven't seen that error before. How large are the files you are trying to process? What OS are you using? I'll try to install using their methods to see if I can reproduce, I usually use the pip install of the python branch of jjhelmus as it seemed to usually be more stable, but confused why the compilers wouldn't have helped.

[2021-11-23 18:48] zssherman commented on #1022
Also, while I try to see if I can reproduce etc, I recommend possibly opening on issue on their issue tracker as well. Maybe someone else has experienced the issue as well there.

[2021-11-23 18:58] kmuehlbauer commented on #1022
@tanelv I'm wondering why there are two different environments involved (`cbc` and `wradlib_xr` in the traceback? If things get picked up from another environment this is usually a big source of problems.

If you can provide any additional details, this would help very much for diagnosing.

[2021-11-23 19:00] zssherman commented on #1022
Ah good catch @kmuehlbauer ! Yeah I second that as well.

[2021-11-23 20:38] tanelv commented on #1022
Hm, good points. The files are IRIS RAW files, around 5-10 MB each. I use CentOS 7:
[code]
The files should be OK, I used the phase_proc_lp function with CyLP on the same files on an older server (running on Scientific Linux 6.9) successfully, but our university is moving to the new HPC system and I would need to migrate to this new system.

Yes, there are two environments. I first tried to get Cy

[2021-11-23 20:48] kmuehlbauer commented on #1022
Just to be on the safe side. It might not solve the issue, but we would know for sure then.

[2021-11-24 16:55] tanelv commented on #1022
Sorry for taking so long to answer. I tried to first update the current Anaconda installation, but as it stayed solving the environment for more than 6 hours I stopped it, removed Anaconda completely and installed a new Anaconda from scratch using the current latest version (https://repo.anaconda.com/archive/Anaconda3-2021.11-Linux-x86_64.sh).
These are the steps I took:
[code]
To install CyLP I f

[2021-11-29 20:04] zssherman commented on #1022
Sorry for the late response, I'm wondering if trying to older version would work. I'm not familiar with the new CyLP version, so seeing what I can find out about it, but:
but maybe install coincbc with:
conda install -c conda-forge coincbc
then for cylp:
pip install git+https://github.com/jjhelmus/CyLP.git@py3
has worked for our package cmac. I would still raise an issue on the CyLP issue tracker

[2021-11-30 14:52] tanelv commented on #1022
Thanks for the suggestion. To be safe I removed the old `pyart_py38` env and created a new one with the same name. I tried to install using the above suggestions with jjhelmus version, but I get compilation errors, no matter which compiler I use
`error: command '/gpfs/space/home/a93859/anaconda3/envs/pyart_py38/bin/x86_64-conda_cos6-linux-gnu-gcc' failed with exit status 1`
Full error log here [cy

[2021-11-30 16:16] tkralphs commented on #1022
The branch https://github.com/jjhelmus/CyLP.git@py3 of CyLP has been merged into `master` (see coin-or/CyLP#28) and other things have been fixed since then, so I doubt that rolling back to that version will help. Also, `coincbc` now just installs `coin-or-cbc` (see conda-forge/coin-or-cbc-feedstock#11), so that also shouldn't make a difference. If you can replicate this in stand-alone CyLP (or eve

[2021-11-30 16:35] zssherman commented on #1022
Thanks @tkralphs for the response! Yeah makes sense, I'll keep trying to see if I can reproduce the error. @tanelv Are you able to share one of the files that your using?

[2021-11-30 17:42] tanelv commented on #1022
Here is one of the files [SUR190511130002.zip](https://github.com/ARM-DOE/pyart/files/7627686/SUR190511130002.zip)

[2021-11-30 17:59] kmuehlbauer commented on #1022
@zssherman It would be great if we could join forces on this one. I'm interested in getting this working too.

[2021-11-30 18:16] zssherman commented on #1022
@kmuehlbauer Awesome, yeah that sounds like a great idea to me! I haven't been able to reproduce the specific error yet, but the code is hanging up on these files. So been digging through the code to see. Also have tried not using the multi processing version of the code to try to isolate the problem.

[2021-11-30 18:22] kmuehlbauer commented on #1022
@zssherman my idea is to start from the last working environment, if we could identify such. Then we could increase versions and see which one breaks. Ideally we would set this up using CI in a dedicated branch in our pyart forks. I'll try to get something running, but this might take some time.

[2021-11-30 19:19] zssherman commented on #1022
@kmuehlbauer Gotcha sound good! So I did try the coincbc conda-forge install with the py3 branch in python3.6 and I was able to run the cylp code. When I updated python and cylp is when I started to hang and any file I tried including the user's file above. The py3 branch of cylp only works for python3.6. Python3.6 is far back, so not sure how useful, but between then and now is when something cha